*.swp
*.db
*.pyc
*.*~
.DS_store
/config.cfg
/version.cfg
/kitin.wsgi
/storage/
/node_modules/
/bower_components/
/npm-debug.log
/html-angular-validate-report.json
/.gitattributes
/static/build/css/app/*
/static/build/css/app.min.*
/static/build/js/app/*
/static/build/js/app.min.*
/templates/_media-*.html
kitin.log
logging.cfg
static/vendor/bind-polyfill/index.js
static/vendor/karma-read-json/karma-read-json.js
