<h4>2013-11-18</h4>
<p>Gränssnitt</p>
<ul>
  <li>Omstrukturerad layout efter användartester för att förbättra arbetsflöde och översikt</li>
  <li>Auktoritetssök, med grundläggande vy för att se aukt. post, fler detaljer finns under JSON-LD fliken.</li>
</ul>
<p>Backend</p>
<ul>
  <li>Vi har förbättrat katalogsystemets infrastruktur för inläsning, lagring, bearbetning och indexering av metadata samt arbetat med optimering av APIer och uppslag för relaterat metadata baserat på länkar.</li>
</ul>


<h4>2013-10-25</h4>
<p>Auktoritetsdata</p>
<ul>
  <li>Länkar från bib-data till auth-data</li>
  <li>Uttryck namn+titel som verksentitet med huvuduppslag</li>
</ul>
<p>Backend</p>
<ul>
  <li>Interpunktion rensas i vanligt förekommande fält</li>
  <li>Förbättrad infrastruktur (sök-API, dokumenthantering, OAI-PMH-import)</li>
</ul>
<p>Gränssnitt: JSON-LD-fliken</p>
<ul>
  <li>Ihopvikbara block (klicka på etiketten)</li>
  <li>Navigerbara <code>@id</code>-länkar</li>
</ul>
<hr />

<h4>2013-10-11</h4>
<p>Ämnesord</p>
<ul>
  <li>Se kontrollerade ämnesord uppdelat på system</li>
  <li>Lägga till och ta bort ämnesord (dock ej redigera redan tillagda)</li>
  <li>Rudimentär förslagsfunktion för att navigera och välja bland ämnesord</li>
</ul>
<p>Personauktoriteter är under rekonstruktion för att möjliggöra länkar (till skillnad från bara strängar) mellan auktoritetsposter och bibliografiska poster.
</p>
