  <div class="logo">
    <a href="/"><h1>Libris <strong>Katalogisering</strong></h1></a>
    <span class="beta">BETA</span>
    
    <span class="system-updated" title="{{ modified.strftime('%Y-%m-%d %H:%m') }}"
      >Uppdaterad {{ modified.strftime('%d %b') }} - 
              <a href="#" data-ng-controller="ModalCtrl" data-ng-click="openReleaseModal()">Release notes</a> | <a href="https://docs.google.com/presentation/d/1Q4Abhn1t5ThQoAhm_wNYrNrs6nvGEUTDSCC7gf8O4U0/pub?start=false&loop=false&delayms=3000#slide=id.p" target="_blank">Testanvisningar</a></span>
    
     
    <!-- Modal -->
    <script type="text/ng-template" id="modal-release">  
    	<div class="modal-header">
				<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
				<h2 id="rlModalLabel">Release Notes</h2>
			</div>
    	<div class="modal-body">
      {% include "partials/_release_notes.html" %}
			</div>
    </script>

  </div>
  <div class="kb">
  </div>
  {% if current_user and current_user.is_authenticated() %}
    {% raw %}
		<div class="nav-back" ng-show="state.search.q">
			<a href nav-back><i class="fa fa-arrow-circle-left"></i> Tillbaka till träfflistan</a>
		</div>
    <div data-ng-controller="SearchFormCtrl">
      <div class="searchfield">
        <form data-ng-submit="search()" method="GET" name="search_form">
          <input id="search" name="q" type="text" autofocus
                 value="{{ state.search.q }}" placeholder="{{ state.searchType.placeholder }}"
          autocomplete="off" role="textbox"
          aria-autocomplete="list" aria-haspopup="true" data-ng-model="state.search.q">
          <div class="btn-group">
						<a class="btn search-source dropdown-toggle">
							<span class="btn-label">{{ state.searchType.label }}</span>
              <span class="fa fa-caret-down"></span>
            </a>
            <ul class="dropdown-menu">
              <li data-ng-repeat="opt in searchTypes">
                <a data-ng-class="{selected: opt.key == state.searchType.key}"
                   data-ng-click="setSearchType(opt.key)">{{ opt.label }}</a>
              </li>
            </ul>
            <button class="btn" type="submit">Sök</button>
          </div>
    			<div class="remote-search" data-ng-show="state.searchType.key == 'remote'">
            <!-- List seleceted remote databases -->
            <ul class="remotesource">
              <li data-ng-repeat="database in state.remoteDatabases | filter:{selected: true} | orderBy:'alternativeName'"><i class="fa fa-check"> </i>
               {{ database.database }}
                <span class="hitcount" data-ng-show="database.hitCount">({{ database.hitCount }})</span>
                <span data-ng-show=" ! $last ">,</span>
              </li>
            </ul>
            <div data-ng-controller="ModalCtrl">
              <a href="#" data-ng-click="openRemoteModal()">Remotekällor</a>
            </div>            
          </div>
        </form>
      </div>
    </div>
    {% endraw %}
  {% endif %}
