<div id="header">
  <div class="logo"><a href="/"><img src="/static/img/libris.png" alt="Libris Kategorisering"></a><span class="beta">[BETA]</span><br><span class="kitin-updated" title="{{ modified.strftime('%Y-%m-%d %H:%m') }}">Uppdaterad {{ modified.strftime('%d %b') }}</span></div>
  <div class="kb"></div>
  {% if current_user and current_user.is_authenticated() %}
    <div class="searchfield">
      <form data-ng-controller="SearchFormCtrl" data-ng-submit="search()" method="GET" name="search_form">
        <input id="search" name="q" type="text" autofocus
        value="{{ q }}" placeholder="ISBN, titel, författare etc"
        autocomplete="off" role="textbox"
        aria-autocomplete="list" aria-haspopup="true" data-ng-model="q">
        <button type="submit">Sök</button>
      </form>
    </div>
  {% endif %}
</div>
