<div id="header">
  <div class="logo">
    <a href="/"><h1>Libris <strong>Katalogisering</strong></h1></a>
    <span class="beta">BETA</span>
    
    <span class="kitin-updated" title="{{ modified.strftime('%Y-%m-%d %H:%m') }}"
      >Uppdaterad {{ modified.strftime('%d %b') }} - <a href="#" data-target="#rlModal" data-toggle="modal">Release notes</a> | <a href="https://docs.google.com/presentation/d/1Q4Abhn1t5ThQoAhm_wNYrNrs6nvGEUTDSCC7gf8O4U0/pub?start=false&loop=false&delayms=3000#slide=id.p" target="_blank">Testanvisningar</a></span>
    
     
    <!-- Modal -->
    <div id="rlModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="rlModalLabel" aria-hidden="true">
    	<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h2 id="rlModalLabel">Release Notes</h2>
			</div>
    	<div class="modal-body">
      {% include "partials/_release_notes.html" %}
			</div>

    </div>

  </div>
  <div class="kb">
  </div>
  {% if current_user and current_user.is_authenticated() %}
    {% raw %}
    <div data-ng-controller="SearchFormCtrl">
      {% endraw %}
      {% include "partials/remote_search_modal.html" %}
      {% raw %}
      <div class="searchfield">
        <form data-ng-submit="search()" method="GET" name="search_form">
          <div>
            <em>{{ searchType.label }}</em>
          </div>
          <input id="search" name="q" type="text" autofocus
                 value="{{ q }}" placeholder="{{ placeholders[searchType.key] }}"
          autocomplete="off" role="textbox"
          aria-autocomplete="list" aria-haspopup="true" data-ng-model="q">
          <div class="btn-group">
            <button class="btn" type="submit">Sök</button>

            <a class="btn dropdown-toggle">
              <span class="fa fa-caret-down fa-inverse"></span>
            </a>
            <ul class="dropdown-menu">
              <li data-ng-repeat="opt in searchTypes">
                <a data-ng-class="{selected: opt.key == searchType.key}"
                   data-ng-click="setSearchType(opt.key)">{{ opt.label }}</a>
              </li>
            </ul>
          </div>
    			<div class="remote-search" data-ng-show="searchType.key == 'remotesearch'">
            <!-- List seleceted remote databases -->
            <ul class="remotesource">
              <li data-ng-repeat="database in remoteDatabases | filter:{selected: true} | orderBy:'alternativeName'">
                <!-- <input type="checkbox" ng-model="database.selected"/> --> {{ database.database }}<span data-ng-show=" ! $last ">,</span>
              </li>
            </ul>
            <a href="#" data-target="#remoteModal" data-toggle="modal">Remotekällor</a>
          </div>
        </form>
      </div>
    </div>

    {% endraw %}
  {% endif %}
</div>
