<section id="record-hidden" class="collapse out">
  <h2>POSTINFORMATION</h2>
  <div class="row-fluid">
    <div class="field span6">
      <table class="table table-condensed">
        <tbody>
        <tr>
          <td>{{ "Status" }}</td>
          <td>{{ record.status.label }}</td>
        </tr>
        <tr>
          <td>{{ "Bibid" }}</td>
          <td>{{ record.controlNumber }}</td>
        </tr>
        <tr>
          <td>{{ "LIBRISIII-nummer" }}</td>
          <td>{{ record.localSystemNumber }}</td>
        </tr>
        <tr>
          <td>{{ "LC-nummer" }}</td>
          <td>{{ record.lccn }}</td>
        </tr>
        <tr>
          <td>{{ "Datum för senaste ändring" }}</td>
          <td>{{ record.dateAndTimeOfLatestTransaction }}</td>
        </tr>
        <tr>
          <td>{{ "Katalogiserande instans" }}</td>
          <td>{{ record.creator['abbr'] }}</td>
        </tr>
        <tr>
          <td>{{ "Intern anmärkning" }}</td>
          <td>{{ record.internalRemark }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="field span6">
      Ändrad av:
      <ul>
        <li data-ng-repeat="location in record.catalogingChangesBy">{{ location['abbr'] }}</li>
      </ul>
    </div>
  </div>
</section>
