{% raw %}

<!-- dialog -->
<div id="confirmDeleteDraftDialog" data-ng-show="confirmDeleteDraft" class="popover show" data-ng-controller="EditCtrl">
  <div class="popover-inner">
    <button class="close" data-ng-click="confirmDeleteDraft.abort()">&times;</button></h3>
</div>

<div class="popover-content" data-ng-controller="EditCtrl">
  <h4>Vill du verkligen ta bort utkastet?</h4>
  <button class="btn btn-success" data-ng-click="confirmDeleteDraft.execute()">Ja</button></h3>
  <button class="btn btn-warning" data-ng-click="confirmDeleteDraft.abort()">Nej</button></h3>
  </div>
</div>

  <form name="form" id="record" class="form-horizontal">
  <div id="grid"></div>
    <!--<div data-ng-view></div>-->

<div class="" id="prelude" data-ng-controller="EditCtrl" >

  <span class="" ng-switch on="recType">
    <span ng-switch-when="auth"> 
<div class="content auth" data-ng-controller="EditCtrl">
  <header><h1></h1>
  
      <div class="modes">
      <a href="#" class="active">LIBRIS</a>
      <a href="/jsonld{{ record['@id'] }}">JSON-LD</a>
      <a href="#" class="beta-blocker">MARC</a>
    </div>
    
  </header>
  
    {% endraw %}
      {% include "partials/edit_auth.html" %}
    {% raw %}
</div>
    </span>
    <span ng-switch-when="bib">
<div class="content bib" id="prelude" data-ng-controller="EditCtrl" >
  <header>
    <h1>Bibliografisk post</h1>
    <div class="levels">
      <span>{{ enums.bibLevel[record.bibLevel].label_sv }}</span>
      <span>{{ enums.encLevel[record.encLevel].label_sv }}</span>
      <span>{{ enums.catForm[record.catForm].label_sv }}</span>
    </div>
    <div class="modes">
      <a href="#" class="active">LIBRIS</a>
      <a href="/jsonld{{ record['@id'] }}">JSON-LD</a>
      <a href="#" class="beta-blocker">MARC</a>
    </div>
  </header>
    {% endraw %}
      {% include "partials/edit_bib.html" %}
    {% raw %}
</div>
    </span>
  </span>
</div>
{% endraw %}
