{% raw %}
<div data-ng-repeat="instance in [record.about]"
     data-ng-switch on="instance['@type']">{{ record.data.about['@type']}}

<!--person-->
<div data-ng-switch-when="Person">
  <form name="form" id="record" class="form-horizontal">
  <section id="instance" name="instance">
    <ng-form name="subform">
    <div class="cols">
      <div class="col6">
        <label>
          <span class="lbl">{{ "label" }}</span>
          <textarea data-inplace class="title" data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.label">{{ instance.label }}</textarea>
        </label>
      </div>
      <div class="col6">
        <label>
          <span class="lbl">{{ "controlledLabel" }}</span>
          <textarea data-inplace class="title" data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.controlledLabel">{{ instance.controlledlabel }}</textarea>
        </label>
      </div>
      <div class="col4">
        <label>
          <span class="lbl">{{ "Efternamn" }}</span>
          <textarea data-inplace class="title" data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.familyName">{{ instance.familyName }}</textarea>
        </label>
      </div>
      <div class="col4">
        <label>
          <span class="lbl">{{ "Förnamn" }}</span>
          <textarea data-inplace class="title" data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.givenName">{{ instance.givenName }}</textarea>
        </label>
      </div>
      <div class="col2">
        <label>
          <span class="lbl">{{ "Födelseår" }}</span>
          <input data-inplace type="text" class="" data-ng-model="instance.birthYear"/>
        </label>
      </div>
       <div class="col2">     
        <label>
          <span class="lbl">{{ "Dödsår" }}</span>
          <input data-inplace type="text" class="" data-ng-model="instance.deathYear"/>
        </label>
      </div>
      
      <div class="cols">    
      <div class="col6">
      <div ng-show="instance.sameAs"  class="multifield">
          <span class="lbl">{{ "Används för" }}</span>
            <label><input type="text" placeholder="Lägg till alternativ namnform"/></label>
          <label data-ng-repeat="person in instance.sameAs"><input data-inplace class="input-medium" type="text" data-ng-model="person.controlledLabel"></label>

        </label>
        
      </div>
      <div ng-show="instance.hasPersona" class="multifield">
          <span class="lbl">{{ "Används för" }}</span>
          <label data-ng-repeat="persona in instance.hasPersona"><input data-inplace class="input-medium" type="text" data-ng-model="persona.controlledLabel"></label>
        </label>
      </div>
      </div>
      <div class="col6">
          <label><span class="lbl">{{ "Särskiljande tillägg" }}</span>
            <textarea data-inplace data-ui-jq="autosize" placeholder="Särskiljande tillägg"></textarea>
          </label> 
          <label><span class="lbl">{{ "Nationalitet" }}</span>
          <input type="text" placeholder="Nationalitet"/></label>
           <label data-ng-repeat="subject in instance.subject"><span class="lbl">Dewey <a href="{{ subject['@id'] }}" target="_blank"><i class="fa fa-external-link"></i></a></span>
           <input class="input-mini" type="text" data-ng-model="subject.notation"/>
           </label>
          <label data-ng-repeat="sameAs in instance.sameAs"><a href="{{ sameAs['@id'] }}" target="_blank">{{ sameAs['@id'] }}</a>
           </label> 
      

           <label><span class="lbl">{{ "Allmän anmärkning" }}</span><textarea data-inplace data-ui-jq="autosize" placeholder="Allmän anmärkning"></textarea></label>           
      </div>
      </div>
      <div class="cols">
      <div class="col6">
        <label>
          <span class="lbl">{{ "Biografisk uppgift" }}</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.note">{{ instance.note }}</textarea>
        </label>
        <label>
          <span class="lbl">{{ "Notering" }}</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="record.note">{{ record.note }}</textarea>
        </label>        
      </div>
      <div class="col6">
        <div data-ng-show="record.source" class="multifield">
          <span class="lbl">{{ "Källa" }}</span>
          <label data-ng-repeat="source in record.source"><input data-inplace class="input-medium" type="text" data-ng-model="source.label">{{ source.comment }}</label>
        </div>
      </div>
      </div>
      <div class="bottom">
        <button class="btn disabled">Uppdatera</button>
    </div>
    </ng-form>
  </section>

</form>
</div>

<!--concept-->
<div data-ng-switch-when="Concept">
  <section id="instance" name="instance">
    <div class="cols">
      <div class="col6" >
      <strong class="subject-head">{{ instance.prefLabel }}</strong>
      <span class="lbl">Allmän offentlig anmärkning</span>
      <div class="subject-data" data-ng-repeat="note in instance.scopeNote">
        <div class="" data-ng-model="instance.scopeNote">{{ note }}</div>
      </div>
      <div class="subject">
        <span class="lbl" data-ng-show="instance.broader">Vidare term</span>
        <ul class="subject-data" data-ng-repeat="broader in instance.broader">
          <li data-ng-model="broader.prefLabel">{{ broader.prefLabel }}</li>
        </ul>
        <span class="lbl"  data-ng-show="instance.narrower">Snävare term</span>
        <ul data-ng-repeat="narrower in instance.narrower">
          <li data-ng-model="narrower.prefLabel">{{ narrower.prefLabel }}</li>
        </ul>
        <span class="lbl"  data-ng-show="instance.related">Se även</span>
        <ul data-ng-repeat="related in instance.related">
          <li data-ng-model="related.prefLabel">{{ related.prefLabel }}</li>
        </ul>
        <span class="lbl" data-ng-show="instance.closeMatch">Matchar</span>
        <ul data-ng-repeat="closeMatch in instance.closeMatch">
          <li data-ng-model="closeMatch.prefLabel">{{ closeMatch.prefLabel }}</li>
        </ul>
      </div>
    </div>
  </section>
</div>

<!--work-->
<div data-ng-switch-when="Work">
  <section id="instance" name="instance">
    <div class="cols">
      <div class="col6">
       <label>
          <span class="lbl">{{ "Uniform Titel" }}</span>
          <input data-inplace type="text" class="" data-ng-model="instance.uniformTitle"/>
        </label>
        <div ng-show="instance.hasVersion"  class="multifield">
          <span class="lbl">{{ "Alternativ titelform" }}</span>
          <!-- <label><input type="text" placeholder="Lägg till alternativ namnform"/></label> -->
            <label data-ng-repeat="hasVersion in instance.hasVersion">
            <input data-inplace class="input-medium" type="text" data-ng-model="hasVersion.uniformTitle">
          </label>
        </div>       
        <div ng-show="instance.hasVersion.creator"  class="multifield">
          <span class="lbl">{{ "Upphov" }}</span>
          <!-- <label><input type="text" placeholder="Lägg till alternativ namnform"/></label> -->
            <label data-ng-repeat="creator in instance.hasVersion.creator">
            <input data-inplace class="input-medium" type="text" data-ng-model="creator.controlledLabel">
          </label>
        </div>
        <label>
        <span class="lbl">{{ "Anmärkning" }}</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.note">{{ instance.note }}</textarea>
        </label>

      </div>
    </div>
  </section>
</div>

<!--organization-->
<div data-ng-switch-when="Organization">
  <section id="instance" name="instance">
    <div class="cols">
      <div class="col6">
        <label>
          <span class="lbl">{{ "Label" }}</span>
          <input data-inplace type="text" class="" data-ng-model="instance.label"/>
        </label>
        <div ng-show="instance.instanceOf"  class="multifield">
          <span class="lbl">{{ "Används för" }}</span>
          <!-- <label><input type="text" placeholder="Lägg till alternativ namnform"/></label> -->
            <label data-ng-repeat="hasVersion in instance.instanceOf.hasVersion">
            <input data-inplace class="input-medium" type="text" data-ng-model="hasVersion.label">
          </label>
        </div>
        <label>
        <span class="lbl">{{ "Anmärkning" }}</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.note">{{ instance.note }}</textarea>
        </label>
      </div>
    </div>
  </section>
</div>

<!--meeting-->
<div data-ng-switch-when="Meeting">
  <section id="instance" name="instance">
    <div class="cols">
      <div class="col6">
        <label>
          <span class="lbl">{{ "Label" }}</span>
          <input data-inplace type="text" class="" data-ng-model="instance.label"/>
        </label>
        <div ng-show="instance.instanceOf"  class="multifield">
          <span class="lbl">{{ "Används för" }}</span>
          <!-- <label><input type="text" placeholder="Lägg till alternativ namnform"/></label> -->
            <label data-ng-repeat="hasVersion in instance.instanceOf.hasVersion">
            <input data-inplace class="input-medium" type="text" data-ng-model="hasVersion.label">
          </label>
        </div>
        <label>
          <span class="lbl">{{ "Plats" }}</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.place.label">{{ instance.place.label }}</textarea>
        </label>
        <label>
          <span class="lbl">{{ "Datum" }}</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.date">{{ instance.date }}</textarea>
        </label>
        <label>
          <span class="lbl">{{ "Anmärkning" }}</span>
          <div data-ng-repeat="note in instance.note">
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false"
                    data-ng-model="note">{{ note }}</textarea>
          </div>
        </label>
      </div>
    </div>
  </section>
</div>

<!--place-->
<div data-ng-switch-when="Place">
  <section id="instance" name="instance">
    <div class="cols">
      <div class="col6">
        <label>
          <span class="lbl">{{ "Label" }}</span>
          <input data-inplace type="text" class="" data-ng-model="instance.prefLabel"/>
        </label>
        <label>
          <span class="lbl">{{ "Anmärkning" }}</span>
          <div data-ng-repeat="note in instance.note">
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false"
                    data-ng-model="note">{{ note }}</textarea>
          </div>
        </label>
      </div>
    </div>
  </section>
</div>

</div>
{% endraw %}
