{% raw %}
  <section data-ng-if="record" data-ng-init="instance = record.about">
    <ng-form name="subform">
    <h2> <span>{{ 'Titel och upphov' }}</span><i></i></h2>
    <div class="cols">
      <div class="col6" data-ng-init="title = instance.title">
        <label>
          <span class="lbl">{{ "Huvudtitel" }}</span>
          <textarea data-inplace class="title" data-ui-jq="autosize" spellcheck="false" placeholder="Huvudtitel" data-ng-model="title.titleValue"></textarea>
        </label>
        <label>
          <span class="lbl">{{ "Övrig titelinformation" }}</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" placeholder="Övrig titelinformation" data-ng-model="title.subtitle">{{ title.subtitle }}</textarea>
        </label>
        <label class="ng-binding" data-ng-init="work = record.about.instanceOf">
          <span class="lbl">{{ "Språk" }}</span>
          <div data-ng-init="editable = !(work.language.langCode)">
            <div data-ng-hide="editable" data-ng-click="editable=!editable" class="fakeinput">
              <span>
                {{ work.language.prefLabel }}
                <i data-ng-show="work.language.langCode">({{ work.language.langCode }})</i>
              </span>
            </div>
            <div data-ng-show="editable">
              <input data-inplace class="input-large authdependant" type="text" placeholder="Språk"
                    value="{{ work.language.prefLabel }} ({{ work.language.langCode }})"
                    data-kitin-autoselect="field"
                    data-kitin-template="select-language-template" />
            </div>
          </div>
        </label>
        <script type="text/html" id="select-language-template">
          <div class="auth">
            <h4>
            <span class="name"><%= prefLabel %></span><span class="date"> <%= langCode %></span>
            </h4>
          </div>
        </script>
      </div>
      <div class="col6">
        <label>
          <span class="lbl">{{ "Upphov" }}</span>
          <textarea spellcheck="false" placeholder="Upphov"
              data-inplace data-ui-jq="autosize"
              data-ng-model="instance.responsibilityStatement"></textarea>
        </label>
        <div>
          <span class="lbl">{{ 'Huvuduppslag' }}</span>
          <div data-kitin-link-entity
              data-ng-init="label = 'Huvuduppslag'"
              data-subject="work" data-link="attributedTo" data-type="Person"
              data-view-template="render-person"
              data-search-template="render-search-box">
          </div>
        </div>
        <div>
          <span class="lbl">{{ 'Biuppslag' }}</span>
          <div data-kitin-link-entity
              data-ng-init="label = 'Biuppslag'"
              data-subject="work" data-link-multiple="influencedBy" data-type="Person"
              data-view-template="render-person"
              data-search-template="render-search-box">
          </div>
        </div>
      </div>
    </div>

    <script type="text/ng-template" id="render-search-box">
      <label data-ng-show="dosearch" data-ng-init="dosearch = false">
        <input class="input-large" type="text" placeholder="{{ label }}"
              data-kitin-search-entity
              data-service-url="/suggest/person"
              data-onselect="dosearch = false"
              data-completion-template="auth-completion-template" />
      </label>
      <button class="add-thing btn-link" data-ng-click="dosearch = true">{{ label }}
            <i data-ng-show="multiple" class="fa fa-plus-circle" ></i></button>
    </script>

    <script type="text/ng-template" id="render-person">
      <div data-ng-if="isLinked(object)" class="entity person linked">
        <div class="col4">
          <span onload="person = object" data-ng-include="'render-person-name'"></span>
          &nbsp;
          <span class="what"><i class="fa fa-bookmark"></i></span>
        </div>
        <div class="addon" data-ng-include="'roles-and-delete'"></div>
      </div>
      <div data-ng-if="!isLinked(object)" class="entity person embedded"
            data-ng-init="editable = {on: !(object.controlledLabel || object.givenName)}">
        <div class="col4" data-ng-hide="editable.on">
            <label data-ng-click="editable.on = !editable.on">
              <span onload="person = object" data-ng-include="'render-person-name'"></span>
              &nbsp;</label>
        </div>
        <div class="addon" data-ng-show="editable.on">
          <label>
            <input data-inplace class="input-mini" type="text" placeholder="Förnamn"
                   data-ng-model="object.givenName" />
            <span class="lbl">{{ "Förnamn" }}</span>
          </label>
          <label>
            <input data-inplace class="input-mini" type="text" placeholder="Släktnamn"
                   data-ng-model="object.familyName" />
            <span class="lbl">{{ "Släktnamn" }}</span>
          </label>
        </div>
        <div class="addon" data-ng-show="editable.on">
          <label>
            <input data-inplace class="input-mini authdependant" type="text" placeholder="ÅÅÅÅ"
                   data-ng-model="object.birthYear" />
            <span class="lbl">{{ "Född" }}</span>
          </label>
          <label>
            <input data-inplace class="input-mini authdependant" type="text" placeholder="ÅÅÅÅ" 
                   data-ng-model="object.deathYear" />
            <span class="lbl">{{ "Död" }}</span>
          </label>
          <!--
          <div data-ng-controller="ModalCtrl">
            <button class="btn btn-primary" data-ng-click="open()">Aukt.</button>
          </div>
          -->
        </div>
        <div class="addon" data-ng-include="'roles-and-delete'"></div>
      </div>
    </script>

    <script type='text/ng-template' id="roles-and-delete">
      <label>
        <span data-ng-repeat="role in personRoleMap[object['@id']]"><span
              data-ng-hide="$first">, </span>{{ role.label_sv }}</span>
      </label>
      <button class="btn-link" data-ng-show="editable.on"
              data-ng-click="editable.on = false"><i class="fa fa-check"></i></button>
      <label data-ng-hide="editable.on">
        <button class="btn-link on-hover"  data-ng-click="doRemove($index)"><i class="fa fa-times"></i></button>
      </label>
    </script>

    <script type='text/ng-template' id="modal-edit-auth"> 
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Auktoritetspost ({{ instance['@type'] }})</h4>
          </div>
          <div class="modal-body" data-ng-controller="EditCtrl">    
            <div ng-include="'/partials/edit_auth'"></div>
          </div>
        </div>
      </div>
    </script> 

    <h2>Utgivning och tillverkning<i></i></h2>
    <div class="cols" data-ng-show="instance['@type'] != 'Book'">
      <div class="col6">
        <label>
          <span class="lbl">{{ "Allmän medieterm" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.mediaTerm" placeholder="Allmän medieterm">
        </label>
      </div>
      <div class="col6">
      </div>
    </div>

    <div class="cols">
        <div data-ng-repeat="identifier in instance.identifier" class="">
          <ng:switch on="identifier.identifierScheme">
            <span data-ng-switch-when="ISBN">
              <div class="col6">
              <label>
                <span class="lbl" data-ng-hide="subform.isbn_name.$error.invalid_value || subform.isbn_name.$error.invalid_length">{{ "ISBN" }}</span>
                <span class="lbl error-label"
                      data-ng-show="subform.isbn_name.$error.invalid_value || subform.isbn_name.$error.invalid_length">
                  <span class="lbl error-message" data-ng-show="subform.isbn_name.$error.invalid_value">{{ "ISBN" }} (Fel numeriskt värde) </span>
                  <span class="lbl error-message" data-ng-show="subform.isbn_name.$error.invalid_length">{{ "ISBN" }} (Fel längd)</span>
                
                </span>

                <!--<input data-inplace name="isbn_name" type="text" required="true" data-ng-model="instance.isbn" placeholder="ISBN" data-isbn-pattern="^[0-9\-xX]*$" isbnvalidator/>
                <span class="lbl_inline lbl" data-ng-hide="subform.isbn_name.$error.invalid_value">{{ "ISBN" }}</span>
                <span class="lbl_inline lbl error_label" data-ng-show="subform.isbn_name.$error.invalid_value">{{ "ISBN" }}</span>
                <span class="error_message" data-ng-show="subform.isbn_name.$error.invalid_value">(Fel numeriskt värde)</span>-->
                <!--<span class="error_message" data-ng-show="subform.isbn_name.$error.invalid_length">(Fel längd)</span>-->
                <input data-inplace name="isbn_name" type="text" data-ng-model="identifier.identifierValue" placeholder="{{ identifier.identifierScheme }}"
                      data-isbn-pattern="^$|^[0-9\-xX]*$" isbnvalidator/>
              </label>
              </div>
              <div class="col6">
                <label>
                  <span class="lbl">{{ "ISBN-notering" }}</span>
                    <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="identifier.identifierNote" placeholder="Notering">
                </label>
              </div>
<!--
              <div>
          <button class="btn-link" data-ng-click="removeObject(instance, 'identifier', $index)"><i class="fa fa-times"></i></button>
              </div>
-->
            </span>
            <span data-ng-switch-default>
            <div class="col6">
              <label>
                <span class="lbl"><span data-ng-if="!identifier.identifierScheme">Identifierare</span>{{ identifier.identifierScheme }}</span>
                <input data-inplace type="text" data-ng-model="identifier.identifierValue" placeholder="{{ identifier.identifierScheme }}"/>
              </label>
            </div>
            <div class="col6">
              <label>
                <span class="lbl">{{ "Notering" }}</span>
                <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="identifier.identifierNote" placeholder="Notering">
              </label>
            </div>
            </span>
          </ng:switch>
      </div>
      <div class="input-controls">
         <button class="add-thing btn-link" data-ng-click="addObject(instance, 'identifier', 'ISBN')">Lägg till {{ "ISBN" }} <i class="fa fa-plus-circle"></i></button>
        <button class="remove-thing btn-link" data-ng-click="removeObject(instance, 'identifier', $index)"> Ta bort Identifierare <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="cols">
        <div data-ng-repeat="publication in instance.publication" class="">
          <div class="col3">
            <label>
              <span class="lbl">{{ "Utgivningsplats" }}</span>
              <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="publication.place.label" placeholder="Utgivningsort">
            </label>
          </div>
          <div class="col6">
            <label>
              <span class="lbl">{{ "Utgivare/förlag" }}</span>
              <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="publication.providerName" placeholder="Utgivare förlag">
            </label>
          </div>
            <!-- TODO: specify type of place?
            <label>
              <... data-placeholder="Välj ett land" data-ng-model="record.about.instanceOf.country" ... >
              <span class="lbl">{{ "Utgivningsland" }}</span>
            </label>
            -->
          <div class="col3">
            <label>
              <span class="lbl">{{ "Utgivningsår" }}</span>
              <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="publication.providerDate" placeholder="Utgivningsår">
            </label>
<!--
            <label class="last" data-ng-hide="editable">
              <button class="btn-link on-hover" data-ng-click="removeObject(instance, 'publication', $index)"><i class="fa fa-times"></i></button>
            </label>
-->
          </div>
        </div>
        <div class="input-controls">
        <button class="add-thing btn-link" data-ng-click="addObject(instance, 'publication', 'ProviderEvent')">{{ 'Lägg till utgivning' }} <i class="fa fa-plus-circle"></i></button>  
        <button class="remove-thing btn-link" data-ng-click="removeObject(instance, 'publication', $index)"> {{' Ta bort utgivning' }} <i class="fa fa-times"></i></button> 
        </div>            
    </div>
    <div class="cols">
      <div class="col3">
        <label>
          <span class="lbl">{{ "Upplaga" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.editionStatement.edition" placeholder="Upplaga">
        </label>
      </div>
        <div class="col6">
          <div data-ng-repeat="manufacture in instance.manufacture">
            <label>
              <span class="lbl">{{ "Tryckplats" }}</span>
              <input data-inplace class="authdependant" type="text" placeholder="Tryckort" data-ng-model="manufacture.place.label" />
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="cols">
      <div class="col3" data-ng-show="getTypeDef(instance).term == 'Audiobook'">
        <label>
          <span class="lbl">{{ "Utgivningsnummer" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.publisherNumber" placeholder="Utgivningsnummer">
        </label>
      </div>
    </div>

    <!-- TODO: partially toggle digital details
    <div data-ng-show="getTypeDef(instance).subClassOf != 'DigitalResource'">
    -->
    <h2>Fysisk beskrivning<i></i></h2>
    <div class="cols">
      <div class="col3">
        <label class="ng-binding">
          <span class="lbl">{{ "Omfång" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.extent" placeholder="Omfång">
        </label>
      </div>
      <div class="col3">
        <label>
          <span class="lbl">{{ "Mått" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.dimensions" placeholder="Mått">
        </label>
      </div>
      <div class="col3">
        <label>
          <span class="lbl">{{ "Fysiska detaljer" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.otherPhysicalDetails" placeholder="Fysiska detaljer">
        </label>
      </div>
      <div class="col3">
        <label>
          <span class="lbl">{{ "Pris" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.availability" placeholder="Pris">
        </label>
      </div>
    </div>
    <div class="cols" data-ng-show="getTypeDef(instance).subClassOf == 'DigitalResource'">
      <div class="col3">
        <label>
          <span class="lbl">{{ "Filtyp" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.fileType" placeholder="Filtyp">
        </label>
      </div>
      <div class="col3">
        <label>
          <span class="lbl">{{ "Systemkrav" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.systemRequirements" placeholder="Systemkrav">
        </label>
      </div>
    </div>

    <h2>{{ "Anmärkningar" }}<i></i></h2>
    <div class="cols">
      <div class="col6">
        <label>
          <span class="lbl">{{ "Sammanfattning" }}</span>
            <textarea data-inplace data-ui-jq="autosize" spellcheck="false"
                      data-ng-model="work.summary" placeholder="Sammanfattning"></textarea>
        </label>
      </div>
    </div>
    <div class="cols">
      <div class="col6">
        <label>
          <span class="lbl">{{ "Formaterad innehållsförteckning" }}</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.listOfContents" placeholder="Formaterad innehållsförteckning"></textarea>
        </label>
      </div>
      <div class="col6" data-ng-show="getTypeDef(instance).term == 'Audiobook'">
        <label>
          <span class="lbl">{{ "Medverkande" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.contributorNote" placeholder="Medverkande">
        </label>
      </div>
    </div>
    <div class="cols">
      <div class="col6">
          <label>
            <span class="lbl">{{ "Allmän anmärkning" }}</span>
          <textarea data-inplace class="ng-pristine ng-valid" data-inplace data-ui-jq="autosize" type="text" data-ng-model="instance.note" placeholder="Allmän anmärkning"></textarea>
        </label>
      </div>
      <div class="col6"></div>
    </div>
    <div style="clear:both"></div>
    </ng-form>

    <h2>{{ "Ämnesord och klassifikation" }}<i></i></h2>
    <div class="cols"
         data-ng-include="'/partials/edit_subject'" onload="work = record.about.instanceOf">
    </div>
  </section>
  
  <section class="submit modificationinfo" data-ng-class="modifiedClasses()">
<!--post beta:
    <span class="removedraft" data-ng-show="draft" data-ng-click="promptConfirmDelete($event, draft.type, draft.id)">
      <button class="btn-link" data-ng-click="somebutton.click()"><i class="fa fa-times"></i> Ta bort utkast</button>
    </span>-->
    <button class="btn-link" id="draft" data-ng-click="saveDraft()"
      title="{{lastSavedLabel('Senast sparad: %s')}}">Spara utkast</button>
    <button class="btn btn-dark btn-submit" id="publish" data-ng-disabled="form.$invalid" data-ng-click="save()"
      title="{{lastPublishedLabel('Senast publicerad: %s')}}">Publicera</button>
    <p class="message" data-ng-show="modifications.message">{{ modifications.message }}</p>
    <div style="clear:both"></div>
  </section>


<!-- person completion presentation -->
<script type="text/html" id="auth-completion-template">
<div class="auth">
  <h4>
    <span class="name"><%= data['controlledLabel'] %></span>
    <% if (data['@id']) { %>
      <span class="what"><i class="fa fa-bookmark"></i>Aukt.</span>
    <% } %>
  </h4>
  <% if (data['hasAnnotation'] && data['hasAnnotation']['about']) { %>
    <ul class="about">
      <% if (Object.prototype.toString.call(data['hasAnnotation']['about']) === '[object Array]') { %> 
        <% data['hasAnnotation']['about'].forEach(function(item) { %>
          <li><%= item %></li>
        <% }); %>
      <% } else { %>
        <li><%= data['hasAnnotation']['about'] %></li>
      <% } %>
    </ul>
  <% } %>
</div>
</script>

{% endraw %}
