{% raw %}
  <section data-ng-if="record" data-ng-init="instance = record.about; work = instance.instanceOf">
    <ng-form name="subform">
    <h2> <span>{{ 'Titel och upphov' }}</span><i></i></h2>
    <div class="cols">
      <div class="col6" data-ng-init="title = instance.title">
        <label>
          <span class="lbl required">{{ "Huvudtitel" }}</span>
          <textarea data-inplace class="title" data-ui-jq="autosize" spellcheck="false" placeholder="Huvudtitel" data-ng-model="title.titleValue"></textarea>
        </label>
        <label>
          <span class="lbl">{{ "Övrig titelinformation" }}</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" placeholder="Övrig titelinformation" data-ng-model="title.subtitle">{{ title.subtitle }}</textarea>
        </label>
        <ng:switch on="instance['@type']">
        <label data-ng-switch-when="Serial">
           <span class="lbl">{{ "Nyckeltitel" }}</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" placeholder="Övrig titelinformation" data-ng-model="instance.keyTitle.titleValue">{{ instance.keyTitle.titleValue }}</textarea>       
        </label>
        </ng:switch>
        <span class="lbl">{{ "Språk" }}</span>
        <div data-kitin-link-entity
            data-subject="instance.instanceOf"
            data-link="'language'" data-type="Language"
            data-view-template="render-language"
            data-search-template="render-search-language">
        </div>
        <script type="text/ng-template" id="render-language">
          <div class="entity linked" tabindex="0">
            {{ object.prefLabel }}
            <i data-ng-show="object.langCode">({{ object.langCode }})</i>
            <a data-ng-if="!editable.on" class="delete" href="#"
              data-ng-click="doRemove($index)"><i class="fa fa-times"></i></a>
          </div>
        </script>
        <script type="text/ng-template" id="render-search-language">
          <label class="find-entity">
            <i class="fa fa-search"></i>
            <input data-inplace class="input-large authdependant" type="text"
                  placeholder="Lägg till språk"
                  data-no-value="{{ object.prefLabel }} ({{ object.langCode }})"
                  data-kitin-search-entity data-source="languages"
                  data-completion-template="select-language-template" />
          </label>
        </script>
        <script type="text/html" id="select-language-template">
          <div class="auth">
            <h4>
            <span class="name"><%= data.prefLabel %></span><span class="date"> <%= data.langCode %></span>
            </h4>
          </div>
        </script>
      </div>
      <div class="col6">
        <label>
          <span class="lbl">{{ "Upphov" }}</span>
          <textarea spellcheck="false" placeholder="Upphov"
              data-inplace data-ui-jq="autosize"
              data-ng-model="instance.responsibilityStatement"></textarea>
        </label>
        <div>
          <span class="lbl">{{ 'Huvuduppslag' }}</span>
          <div data-kitin-link-entity
              data-ng-init="label = 'Lägg till huvuduppslag'"
              data-subject="work" data-link="'attributedTo'" data-type="Person"
              data-view-template="render-person"
              data-search-template="render-search-box">
          </div>
        </div>
        <div>
          <span class="lbl">{{ 'Biuppslag' }}</span>
          <div data-kitin-link-entity
              data-ng-init="label = 'Lägg till biuppslag'"
              data-subject="work" data-link-multiple="'influencedBy'" data-type="Person"
              data-view-template="render-person"
              data-search-template="render-search-box">
          </div>
        </div>
      </div>
    </div>

    <!-- TODO: dummy example; implement and remove
    <hr>
    <div class="cols">
      <div class="col6">
        <div class="alert alert-block">Designförslag</div>
        <div class="person-suggest">
          <span class="lbl">Personer</span>
          <ul class="persons">
            <li class="main">
              <i class="fa fa-check-square-o check"></i>
              <div class="main">
                <span class="name">Jansson, Tove</span>
                <span class="timeSpan">1921-1870</span>
                <a class="auth" href="#"><i class="fa fa-check"></i> Aukt.</a>
              </div>
              <div class="tagsinput">
                <ul class="tags">
                  <li>Bibliotekarie <i class="no">&times;</i></li>
                  <li>Författare <i class="no">&times;</i></li>
                  <li class="add"><i class="fa fa-search"></i> <input type="text" placeholder="Lägg till roll"></li>
                </ul>
              </div>
              <a class="delete" href="#"><i class="fa fa-times"></i></a>
            </li>
            <li>
              <i class="fa fa-square-o check"></i>
              <div class="main">
                <span class="name">Karlsson, Owe</span>
                <span class="timeSpan">1811-1972</span>
              </div>
              <div class="tagsinput">
                <ul class="tags">
                  <li class="add"><i class="fa fa-search"></i> <input type="text" placeholder="Lägg till roll"></li>
                </ul>
              </div>
              <a class="delete" href="#"><i class="fa fa-times"></i></a>
            </li>
            <li>
              <i class="fa fa-square-o check"></i>
              <div class="main">
                <span class="name">Karlsson, Owe</span>
                <span class="timeSpan">1811-1972</span>
                <a class="auth" href="#"><i class="fa fa-check"></i> Aukt.</a>
              </div>
              <div class="tagsinput">
                <ul class="tags">
                  <li>Kåkfarare <i class="no">&times;</i></li>
                  <li class="add"><i class="fa fa-search"></i> <input type="text" placeholder="Lägg till roll"></li>
                </ul>
              </div>
              <a class="delete" href="#"><i class="fa fa-times"></i></a>
            </li>
          </ul>
          <label class="find-entity">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Lägg till person">
          </label>
        </div>
      </div>
    </div>
    -->

    <hr>

    <script type="text/ng-template" id="render-search-box">
      <label class="find-entity">
        <i class="fa fa-search"></i>
        <input class="input-large" type="text" placeholder="{{ label }}"
              data-kitin-search-entity
              data-service-url="/suggest/person"
              data-completion-template="auth-completion-template" />
      </label>
    </script>

    <script type="text/ng-template" id="render-person">
      <div data-ng-if="isLinked(object)" class="entity person linked" tabindex="0">
        <div class="main">
          <span onload="person = object" data-ng-include="'render-person-name'"></span>
          <a class="auth" href="#"><i class="fa fa-check"></i> Aukt.</a>
        </div>
        <div data-ng-include="'roles'"></div>
        <a data-ng-if="!editable.on" class="delete" href="#"
           data-ng-click="doRemove($index)"><i class="fa fa-times"></i></a>
      </div>
      <div data-ng-if="!isLinked(object)" class="entity person embedded"
            data-ng-init="editable = {on: !(object.controlledLabel || object.givenName || object.name)}" tabindex="0">
        <div data-ng-hide="editable.on">
            <label data-ng-click="editable.on = !editable.on">
              <span onload="person = object" data-ng-include="'render-person-name'"></span>
            </label>
        </div>
        <div data-ng-show="editable.on">
          <label>
            <input data-inplace class="" type="text" placeholder="Förnamn"
                   data-ng-model="object.givenName" />
            <span class="lbl">{{ "Förnamn" }}</span>
          </label>
          <label>
            <input data-inplace class="" type="text" placeholder="Släktnamn"
                   data-ng-model="object.familyName" />
            <span class="lbl">{{ "Släktnamn" }}</span>
          </label>
        </div>
        <div data-ng-show="editable.on">
          <label>
            <input data-inplace class="authdependant" type="text" placeholder="ÅÅÅÅ"
                   data-ng-model="object.birthYear" />
            <span class="lbl">{{ "Född" }}</span>
          </label>
          <label>
            <input data-inplace class="authdependant" type="text" placeholder="ÅÅÅÅ" 
                   data-ng-model="object.deathYear" />
            <span class="lbl">{{ "Död" }}</span>
          </label>
          <!--
          <div data-ng-controller="ModalCtrl">
            <button class="btn btn-primary" data-ng-click="open()">Aukt.</button>
          </div>
          -->
        </div>
        <div data-ng-include="'roles'"></div>
        <a data-ng-if="!editable.on" class="delete" href="#"
           data-ng-click="doRemove($index)"><i class="fa fa-times"></i></a>
      </div>
    </script>

    <script type='text/ng-template' id="roles">
      <ul data-kitin-link-entity
          class="tags"
          data-subject="personRoleMap"
          data-link-multiple="object['@id']" data-type="ObjectProperty"
          data-view-template="render-role"
          data-search-template="render-search-role">
      </ul>
      <button class="btn-link" data-ng-if="editable.on"
              data-ng-click="editable.on = false"><i class="fa fa-check"></i></button>
    </script>

    <script type='text/ng-template' id="render-role">
      {{ object.label }} <em>({{ object.notation }})</em>
      <a href="#" data-ng-click="doRemove($index)"><i class="no">&times;</i></a>
    </script>
    <script type='text/ng-template' id="render-search-role">
      <label class="add">
        <i class="fa fa-search"></i>
        <input data-inplace type="text" placeholder="Roll"
              data-kitin-search-entity data-source="relators"
              data-completion-template="select-role-template" />
      </label>
    </script>

    <script type="text/html" id="select-role-template">
      <div class="auth">
        <h4>
        <span class="name"><%= data.label %></span><span class="date"> <%= data.notation %></span>
        </h4>
      </div>
    </script>

    <script type='text/ng-template' id="modal-edit-auth"> 
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Auktoritetspost ({{ instance['@type'] }})</h4>
          </div>
          <div class="modal-body" data-ng-controller="EditCtrl">    
            <div ng-include="'/partials/edit_auth'"></div>
          </div>
        </div>
      </div>
    </script> 

    <h2>Utgivning och tillverkning<i></i></h2>
    <div class="cols" data-ng-show="instance['@type'] != 'Book'">
      <div class="col6">
        <label>
          <span class="lbl">{{ "Allmän medieterm" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.mediaTerm" placeholder="Allmän medieterm">
        </label>
      </div>
      <div class="col6">
      </div>
    </div>
    <div class="cols">
      <div class="col6">
      <!--ISBN-->
      <div data-ng-repeat="identifier in instance.identifier" ng-show="$first">
        <div data-ng-if="identifier.identifierScheme == 'ISBN'" class="datatable" data-ng-target="isbnTable">
          <table>
            <thead data-ng-if="instance.identifier.length">
              <tr>
                <td><!--TODO fix labels and error messages for identifiers-->
                  <span class="lbl-inline lbl"
                        data-ng-hide="subform.isbn_name.$error.invalid_value || subform.isbn_name.$error.invalid_length"><span data-ng-repeat="identifier in instance.identifier" data-ng-show="$first">{{ identifier.identifierScheme}}</span>                      
                  </span>
                        
                  <span class="lbl-inline lbl error-label"
                        data-ng-show="subform.isbn_name.$error.invalid_value || subform.isbn_name.$error.invalid_length">{{ "ISBN" }} 
                  <span class="error_message" data-ng-show="subform.isbn_name.$error.invalid_value">(Fel numeriskt värde)</span>
                  <span class="error_message" data-ng-show="subform.isbn_name.$error.invalid_length">(Fel längd)</span>
                  </span>
                </td>
                <td>
                  <span class="lbl">{{ "Notering" }}</span>
                </td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="identifier in instance.identifier"> 
                <td>
                  <label>
                    <input type="text" data-inplace name="isbn_name" data-ng-model="identifier.identifierValue" placeholder="{{ identifier.identifierScheme }}" data-isbn-pattern="^$|^[0-9\-xX]*$" isbnvalidator/>
                  </label>
                </td>
                <td>
                  <label>
                    <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="identifier.identifierNote" placeholder="ISBN Notering"/>
                  </label>
                </td>
                <td class="controls">
                  <button class="btn-link deleter" data-ng-click="removeObject(instance, 'identifier', $index)">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">
                  <button class="add-thing btn-link" data-ng-click="addObject(instance, 'identifier', 'ISBN', 'isbnTable')">{{ 'Lägg till ISBN' }}</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      <!-- other identifiers (ISSN etc.)-->
      <div data-ng-repeat="identifier in instance.identifier" ng-show="$first">
        <div data-ng-if="identifier.identifierScheme != 'ISBN'" class="datatable" data-ng-target="identifierTable">
          <table>
            <thead data-ng-if="instance.identifier.length">
              <tr>
                <td><!--TODO fix labels and error messages for identifiers-->
                  <span class="lbl-inline lbl" data-ng-repeat="identifier in instance.identifier" data-ng-show="$first">{{ identifier.identifierScheme}}</span>
                </td>
                <td>
                  <span class="lbl">{{ "Notering" }}</span>
                </td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="identifier in instance.identifier"> 
                <td>
                  <label>
                    <input data-inplace type="text" data-ng-model="identifier.identifierValue" placeholder="{{ identifier.identifierScheme }}"/>
                  </label>
                </td>
                <td>
                  <label>
                    <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="identifier.identifierNote" placeholder="Notering">
                  </label>
                </td>
                <td class="controls">
                  <button class="btn-link deleter" data-ng-click="removeObject(instance, 'identifier', $index)">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">
                  <button class="add-thing btn-link" data-ng-click="addObject(instance, 'identifier', 'ISSN',  'identifierTable')">{{ 'Lägg till ISSN' }}</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        
        </div>
      </div>
    </div>

    <div class="col12">
      <div class="datatable" data-ng-target="publisher">
        <table>
          <thead>
            <tr>
              <td><span class="lbl">{{ "Utgivningsplats" }}</span></td>
              <td><span class="lbl">{{ "Utgivare/förlag" }}</span></td>
              <td><span class="lbl">{{ "Utgivningsår" }}</span></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="publication in instance.publication" class="">
              <td>
                <label>
                  <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="publication.place.label" placeholder="Utgivningsort">
                </label>
              </td>
              <td>
                <label>
                  <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="publication.providerName" placeholder="Utgivare förlag">
                </label>
              </td>
              <!-- TODO: specify type of place?
              <label>
                <... data-placeholder="Välj ett land" data-ng-model="record.about.instanceOf.country" ... >
                <span class="lbl">{{ "Utgivningsland" }}</span>
              </label>
              -->
              <td class="last">
                <label>
                  <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="publication.providerDate" placeholder="Utgivningsår">
                </label>
              </td>
              <td class="controls">
                <button class="btn-link deleter" data-ng-click="removeObject(instance, 'publication', $index)">
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
          <tfoot>
            <tr>
              <td colspan="4">
                <button class="add-thing btn-link" data-ng-click="addObject(instance, 'publication', 'ProviderEvent', 'publisher')">{{ 'Lägg till utgivning' }} </button>
              </td>
            </tr>
          </tfoot>
          </table>
       </div>          
    </div>

    <div class="cols">
      <div class="col3">
        <label>
          <span class="lbl">{{ "Upplaga" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.editionStatement.edition" placeholder="Upplaga">
        </label>
      </div>
        <div class="col3">
          <div data-ng-repeat="manufacture in instance.manufacture">
            <label>
              <span class="lbl">{{ "Tryckplats" }}</span>
              <input data-inplace class="authdependant" type="text" placeholder="Tryckort" data-ng-model="manufacture.place.label" />
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="cols">
      <div class="col3" data-ng-show="getTypeDef(instance).term == 'Audiobook'">
        <label>
          <span class="lbl">{{ "Utgivningsnummer" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.publisherNumber" placeholder="Utgivningsnummer">
        </label>
      </div>
    </div>

    <!-- TODO: partially toggle digital details
    <div data-ng-show="getTypeDef(instance).subClassOf != 'DigitalResource'">
    -->
    <h2>Fysisk beskrivning<i></i></h2>
    <div class="cols">
      <div class="col3">
        <label class="ng-binding">
          <span class="lbl">{{ "Omfång" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.extent" placeholder="Omfång">
        </label>
      </div>
      <div class="col3">
        <label>
          <span class="lbl">{{ "Mått" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.dimensions" placeholder="Mått">
        </label>
      </div>
      <div class="col3">
        <label>
          <span class="lbl">{{ "Fysiska detaljer" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.otherPhysicalDetails" placeholder="Fysiska detaljer">
        </label>
      </div>
      <div class="col3">
<!-- from 02x:c should not be part of the template?
        <label>
          <span class="lbl">{{ "Anskaffningsvillkor" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.availability" placeholder="Anskaffningsvillkor">
        </label>
-->
      </div>
    </div>
    <div class="cols" data-ng-show="getTypeDef(instance).subClassOf == 'DigitalResource'">
      <div class="col3">
        <label>
          <span class="lbl">{{ "Filtyp" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.fileType" placeholder="Filtyp">
        </label>
      </div>
      <div class="col3">
        <label>
          <span class="lbl">{{ "Systemkrav" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.systemRequirements" placeholder="Systemkrav">
        </label>
      </div>
    </div>

    <h2>{{ "Anmärkningar" }}<i></i></h2>
    <div class="cols">
      <div class="col6">
        <label>
          <span class="lbl">{{ "Sammanfattning" }}</span>
            <textarea data-inplace data-ui-jq="autosize" spellcheck="false"
                      data-ng-model="work.summary" placeholder="Sammanfattning"></textarea>
        </label>
      </div>
    </div>
    <div class="cols">
      <div class="col6">
        <label>
          <span class="lbl">{{ "Formaterad innehållsförteckning" }}</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.listOfContents" placeholder="Formaterad innehållsförteckning"></textarea>
        </label>
      </div>
      <div class="col6" data-ng-show="getTypeDef(instance).term == 'Audiobook'">
        <label>
          <span class="lbl">{{ "Medverkande" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="instance.contributorNote" placeholder="Medverkande">
        </label>
      </div>
    </div>
    <div class="cols">
      <div class="col6">
          <label>
            <span class="lbl">{{ "Allmän anmärkning" }}</span>
          <textarea data-inplace class="ng-pristine ng-valid" data-inplace data-ui-jq="autosize" type="text" data-ng-model="instance.note" placeholder="Allmän anmärkning"></textarea>
        </label>
      </div>
      <div class="col6"></div>
    </div>
    <div style="clear:both"></div>
    </ng-form>

    <h2>{{ "Ämnesord och klassifikation" }}<i></i></h2>
    <div
         data-ng-include="'/partials/edit_subject'" onload="work = record.about.instanceOf">
    </div>
  </section>
  
  <section class="submit modificationinfo" data-ng-class="modifiedClasses()">
<!--post beta:
    <span class="removedraft" data-ng-show="draft" data-ng-click="promptConfirmDelete($event, draft.type, draft.id)">
      <button class="btn-link" data-ng-click="somebutton.click()"><i class="fa fa-times"></i> Ta bort utkast</button>
    </span>-->
    <button class="btn-link" id="draft" data-ng-click="saveDraft()"
      title="{{lastSavedLabel('Senast sparad: %s')}}">Spara utkast</button>
    <button class="btn btn-dark btn-submit" id="publish" data-ng-disabled="form.$invalid" data-ng-click="save()"
      title="{{lastPublishedLabel('Senast publicerad: %s')}}">Publicera</button>
    <p class="message" data-ng-show="modifications.message">{{ modifications.message }}</p>
    <div style="clear:both"></div>
  </section>


<!-- person completion presentation -->
<script type="text/html" id="auth-completion-template">
  <div class="auth">
    <h4>
      <span class="name"><%= nameRepr(data) %></span>
      <span class="date"><%= [data.birthYear, data.deathYear].join('–') %></span>
      <% if (data['@id']) { %>
        <span class="what">Se aukt. post <i class="fa fa-sign-out"></i></span>
      <% } %>
    </h4>
    <span class="title"><%= data.personTitle %></span>
    <% if (data.hasPersona && data.hasPersona.length) { %>
      <span class="persona">Se även:
        <b><%= data.hasPersona.map(nameRepr).join('</b>, <b>') %></b>
      </span>
    <% } %>
    <% if (data.note && data.note.length) { %>
      <ul class="about">
        <li><%= data.note.map(truncate).join('</li><li>') %></li>
      </ul>
    <% } %>
  </div>
</script>

{% endraw %}
