{% raw %}

<div class="cols">
  <div class="col6">
    <div data-ng-repeat="(key, container) in schemeContainer.byScheme" class="scheme"
       data-ng-init="scheme = conceptSchemes.byNotation[key] || {'title': key}">
      <h3>{{ scheme.alternative || scheme.title || scheme.title_en }}</h3>
      <div data-kitin-link-entity
          data-subject="container" data-link-multiple="'concepts'" data-type="Concept"
          data-search-template="search-subject"
          data-view-template="view-subject">
      </div>
    </div>

  <script type="text/ng-template" id="search-subject">
    <label>
      <input class="input-large" type="text" placeholder="Nytt ämnesord"
            data-kitin-search-entity
            data-filter="{'inScheme.notation': scheme.notation}"
            data-service-url="/suggest/concept"
            data-completion-template="subject-completion-template" />
    </label>
  </script>

  <script type="text/ng-template" id="view-subject">
    <div class="entity linked" tabindex="0">
      <ng:switch on="object['@type']">
        <div data-ng-switch-when="Person" class="col4">
          {{ object.controlledLabel }}
        </div>
        <div data-ng-switch-default>
          <div data-ng-show="object.prefLabel" class="col4">
            {{ object.prefLabel }}
            <span class="lbl" data-ng-show="object['@type'] == 'Place'">Geografiskt ämnesord</span>
            <!--<span class="lbl">{{ object.inScheme.notation }}</span>-->
          </div>
          <div data-ng-show="object.broader" class="col4">
            <!-- <em>Sammansättning: {{broader.['@id']}}</em> -->
            <div>
              <span data-ng-repeat="broader in object.broader">
                {{broader.prefLabel}}
                <span data-ng-show="broader.notation">({{ broader.notation }}) </span>
                <span class="subject-delimiter" data-ng-hide="$last">--</span>
              </span>
            </div>
          </div>
        </div>
      </ng:switch>
      <div class="addon">
        <label>
          <button class="btn-link on-hover" data-ng-click="doRemove($index)">
            <i class="fa fa-times"></i></button>
        </label>
      </div>
    </div>
  </script>
  </div>
</div>
  
  <div class="cols">
  <h3>Andra ämnesordssystem</h3>
    <div class="col3">  
      <label>
        <input type="text" placeholder="Nytt ämnesord" data-kitin-autocomplete="subject"
              data-kitin-add-to="schemeContainer"
              data-kitin-filter="{'inScheme.notation': chosenScheme}" />
      </label>
    </div>
    <div class="col3">
      <label>
        <select data-ng-model="chosenScheme"
          data-ng-options="code as (scheme.alternative || scheme.title || scheme.title_en)
                           for (code, scheme) in conceptSchemes.byNotation">
        </select>
      </label>
    </div>
  </div>

  <!-- TODO add dynamic suggestions for subjects
  <div class="suggestion-subjects">
      <ul>
      <li><i class="fa fa-circle-arrow-up"></i>...</li>
      </ul>
  </div>
  -->
  <!--<ul class="inline">
  <li data-ng-repeat="topic in work.subject"><a class="btn btn-small" href="{{ topic['@id'] }}"><i class="icon-tag"></i> {{ topic['@id'] }}</a></li>
  </ul>-->
<!-- </div> -->

<div class="cols">
<div class="col6">
  <h3>Klassifikation</h3>
  <!--
  <ul class="inline">
  <li data-ng-repeat="topicalTerm in record.topicalTerm"><a class="btn btn-small" href="{{ topicalTerm }}"><i class="icon-tag"></i> {{ topicalTerm }}</a></li>
  </ul>
      -->
  <label class="dynamic-subjects">
      <div class="subjects" data-ng-repeat="classification in unifiedClassifications">
        <em class="subject">{{classification.prefLabel}}</em>
      </div>
      <span class="lbl">Klassifikation</span>
      <textarea data-inplace placeholder="Klassifikation" disabled></textarea>

  </label>
</div>
</div>
<script type="text/html" id="subject-completion-template">
<div class="auth">
  <h4>
    <span class="name" title="<%= data['@id']%>"><%= data['prefLabel']%></span>
      <% if (isLinked(data)) { %>
        <!--
        <span class="what">Se aukt. post <i class="fa fa-sign-out"></i></span>
        -->
        <span class="what"><i class="fa fa-check"></i> Aukt.</span>
      <% } %>
  </h4>
    <% if (data['historyNote']) { %>
      <div><em><%= data['historyNote']%></em></div>
    <% } %>
    <% if (data['hiddenLabel']) { %>
      <div><span class="muted">Används ej: <%= data['hiddenLabel']%></span></div>
    <% } %>  
    <% if (data['scopeNote']) { %>
    <ul class="about">
      <li><%= data['scopeNote']%></li>
    </ul>
    <% } %>
</div>
</script>

<!-- FIXME: dummy example; implement and remove 
<hr>

<div class="cols">
  <div class="col6">
    <div class="alert alert-block">Designförslag</div>
    <div class="tagsinput">
      <span class="lbl">Ämnesord</span>
      <ul class="tags">
        <li><a href="#"><i class="fa fa-check"></i> Apa</a> <i class="no">&times;</i></li>
        <li><a href="#"><i class="fa fa-check"></i> Lejon</a> <i class="no">&times;</i></li>
        <li><a href="#"><i class="fa fa-check"></i> Orangutang</a> <i class="no">&times;</i></li>
        <li><a href="#"><i class="fa fa-check"></i> Komododrake</a> <i class="no">&times;</i></li>
        <li><a href="#"><i class="fa fa-check"></i> Bofink</a> <i class="no">&times;</i></li>
        <li><a href="#"><i class="fa fa-check"></i> Burhöna</a> <i class="no">&times;</i></li>
        <li class="add"><i class="fa fa-search"></i> <input type="text" placeholder="Sök ämnesord"></li>
      </ul>
      <ul class="tags suggestions">
        <li class="title">Förslag:</li>
        <li><a href="#">Gorilla <i class="fa fa-arrow-circle-up"></i></a></li>
        <li><a href="#">Papegoja <i class="fa fa-arrow-circle-up"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="cols">
  <div class="col6">
    <div class="alert alert-block">Designförslag</div>
    <div class="tagsinput free">
      <span class="lbl">Ämnesord</span>
      <ul class="tags">
        <li><a href="#"><i class="fa fa-check"></i> Apa</a> <i class="no">&times;</i></li>
        <li><a href="#"><i class="fa fa-check"></i> Lejon</a> <i class="no">&times;</i></li>
        <li><a href="#"><i class="fa fa-check"></i> Orangutang</a> <i class="no">&times;</i></li>
        <li class="add"><input type="text" placeholder="+ Lägg till ämnesord"></li>
      </ul>
      <ul class="tags suggestions">
        <li class="title">Förslag:</li>
        <li><a href="#">Gorilla <i class="fa fa-arrow-circle-up"></i></a></li>
        <li><a href="#">Papegoja <i class="fa fa-arrow-circle-up"></i></a></li>
      </ul>
    </div>
  </div>
</div>
-->
{% endraw %}
