<div ng-controller="EditCtrl">
  <header class="clearfix">
    <section>
      <div class="record-type">
        <h1>
          <span data-ng-if="recType == 'auth'">Aukt.</span>{{ getTypeLabel(record.about) }}
          <span data-ng-repeat="contentType in record.about.contentType">| {{ contentType.prefLabel }} </span>
          <span>{{ record.about.text['@id'] }}</span>
        </h1>
      </div>
      
      <div class="record-metadata">
        <span ng-if="record.date">
          <strong translate>LABEL.gui.edit.DATE_CREATED</strong>
          <i>{{record.date}}</i>
        </span>
        <span ng-if="record.originalCatalogingAgency.name">
          <strong>Skapad av</strong>
          <i>{{record.originalCatalogingAgency.name}}</i>
        </span>
        <span ng-if="record.modified">
          <strong translate>LABEL.gui.edit.MODIFIED</strong>
          <i>{{record.modified | date:'yyyy-MM-dd HH:mm'}}</i>
        </span>
        <span ng-if="record.modifyingAgency.name">
          <strong>Ändrad av</strong>
          <i>{{ record.modifyingAgency.name }}</i>
        </span>
        <span ng-if="record['@id']">
          <strong translate>LABEL.gui.edit.ID</strong>
          <i>{{record['@id']}}</i>
        </span>
        <span ng-if="record.librisIIINumber">
          <strong translate>librisIIINumber</strong>
          <i>{{record.librisIIINumber}}</i>
        </span>
        <div class="row">
          <div class="col-md-4 label">
            <span class="lbl" translate>LABEL.record.about.encLevel</span>
            <ul class="tags" data-kitin-link-entity
                data-subject="record.about"
                data-link="'encLevel'" data-type="EncLevel"
                data-view-template="/snippets/render-generic-linked-entity"
                data-search-template="/snippets/render-generic-select"
                data-filter="about.inCollection.@id:/def/enum/record/encLevel-collection">
            </ul>
          </div>
          <div class="col-md-4 label">
            <span class="lbl" translate>LABEL.record.about.characterCoding</span>
            <ul class="tags" data-kitin-link-entity
                data-subject="record.about"
                data-link="'characterCoding'" data-type="CharacterCoding"
                data-view-template="/snippets/render-generic-linked-entity"
                data-search-template="/snippets/render-generic-select"
                data-filter="about.inCollection.@id:/def/enum/record/characterCoding-collection">
            </ul>
          </div>
          <div class="col-md-4 label">
            <span class="lbl" translate>LABEL.record.about.status</span>
            <ul class="tags" data-kitin-link-entity
                data-subject="record.about"
                data-link="'status'" data-type="status"
                data-view-template="/snippets/render-generic-linked-entity"
                data-search-template="/snippets/render-generic-select"
                data-filter="about.inCollection.@id:/def/enum/record/status-collection">
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 label">
            <span class="lbl" translate>LABEL.record.about.catForm</span>
            <ul class="tags" data-kitin-link-entity
                data-subject="record.about"
                data-link="'catForm'" data-type="catForm"
                data-view-template="/snippets/render-generic-linked-entity"
                data-search-template="/snippets/render-generic-select"
                data-filter="about.inCollection.@id:/def/enum/record/catForm-collection">
            </ul>
          </div>
          <div class="col-md-4 label">
            <span class="lbl">Tillhör bibliografi</span>
            <span data-ng-repeat="bibliographyCode in record.bibliographyCode">
              <input data-ng-model="bibliographyCode" />
            </span>
          </div>
          <div class="col-md-4 label">
            <span class="lbl" translate>LABEL.record.sourceNote</span>
            <textarea data-inplace data-ui-jq="autosize" class="ng-pristine ng-valid" data-ng-model="record.sourceNote" ></textarea>
          </div>
          <div class="label">
              <span class="lbl" translate>LABEL.record.about.technicalNote</span>
              <textarea data-inplace data-ui-jq="autosize" spellcheck="false"
                data-ng-model="record.about.technicalNote" ></textarea>
          </div>
        </div>
      </div>
    </section>
  </header>
  <div ng-switch on="recType">
    <div ng-switch-when="auth">
      <div ng-include="'/partials/edit/auth'"></div>
    </div>
    <div ng-switch-default>
      <div ng-include="'/partials/edit/bib'"></div>
    </div>
  </div>

  <!-- dialog -->
  <div id="confirmDeleteDraftDialog" data-ng-show="confirmDeleteDraft" class="popover">
    <div class="popover-inner">
      <button class="close" data-ng-click="confirmDeleteDraft.abort()">&times;</button>
    </div>
    <div class="popover-content">
      <h4>Vill du verkligen ta bort utkastet?</h4>
      <button class="btn btn-success" data-ng-click="confirmDeleteDraft.execute()">Ja</button>
      <button class="btn btn-warning" data-ng-click="confirmDeleteDraft.abort()">Nej</button>
    </div>
  </div>
</div>