{% raw %}

<div class="col6">
  <h3>Ämnesord</h3>

  <div data-ng-repeat="(notation, container) in schemeContainer.byScheme" class="scheme"
       data-ng-init="scheme = conceptSchemes[notation] || {'label': schemeNotation}">
    <h4>{{ scheme.label }}</h4>
    <div data-kitin-link-entity
          data-subject="container" data-link-multiple="concepts" data-type="Concept"
          data-search-template="search-subject"
          data-view-template="view-subject">
    </div>
  </div>

  <script type="text/ng-template" id="search-subject">
    <label>
      <input class="input-large" type="text" placeholder="Nytt ämnesord"
            data-kitin-search-entity
            data-filter="{'inScheme.notation': scheme.notation}"
            data-service-url="/suggest/concept"
            data-completion-template="subject-completion-template" />
    </label>
  </script>

  <script type="text/ng-template" id="view-subject">
    <div class="entity col6">
      <ng:switch on="object['@type']">
        <div data-ng-switch-when="Person" class="col4">
          {{ object.controlledLabel }}
        </div>
        <div data-ng-switch-default>
          <div data-ng-show="object.prefLabel" class="col4">
            {{ object.prefLabel }}
            <span class="lbl" data-ng-show="object['@type'] == 'Place'">Geografiskt ämnesord</span>
            <!--<span class="lbl">{{ object.inScheme.notation }}</span>-->
          </div>
          <div data-ng-show="object.broader" class="col4">
            <!-- <em>Sammansättning: {{broader.['@id']}}</em> -->
            <div>
              <span data-ng-repeat="broader in object.broader">
                {{broader.prefLabel}}
                <span data-ng-show="broader.notation">({{ broader.notation }}) </span>
                <span class="subject-delimiter" data-ng-hide="$last">--</span>
              </span>
            </div>
          </div>
        </div>
      </ng:switch>
      <div class="addon">
        <label>
          <button class="btn-link on-hover" data-ng-click="doRemove($index)">
            <i class="fa fa-times"></i></button>
        </label>
      </div>
    </div>
  </script>

  <h4>Andra ämnesordssystem</h4>
  <div class="cols">
    <div class="col3">
      <label>
        <input type="text" placeholder="Nytt ämnesord" data-kitin-autocomplete="subject"
              data-kitin-add-to="schemeContainer"
              data-kitin-filter="{'inScheme.notation': chosenScheme}" />
      </label>
    </div>
    <div class="col3">
      <label>
        <select data-ng-model="chosenScheme"
          data-ng-options="code as scheme.label for (code, scheme) in conceptSchemes">
        </select>
      </label>
    </div>
  </div>

  <!-- TODO add dynamic suggestions for subjects
  <div class="suggestion-subjects">
      <ul>
      <li><i class="fa fa-circle-arrow-up"></i>...</li>
      </ul>
  </div>
  -->
  <!--<ul class="inline">
  <li data-ng-repeat="topic in work.subject"><a class="btn btn-small" href="{{ topic['@id'] }}"><i class="icon-tag"></i> {{ topic['@id'] }}</a></li>
  </ul>-->
</div>

<div class="col6">
  <h3>Klassifikation</h3>
  <!--
  <ul class="inline">
  <li data-ng-repeat="topicalTerm in record.topicalTerm"><a class="btn btn-small" href="{{ topicalTerm }}"><i class="icon-tag"></i> {{ topicalTerm }}</a></li>
  </ul>
      -->
  <label class="dynamic-subjects">
      <div class="subjects" data-ng-repeat="classification in unifiedClassifications">
        <em class="subject">{{classification.prefLabel}}</em>
      </div>
      <span class="lbl">Klassifikation</span>
      <textarea data-inplace placeholder="Klassifikation" disabled></textarea>

  </label>
</div>

<script type="text/html" id="subject-completion-template">
<div class="auth">
  <h4>
    <span class="name" title="<%= data['@id']%>"><%= data['prefLabel']%></span></h4>
    <% if (data['hiddenLabel']) { %>
      <div><span class="muted">Används ej: <%= data['hiddenLabel']%></span></div>
    <% } %>  
    <% if (data['scopeNote']) { %>
      <div>
      <label><%= data['scopeNote']%>
      <span class="lbl">Notering</span>
      </label>
      </div>
    <% } %>
    <% if (data['historyNote']) { %>
      <div><em><%= data['historyNote']%></em></div>
    <% } %>  
    <% if (data['authorized']) { %>
      <span class="what"><i class="fa fa-bookmark"></i>Aukt.</span>
    <% } %>
  
</div>
</script>

{% endraw %}
