{% raw %}

  <article class="well bib" id="entities">

    <article>
      <h2>KATALOGKORT</h2>
      <section data-ng-repeat="fieldset in [entities.record.main]"
          data-ng-include="'render-fieldset'"></section>
      <button type="button" class="btn btn-mini btn-link"
              data-toggle="collapse" data-target="#record-hidden">
        <i class="icon-edit"></i></button>
      <section id="record-hidden" class="collapse out"
               data-ng-repeat="fieldset in [entities.record.hidden]"
          data-ng-include="'render-fieldset'"></section>
    </article>

    <article class="control-group" id="verk">
      <h2>VERK</h2>
      <section class="entity" data-ng-repeat="fieldset in [entities.work.cover, entities.work.contents, entities.work.classification]"
          data-ng-include="'render-fieldset'"></section>
    </article>
    <article>
      <h2>UTTRYCK</h2>
      <section class="entity" data-ng-repeat="fieldset in [entities.expression.main]"
          data-ng-include="'render-fieldset'"></section>
    </article>
    <article id="manifestation">
      <h2>MANIFESTATION</h2>
      <section class="entity" data-ng-repeat="fieldset in [entities.manifestation.main]"
          data-ng-include="'render-fieldset'"></section>
    </article>
  </article>
  <article data-ng-include="'/partials/hld'" class="well hld">
  </article>

  <div class="well pull-right"><div class="pull-right"><button class="btn btn-large disabled">SPARA UTKAST</button> <button class="btn btn-large disabled">PUBLICERA</button></div>
 
  </div>


  <div id="prompt-add-field" data-ng-show="fieldToAdd" class="popover show">
    <div class="popover-inner">
      <h3 class="popover-title">Lägg till fält
        <button class="close" data-ng-click="fieldToAdd.abort()">&times;</button></h3>
    </div>
    <div class="popover-content">
      <!-- if repeatable and not in fielset -->
      <select data-ng-options="dfn.tag as (dfn.tag + ': ' + dfn.label_sv) for dfn in fieldToAdd.tagDefs"
        size="1"
        data-ng-model="fieldToAdd.tag"
        data-key-enter="fieldToAdd.execute()"
        data-key-esc="fieldToAdd.abort()" />
      </select>
    </div>
  </div>

  <script type="text/ng-template" id="render-fieldset">
    <div class="pull-right"><button class="btn btn-link"
      data-ng-click="promptAddField($event, fieldset)"
      >Lägg till</button></div>
    <div data-ng-repeat="field in fieldset"
          data-ng-init="row = field.getRow(); dfn = field.getTagDfn()"
          data-fadable="800">
      <div class="subfield-container" data-ng-switch="field.getWidgetType()">
        <div class="close tag" title="{{ dfn.label_sv }} ({{ dfn.tag }})">
            {{ dfn.label_sv }}<!--({{ dfn.tag }})--> 
            <!--<button data-ng-show="!dfn || dfn.repeatable"
                data-ng-click="removeField($index)">&times;</button> -->
        </div>
          <div data-ng-switch-when="fixedfield"
              data-ng-init="controlField = row"
              data-ng-include="'render-control-field'"></div>
          <div data-ng-switch-when="field"
              data-ng-include="'render-field'"></div>
          <input data-ng-switch-default
              data-ng-model="field[dfn.tag]" class="frbr-input"/>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="render-field">



    <ul data-ng-repeat="subfield in row.subfields">
      <li data-ng-init="subCode = getKey(subfield); subDfn = dfn.subfield[subCode]"
          class="add-on subfield-code input-append"
          data-fadable="200">
        <!--No Close button for now… <button class="close" data-ng-click="removeSubField(row, $index)">&times;</button>-->
        <ng:switch on="subDfn.type">
          <input data-ng-switch-when="autocomplete" type="text" class="input-xxlarge frbr-input"
                data-kitin-autocomplete="field"
                data-kitin-template="auth-completion-template"
                data-kitin-config="subDfn"
                placeholder="+{{ subDfn.label_sv }}"
                data-ng-model="subfield[subCode]" />
          <textarea data-ng-switch-when="heading" type="text"
                class="input-xxlarge heading" rows="1"
                placeholder="+{{ subDfn.label_sv }}"
                data-ng-model="subfield[subCode]"></textarea>
          <input data-ng-switch-default type="text" class="input-xxlarge"
                placeholder="+{{ subDfn.label_sv }}"
                data-kitin-codekey="promptAddSubField($elem, field, $index)"
                data-ng-model="subfield[subCode]" />
        </ng:switch>

    <div data-ng-repeat="ind in dfn.indicators" class="indicator">
      <ng:switch on="ind.type">
        <span data-ng-switch-when="hidden"></span>
        <span data-ng-switch-when="select">
          <label data-ng-show="false">{{ ind.key }}</label>
          <select
            data-ng-options="key as (key + ') ' + val.label_sv) for (key, val) in ind.enum"
            data-ng-model="row[ind.key]">
          </select>
        </span>
        <span data-ng-switch-when="boolean">
          <label>
            <input type="checkbox" data-ng-model="row[ind.key]"/>
            {{ ind.enum['1'].label_sv }}</label>
        </span>
        <span data-ng-switch-when="number">
          <label>{{ ind.enum['0'].label_sv }}:
            <input type="number" class="input-mini" data-ng-model="row[ind.key]"/>
          </label>
        </span>
        <span data-ng-switch-default>
          <input data-ng-model="row[ind.key]" class="frbr-input" />
        </span>
      </ng:switch>
    </div>

        <br class="breaker" />
        <span class="add-on subfield-code"
          data-ng-class="{'empty': !(subfield[subCode])}"
          title="{{ subDfn.label_sv }}"
          data-ng-click="promptAddSubField($event, dfn, row, subCode, $index)">
          <span class="subfield-label" data-ng-bind="subDfn.label_sv">
          </span>{{ subDfn.mandatory && '*' || '' }}
         <span class="tag-code"> ({{ dfn.tag }} {{ subCode }})
        <button data-ng-show="!subDfn || subDfn.repeatable"
          data-ng-click="addSubField(row, subCode, $index)"
          class="btn btn-link add-subfield"
          title="Add">lägg till</button>         
         </span>
        </span>
      </li>
    </ul>

  </script>

  <script type="text/html" id="auth-completion-template">
    <div class="auth">
      <h4><span class="name"><%= data['100'].a %></span>
        <% if (data['100'].d) { %>
          <span class="date"><%= data['100'].d %></span>
          <% } else { %>
          <em><%= "" %></em>
          <% } %>
        <% if (data.authorized) { %>
          <span class="label label-success pull-right"><i class="icon-ok icon-white"></i>Aukt.</span>
          <% } %>
      </h4>
      <h5><% if (data['100'].c) { %>(<%= data['100'].c %>)<% } %></h5>
        <% if (data['500']) { %>
          <p><em>Hänv. från<% data['500'].forEach(function (it) { %>
            <%= it.a %></em><br>
          <% }) %>
        <% } %>
        <% if (data.highlight) { %>
          <% if (!data.highlight['100.a'] && data.highlight['400.a']) { %>
              <p class="highlight"><em>Hänv. från <%= data.highlight['400.a'][0] %></em></p>

          <% } %>
        <% } %>
      <% if (data['678']) { %>
        <p><% data['678'].forEach(function (it) { %>
          <%= it.a %><br>
          <% }) %>
        <% if (data.records) { %>
          <a href="#"><%=  (data.records) %> titlar</a>
          <% } %>
        <% if (data['680']) { %><br>(<%= data['680'].i %>)<% } %>
        <% } %>
      <% if (data.top_titles) { %>
        <% for (href in data.top_titles) { %>
          t ex. <a href="<%= href %>" target="_blank"><%= data.top_titles[href] %></a>
          <% break } %>
        </p>
        <% } %>
    </div>
  </script>

{% endraw %}
