<form id="record" class="form-horizontal">
  <p id="flash_message"></p>
  <h1>BIBLIOGRAFISK POST</h1>
  <article class="well">

    <section id="prelude">
      <input type='button' id='btn2' value='Save draft' data-ng-click="save_draft()"/>
      <div class="row-fluid">
        <div class="field span2">
          {{ record.about['@type'].join(", ") }}
        </div>
        <div class="field span2">
          {{ record.about.instanceOf['@type'].join(", ") }}
        </div>
        <div class="field span3">
          <!-- TODO: value is object with both code and label? Post-process
            on change or don't use label in editable data (just link)?
            <select
            data-ng-options="key as val.label_sv for (key, val) in meta.encLevels"
            data-ng-model="record.encLevel.code"></select>
          -->
          <select>
            <option value="record.encLevel.code">{{ record.encLevel.label }}</option>
          </select>
        </div>
        <div class="field span3">
          <input class="input" type="text" data-ng-model="record.catForm.label" />
          <label>{{ "Katalogiseringsregler" }}</label>
        </div>
        <div class="field span1">
          <input class="input-mini" type="text" data-ng-model="record.creator.abbr" />
          <label>{{ "Bibliografi" }}</label>
        </div>
      </div>
    </section>

      <button type="button" class="btn btn-mini"
              data-toggle="collapse" data-target="#record-hidden">
        <!--<i class="icon-edit"></i>-->Fler detaljer</button>
      <section id="record-hidden" class="collapse out">
      <h2>POSTINFORMATION</h2>
      <div class="row-fluid">
        <div class="field span6">
              <table class="table table-condensed">
			    <tbody>
   				  <tr>
    			    <td>{{ "Status" }}</td>
    				<td>{{ record.status.label }}</td>
    			  </tr>
    			  <tr>
    			    <td>{{ "Bibid" }}</td>
    				<td>{{ record.controlNumber }}</td>
    			  </tr>
    			  <tr>
    			    <td>{{ "LIBRISIII-nummer" }}</td>
    				<td>{{ record.localSystemNumber }}</td>
    			  </tr>    			  
    			  <tr>
    			    <td>{{ "LC-nummer" }}</td>
    				<td>{{ record.lccn }}</td>
    			  </tr>
   				  <tr>
    			    <td>{{ "Datum för senaste ändring" }}</td>
    				<td>{{ record.dateAndTimeOfLatestTransaction }}</td>
    			  </tr>
   				  <tr>
    			    <td>{{ "Katalogiserande instans" }}</td>
    				<td>{{ record.creator['abbr'] }}</td>
    			  </tr>
    		    </tbody>
   			 </table>
        </div>
        <div class="field span6">

		</div>
      </div>
      
      </section>

    
	<hr/>
    <section id="work" data-ng-repeat="work in [record.about.instanceOf]">
      <h2>VERK</h2>
      <div class="row-fluid">
        <div class="field span8">
          <input class="title input-xxlarge" type="text" data-ng-model="work.title" />
          <label>{{ "Huvudtitel" }}</label>
          <input class="title input-xxlarge" type="text" data-ng-model="work.titleRemainder" />
          <label>{{ "Övrigt titelinformation" }}</label>
        </div>
        <div class="field span4">
          <input class="input-large" type="text" data-ng-model="work.statementOfResponsibility" />
          <label>{{ "Upphov" }}</label>
        </div>
      </div>
      <div class="row-fluid">
        <div class="field span6" data-ng-repeat="person in work.authorList">
      <div class="row-fluid">
          <div class="field span7">
            <i class="icon-user icon-author"></i><input class="input" type="text" data-ng-model="person.authoritativeName" />
            <label>{{ "Personnamn" }}</label>
          </div>
          <div class="field span2">
            <input class="input-mini" type="text" data-ng-model="person.birthYear" />
            <label>{{ "Född" }}</label>
          </div>
          <div class="field span2" data-ng-show="person.deathYear">
            <input class="input-mini" type="text" data-ng-model="person.deathYear" />
            <label> &mdash; {{ "Död" }}</label>
          </div>
       </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="field span12">
          <input class="input-mini" type="text" data-ng-model="work.language" />
          <label>{{ "Språk" }}</label>
        </div>
      </div>
      <h3>{{ "Ämnen" }}</h3>
      <div class="row-fluid" >
        <div class="field span12">
          <ul class="inline">
          <li data-ng-repeat="topic in work.subject"><a class="btn btn-small" href="{{ topic['@id'] }}"><i class="icon-user icon-tag"></i> {{ topic['@id'] }}</a></li>
          <!--
          <input class="input-xxlarge" type="text" data-ng-model="topic['@id']" />
          -->
          </ul>
          <ul class="inline">
          <li data-ng-repeat="topicalTerm in record.topicalTerm"><a class="btn btn-small" href="{{ topicalTerm }}"><i class="icon-user icon-tag"></i> {{ topicalTerm }}</a></li>
          </ul>          
        </div>
      </div>
    </section>
	<hr/>
    <section id="instance" data-ng-repeat="instance in [record.about]">
      <h2>INSTANS</h2>
      <h3>{{ "Utgivning" }}</h3>
      <div class="row-fluid">
        <div class="field span6">
          <input class="input" type="text" data-ng-model="instance.isbn" />
          <input class="input-mini" type="text" data-ng-model="instance.isbnNote" />
          <!-- TODO: when multiple isbn and isbn-note repeat in a nicer way-->
          <label>{{ "ISBN" }}</label>
        </div>
        <div class="field span6">
          <input class="input-xlarge" type="text" data-ng-model="instance.publisher.name" />
          <label>{{ "Utgivare/förlag" }}</label>
        </div>
      </div>
      <div class="row-fluid">
        <div class="field span3">
          <input class="input-small" type="text" data-ng-model="instance.pubDate['@value']" />
          <label>{{ "Utgivningsdatum" }}</label>
        </div>
        <div class="field span3">
          <input class="input-small" type="text" data-ng-model="instance.edition" />
          <label>{{ "Upplaga" }}</label>
        </div>  
        <div class="field span6">
          <input class="input" type="text" data-ng-model="instance.placeOfPublication.label" />
          <label>{{ "Utgivningsort" }}</label>
        </div>
      </div>
      <div class="row-fluid">
        <div class="field span6">
          <input class="input-xlarge" type="text" data-ng-model="instance.placeOfManufacture.label" />
          <label>{{ "Tryckland" }}</label>
        </div>
        <div class="field span6">
          <input class="input-xlarge" type="text" data-ng-model="record.about.instanceOf.country" />
          <label>{{ "Utgivningsland" }}</label><!--instance?-->
        </div>        
      </div>
      <h3>{{ "Fysisk beskrivning" }}</h3>
      <div class="row-fluid">
        <div class="field span3">
          <input class="input-small" type="text" data-ng-model="instance.extent" />
          <label>{{ "Omfång" }}</label>
        </div>
        <div class="field span3">
          <input class="input-small" type="text" data-ng-model="instance.dimensions" />
          <label>{{ "Mått" }}</label>
        </div>
        <div class="field span3">
          <input class="input-small" type="text" data-ng-model="instance.baseMaterial" />
          <label>{{ "Basmaterial" }}</label>
        </div>
        <div class="field span3">
          <input class="input-small" type="text" data-ng-model="instance.termsOfAvailability" />
          <label>{{ "Pris" }}</label>
        </div>
      </div>
      <h3>{{ "Anmärkning" }}</h3>
      <div class="row-fluid">
        <div class="field span12">
          <input class="input-xxlarge" type="text" data-ng-model="instance.comment" />
          <label>{{ "Anmärkning" }}</label>
        </div>
      </div>
      <div class="row-fluid">
        <div class="field span12">
          <input class="input-xxlarge" type="text" data-ng-model="instance.supplementaryContentNote" />
          <label>{{ "Anmärkning bibliografi etc." }}</label>
        </div>
      </div>      
      <div class="row-fluid">
        <div class="field span6">
          <textarea class="input-xxlarge" rows="5" data-ng-model="instance.listOfContents"></textarea> 
          <label>{{ "Formaterad innehållsförteckning" }}</label>
        </div>
                <div class="field span6">
          <textarea class="input-xxlarge" rows="5" data-ng-model="instance.summary"></textarea> 
          <label>{{ "Sammanfattning" }}</label>
        </div>
      </div>
    </section>
  </article>
</form>
