<div cg-busy="{promise:promises.search, message: 'Laddar sökresultat...'}"></div>

<div cg-busy="{promise:promises.bib.loading, message:'Laddar artikel...', minDuration: 800}"></div>
<div cg-busy="{promise:promises.bib.saving, message:'Sparar artikel...'}"></div>
<div cg-busy="{promise:promises.bib.building, message:'Skapar formulärvy...'}"></div>

<div cg-busy="{promise:promises.draft.loading, message:'Laddar utkast...', minDuration: 800}"></div>
<div cg-busy="{promise:promises.draft.saving, message:'Sparar utkast...'}"></div>

<div cg-busy="{promise:promises.jsonld, message:'Skapar JSON-LD-vy...', minDuration: 800}"></div>