<div data-cg-busy="{promise:promises.search, message: 'LABEL.gui.busy.SEARCHING'}"></div>

<div data-cg-busy="{promise:promises.bib.loading, message:'LABEL.gui.busy.LOADING_BIB', minDuration: 800}"></div>
<div data-cg-busy="{promise:promises.bib.saving, message:'LABEL.gui.busy.SAVING_BIB'}"></div>
<div data-cg-busy="{promise:promises.bib.building, message:'LABEL.gui.busy.BUILDING_BIB'}"></div>

<div data-cg-busy="{promise:promises.draft.loading, message:'LABEL.gui.busy.LOADING_DRAFT', minDuration: 800}"></div>
<div data-cg-busy="{promise:promises.draft.saving, message:'LABEL.gui.busy.SAVING_DRAFT'}"></div>

<div data-cg-busy="{promise:promises.jsonld.building, message:'LABEL.gui.busy.BUILDING_JSONLD', minDuration: 800}"></div>