

{% raw %}

<div class="content index">
  <header>
    <h1></h1>
  </header>
  <div class="cols">
    <div class="col6">
      <section class="dash green">
        <span class="circle"><i class="icon fa fa-inbox fa-inverse"></i></span>
        <h4>Inkorg (poster från kollegor)</h4>
        <ul>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
        </ul>
      </section>
    </div>
    <div class="col6">
      <section class="dash purple">
        <span class="circle"><i class="icon fa fa-bullhorn fa-inverse"></i></span>
        <h4>Ändringsmeddelanden (fd CXZ-listan)</h4>
        <ul>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
        </ul>
      </section>
    </div>
  </div>
  <div class="cols" data-ng-controller="IndexCtrl">
    <div class="col6">
      <section class="dash pink">
        <span class="circle"><i class="icon fa fa-file fa-inverse"></i></span>
        <h4>Mina sparade utkast</h4>
        <ul class="unstyled">
          <li data-ng-repeat="draft in drafts" class="draft">
            <form data-ng-submit="delete(draft.type, draft.id)" method="POST" class="form-inline delete-draft">
          	  <a href="/edit/{{ draft.type }}/{{ draft.id }}" title="{{draft.path}}">{{draft.type}}/{{ draft.id }}</a>
              <button type="submit" class="btn-link pull-right" title="Ta bort utkast"><i class="fa fa-times"></i></button>
              <input type="hidden" name="_method" value="DELETE" />
            </form>
          </li>
        </ul>
      </section>
    </div>
    <div class="col6">
      <section class="dash grey">
        <span class="circle"><i class="icon fa fa-comments fa-inverse"></i></span>
        <h4>Diskussionsforum (fd Marc21-listan)</h4>
        <ul>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
        </ul>
      </section>
    </div>
  </div>
</div>
{% endraw %}
