<div class="content index">
  <header></header>
  <kitin-alert id="MAIN_STATUS_MSG" level="'WARNING'">
    <!-- {{ MAIN_STATUS_MSG.MESSAGE }} -->
    <h3 translate>Välkommen till LIBRIS Katalogisering!</h3>
    <p>
      I denna version kan du:
    </p>
    <ul class="no-bullets">
      <li><i class="fa fa-fw fa-check"></i> Söka fram och få en överblick över bibliografiska poster</li>
      <!--<li><i class="fa fa-fw fa-check"></i> Få en överblick över de utgåvor som finns i LIBRIS</li>-->
      <!-- <li><i class="fa fa-fw fa-check"></i> Få detaljerad information om bibliografiska poster</li> -->
      <!-- <li><i class="fa fa-fw fa-check"></i> Se om bestånd redan är registrerat för ditt bibliotek (din sigel)</li> -->
      <li><i class="fa fa-fw fa-check"></i> Lägga till, ändra och ta bort bestånd för ditt bibliotek (din sigel)</li>
      <li><i class="fa fa-fw fa-check"></i> Granska hur de registrerade beståndsfälten ser ut i MARC21</li>
    </ul>
<!--     <p>
      Bibliografiska poster kan tills vidare bara läggas till eller uppdateras i Voyager.
    </p> -->
  </kitin-alert>
  
  <div class="cols" data-ng-controller="IndexCtrl">
    <div class="col12" ng-if="allowEdit">
      <section class="dash green drafts">
        <span class="circle"><i class="icon fa fa-file-text fa-inverse"></i></span>
        <h4 translate>LABEL.gui.index.headers.MY_SAVED_DRAFTS</h4>
        <ul class="container-fluid" data-ng-show="drafts.length > 0">
          <li data-ng-repeat="draft in drafts | orderBy:'modified':true" class="draft">
            <form data-ng-submit="delete(draft['@id'])" method="POST" class="form-inline">
          	  <div class="title"><a href="/edit/draft{{ draft['@id'] }}">{{utils.composeTitle(draft, 'draft') | chop:80 }}</a></div>
              <div class="creator">{{draft.creator | chop:40}}</div>
              <div class="publication"><span data-ng-repeat="publication in draft.publication | limitTo:1">{{publication.providerDate}}</span></div>
              <div class="modified">{{draft.modified | timeAgo }}</div>
              <div class="delete"><button type="submit" class="btn-link pull-right" title="Ta bort utkast"><i class="fa fa-trash-o"></i></button></div>
              <input type="hidden" name="_method" value="DELETE" />
            </form>
          </li>
        </ul>
        <div translate data-ng-show="!drafts || drafts.length < 1">LABEL.gui.index.messages.NO_SAVED_DRAFTS</div>
      </section>
    </div>
  </div>

  <div class="cols">
    <div class="col6">
      <section class="dash pink">
        <span class="circle"><i class="icon fa fa-info fa-inverse"></i></span>
        <h4 translate>Om katalogiseringsverktyget</h4>
        <p>I steg 1 av lanseringen av det nya katalogiseringsverktyget släpper vi på rättigheter till Beståndsregistreringen efter anmält intresse. Kontakta LIBRIS kundservice för att få rättigheter till beståndsregistreringen.</p>
        <p><a href="mailto:libris@kb.se?subject=Rättigheter%20för%20beståndsregistreringen"><i class="icon fa fa-fw fa-envelope"></i> libris@kb.se</a></p>
        <p><a href="https://docs.google.com/presentation/d/1cWZ_sA8Ik3BYSd3imJCVvHOpDOObw_1fs1e2KFR2AZU/pub?start=false&loop=false&delayms=30000" target="_blank"><i class="icon fa fa-fw fa-file-text"></i> Manual till Beståndsregistreringen</a></p>
      </section>
    </div>
    <div class="col6">
      <section class="dash green-dark">
        <span class="circle"><i class="icon fa fa-leaf fa-inverse"></i></span>
        <h4 translate>Om LIBRIS XL</h4>
        <ul class="no-bullets">
          <li>
            <a href="http://librisbloggen.kb.se" target="_blank" title="Extern länk till Librisbloggen"><i class="fa fa-fw fa-rss-square"></i> Senaste nytt från Librisbloggen</a>
          </li>
          <li>
            <a href="http://github.com/libris/kitin/" target="_blank" title="Extern länk till Katalogiseringsverktygets sida på GitHub"><i class="fa fa-fw fa-github"></i> Katalogiseringsverktyget på GitHub</a>
          </li>
          <li>
            <a href="https://kundo.se/org/libris-katalogisering/" target="_blank" title="Extern länk till Katalogiseringsverktygets supportforum"><i class="fa fa-fw fa-comments"></i> Kund- och supportforum</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
