

{% raw %}

<div class="content index">
  <header></header>
  <div class="cols">
    <div class="col6">
      <section class="dash green">
        <span class="circle"><i class="icon fa fa-inbox fa-inverse"></i></span>
        <h4 translate>LABEL.gui.index.headers.ABOUT_THE_PROJECT</h4>
        <ul>
          <li><a href="https://docs.google.com/document/d/1zddAtmDIWdnj6Kk1gUtZgFwleDuigmWR5pxQ8rL7lWU/pub?embedded=true" target="_blank">Introduktion till projektet</a></li>
          <li><a href="https://docs.google.com/spreadsheet/pub?key=0AvvnsO7eMP6AdDNMakxnYVppblVvNWtyUzFfc1hpQmc&output=html" target="_blank">Behov/funktioner</a></li>
          <li><a href="https://docs.google.com/presentation/d/11vrN-b0PS2PPUXPEb7qaYj1pFzEFuISZ0ysq0dO5icU/pub?start=false&loop=false&delayms=3000" target="_blank">Designförslag</a></li>
          <li><a href="https://docs.google.com/document/d/16_f02OEF2wxlzob3fLvcM4wc_rmbGIsIuHNTdzoMFow/pub?embedded=true" target="_blank">Format och mappningar</a></li>
        </ul>
        <h4>Senaste nytt från <a href="http://librisbloggen.kb.se" target="_blank">Librisbloggen</a></h4>
        <h4><a href="http://feedback.kat.libris.kb.se/" target="_blank" title="Feedback forum">Tyck till forum</a></h4>
      </section>
    </div>
    <div class="col6">
      <section class="dash purple">
        <span class="circle"><i class="icon fa fa-bullhorn fa-inverse"></i></span>
        <h4 translate>LABEL.gui.index.headers.CHANGE_MESSAGES</h4>
        <ul>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
        </ul>
      </section>
    </div>
  </div>
  <div class="cols" data-ng-controller="IndexCtrl">
    <div class="col12">
      <section class="dash pink drafts">
        <span class="circle"><i class="icon fa fa-file-text fa-inverse"></i></span>
        <h4 translate>LABEL.gui.index.headers.MY_SAVED_DRAFTS</h4>
        <ul class="container-fluid" data-ng-show="drafts.length > 0">
          <li data-ng-repeat="draft in drafts" class="draft">
            <form data-ng-submit="delete(draft['@id'])" method="POST" class="form-inline">
          	  <div class="title"><a href="/edit/draft{{ draft['@id'] }}" title="{{draft.path}}">{{draft.instanceTitle.subtitle ? draft.instanceTitle.titleValue + ' - ' + draft.instanceTitle.subtitle : draft.instanceTitle.titleValue | chop:80 }}</a></div>
              <div class="creator">{{draft.creator}}</div>
              <div class="publication"><span data-ng-repeat="publication in draft.publication | limitTo:1">{{publication.providerDate}}</span></div>
              <div class="modified">{{draft.modified | timeAgo }}</div>
              <div class="delete"><button type="submit" class="btn-link pull-right" title="Ta bort utkast"><i class="fa fa-trash-o"></i></button></div>
              <input type="hidden" name="_method" value="DELETE" />
            </form>
          </li>
        </ul>
        <div translate data-ng-show="drafts.length < 1">LABEL.gui.index.messages.NO_SAVED_DRAFTS</div>
      </section>
    </div>
  </div>
</div>
{% endraw %}
