{% raw %}
  <div ng-controller="JSONLDCtrl">
    <header class="clearfix">
      <h1>JSON-LD</h1>
      <p>
        Den underliggande datastrukturen representerad som ett träd av entiteter, på formatet <a href="http://json-ld.org/" target="_blank">JSON-LD <i class="fa fa-external-link"></i></a>. Här visas all data som är lyft ur MARC-posten (samt de delar som ännu inte mappats klart, placerade i block prefixade med '_marc').
      </p>
      <p>
        Denna struktur är under utveckling. Kom gärna med synpunkter om något saknas eller ser feltolkat ut.
      </p>
    </header>

    <section data-ng-repeat="object in [record]" class="json-ld"
        data-ng-include="'render-object'"></section>
  </div>

<script type="text/ng-template" id="render-object">
  <div class="header" data-ng-if="object[TYPE] || object[ID]">
    <span class="type" data-ng-if="object[TYPE]"
          data-ng-repeat="typekey in ensureArray(object[TYPE])"
          data-ng-click="openTermDef(typekey)">{{ typekey }} </span>
    <span data-ng-if="object[ID]">
      <a href="{{ toJsonLdLink(object[ID]) }}">&lt;{{ object[ID] }}&gt; </a>
    </span>
  </div>
  <div data-ng-repeat="key in jsonLdKeys(object)"
       data-ng-init="obj = object[key]" data-ng-if="key[0] != '@'">
    <ng:switch on="typeOf(obj)">
      <div data-ng-switch-when="object"
           data-ng-init="collapsed = (key == '_marcUncompleted')"
           data-ng-class="{collapsed: collapsed, array: lodash.isArray(obj)}">
        <div class="label" class="entitylink">
          <span data-ng-click="openTermDef(key)">{{ key }}</span>
          <i data-ng-click="collapsed=!collapsed"> </i>
        </div>
        <section data-ng-init="object = obj;
              linked = obj[ID] &amp;&amp; obj[ID].indexOf('_:') != 0 &amp;&amp; key != 'about'"
            data-ng-include="'render-object'"
            data-ng-class="{linked: linked}" class="entity"></section>
      </div>
      <span data-ng-switch-when="string">
        <code data-ng-click="openTermDef(key)">{{ key }}</code>
        <input data-ng-if="!linked" data-ng-model="obj" type="text" />
        <span data-ng-if="linked">{{ obj }}</span>
      </span>
    </ng:switch>
  </div>
</script>

{% endraw %}
