{% include "partials/_search_bar.html" %}

{% raw %}
<div class="content bib"><form name="form" id="record" class="form-horizontal">
  <header>
    <h1>JSON-LD</h1>
    <p>
      Den underliggande datastrukturen representerad som en träd av entiteter, på formatet <a href="http://json-ld.org/" target="_blank">JSON-LD <i class="ficon ficon-external-link"></i></a>. Här visas all data som är lyft ur MARC-posten, samt de delar som ännu inte mappats (då placerade i fältet "unknown"). 
    </p>
    <p>
      Denna struktur är under utveckling. Kom gärna med synpunkter om något saknas eller ser feltolkat ut.
    </p>
    <div class="modes">
      <a href="/edit{{ record['@id'] }}">LIBRIS</a>
      <a href="#" class="active">JSON-LD</a>
      <a href="#" class="beta-blocker">MARC</a>
    </div>
  </header>

  <section data-ng-repeat="object in [record]"
      data-ng-include="'render-object'"></section>

</form></div>

<script type="text/ng-template" id="render-object">
  <div data-ng-repeat="(key, obj) in object">
    <ng:switch on="typeOf(obj)">
      <div data-ng-switch-when="object">
        <code>{{ key }}</code>
        <section data-ng-repeat="object in [obj]"
            data-ng-include="'render-object'" class="entity"></section>
      </div>
      <span data-ng-switch-when="string">
        <code>{{ key }}</code>
        <ng:switch on="key">
          <span data-ng-switch-when="@id">
            <a href="#{{ obj }}">&lt;{{ obj }}&gt;</a>
          </span>
          <span data-ng-switch-when="@type">
            <span class="label label-info">{{ obj }}</span>
          </span>
          <span data-ng-switch-default>
            <input data-ng-model="obj" type="text" class="input-xxlarge" />
          </span>
        </ng:switch>
      </span>
    </ng:switch>
  </div>
</script>

{% endraw %}
