{% extends "base.html" %}

{% block bodyclass %}login{% endblock bodyclass %}

{% block content %}
{% include "partials/_search_bar.html" %}
<div class="content index">
  <header>
    <form class="login" method="post" action="/login">
      <h4>Logga in</h4>
      <label class="inp">
        <input name="username" type="text" autofocus>
        <span class="lbl">Användarnamn</span>
      </label>
      <label class="inp">
        <input name="password" type="password" autocomplete="off">
        <span class="lbl">Lösenord</span>
      </label>
      <div class="submit">
        <button type="submit" class="btn btn-submit btn-dark">Logga in</button>
      </div>
      <div class="checks">
        <!--<label class="check"><input type="checkbox"> <span class="lbl">Visa lösenord <br>(minskar risken för att skriva fel)</span></label>-->
        <label class="check"><input name="remember" type="checkbox" checked="checked" value="{{ remember }}"> <span class="lbl">Håll mig inloggad</span></label>
      </div>
    </form>
  </header>
  <div class="cols">
    <div class="col8">
      <section class="dash green">
        <span class="circle"><i class="ficon ficon ficon-rss"></i></span>
        <h4>Senaste nytt från <a href="http://librisbloggen.kb.se" target="_blank">Librisbloggen</a></h4>
        <p>Lorem Ipsum</p>

      </section>
    </div>

    <div class="col4">
      <section class="dash purple">
        <span class="circle"><i class="ficon ficon ficon-twitter"></i></span>
        <h4>Senaste tweets från <a href="http://www.twitter.com/librisnytt" target="_blank">@LibrisNytt</a></h4>
        <p>Lorem Ipsum</p>
      </section>
    </div>
  </div>
</div>
{% endblock content %}
