{% extends "base.html" %}

{% block bodyclass %}login{% endblock bodyclass %}

{% block content %}

<div class="content index">
  <header>
    <div id="oauth-login-buttons">
      {% if msg %}
        <div class=" control-group alert alert-error">
        {{ msg }}
        </div>
      {% endif %}

      <a href="login/authorize" target="_self" class="btn btn-bibdb">Logga in med Biblioteksdatabasen</a>
    </div>
  </header>
  <div class="cols">
    <div class="col8">
      <section class="dash green">
        <span class="circle"><i class="icon fa fa-rss"></i></span>
        <p>För att använda Libris katalogisering krävs inloggning. Har man ett konto för att beståndsregistrera i nuvarande tjänst Libris beståndsregistrering, kan man använda dessa uppgifter för att logga in. Det går dessutom att testa betaversionen av katalogiseringen med användarnamn: <em>test</em> och lösenord: <em>test</em>.</p>
      </section>
    </div>
    <div class="col4">
      <section class="dash purple">
        <span class="circle"><i class="icon fa fa-twitter"></i></span>
        <h4>Senaste tweets från <a href="http://www.twitter.com/librisnytt" target="_blank">@LibrisNytt</a></h4>
        <p>Lorem Ipsum</p>
      </section>
    </div>
  </div>
</div>

{% endblock content %}
