<div class="content bib marc">
  <form name="form" class="form-horizontal" data-ng-controller="EditCtrl">
    <header class="clearfix">
      <h1>MARC</h1>
      <div data-ng-include="'/partials/_mode_menu'" onload="mode = 'MARC'"></div>
    </header>
    <section class="marc">
      <table>
        <tr>
          <td data-ng-if="record.leader">
            <code>000</code>
            <span>{{record.leader}}</span>
          </td>
        </tr>
        <tr data-ng-repeat="object in record.fields">
          <td data-ng-include="'render-object'"></td>
        </tr>
      </table>
    </section>
  </form>
</div>

<script type="text/ng-template" id="render-object">
  <span data-ng-repeat="(key, value) in object" data-ng-init="obj = object[key]">
    <ng:switch on="typeOf(obj)">
      <span data-ng-switch-when="object">
        <code data-ng-if="key.length === 3">{{ key }}</code>
        <span data-ng-init="object = obj" data-ng-include="'render-object'"></span>
      </span>
      <span data-ng-switch-when="string">
          <code>{{ key }}</code>
          <span>{{ obj }}</span>
      </span>
    </ng:switch>
  </span>
</script>
