{% raw %}
<script type='text/ng-template' id="modal-holdings"> 
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Bestånd</h4>
  </div>
  <div class="modal-body" data-ng-controller="EditCtrl"> 
    <form>
      <section class="holdings">
        <div class="cols">
          <div class="col6">
            <label>
              <input data-inplace type="text" placeholder="Avdelning/Samling" data-ng-model="holding.shelvingLocation"/>
              <span class="lbl">{{ "Avdelning/Samling" }}</span>
            </label>
            <label>
              <input data-inplace type="text" placeholder="Hyllsignum/Klassifikation" data-ng-model="holding.classificationPart"/>
              <span class="lbl">{{ "Hyllsignum/Klassifikation" }}</span>
            </label>
            <div class="suggestion-classification">
              <ul>
                <li data-ng-repeat="holding in holdings" data-ng-show="holding.classificationPart"><i class="fa fa-circle-arrow-up"></i> {{ holding.classificationPart }}</li>
              </ul>
              <span class="lbl lbl-suggest">Förslag på signum</span>
            </div>
          </div>
          <div class="col6">
            <label>
              <input data-inplace type="text" placeholder="Löpnummer" data-ng-model="holding.shelvingControlNumber"/>
              <span class="lbl">{{ "Löpnummer" }}</span>
            </label>
            <label>
              <input data-inplace type="text" placeholder="Uppställningsord" data-ng-model="holding.shelvingFormOrTitle"/>
              <span class="lbl">{{ "Uppställningsord" }}</span>
            </label>
            <label>
              <input data-inplace type="text" placeholder="Exemplarinfo" data-ng-model="holding.itemPart"/>
              <span class="lbl">{{ "Exemplarinfo" }}</span>
            </label>
            <label>
              <input data-inplace type="text" placeholder="Exemplarnummer" data-ng-model="holding.copyNumber"/>
              <span class="lbl">{{ "Exemplarnummer" }}</span>
            </label>
            <label>
              <textarea data-inplace data-ui-jq="autosize" spellcheck="false" placeholder="Publik anmärkning" data-ng-model="holding.shelvingPublicNote"></textarea>
              <span class="lbl">{{ "Publik anmärkning" }}</span>
            </label>
            <label>
              <textarea data-inplace data-ui-jq="autosize" spellcheck="false" placeholder="Intern anmärkning" data-ng-model="holding.shelvingNonpublicNote"></textarea>
              <span class="lbl">{{ "Intern anmärkning" }}</span>
            </label>
          </div>
        </div>
      </section>
        
      <section class="modal-footer submit">
        <button class="btn btn-purple  btn-submit" id="save-hld" data-ng-click="saveHolding(holding)">Spara bestånd</button> 
        <button data-ng-show="holding['@id']"class="btn-link" id="delete-hld" data-ng-click="deleteHolding(holding['@id'])">Ta bort</button>
        <!--<button disabled class="btn btn-purple" data-ng-click="addHolding(holdings)">Lägg till <i class="fa fa-inverse fa-chevron-down"></i></button>-->
      </section>

      <!--
      <section class="holdings holdings-list">
        <h2>Allt Bestånd<i></i></h2>
        <div class="cols">
          <div class="col12">
            <div data-ng-repeat="holding in holdings" data-ng-include="'render-holding'"></div>
         </div>
        </div>
      </section>
      -->

    </form>
  </div>
</script>


<script type="text/ng-template" id="render-holding">
  <div class="holdings-list" data-ng-show="holding.location"> 
    <ul>
      <li data-ng-show="holding.location"><a href="#" class="sigel beta-blocker">{{ holding.location }}<span class="pull-right"><!--<i class="fa fa-chevron-down"></i></span>--></a></li>
    </ul>
  </div>
</script>

{% endraw %}