<div class="modal-header marc">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">MARC förhandsgranskning</h4>
</div>

<div class="modal-body marc">
    <section class="marc">
      <table>
        <tr>
          <td data-ng-if="record.leader">
            <code>000</code>
            <span>{{record.leader}}</span>
          </td>
        </tr>
        <tr data-ng-repeat="object in record.fields">
          <td>
            <span data-ng-repeat="(key, value) in object" data-ng-init="obj = object[key]">
              <ng:switch on="typeOf(obj)">
                <span data-ng-switch-when="object">
                  <code data-ng-if="key.length === 3">{{ key }}</code>
                  <span data-ng-init="object = obj" data-ng-include="'/snippets/render-object'"></span>
                </span>
                <span data-ng-switch-when="string">
                    <code>{{ key }}</code>
                    <span>{{ obj }}</span>
                </span>
              </ng:switch>
            </span>
          </td>
        </tr>
      </table>
    </section>
</div>

<div class="modal-footer holdings submit"></div>