<div class="modal-header marc">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">MARC förhandsgranskning</h4>
</div>

<div class="modal-body marc">
    <div cg-busy="{promise:promises.marc, message:'Laddar marcformat...', minDuration: 800}"></div>
    <section class="marc">
      <table>
        <tr>
          <td data-ng-if="record.leader">
            <code>000</code>
          </td>
          <td></td>
          <td></td>
          <td colspan="3">
            <span>{{record.leader}}</span>
          </td>
        </tr>
        <tr data-ng-repeat="field in record.fields" ng-init="pair = lodash.pairs(field)[0]; key = pair[0]; value = pair[1]">
          <td>
            <code>{{key}}</code>
          </td>
          <td class="ind">
            {{value.ind1}}
          </td>
          <td class="ind">
            {{value.ind2}}
          </td>
          <td>
            <span ng-if="typeOf(value) === 'string'">{{value}}</span>
            <span data-ng-init="object = value.subfields" data-ng-include="'/snippets/render-marc-object'"></span>
          </td>
        </tr>
      </table>
    </section>
</div>

<!--
            <span data-ng-repeat="(key, value) in field" data-ng-init="obj = field[key]">
              <ng:switch on="typeOf(obj)">
                <span data-ng-switch-when="object">
                  <code data-ng-if="key.length === 3">{{ key }}</code>
                  <span data-ng-init="object = obj" data-ng-include="'/snippets/render-marc-object'"></span>
                </span>
                <span data-ng-switch-when="string">
                    <code>{{ key }}</code>
                    <span>{{ obj }}</span>
                </span>
              </ng:switch>
            </span>
-->
<div class="modal-footer holdings submit"></div>