{% raw %}
        <!-- minified hitlist -->
        <section class="minified-hitlist">
			<table class="table" data-ng-switch="recType">
				<thead></thead>
				<!--AUTH RESULT-->
				<tbody data-ng-switch-when="auth">
					<tr data-ng-repeat="record in state.search.result.list">
					<!-- <td class="number">{{ $index+1 }}.</td> -->
					<td class="title"><a class="bib-url" href="/edit{{record.identifier || record.data['@id']}}" ng-click="editPost(recType, record)" >{{ record.data.about.controlledLabel | chop }}</a></td>
					<td class="creator">{{ record.data.about.name | chop }}</td>
					<td class="about"><span title="about">{{ record.data.about['@type'] }}</td>
					</tr>
				</tbody>
				
				<!--BIB RESULT-->
				<tbody data-ng-switch-default>
					<tr data-ng-repeat="record in state.search.result.list">
					<!-- <td class="number">{{ $index+1 }}.</td> -->
					<td class="title"><a class="bib-url" href="/edit{{record.identifier || record.data['@id']}}" ng-click="editPost(recType, record)" >{{record.data.about.instanceTitle.titleValue | chop }}</td>
					<td class="creator">{{ record.data.about.responsibilityStatement | chop }}</td>
					<td class="date"><span title="Utgivningsår" data-ng-repeat="publication in record.data.about.publication | limitTo:1" data-ng-show="publication.providerDate">{{publication.providerDate}}</td>
					</tr>
				</tbody>
			</table>
        </section>

{% endraw %}