{% raw %}

<!-- detailed hitlist -->
<section data-ng-repeat="record in state.search.result.list" data-ng-class="{'result-pre': record.data.encLevel == 8}" class="result record">
  <span class="page-indicator" data-ng-if="($index > 0 && ($index + 1) % 10 == 0) || ($index+1) == hitCount">{{ $index + 1 }} träffar av {{ state.search.hitCount }}</span>
  
  <!-- ng recType switch -->
  <a class="bib-url" href="/edit{{record.identifier || record.data['@id']}}" data-ng-click="editPost(recType, record)" data-ng-switch="recType">

    <!-- auth result list -->
    <div data-ng-switch-when="auth" class="auth">
      <div class="col5">
        <div class="label title">
          <span class="title-key">
            {{ record.data.about.controlledLabel }}
            {{ record.data.about.prefLabel }}
            {{ record.data.about.name }}
            {{ record.data.about.uniformTitle }}
            {{ record.data.about.label }}
          </span>
        </div>
        <div class="label" data-ng-repeat="note in record.data.about.note">
          {{ note }}
        </div>
        <div class="label" data-ng-repeat="scopeNote in record.data.about.scopeNote">
          {{ scopeNote }}
        </div>
        <div class="f bottom">
          {{ record.data.about['@type'] }}
        </div>
      </div>
    </div>
    <!-- // auth result list -->

    <!-- remote result list -->
    <div data-ng-switch-when="remote" class="nest-cols remote">
      <div class="col5">
        <div class="label title" title="{{ record.data.about.instanceTitle.titleValue }} {{ record.data.about.instanceTitle.subtitle }}">
          <span class="title-key">{{ record.data.about.instanceTitle.titleValue | chop }}</span>
          <span class="title-subtitle">{{ record.data.about.instanceTitle.subtitle | chop }}
          <span class="title-variation">{{ record.data.about.titleVariation.titleValue | chop }}</span>
          <span class="title-key-real" data-ng-repeat="keyTitle in record.data.about.keyTitle">{{ keyTitle.titleValue | chop }}</span>
          <span class="title-creator"> {{ record.data.about.responsibilityStatement | chop }}</span></span>
        </div>

        <div class="label contributors" title="contributors">
          <ul title="" data-ng-repeat="attributedTo in record.data.about.instanceOf.attributedTo"
            data-ng-show="attributedTo.controlledLabel"><li class="primary-attribution">{{ attributedTo.controlledLabel }}</li>
          </ul> 
          <ul title="" data-ng-repeat="influencedBy in record.data.about.instanceOf.influencedBy | limitTo:3"
            data-ng-show="influencedBy.controlledLabel"><li>{{ influencedBy.controlledLabel }}</li>
          </ul> 
        </div>

        <div class="f bottom">
          <span>  
            <span data-ng-show="record.data.about['@type'] == 'Book'"><i class="fa fa-square fa-fw"></i></span>
            <span data-ng-show="record.data.about['@type'] == 'MusicCD'"><i class="fa fa-square fa-fw"></i></span>
            <span data-ng-show="record.data.about['@type'] == 'EBook'"><i class="fa fa-square fa-fw"></i></span>
            <span data-ng-show="record.data.about['@type'] == 'Serial'"><i class="fa fa-square fa-fw"></i></span>
            <span title="provider-date" data-ng-repeat="publication in record.data.about.publication | limitTo:1"
              data-ng-show="publication.providerDate">{{publication.providerDate}}</span>
            <span title="provider" data-ng-repeat="publication in record.data.about.publication | limitTo:1"> {{publication.place.label}} {{publication.providerName}}</span>
            <span data-ng-show="record.data.about.extent">{{ record.data.about.extent }}</span>
          </span>
          <span class="ng-binding ng-hide" data-ng-show="enums.bibLevel[record.data.bibLevel]"></span>
          <span class="ng-binding ng-hide" data-ng-show="enums.encLevel[record.data.encLevel]"></span>
        </div>
      </div>

      <div class="col2">
        <div class="label identifier-code" title="{{ identifier.identifierScheme }}" data-ng-repeat="identifier in record.data.about.identifier">{{ identifier.identifierValue }}
        </div>
      </div>

      <div class="widget">
        <div class="enc-level">
          <!-- <div data-ng-include="'/partials/enc_level'" ng-init="encLevel = record.data.encLevel"></div> -->
          <span data-ng-if="record.database != null" class="database">
            <i class="fa fa-institution"></i> Källa: {{record.database}} 
          </span>
        </div>
        <div class="comments">
          <span data-ng-repeat="comment in record.data.comment">{{comment}}</span>
        </div>
        <button data-ng-click="log([record, encLevel, recType])" class="btn btn-green btn-copy-remote"><i class="fa fa-inverse fa-plus"></i> Kopiera</button>
      </div>
    </div>
    <!-- // remote result list -->

    <!-- bib result list -->
    <div data-ng-switch-default class="nest-cols bib">
      <div class="col5">
        <div class="label title" title="{{ record.data.about.instanceTitle.titleValue }} {{ record.data.about.instanceTitle.subtitle }}">
          <span class="title-key">{{ record.data.about.instanceTitle.titleValue | chop }}</span>
          <span class="title-subtitle">{{ record.data.about.instanceTitle.subtitle | chop }}
          <span class="title-variation">{{ record.data.about.titleVariation.titleValue | chop }}</span>
          <span class="title-key-real" data-ng-repeat="keyTitle in record.data.about.keyTitle">{{ keyTitle.titleValue | chop }}</span>
          <span class="title-creator"> {{ record.data.about.responsibilityStatement | chop }}</span></span>
        </div>

        <div class="label contributors" title="contributors">
          <ul title="" data-ng-repeat="attributedTo in record.data.about.instanceOf.attributedTo"
            data-ng-show="attributedTo.controlledLabel"><li class="primary-attribution">{{ attributedTo.controlledLabel }}</li>
          </ul> 
          <ul title="" data-ng-repeat="influencedBy in record.data.about.instanceOf.influencedBy | limitTo:3"
            data-ng-show="influencedBy.controlledLabel"><li>{{ influencedBy.controlledLabel }}</li>
          </ul> 
        </div>

        <div class="f bottom">
          <span>  
            <span data-ng-show="record.data.about['@type'] == 'Book'"><i class="fa fa-square fa-fw"></i></span>
            <span data-ng-show="record.data.about['@type'] == 'MusicCD'"><i class="fa fa-square fa-fw"></i></span>
            <span data-ng-show="record.data.about['@type'] == 'EBook'"><i class="fa fa-square fa-fw"></i></span>
            <span data-ng-show="record.data.about['@type'] == 'Serial'"><i class="fa fa-square fa-fw"></i></span>
            <span title="provider-date" data-ng-repeat="publication in record.data.about.publication | limitTo:1"
              data-ng-show="publication.providerDate">{{publication.providerDate}}</span>
            <span title="provider" data-ng-repeat="publication in record.data.about.publication | limitTo:1"> {{publication.place.label}} {{publication.providerName}}</span>
            <span data-ng-show="record.data.about.extent">{{ record.data.about.extent }}</span>
          </span>
          <span class="ng-binding ng-hide" data-ng-show="enums.bibLevel[record.data.bibLevel]"></span>
          <span class="ng-binding ng-hide" data-ng-show="enums.encLevel[record.data.encLevel]"></span>
        </div>
      </div>

      <div class="col2">
        <div class="label identifier-code" title="{{ identifier.identifierScheme }}" data-ng-repeat="identifier in record.data.about.identifier">{{ identifier.identifierValue }}
        </div>
      </div>

      <div class="widget">
        <div class="enc-level">
          <div data-ng-include="'/partials/enc_level'" ng-init="encLevel = record.data.encLevel"></div>
          <span data-ng-if="record.holdings.hits != null">
            <i class="fa fa-thumb-tack"></i> {{record.holdings.hits}} bibliotek 
          </span>
        </div>
        <div class="comments">
          <span data-ng-repeat="comment in record.data.comment">{{comment}}</span>
        </div>
        <div class="holding">
          <button class="btn btn-purple btn-hld" data-ng-controller="ModalCtrl" data-ng-click="openHoldingsModal($event, record.identifier)">
            <span data-ng-if="record.holdings.hits == null || record.holdings.hits == 0"><i class="fa fa-inverse fa-plus"></i> Bestånd</span>
            <span data-ng-if="record.holdings.hits > 0"><i class="fa fa-inverse fa-check"></i> Bestånd</span>
          </button>
        </div>
      </div>

    </div>
    <!-- // bib result list -->


    <div class="footer">
      <span data-ng-show="record.data.about['@type']">{{ getLabel(record.data.about['@type']) }} <span data-ng-if="record.data.about.inScheme['@type'] == 'ConceptScheme'">({{ record.data.about.inScheme.notation }})</span></span>
      <span data-ng-show="enums.bibLevel[record.data.bibLevel]">{{ enums.bibLevel[record.data.bibLevel].label_sv }}</span>
      <span data-ng-show="enums.encLevel[record.data.encLevel]">{{ enums.encLevel[record.data.encLevel].label_sv }}</span>
    </div>


  </a>
  <!-- // ng recType switch -->

</section>

{% endraw %}