{% raw %}
<div data-ng-switch on="state.search.result.hits" data-ng-controller="SearchResultCtrl">
  <div class="content search" data-ng-switch-when="0">
    <div id="grid"></div>
    <header>
      <p class="summary">Din sökning på <strong data-ng-bind="state.search.q"></strong> resulterade i 0 träffar.</p>
    </header>
  </div>
  <div data-ng-show="!loading" class="content search" data-ng-switch-default>
    <div id="grid"></div>
    <header>
      <p class="summary">
        {{ state.search.hitCount | chunk }} träffar för
        <span data-ng-repeat="crumb in crumbs">
          <span data-ng-show="crumb.bridge">{{ crumb.bridge }}</span>
          <span data-ng-hide="crumb.urlpart"><strong>{{ getLabel(crumb.term,crumb.type) }}</strong></span>
          <a data-ng-show="crumb.urlpart" href="{{ crumb.urlpart }}">{{ getLabel(crumb.term, crumb.type) }}</a>
        </span>
      </p>
      <span data-ng-show="state.searchType.key != 'remote'" class="sort-option">

      	<span class="hitlist-viewswitch">
         	<i class="fa fa-th-list fa-border"></i>
      		<i class="fa fa-list fa-border"></i>
      	</span>

        <select ng-model="selectedSort" ng-options="item as item.text for item in sortables" ng-change="sortChanged(selectedSort)"></select>
      </span>
    </header>
    <div class="cols">
      <div class="col3">
        <section data-ng-class="{remote: facetGroups.length < 1}" class="nav">
          <dl data-ng-repeat="facet in facetGroups" data-ng-if="facet.items.length > 0">
            <dt><i></i>{{facetLabels[facet.type]}}</dt>
            <dd data-ng-repeat="item in facet.items">
              <a data-ng-class="{active: item.selected}"
                 data-ng-href="{{item.searchUrl}}">
                <span ng-if="languages">{{getLabel(item.key, facet.type)}} ({{item.count | chunk}})</span></a>
            </dd>
          </dl>
          <dl>
            <dt><i></i>Utgivningstid</dt>
            <dd>
              <div class="alert alert-block">
                Ej aktiverad
              </div>
            </dd>
          </dl>
        </section>
      </div>
      <div class="col9" infinite-scroll="onScroll()" infinite-scroll-distance="0" infinite-scroll-immediate-check="true" data-ng-switch-on="hitlist">
		  <!-- detailed hitlist -->
        <section data-ng-repeat="record in state.search.result.list" data-ng-class="{'result-pre': record.data.encLevel == 8}" class="result record" data-ng-switch-default>
          <span class="page-indicator" data-ng-if="($index > 0 && ($index + 1) % 10 == 0) || ($index+1) == hitCount">{{ $index + 1 }} träffar av {{ state.search.hitCount }}</span>
          
          <a class="bib-url" href="/edit{{record.identifier || record.data['@id']}}" ng-click="editPost(recType, record)" data-ng-switch="recType">

            <!--auth result list-->
            <div data-ng-switch-when="auth">
              <div class="col5">

                <label class="title">
                <span class="title-key">
                  {{ record.data.about.controlledLabel }}
                  {{ record.data.about.prefLabel }}
                  {{ record.data.about.name }}
                  {{ record.data.about.uniformTitle }}
                  {{ record.data.about.label }}
                </span>
                </label>
                <label data-ng-repeat="note in record.data.about.note">
                  {{ note }}
                </label>
                <label data-ng-repeat="scopeNote in record.data.about.scopeNote">
                  {{ scopeNote }}
                </label>
                <div class="f bottom">
                {{ record.data.about['@type'] }}
                </div>
              </div>

            </div>
  					<!-- bib and remote switch, needs refactor--> 
            <div data-ng-switch-default class="nest-cols">
              <div class="col5">
                <label class="title" title="{{ record.data.about.instanceTitle.titleValue }} {{ record.data.about.instanceTitle.subtitle }}">
                  <span class="title-key">{{ record.data.about.instanceTitle.titleValue | chop }}</span>
                  <span class="title-subtitle">{{ record.data.about.instanceTitle.subtitle | chop }}
                  <span class="title-variation">{{ record.data.about.titleVariation.titleValue | chop }}</span>
                  <span class="title-creator"> {{ record.data.about.responsibilityStatement | chop }}</span></span>
                </label>
  <!-- testing different layout, delete this if creator and subtitle should span in the same section.
                <label>
                  <span class="title-creator">{{ record.data.about.responsibilityStatement }}</span>
                </label>
  -->
                <label title="contributors" class="contributors">
                  <ul title="" data-ng-repeat="attributedTo in record.data.about.instanceOf.attributedTo"
                    data-ng-show="attributedTo.controlledLabel"><li class="primary-attribution">{{ attributedTo.controlledLabel }}</li>
                  </ul> 
                  <ul title="" data-ng-repeat="influencedBy in record.data.about.instanceOf.influencedBy | limitTo:3"
                    data-ng-show="influencedBy.controlledLabel"><li>{{ influencedBy.controlledLabel }}</li>
                  </ul> 
                </label>

              
  <!--               <label title="Upphovsman" data-ng-init="work = record.data.about.instanceOf; person = firstPerson(work)" data-ng-include="'render-person-name'"></label> -->
              </div>
              <div class="f bottom">
                <span>  
                  <span data-ng-show="record.data.about['@type'] == 'Book'"><i class="fa fa-square fa-fw"></i></span>
                  <span data-ng-show="record.data.about['@type'] == 'MusicCD'"><i class="fa fa-square fa-fw"></i></span>
                  <span data-ng-show="record.data.about['@type'] == 'EBook'"><i class="fa fa-square fa-fw"></i></span>
                  <span data-ng-show="record.data.about['@type'] == 'Serial'"><i class="fa fa-square fa-fw"></i></span>
                  <span title="Utgivningsår" data-ng-repeat="publication in record.data.about.publication | limitTo:1"
                    data-ng-show="publication.providerDate">{{publication.providerDate}}</span>
                  <span title="Utgivare" data-ng-repeat="publication in record.data.about.publication | limitTo:1"> {{publication.place.label}} {{publication.providerName}}</span>
                  <span data-ng-show="record.data.about.extent">{{ record.data.about.extent }}</span>
                </span>

                <span class="ng-binding ng-hide" data-ng-show="enums.bibLevel[record.data.bibLevel]"></span>
                <span class="ng-binding ng-hide" data-ng-show="enums.encLevel[record.data.encLevel]"></span>
              </div>

              <div class="col2">
                <label title="{{ identifier.identifierScheme }}" class="identifier-code" data-ng-repeat="identifier in record.data.about.identifier | limitTo:1">{{ identifier.identifierValue }}
                </label>
              </div>
            </div>
            <!--excerpt hidden until implemented
            <div class="excerpt">
              <label>
                a <strong class="highlight">lorem</strong> Extreme (ipsum dore...
                <span class="lbl">Utdrag ur: Innehållsförteckning</span>
              </label>
            </div>
            -->
              <div class="widget">
                <label class="enc-level">
                  <div data-ng-include="'/partials/enc_level'" ng-init="encLevel = record.data.encLevel"></div>
                  <p class="holding">
                    <span data-ng-if="record.data.encLevel == 8 ">
                      Beståndsinformation ej tillgänglig
                    </span>
                    <span data-ng-if="record.data.encLevel != 8 && record.holdings.hits != null">
                      <i class="fa fa-thumb-tack"></i> {{record.holdings.hits}} bibliotek 
                    </span>
                    <span data-ng-repeat="comment in record.data.comment">{{comment}}</span>
                  </p>
                </label>
              </div>
            </ng:switch>
            
  <!--
            <div class="footer">
              <span data-ng-show="record.data.about['@type']">{{ getLabel(record.data.about['@type']) }} <span data-ng-if="record.data.about.inScheme['@type'] == 'ConceptScheme'">({{ record.data.about.inScheme.notation }})</span></span>
              <span data-ng-show="enums.bibLevel[record.data.bibLevel]">{{ enums.bibLevel[record.data.bibLevel].label_sv }}</span>
              <span data-ng-show="enums.encLevel[record.data.encLevel]">{{ enums.encLevel[record.data.encLevel].label_sv }}</span>
            </div>
  -->
            </a>
        </section>
        
        <!-- minified hitlist -->
        <section class="minified-hitlist" data-ng-switch when="minified">
			<table class="table table-striped">
				<thead></thead>
				<tbody>
					<tr data-ng-repeat="record in state.search.result.list">
					<td class="number">{{ $index+1 }}.</td>
					<td class="title"><a class="bib-url" href="/edit{{record.identifier || record.data['@id']}}" ng-click="editPost(recType, record)" data-ng-switch="recType">{{ record.data.about.instanceTitle.titleValue | chop }}</a></td>
					<td class="creator">{{ record.data.about.responsibilityStatement | chop }}</td>
					<td class="date"><span title="Utgivningsår" data-ng-repeat="publication in record.data.about.publication | limitTo:1" data-ng-show="publication.providerDate">{{publication.providerDate}}</td>
					</tr>
				</tbody>
			</table>
        </section>
      </div>
      <div class="to-top-link" data-ng-class="{hidden: (state.search.page.start < state.search.page.n)}" data-ng-click="gotoTop()">
        <span>Till toppen</span><i class="fa fa-chevron-up"></i> 
      </div>
    </div>
  </div>
</div>
<div class="loading" data-ng-show="loading"><b>...</b></div>

{% endraw %}
