
<!-- detailed hitlist -->
<section data-ng-repeat="record in state.search.result.items" data-ng-class="{'result-pre': record.encLevel == 8}" class="result record">
  <span class="page-indicator" data-ng-if="($index > 0 && ($index + 1) % 10 == 0) || ($index+1) == hitCount">{{ $index + 1 }} träffar av {{ state.search.hitCount }}</span>
  
  <!-- ng recType switch -->
  <span data-ng-switch="recType">

    <!-- auth result list -->
    <div class="auth" data-ng-switch-when="auth">
      <div class="details">
        <a class="bib-url" href="/edit/libris{{record['@id']}}{{queryString}}" data-ng-click="editPost(recType, record)">
          <div class="col5">
            <div class="label title">
              <span class="title-key">
                {{ utils.composeTitle(record, recType) | chop:60 }}
              </span>
            </div>
            <div class="label" data-ng-repeat="note in record.about.note">
              {{ note }}
            </div>
            <div class="label" data-ng-repeat="scopeNote in record.about.scopeNote">
              {{ scopeNote }}
            </div>
            <div class="f bottom">
              <kitin-display-type model="record"></kitin-display-type>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- // auth result list -->

    <!-- remote result list -->
    <div class="nest-cols remote" data-ng-switch-when="remote">
      <div class="details">
        <kitin-bib-header record="record" rectype="recType"></kitin-bib-header>
      </div>
      <div class="widget">
        <div class="enc-level">
          <!-- <div data-ng-include="'/partials/enc_level'" ng-init="encLevel = record.encLevel"></div> -->
          <span data-ng-if="record.database != null" class="database">
            <i class="fa fa-institution"></i> Källa: {{record.database}}
          </span>
        </div>
        <div class="comments">
          <span data-ng-repeat="comment in record.comment">{{comment}}</span>
        </div>
        <div class="buttons">
          <!-- <button data-ng-click="log([record, encLevel, recType])" class="btn btn-green btn-copy-remote"><i class="fa fa-inverse fa-plus"></i> Kopiera</button> -->
          <button ng-if="allowEdit" data-ng-click="importRecord(record.data)" class="button-import btn btn-green btn-copy-remote"><i class="fa fa-inverse fa-plus"></i> Kopiera</button>
        </div>
      </div>
    </div>
    <!-- // remote result list -->

    <!-- bib result list -->
    <div class="nest-cols bib" data-ng-switch-default>
      <div class="details">
        <kitin-bib-header record="record" rectype="recType"></kitin-bib-header>
      </div>
      <div class="widget">
        <div class="enc-level">
          <div data-ng-include="'/partials/enc_level'" ng-init="encLevel = record.encLevel"></div>
          <span data-ng-if="record.holdings.items != null">
            <kitin-holdings-summary holdings="record.holdings"></kitin-holdings-summary>
          </span>
        </div>
        <div class="comments">
          <span data-ng-repeat="comment in record.comment">{{comment}}</span>
        </div>
        <div class="buttons">
          <a class="button-edit btn btn-green btn-xs" ng-if="allowEdit" href="/edit/libris{{record['@id']}}{{queryString}}">
            <span><i class="fa fa-inverse fa-edit"></i> Redigera</span>
          </a>
          <button class="button-holdings btn btn-hld btn-xs" ng-class="{ 'btn-purple': !record.holdings.holding, 'btn-white-purple': record.holdings.holding }" data-ng-controller="ModalCtrl" data-ng-click="openHoldingsModal($event, record)">
            <span><i ng-if="!record.holdings.holding" class="fa fa-inverse fa-plus"></i><i ng-if="record.holdings.holding" class="fa fa-check"></i> Bestånd</span>
          </button>
        </div>
      </div>

    </div>

    <!-- // bib result list -->

  </span>
  <!-- // ng recType switch -->

</section>
