<meta charset="utf-8">
<section>
  <article data-ng-repeat="record in result.list" class="record {{record.identifier}}">
    <div class="row-fluid nopad-record-head">
      <div class="span4 nopad-record-head muted">{{ record.data.describes.expression['marc:bibLevel'] }} </div>
      <div class="span3 nopad-record-head muted">{{ record.data.describes.expression['marc:typeOfRecord'] }}</div>
      <div class="span5 nopad-record-head muted">{{ record.data.encLevel }}</div>
    </div>
    <a class="bib-url" href="/edit/frbr/bib/{{ record.data.controlNumber }}">
      <header>
        <h3>
          <span class="title-clickable">
            <span title="245A">{{ record.data.describes.expression.titleProper }}</span>
            <span class="title-remainder">
              <span title="245C"> / {{ record.data.describes.expression.statementOfResponsibilityRelatingToTitleProper }}</span>
            </span>
          </span>
        </h3>
      </header>
      <span class="unstyled-url">
        <h4 data-ng-repeat="author in record.data.describes.expression.authorList">
          <span class="author">
            <i class="icon-user icon-author"></i>
            <span title="100A">{{ author.preferredNameForThePerson }}</span>
            <span title="100D">{{ author.dateOfBirth['@value'] }} - {{ author.dateOfDeath['@value'] }}</span> 
          </span>
        </h4>
        <div class="row-fluid">
          <div class="span4 identifier">
            <span title="ISBN 020A">{{ record.data.describes.isbn }}</span>
            <label class="label-record-list muted">ISBN</label>
          </div>
        </div>
      </span>
    </a>
  </article>
</section>
