{% extends "base.html" %}
{% block title %}Kitin{% endblock %}
{% block bodyclass %}styleguide{% endblock %}
{% block content %}
<div class="content styleguide">

<header class="clearfix">
  <h1>Styleguide/pattern library</h1>
</header>
<section>
  <h2>Colors <i></i></h2>
  <div class="cols">
    <table width="500px;">
      <thead>
        <tr><th>Example</th><th>RGB</th><th>HEX</th><th>LESS</th></tr>
      </thead>
      <tbody id="color-boxes" class="red-lighter red-light red red-dark pink purple-lighter purple-light purple purple-dark yellow-lighter yellow-light yellow yellow-dark green-lighter green-light green green-dark green-darker white grey-warm grey-lighter grey-light grey grey-dark grey-darker grey-very-dark">
      </tbody>
    </table>
    <script type="text/javascript">
      $(function() {
        function rgb2hex(rgb){
         rgb = rgb.match(/^rgba?[\s+]?\([\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?/i);
         return (rgb && rgb.length === 4) ? "#" + ("0" + parseInt(rgb[1],10).toString(16)).slice(-2) + ("0" + parseInt(rgb[2],10).toString(16)).slice(-2) + ("0" + parseInt(rgb[3],10).toString(16)).slice(-2) : '';
        }

        var $colorBox = $('#color-boxes');
        var colors = $colorBox.attr('class').split(' ');
        for (i in colors) {
          // Append row
          $colorBox.append('<tr><td><div class="color-box ' + colors[i] + '"></div></td><td>@' + colors[i] + '<td><td class="color-text ' + colors[i] + '">' + '</td></tr>');
          // Add color codes
          $('.color-box.' + colors[i]).parent().after('<td>' + rgb2hex($('.color-box.' + colors[i]).css("background-color")) + '</td><td>' + $('.color-box.' + colors[i]).css("background-color") + '</td>');
        };
      });
    </script>
  </div>
</section>

<section>
<!-- person suggest -->
  <h2>Form elements<i></i></h2>
  <div style="width:400px">
    <br><br>
    <h3>Personsuggest</h3>
    <div class="person-suggest">
      <span class="lbl">Personer</span>
      <div class="persons" data-rich-entity>
        <div>
          <div class="main">
            <span class="name">Jansson, Tove</span>
            <span class="timeSpan">1921-1870</span>
            <a class="auth" href="#"><i class="fa fa-check"></i> Aukt.</a>
          </div>
          <div class="tagsinput">
            <ul class="tags">
              <li>Bibliotekarie <i class="no">&times;</i></li>
              <li>Författare <i class="no">&times;</i></li>
              <li class="add-item">
                <span class="add-link"><i class="fa fa-plus"></i> Lägg till roll</span>
                <span class="search-field toggler">
                  <i class="fa fa-search"></i>
                  <input type="text" placeholder="Sök roller">
                </span>
              </li>
            </ul>
          </div>
          <a class="delete" href="#"><i class="fa fa-times"></i></a>
        </div>
        <div>
          <div class="main">
            <span class="name">Karlsson, Owe</span>
            <span class="timeSpan">1811-1972</span>
          </div>
          <div class="tagsinput">
            <ul class="tags">
              <li class="add-item">
                <span class="add-link"><i class="fa fa-plus"></i> Lägg till roll</span>
                <span class="search-field toggler">
                  <i class="fa fa-search"></i>
                  <input type="text" placeholder="Sök roller">
                </span>
              </li>
            </ul>
          </div>
          <a class="delete" href="#"><i class="fa fa-times"></i></a>
        </div>
        <div>
          <div class="main">
            <span class="name">Karlsson, Owe</span>
            <span class="timeSpan">1811-1972</span>
            <a class="auth" href="#"><i class="fa fa-check"></i> Aukt.</a>
          </div>
          <div class="tagsinput">
            <ul class="tags">
              <li>Kåkfarare <i class="no">&times;</i></li>
              <li class="add-item">
                <span class="add-link"><i class="fa fa-plus"></i> Lägg till roll</span>
                <span class="search-field toggler">
                  <i class="fa fa-search"></i>
                  <input type="text" placeholder="Sök roller">
                </span>
              </li>
            </ul>
          </div>
          <a class="delete" href="#"><i class="fa fa-times"></i></a>
        </div>
        <div class="find-entity">
          <span class="add-item">
            <span class="add-link"><i class="fa fa-plus"></i> Lägg till person</span>
            <span class="toggler">  
              <span class="search-field">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Sök personer">
              </span>
              <span class="linkchoice">
                eller <a href="#">Skapa ny</a>
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>
    <hr />
    <h3>Related properties</h3>
  	<div class="tagsinput">
  	  <span class="lbl">Ämnesord</span>
  	  <ul class="tags">
  	    <li><a href="#"><i class="fa fa-bookmark"></i> Apa</a> <i class="no">&times;</i></li>
  	    <li><a href="#"><i class="fa fa-bookmark"></i> Lejon</a> <i class="no">&times;</i></li>
  	    <li><a href="#"><i class="fa fa-bookmark"></i> Orangutang</a> <i class="no">&times;</i></li>
  	    <li><a href="#"><i class="fa fa-bookmark"></i> Komododrake</a> <i class="no">&times;</i></li>
  	    <li><a href="#"><i class="fa fa-bookmark"></i> Bofink</a> <i class="no">&times;</i></li>
  	    <li><a href="#"><i class="fa fa-bookmark"></i> Burhöna</a> <i class="no">&times;</i></li>
  	    <li class="add-item">
          <span class="add-link"><i class="fa fa-plus"></i></span>
          <span class="search-field toggler">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Sök ämnesord">
          </span>
        </li>
  	  </ul>
  	  <ul class="tags suggestions">
  	    <li class="title">Förslag:</li>
  	    <li><a href="#">Gorilla <i class="fa fa-arrow-circle-up"></i></a></li>
  	    <li><a href="#">Papegoja <i class="fa fa-arrow-circle-up"></i></a></li>
  	  </ul>
  	</div>
    <hr />
    <h3>Free properties med förslag</h3>
  	<div class="tagsinput free">
  	  <span class="lbl">Ämnesord</span>
  	  <ul class="tags">
  	    <li><a href="#"><i class="fa fa-bookmark"></i> Apa</a> <i class="no">&times;</i></li>
  	    <li><a href="#"><i class="fa fa-bookmark"></i> Lejon</a> <i class="no">&times;</i></li>
  	    <li class="non-auth"><a href="#"> Enhörning</a> <i class="no">&times;</i></li>
  	    <li><a href="#"><i class="fa fa-bookmark"></i> Orangutang</a> <i class="no">&times;</i></li>
  	    <li class="add-item">
          <span class="add-link"><i class="fa fa-plus"></i></span>
          <span class="toggler">  
            <span class="search-field">
              <i class="fa fa-search"></i>
              <input type="text" placeholder="Sök ämnesord">
            </span>
          </span>
        </li>
  	  </ul>
  	  <ul class="tags suggestions">
  	    <li class="title">Förslag:</li>
  	    <li><a href="#">Gorilla <i class="fa fa-arrow-circle-up"></i></a></li>
  	    <li><a href="#">Papegoja <i class="fa fa-arrow-circle-up"></i></a></li>
  	  </ul>
  	</div>
    <hr />

    <h3>Related properties med extrafält (anteckningar)</h3>
    <div class="tagsinput">
      <span class="lbl">Länkfält</span>
      <ul class="tags entity">
        <li>
          <div>
            <div>
              <span class="lbl">Anmärkning</span>
              <input type="text">
            </div>
            <a href="edit/libris/bib/8549011" class="ng-binding ng-scope">
              <span>Släkt och stånd i Bergskollegium före reduktionstiden</span>
            </a>
            <i class="no">×</i>
          </div>
        </li>
        <li class="add-item">
          <span class="add-link"><i class="fa fa-plus"></i></span>
          <span class="toggler">  
            <span class="search-field">
              <i class="fa fa-search"></i>
              <input type="text" placeholder="Sök ämnesord">
            </span>
          </span>
        </li>
      </ul>
    </div>
    <hr />

    <h3>Alerts</h3>
  <!--

  	<div class="cols">
  	    <div class="col6">
  	  <div class="suggestion-subjects">
  	      <ul>
  	      <li><i class="fa fa-circle-arrow-up"></i>...</li>
  	      </ul>
  	  </div>
  	  <ul class="inline">
  	  <li ><a class="btn btn-small" href="#"><i class="icon-tag"></i> {{ "Ämnesord" }}</a></li>
  	  </ul>
  	 </div>
  	</div>

    -->
    <div class="alert alert-info">
    	<i class="fa fa-asterisk"></i>
    	<p>Fält har lagts till som behövs för att uppgradera posten till en Aukt.post. </p>
    </div>

    <div class="alert alert-warning">
    	<i class="fa fa-asterisk"></i>
    	<p>Fält har lagts till som behövs för att uppgradera posten till en Aukt.post. </p>
    </div>	

    <div class="alert alert-error">
    	<i class="fa fa-asterisk"></i>
    	<p>Fält har lagts till som behövs för att uppgradera posten till en Aukt.post. </p>
    </div>
    <hr />
  	<h3>Inputs</h3>
  	<div class="label" class="">
  		<span class="lbl">Regular input</span>
  		<input type="text">
  	</div>
    
  	<div class="label" class="">
  		<span class="lbl">Regular input</span>
  		<input type="text">
  		<span class="help"><i class="fa fa-question-circle"></i> Hjälptext</span>
  	</div>
    
    <div class="datatable">
      <table>
        <thead>
          <tr>
            <td>
              <span class="lbl">Table input</i></span>
            </td>
            <td>
              <span class="lbl">Multi-value column</i></span>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
       		    <div class="label"><textarea></textarea></div>
            </td>
            <td class="multi">
              <ul class="tags">
                <li><a href="#"><i class="fa fa-bookmark"></i> Apa</a> <i class="no">&times;</i></li>
                <li><a href="#"><i class="fa fa-bookmark"></i> Orangutang</a> <i class="no">&times;</i></li>
                <li class="add-item">
                  <span class="add-link"><i class="fa fa-plus"></i></span>
                  <span class="toggler">  
                    <span class="search-field">
                      <i class="fa fa-search"></i>
                      <input type="text" placeholder="Sök ämnesord">
                    </span>
                  </span>
                </li>
              </ul>
            </td>
            <td class="controls">
              <button class="btn-link deleter"><i class="fa fa-times"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
     	<button class="add-thing btn-link ng-binding">Lägg till rad</button>
    </div>
    
  	<div class="label" class="warning">
  		<span class="lbl">Warning informational input <i class="fa fa-asterisk"></i></span>
  		<input type="text">
  	</div>
    
  	<div class="label" class="warning warning-action">
  		<span class="lbl">Warning action input <i class="fa fa-asterisk"></i></span>
  		<input type="text">
  	</div>
  	
  	<div class="label" class="error">
  		<span class="lbl">Error informational input</span>
  		<input type="text">
  	</div>
    
  	<div class="label" class="error error-action">
  		<span class="lbl">Error action input </span>
  		<input type="text"><a href=""><i class="fa fa-info-circle"></i></a>
  	</div>
  </div>
</section>

</div>

<script>

$('.add-item').click(function(e) {
  e.preventDefault()

  var $li = $(this)
  var $input = $li.find('input').on('blur', function blurHandler(e) {
    $li.removeClass('active')
    $(this).val('').off('blur', blurHandler)
  })

  if ( $li.hasClass('active') )
    return

  $li.addClass('active')
  $input.focus()

})

</script>


{% endblock content %} 
