{% extends "base.html" %}
{% block title %}Kitin{% endblock %}
{% block bodyclass %}styleguide{% endblock %}
{% block content %}
<div class="content styleguide">

<header>styleguide/pattern library</header>
<section>
  <h2>Colors <i></i></h2>
  <div class="cols">
    <table width="500px;">
      <thead>
        <tr><th>Example</th><th>RGB</th><th>HEX</th><th>LESS</th></tr>
      </thead>
      <tbody id="color-boxes" class="red-lighter red pink purple-lighter purple-light purple purple-dark yellow-lighter yellow green-lighter green-light green green-dark green-darker white grey-warm grey-lighter grey-light grey grey-dark grey-darker grey-very-dark">
      </tbody>
    </table>
    <script type="text/javascript">
      $(function() {
        function rgb2hex(rgb){
         rgb = rgb.match(/^rgba?[\s+]?\([\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?/i);
         return (rgb && rgb.length === 4) ? "#" + ("0" + parseInt(rgb[1],10).toString(16)).slice(-2) + ("0" + parseInt(rgb[2],10).toString(16)).slice(-2) + ("0" + parseInt(rgb[3],10).toString(16)).slice(-2) : '';
        }

        var $colorBox = $('#color-boxes');
        var colors = $colorBox.attr('class').split(' ');
        for (i in colors) {
          // Append row
          $colorBox.append('<tr><td><div class="color-box ' + colors[i] + '"></div></td><td>@' + colors[i] + '<td><td class="color-text ' + colors[i] + '">' + '</td></tr>');
          // Add color codes
          $('.color-box.' + colors[i]).parent().after('<td>' + rgb2hex($('.color-box.' + colors[i]).css("background-color")) + '</td><td>' + $('.color-box.' + colors[i]).css("background-color") + '</td>');
        };
      });
    </script>
  </div>
</section>

<section>
<!-- person suggest -->
    <hr>
    <div class="cols">
      <div class="col6">
        <div class="alert alert-block">Designförslag</div>
        <div class="person-suggest">
          <span class="lbl">Personer</span>
          <ul class="persons">
            <li class="main">
              <i class="fa fa-check-square-o check"></i>
              <div class="main">
                <span class="name">Jansson, Tove</span>
                <span class="timeSpan">1921-1870</span>
                <a class="auth" href="#"><i class="fa fa-check"></i> Aukt.</a>
              </div>
              <div class="tagsinput">
                <ul class="tags">
                  <li>Bibliotekarie <i class="no">&times;</i></li>
                  <li>Författare <i class="no">&times;</i></li>
                  <li class="add"><i class="fa fa-search"></i> <input type="text" placeholder="Lägg till roll"></li>
                </ul>
              </div>
              <a class="delete" href="#"><i class="fa fa-times"></i></a>
            </li>
            <li>
              <i class="fa fa-square-o check"></i>
              <div class="main">
                <span class="name">Karlsson, Owe</span>
                <span class="timeSpan">1811-1972</span>
              </div>
              <div class="tagsinput">
                <ul class="tags">
                  <li class="add"><i class="fa fa-search"></i> <input type="text" placeholder="Lägg till roll"></li>
                </ul>
              </div>
              <a class="delete" href="#"><i class="fa fa-times"></i></a>
            </li>
            <li>
              <i class="fa fa-square-o check"></i>
              <div class="main">
                <span class="name">Karlsson, Owe</span>
                <span class="timeSpan">1811-1972</span>
                <a class="auth" href="#"><i class="fa fa-check"></i> Aukt.</a>
              </div>
              <div class="tagsinput">
                <ul class="tags">
                  <li>Kåkfarare <i class="no">&times;</i></li>
                  <li class="add"><i class="fa fa-search"></i> <input type="text" placeholder="Lägg till roll"></li>
                </ul>
              </div>
              <a class="delete" href="#"><i class="fa fa-times"></i></a>
            </li>
          </ul>
          <label class="find-entity">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Lägg till person">
          </label>
        </div>
      </div>
    </div>

</section>

<!-- subject design -->
<section>
<hr>
	
	<div class="cols">
	  <div class="col6">
	    <div class="alert alert-block">Designförslag</div>
	    <div class="tagsinput">
	      <span class="lbl">Ämnesord</span>
	      <ul class="tags">
	        <li><a href="#"><i class="fa fa-bookmark"></i> Apa</a> <i class="no">&times;</i></li>
	        <li><a href="#"><i class="fa fa-bookmark"></i> Lejon</a> <i class="no">&times;</i></li>
	        <li><a href="#"><i class="fa fa-bookmark"></i> Orangutang</a> <i class="no">&times;</i></li>
	        <li><a href="#"><i class="fa fa-bookmark"></i> Komododrake</a> <i class="no">&times;</i></li>
	        <li><a href="#"><i class="fa fa-bookmark"></i> Bofink</a> <i class="no">&times;</i></li>
	        <li><a href="#"><i class="fa fa-bookmark"></i> Burhöna</a> <i class="no">&times;</i></li>
	        <li class="add-item"><i class="fa fa-search"></i> <input type="text" placeholder="Sök ämnesord"></li>
	      </ul>
	      <ul class="tags suggestions">
	        <li class="title">Förslag:</li>
	        <li><a href="#">Gorilla <i class="fa fa-arrow-circle-up"></i></a></li>
	        <li><a href="#">Papegoja <i class="fa fa-arrow-circle-up"></i></a></li>
	      </ul>
	    </div>
	  </div>
	</div>
	<div class="cols">
	  <div class="col6">
	    <div class="alert alert-block">Designförslag</div>
	    <div class="tagsinput free">
	      <span class="lbl">Ämnesord</span>
	      <ul class="tags">
	        <li><a href="#"><i class="fa fa-bookmark"></i> Apa</a> <i class="no">&times;</i></li>
	        <li><a href="#"><i class="fa fa-bookmark"></i> Lejon</a> <i class="no">&times;</i></li>
	        <li class="non-auth"><a href="#"> Enhörning</a> <i class="no">&times;</i></li>
	        <li><a href="#"><i class="fa fa-bookmark"></i> Orangutang</a> <i class="no">&times;</i></li>
	        <li class="add-item"><input type="text" placeholder="+ Lägg till ämnesord"></li>
	      </ul>
	      <ul class="tags suggestions">
	        <li class="title">Förslag:</li>
	        <li><a href="#">Gorilla <i class="fa fa-arrow-circle-up"></i></a></li>
	        <li><a href="#">Papegoja <i class="fa fa-arrow-circle-up"></i></a></li>
	      </ul>
	    </div>
	  </div>
	</div>

	<div class="cols">
	    <div class="col6">
	<!-- subject-suggest -->
	  <div class="suggestion-subjects">
	      <ul>
	      <li><i class="fa fa-circle-arrow-up"></i>...</li>
	      </ul>
	  </div>
	  <ul class="inline">
	  <li ><a class="btn btn-small" href="#"><i class="icon-tag"></i> {{ "Ämnesord" }}</a></li>
	  </ul>
	 </div>
	</div>
	
	<div class="notification">
		<i class="fa fa-asterisk"></i>
		<p>Fält har lagts till som behövs för att uppgradera posten till en Aukt.post. </p>
	</div>

	<div class="notification notification-warning">
		<i class="fa fa-asterisk"></i>
		<p>Fält har lagts till som behövs för att uppgradera posten till en Aukt.post. </p>
	</div>	

	<div class="notification notification-error">
		<i class="fa fa-asterisk"></i>
		<p>Fält har lagts till som behövs för att uppgradera posten till en Aukt.post. </p>
	</div>		

</section>

<section>
	<h2>Inputs <i></i></h2>
	<div class="cols">
	<div class="col6">
		<label class="">
			<span class="lbl">Regular input</i></span>
			<input type="text">
		</label>

		<label class="">
			<span class="lbl">Regular input</i></span>
			<input type="text">
			<button class="show-more btn-link" ng-click="isCollapsed = !isCollapsed">Kommentarer om språk <i class="fa fa-chevron-right"></i> </button> <i class="more-details">...</i>
		</label>






		<label class="">
			<span class="lbl">Regular input</i></span>
			<input type="text">
			<button class="add-thing btn-link ng-binding">Lägg till</button>
		</label>

		<label class="warning">
			<span class="lbl">Warning informational input <i class="fa fa-asterisk"></i></span>
			<input type="text">
		</label>

		<label class="warning warning-action">
			<span class="lbl">Warning action input <i class="fa fa-asterisk"></i></span>
			<input type="text">
		</label>
		
		<label class="error">
			<span class="lbl">Error informational input</span>
			<input type="text">
		</label>

		<label class="error error-action">
			<span class="lbl">Error warning input </span>
			<input type="text"><i class="fa fa-info-circle"></i>
		</label>
		
	</div>
	</div>
</section>

</div>


{% endblock content %} 
