{% extends "base.html" %}
{% block title %}Search dummy{% endblock %}
{% block content %}


<!--
    <div class="row">
    <div class="well span12">
-->
<h2>Search dummy</h2>
<hr>
<!--
    <form class="well form-search">
    <input type="text" class="input-medium search-query">
    <button type="submit" class="btn">Sök</button>
    </form>
-->
<div class="search-bar">

<ul class="border-search unstyled">
  <li class="ui-search-item search-input-item">
    <form class="form-inline search-form" action="">
    <input id="search" class="xlarge ui-autocomplete-input" type="text" value="" autocomplete="off" placeholder="ISBN, Titel, Namn" name="q" role="textbox" aria-autocomplete="list" aria-haspopup="true">
    <button id="submit" class="btn btn-large btn-inverse" type="submit">
    <i class="icon-search icon-white"></i>
    </button>
    </form>
  </li>
</ul>

</div>
<hr>

    <div class="well">
    <div class="row-fluid">

    <div class="span3"><strong>Facetter</strong>
    <ul class="unstyled">
    <li>Facettvärde (X)</li>
    <li>Facettvärde (X)</li>
    <li>Facettvärde (X)</li>
    </ul>
    </div>
    <div class="span3"><strong>Facetter</strong>
    <ul class="unstyled">
    <li>Facettvärde (X)</li>
    <li>Facettvärde (X)</li>
    <li>Facettvärde (X)</li>
    </ul>
    </div>
    <div class="span3"><strong>Facetter</strong>
    <ul class="unstyled">
    <li>Facettvärde (X)</li>
    <li>Facettvärde (X)</li>
    <li>Facettvärde (X)</li>
    </ul>
    </div>

	<div class="span3"><strong>Facetter</strong>
	<ul class="unstyled">
    <li>Facettvärde (X)</li>
    <li>Facettvärde (X)</li>
    <li>Facettvärde (X)</li>
    </div>
    </ul>
    </div>
    
    </div>
    </div>

    </div>


<h3>LIBRIS - Inga träffar, bli den första att registrera verket i LIBRIS</h3>
<hr>
<h3>Skapa ny från mall</h3>




    <div class="btn-group">
    <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-file icon-white"></i> Skapa ny från mall
    <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    <li><a href="#"><i class="icon-book"></i> BestBok</a></li>
    <li><a href="#"><i class="icon-calendar"></i> BestSeriell</a></li>
    <li><a href="#"><i class="icon-book"></i> Bidrag_till_monografi-(med_1XX)</a></li>
    <li><a href="#"><i class="icon-book"></i> Bok</a></li>
    <li><a href="#"><i class="icon-hdd"></i> Databas_med_nycketltitel</a></li>    
    <li><a href="#"><i class="icon-picture"></i> Bild</a></li> 
    <li><a href="#"><i class="icon-headphones"></i> Ljudbok_CD</a></li>  
    <li class="divider"></li>
    <li><a href="#"><i class="i"></i> Egen mall</a></li>
    </ul>
    </div>

<hr>
<h3>Övriga Kataloger - 19 träffar</h3>
<hr>
<p>
<a href="#">Jämför valda poster</a>
<hr>
<input type="checkbox">
</p>
{% endblock content %}