{% extends "base.html" %}
{% block title %}Template{% endblock %}
{% block content %}

<h2>Empty Template</h2>
<hr>

<div>
    <form class="form-search">
    <input type="text" class="input-medium search-query" value="en dag">
    <button type="submit" class="btn">Search</button>
    </form>
</div>


<div class="well"><h2>One day (En dag) David Nicholls 1966- (författare)</h2></div>
<h3><i class="icon-book"></i> Monografi, Källa: LIBRIS</h3>
  
<hr>

<div>
<h3>En dag</h3>
<h4>David Nicholls 1996- (författare)</h4>
<h4>Pia Printz 1971- (översättare)</h4>
<p>
978-91-979067-0-8 inb.<br>
Stockholm: Printz Publishing, 2010<br>
Svenska 431 s.<br>
</p>
</div>

<hr>
<div>
En dag (Ljudupptagning <i class="icon-volume-up"></i>) / David Nicholls
<p>
Nicholls, David 1966- (författare)<br>
Printz, Pia, 1971- (författare)<br>
Ekborg, Anders, 1960- (medarbetare)<br>
ISBN 91-86719-02-5<br>
Stockholm: A Nice Noise, 2010<br>
Svenska 1 Mp3-CD<br>
Bok<br>
</p>
</div>

<hr>
<div>
En dag (Ljudupptagning <i class="icon-volume-up"></i>) / David Nicholls
<p>
Nicholls, David 1966- (författare)<br>
Printz, Pia, 1971- (författare)<br>
Ekborg, Anders, 1960- (medarbetare)<br>
ISBN 91-86719-02-5<br>
Stockholm: A Nice Noise, 2010<br>
Svenska 1 Mp3-CD<br>
Bok<br>
</p>
</div>
    
{% endblock content %}