{% extends "base.html" %}
{% block content_class %}post{% endblock content_class %}
{% block content %}
<!--Body content-->
<h2>Monografi</h2>
<ul id="fields"></ul>
<hr>

<p>shift + option + t = doubledagger</p>

<!-- labels blev föräldralösa i delfältsindelning… ändra sen i hope hope-->
<label class="control-label" for="isbn-020_00-z_00" ><a href="#" rel="tooltip" id="example" data-original-title="[020 &Dagger;acz] ISBN">020 - Internationellt standardboknummer (ISBN)</a></label>
 
<div class="controls">
<span class="help-block">ISBN med ev. kvalifikatorer <button class="close-record">&times;</button> </span> <input id="isbn-020ax00" class="input-xlarge" type="text">
  <!-- <p class="help-block">ISBN</p> -->
</div>


<label class="control-label" for="katinstans040-a" title="[040 &Dagger;a] Katalogiserande instans">Katalogiserande instans*</label>
<div class="controls">
  <input type="text" class="input-xlarge" name="katinstans-040a" list="sigel">
  <datalist id="sigel">
   <option value="NB (Nationalbibliografin)">
   <option value="S (Kungl.biblioteket)">
   <option value="REG (Registervården)">
   <option value="SBD (Statens biblioteksdepå)">
  </datalist>

</div>

<label class="control-label" for="klassifikationskod-084a">Annan klassifikationskod</label>
<div class="controls">
<span class="help-block"></span>
  <input id="klassifikationskod-084a" class="input-xlarge" type="text" value="‡a kssb/8">
	<a class="add-subfield" href="#">&#43;</a> <a class="add-subfield" href="#">&#63;</a>
</div>


<label class="control-label" for="personnamn-100">Huvuduppslag - Personnamn (Auktoriserad)</label>
<div class="controls">
<span class="help-block">a) Personnamn <em>Ex. Strindberg, August</em></span>
  <input id="personnamn-100a" class="input-xlarge" type="text" >
</div>

<div class="controls">
<span class="help-block">d) Födelse- och dödsår</span>
  <input id="personnamn-100d" class="input-xlarge" type="text">
</div>

<label class="control-label" for="titel-245a" title="245 title">(hover) - Titel och upphov</label>


    <div class="container-fluid">
      <div class="row-fluid">
   
    <div class="span4">

		<!-- <div class="controls"> -->

<span class="help-block">a) Huvudtitel</span>
  <input id="titel-245a" class="input-medium" type="text">
	</div>
    
    <div class="span4">

<span class="help-block">b) Övrig titelinformation</span>
  <input id="titel-245b" class="input-medium" type="text">
	</div>

	<div class="span4">

<span class="help-block">c) Särskiljande tillägg</span>
  <input id="titel-245c" class="input-medium" type="text">
	</div>

<!-- </div> -->
</div>
</div>

<label class="control-label" for="upplaga-250a">Upplaga</label>
<div class="controls">
 <span class="help-block">a) Upplageuppgift</span>
  <input id="upplaga-250a" class="input-xlarge" type="text">
</div>

<label class="control-label" for="utgivning-260a">Utgivning, distribution etc</label>
<div class="controls">
 <span class="help-block">a) Ort</span>
  <input id="utgivning-260a" class="input-xlarge" type="text">
</div>

<div class="controls">
 <span class="help-block">b) Förlag eller annan utgivare</span>
  <input id="utgivning-260b" class="input-xlarge" type="text">
</div>

<div class="controls">
 <span class="help-block">c) Utgivningstid</span>
  <input id="utgivning-260c" class="input-xlarge" type="text">
</div>

<label class="control-label" for="300a">Fysisk beskrivning</label>
<div class="controls">
 <span class="help-block">a) Omfång, t ex antal sidor eller volymer</span>
  <input id="300a" class="input-xlarge" type="text">
</div>

<div class="controls">
 <span class="help-block">b) Övriga fysiska detaljer ex. illustrationer</span>
  <input id="300b" class="input-xlarge" type="text">
</div>

<label class="control-label" for="650a">Ämnesord sao </label>
<div class="controls">
<span class="help-block">Term som sökelement</span>
  <input id="650a" class="input-xlarge" type="text">
</div>
<hr>
<p>
020 ISBN
040 Katalogiserande instans (NR)
084 Annan klassifikationskod (R)
100 Huvuduppslag - Personnamn (NR) - Auktoritetskontrollerat &Dagger;a namn &Dagger;b ordningstal &Dagger;c särskiljande tillägg &Dagger;d födelse och dödsår
245 Titel och upphov (NR)
250 Upplaga (NR)
260 Utgivning, distribution etc (R)
300 Fysisk beskrivning (R)
490 Serie, ej biuppslagsform (R)
650 Ämnesord - Kontrollerad term (R) - Auktoritetskontrollerat
700 Biuppslag - Personnamn (R) - Auktoritetskontrollerat
</p>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(function(){
   $('#example').tooltip({'placement':'left', 'trigger' : 'hover'})
});
</script>

{% endblock extrajs%}
