{% extends "base.html" %}

{% block title %}Start{% endblock %}

{% block content %}

<h2>Min profil</h2>
<div class="well">
<p class="muted">(Alla inställningar är exempel)</p>
<hr>

<label for="username">Namn</label>
<input id="username" type="text" placeholder="Namn">

<label for="login">E-postadress</label>
<input id="login" type="text" placeholder="Login">

<label for="sigel">Default sigel</label>

<select class="primary-sigel">
<option>A</option>
<option>S</option>
<option>T</option>
<option>SEK</option>
</select>


<hr>
<h2>Inställningar</h2>

<label class="checkbox">
<input type="checkbox" value="compactmode" checked="checked">
Compact mode
</label>
<hr>
<label for="mode">Visningsläge</label>
<select class="mode">
<option>FRBR</option>
<option>Marc 21</option>
</select>

<hr>



    <h3>Mina Länkar</h3>
    <div>
          <ul class="nav nav-list">
    <li>
    <a href="#">LIBRIS formathandbok</a>
    </li>
    <li>
    <a href="#">Google</a>
    </li>
    <li>
    <a href="#">Wikipedia</a>
    </li>  
    <li>
    <a href="#">Dewey - SAB</a>
    </li>
    <li>
    <a href="#">ISBN-centralen</a>
    </li>
    </ul>
	</div>

</div>


{% endblock content %}