.kitin-alert {
	width: 100%;
	padding: 12px 20px 0px 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 25px;
	border: 0;
	padding-bottom: 25px;
	text-align: center;
	h3 {
		text-align: left;
		margin: -45px 0px 10px 0px;
		padding: 0px 10px;
	}
	p {
		padding: 0px 10px;
		text-align: left;
		margin: 0px;
	}
	.fa-caret-up {
		position: relative;
		top: -45px;
		font-size: 80px;
		line-height: 0.5;
	}
}
.kitin-alert.alert-warning {
	border-color: #fff7d6;
	background-color: #fff7d7;
	.fa-caret-up {
		color: #fff7d6;
	}
}
.kitin-alert.alert-info {
	border-color: #d9edf7;
	background-color: #d9edf7;
	.fa-caret-up {
		color: #d9edf7;
	}
}
.kitin-alert.alert-danger {
	border-color: #EAC5C5;
	background-color: #EAC5C5;
	.fa-caret-up {
		color: #EAC5C5;
	}
}
.kitin-alert.alert-success {
	border-color: @green-lightish;
	background-color: @green-lightish;
	.fa-caret-up {
		color: @green-lightish;
	}
}