/* BIB MODAL START ------------------------- */


.bibview h4.modal-title{
  color: @white;
}
.bibview h4 {
  font-weight: bold;
  color: @green;
}

.bibview .valuedisplay {
  border-top: 0px solid @grey-light;
}
.bibview .value {
	padding: 3px;
	margin: 5px;
}
.bibview .node {
	list-style-type: square;
}
.bibview .summary {
	background-color: @grey-lighter;
	width: 50em;
	padding: 10px;
	border-radius: 5px;
}

.bibview .lbl {
  font-weight: bold;
}

/* BIB MODAL END ------------------------- */