/* BIB MODAL START ------------------------- */


.bibview h4.modal-title{
  color: @white;
}
.bibview h4 {
  font-weight: bold;
  color: @green;
}

.bibview .valuedisplay {
  border-top: 1px dotted #ddd;
  padding: 8px 0;
}

.bibview .lbl {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}
.bibview .val {
  display: inline-block;
  max-width: 500px;
}


/* BIB MODAL END ------------------------- */