/* EDIT FORM START ------------------------- */

/* RICH TAGS START ------------------------- */

.record-data {
  margin-top: 4px;
  font-size: 12px;
  color: @grey-dark;
  >span {
    margin-left: 7px;
  }
}

label.find-entity i { position: absolute; color: @grey; margin:6px 0 0 6px; }
label.find-entity input[type="text"] { padding-left: 22px; }
.col6 .entity input[type="text"],
.col6 label.find-entity input[type="text"] { width: 466px; }

/* PERSON SUGGEST END ------------------------- */

.element-adder { 
    text-align: right;
    padding: 0;
    font-size:13px;
    >div { text-align: left; }
    select {font-size:13px;height:25px;}
    display:none;
    &.visible{
      display:block;
    }
}

.addon .on-hover {float:right!important; position:absolute;top:1px;right:3px;color: @grey-dark;}

.suggestions {
  display: inline-table;
  max-width: 200px;
  line-height: 1.7;
  border-left: 1px dotted #CCC;
  padding-left: 3px;
  margin-left: 8px;
  vertical-align: top;
  .suggestion-label { margin-left: 3px;font-size: 0.7em;display:block; }
  .item {
    background-color: @yellow-lighter;
    margin: 2px 2px;
    padding: 1px 3px;
    cursor: pointer;
    color: #373010;
    font-size: 9pt;
    display: inline-block;
    line-height: 1.3;
    border: 1px dashed #F7F1CA;
    &:hover {
      border: 1px dashed @yellow;
      -webkit-box-shadow: 0 0px 2px 0px rgba(0,0,0,0.2);
      box-shadow: 0 0px 2px 0px rgba(0,0,0,0.2);
    }
    &:active {
      background-color: @white;
      -webkit-box-shadow:inset 0 0 15px 3px @yellow-lighter;
      box-shadow:inset 0 0 15px 3px @yellow-lighter;
    }
  }
}


.form-container {
  clear:both;
  kitin-group:last-child{border-bottom:none}
  hr { display:none }
  .label {
    position:relative;
    border-top:1px dotted #ddd;
    margin: 0;
    padding: 8px 0;
    .lbl {
      display:inline-block;
      width:@lbl_width;
      padding-right:20px;
      text-align:left;
      font-weight:bold;
      vertical-align:top;
      padding-top:@lbl_margin;
    }
    .inp {
      width:@inp_width;
      display:inline-block;
      vertical-align:middle;
      position:relative;
      textarea, input {
        width: 100%
      }
    }
    .act {
      width:@act_width;
      display:inline-block;
      vertical-align: middle;
    }
  }
  // No thick bottom border for last group 
  kitin-group:last-child {
    .group {
      border-bottom:0;
      margin-bottom:24px;
    }
    .group:after {
      height:0;
    }
  }
  .group {
    border-top:1px solid #ccc;
    border-bottom:8px solid @grey-warm;
    &:after {
      display:block;
      content: ' ';
      height: 1px;
      background:#ccc;
    }
    .lbl {
      font-weight:normal;
      padding-left:16px;
      color:#666;
    }
    td >.label .lbl{
      padding-left: 0px;
    }
    .group-title,
     {
      border-top:none;
      .lbl {
        padding-left:0;
        font-weight:bold;
        color:#111;
      }
      .inp button {
        font-size:12px;
        padding-left: 0;
        height:20px;
        span { 
          border-right:1px solid #eee;
          margin-right:4px;
          font-weight:normal;
          display:inline-block;
          width:14px;
          font-size:9px;
          line-height:20px;
          text-align:left;
          position:relative;
          top:-1px;
        }
        &:active,
        &:focus { text-decoration: none }
      }
    }
    &.single {
      .group-title {
        display:none;
      }
      .label {
        border: none;
        .lbl {
          padding-left:0;
          font-weight:bold;
          color:#111;
        }
      }
    }
  }
}

.tag {
  position:relative;
  display:inline-block;
  border-radius:3px;
  border: 1px dashed @grey-light; 
  padding: 1px 20px 1px 8px;
  margin: 0 3px 3px 0;
  top: 1px;

  &.auth {
    background:@green-lighter;
    border-color:@green-lighter;
  }
  .inner {
    display: inline-block;
    font-size: 12px;
    border: none;
    padding: 0;
    position: static;
  }
  .controls {
    position: static;
    width: auto;
    top: auto;
    left: auto;
    a.delete {
      width: 14px;
      height: 14px;
      line-height: 14px;
      font-weight:600;
      font-size:12px;
      color:@green-dark;
      position:absolute;
      top: 2px;
      right:3px;
      text-decoration:none;
      i { display: none }
      opacity: .5;
      &:before{ content: '\00d7'; }
      &:hover{color:@green-darker;opacity:1}
    }
  }
}

.entity {
  &.rich {
    >.entity-content {
      position:relative;
      margin-bottom:6px;
      padding: 4px 8px;
      border-radius: 2px;
      border: 1px dashed @grey-light;
      background-color: @grey-warm;
      .tags {
        margin:2px 0 4px;
        .tag.auth {
          background-color: multiply(@grey-warm, @green-lighter); 
          border: 1px solid multiply(@grey-warm, @green-lighter);
          border-radius: 2px;
        }
        .search input[type="text"] {
          background: #fff;
          border-color: @grey-lighter;
          &:focus {
            border-color: @grey-light!important;
          }
        }
      }
      .toggler {
        position:absolute;
        right:0;
        top:0;
        button {
          font-size:12px;
          padding: 4px 8px;
          outline:none;
        }
      }
      .editable {
        position:relative;
        padding:0 0 8px 8px;
        margin:8px 0 8px;
        background: @grey-lighter;
        border-radius:2px;
        .arr {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 5px 6px 5px;
          border-color: transparent transparent @grey-lighter transparent;
          position:absolute;
          top:-6px;
          left:6px;
        }
        .label{
          width: 178px;
          margin-right: 8px;
          float: left;
          position: relative;
          .lbl {
            padding-left: 0;
            font-size:11px;
          }
        }
      }
      >.controls {
        position:absolute;
        // right: 0px;
        left: @inp_width;
        width: @act_width;
        top: 1px;
      }
    }
    .inner {
      display:block;
      font-size:13px;
      .main {
        .title { 
          font-weight:bold
        }
        .label {
          border:none;
          padding: 4px 0 0;
        }
      }
      .notes {
        margin-top:2px;
        label {
          margin:0;
          em {
            font-size:11px;
            color:#888;
            font-weight:normal;
            display:block;
          }
          input {
            width: @inp_width/2;
            font-weight:normal;
            font-size:11px;
          }
        }
      }
    }
  }
  &.tags {
    .inp>*{display:inline-block}
    
    .search, .select {
      display: inline-block;
      width: 120px;
    }
  }
  .search {
    display:block;
    width: 240px;
    position:relative;
    input[type="text"] {
      background:@grey-warm;
      border-color:@grey-warm;
      padding-right:12px;
      &:focus{
        border-color:@grey-light;
        box-shadow: none;
      }
    }
    .select {
      width: 120px;
      position: absolute;
      left: 242px;
      top: -1px;
    }
    .fa {
      position:absolute;
      right: 8px;
      top: 6px;
      color: @grey-dark;
      font-size: 12px;
    }
  }
  .select {
    padding-top: 1px;
    position: relative;
    width: 240px;
    select {
      -webkit-appearance: none;
      background:@grey-warm;
      border-color:@grey-warm;
      border-radius: 2px;
      padding: 0 5px;
      height: 25px;
      color: @grey;
      width: 100%;
      font-size:13px;
      font-weight: 300;
      /*
      body .label select:hover{ background:@white url(/static/img/select-arrow.png) no-repeat 100% -92px;}
      body .label select:focus{ border: 1px solid @grey; background:@white url(/static/img/select-arrow.png) no-repeat 98% -2px;}
      */
    }
    .fa {
      position:absolute;
      right: 9px;
      top: 6px;
      color: @grey-dark;
      font-size: 14px;
    }
  }
}

a.delete {
  height: 20px;
  line-height: 20px;
  width: 28px;
  text-align:center;
  display: inline-block;
  color: @red;
  &:hover {
    color: @grey-very-dark;
  }
}

a.add {
  display:inline-block;
  padding-top:4px;
  font-size:10px;
  text-transform:uppercase;
  color: @grey;
  letter-spacing: 0.5px;
  text-decoration:none;
  .fa {
    font-size:14px;
    color: @green;
  }
  &:hover {
    text-decoration:underline;
    color: @green-dark;
    .fa {
      color: @green-dark;
    }
  }
}
.holdings a.add {
  color: @purple;
  .fa {
    color: @purple;
  }
  &:hover {
    color: @purple-dark;
  }
}

.kitin-help .popover .popover-content {
  max-height: 200px;
  overflow: auto;
}
.kitin-textrow .kitin-help {
  margin-left: 22px;
}
.group-help {
  font-size: 9pt;
}

a.help {
  height: 20px;
  line-height: 20px;
  width: 28px;
  text-align:center;
  display: inline-block;
  color: @green;
  border-left: 1px dotted #ddd;
  margin-left: 8px;
  .fa {
    font-size:14px;
  }
  &:hover {
    color: @green-dark;
  }
}
a.help.positioned{
  position: absolute;
  top: 11px;
  margin-left: 30px;
}
a.help.positioned.dropped{
  top:31px;
}
.holdings a.help {
  color: @purple;
  &:hover {
    color: @purple-dark;
  }
}

.on-hover { visibility: hidden; }
.entity:hover .on-hover { visibility: visible; }


.datatable {
  table { border-collapse: separate; width: @inp_width+@act_width; min-height: 1px; }
  margin-bottom:10px;
  th {
    font-size: 11px;
    vertical-align:bottom;
    padding-right:8px;
    padding-bottom:4px;
    line-height: 15px;
    font-weight:500;
  }
  tbody td {
    padding: 2px 4px;
    border:1px solid @grey-light;
    border-left-width: 0;
    border-top-width: 0;
    position:relative;
    min-height:22px;
    height: 100%;
    &.actions {
      border-width: 0!important;
      vertical-align: top;
      padding: 3px 0 0 0;
      width: @act_width;
    }
    &.multi {
      ul.tags { margin-top:0 }
      .add-item { margin-bottom:0 }
    }
    &:first-child { border-left-width:1px }
    >textarea {
      border:none;
      &:focus{border:none;box-shadow:none}
    }
    textarea {
      box-sizing: border-box;
      border: none;
      padding:0;
      margin:0;
      min-width:50px;
      height: 22px;
    }
  }
  tr {
    &:first-child td {
      border-top-width: 1px;
      &:first-child { border-top-left-radius:2px; }
      &:not(.actions):last-of-type { border-top-right-radius:2px; }
    }
    &:last-child td {
      &:first-child { border-bottom-left-radius:2px; }
      &:not(.actions):last-of-type { border-bottom-right-radius:2px; }
    }
  }
  tbody .label { margin-bottom: -1px }
  tfoot { 
    margin-top:4px;
    button {
      margin-top:-2px!important;
      position:relative;
      float:left;
      margin-right:18px
    }
  }
}

span.authorized{display:block;margin-left:15px; padding-left:5px;margin-top:25px;color:@green; font-size: 24px;}

.label ::-webkit-input-placeholder { color:@grey; font-weight:300}
input[type="text"]::-webkit-input-placeholder { color:@grey;  }
.label :-moz-placeholder { color:@grey; }/*FF18<*/
input[type="text"] :-moz-placeholder { color:@grey;  }/*FF18<*/
::-moz-placeholder { color:@grey; }/*FF19>*/

:-ms-input-placeholder { color:@grey; }



:focus::-webkit-input-placeholder { color:@grey-warm; }
:focus:-moz-placeholder:focus { color:@grey-warm; }/*FF18<*/
:focus::-moz-placeholder { color:@grey-warm; }/*FF19>*/
:focus:-ms-input-placeholder:focus { color:@grey-warm; }

.holdings :focus::-webkit-input-placeholder { color:@purple-lighter; }
.holdings :focus:-moz-placeholder:focus { color:@purple-lighter; }/*FF18<*/
.holdings :focus::-moz-placeholder { color:@purple-lighter; }/*FF19>*/
.holdings :focus:-ms-input-placeholder:focus { color:@purple-lighter; }

.label textarea,
.label input[type="text"],
.fakeinput{font-size:13px;padding:2px 5px;height:25px;border-radius:2px;}

.fakeinput{color:@grey-very-dark;cursor:text;padding-top:3px;height:24px}

.label textarea,
.label input[type="text"],
.fakeinput{border:1px solid @grey-light;}

.label textarea{line-height:22px;}

.label {
  input[type="text"],
  textarea {
    &:focus {
      color:@grey-very-dark;
      border-color:@grey-dark;
      box-shadow:0 0 2px rgba(0,0,0,.3);
      outline:none;
    }
  }
  &.error {
    input[type="text"],
    textarea {
      color: @red;
      &:focus {
        border-color:@red-dark;
        box-shadow:0 0 2px fade(@red, 30%);
      }
    }
    .lbl{color:@red}
  }
  &.warning {
    input[type="text"],
    textarea {
      color: @yellow;
      &:focus {
        border-color:@yellow-dark;
        box-shadow:0 0 2px fade(@yellow, 30%);
      }
    }
    .lbl{color:@yellow-dark}
  }
}

//WARNINGS AND ERRORS IN FORM
.label textarea.ng-invalid,
.label input[type="text"].ng-invalid,
.label select.ng-invalid {background-color:@red-lighter!important;border-color:@red-lighter!important;}

.label textarea{overflow:hidden;resize:none;color:@grey-very-dark;}
.label textarea.title{font-weight:bold;}

.lbl-suggest{display:block;font-size:12px;color:@green;margin-top:2px;line-height:14px;float:left;clear:both;}

// I'm guessing this is left over from styleguide, correct?
// .label .help {
//   font-size:11px; 
//   color:@grey-dark;
//   display:block;
//   margin-top:2px;
//   i.fa {
//     font-size:14px;
//     position:relative;
//     top:1px
//   }
// }

span.error-label { color: @red; }
span.error-message { font-size: 10px; color: @red; float:left; }

//warning styleguide only implemented:
.label.warning input {border-color: @yellow;
		i {color:@yellow;}
}
.label.warning-action input {background-color:@yellow-lighter;}
.label.warning .lbl i {color:@yellow;}

.label.error input {border-color: @red;
		i {color:@red;}
}
.label.error-action input {background-color:@red-lighter;}
.label.error .lbl i {color:@red;}
.label.error  i {color:@red;font-size: 16px;margin-left: -20px;position: relative;top: 3px;}

/* EDIT FORM END ------------------------- */

/* EDIT FORM DEBUG CLASSES  ---------------------------- */

// .ng-valid{border:2px solid #6BFF8B!important;}
// .ng-invalid{border:2px solid #FF5B58!important;}
// .ng-dirty{border:2px solid #FEFF61!important;}

/* EDIT FORM DEBUG CLASSES END ------------------------- */
