/* EDIT FORM START ------------------------- */

/* PERSON SUGGEST START ------------------------- */

.record-data {
  margin-top: 4px;
  font-size: 12px;
  color: @grey-dark;
  >span {
    margin-left: 7px;
  }
}

label.find-entity i { position: absolute; color: @grey; margin:6px 0 0 6px; }
label.find-entity input[type="text"] { padding-left: 22px; }
.col6 .entity input[type="text"],
.col6 label.find-entity input[type="text"] { width: 466px; }

.persons{list-style:none;margin:4px 0;padding:0;}
.persons>li{position:relative;border-bottom:1px dotted @grey-light;padding-bottom:1px;margin-bottom:6px;}
.persons>li:first-child{border-top:1px dotted @grey-light;padding-top:6px;}
.persons>li .check{color:@grey;margin-right:2px;cursor:pointer}
.persons>li .check:hover{color:@grey-very-dark}
.persons>li.main .check{color:@grey-very-dark;cursor:default}
.persons>li div.main {display:inline-block}
.entity .name,
.persons>li .name { font-weight: bold; }
.entity .delete,
.persons>li .delete{position:absolute;right:0;top:6px;display:none;}
.entity:hover .delete,
.persons>li:hover .delete{display:inline-block;color:@grey;position: absolute;top: 3px;right: 6px;}
.entity .delete:hover,
.persons>li .delete:hover{color:@red}
.entity .auth,
.persons>li .auth{padding-left:6px;margin-left:3px;border-left:1px solid @grey-lighter;font-size:11px}
.persons>li .tagsinput{margin-bottom:2px}

/* PERSON SUGGEST END ------------------------- */

.element-adder { 
    text-align: right;
    padding: 0;
    font-size:13px;
    >div { text-align: left; }
    select {font-size:13px;height:25px;}
}
.entity {position:relative;}
.addon .on-hover {float:right!important; position:absolute;top:1px;right:3px;color: @grey-dark;}

.entity:focus {border: 1px solid @grey-darker;outline:0; }

.edit .col6  .entity .embedded input{width:456px;}
.edit .entity {
  border: 1px solid transparent;
  padding: 3px 6px;
  margin-bottom: 1em;
/*   overflow: auto; */
  border-radius: 2px;


  &.addmore { margin-bottom: 4px; }
  &:focus {border: 1px solid @grey-darker;outline:0; }


  label { border: none; margin-bottom: 0; }
  .addon label,
  .addon input[type="text"] { float: left; width: 74px; }

  .what {
    color: @green-light;
  }

  &.linked {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    &:hover {
      box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    }
  }
  &.embedded {
    box-shadow: 0 0px 0px 1px @grey-warm inset;

    &:hover {
      box-shadow: 0 1px 2px 1px @grey-warm inset;
    }
  }

}

.on-hover { visibility: hidden; }
.entity:hover .on-hover { visibility: visible; }


.datatable{margin-bottom:10px}
.datatable td{padding: 0 0 0 6px}
.datatable td:first-child{padding:0}
.datatable tbody label{margin-bottom: -1px}
.datatable tfoot { margin-top: 4px;}
.datatable label input[type="text"]{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  width:100%;
}
.datatable label input[type="text"]:focus{}
.datatable td.controls{width:20px;margin:0}
.datatable td.controls .btn-link{padding:0;position:relative;top:-3px;}
.datatable tfoot button{margin-top:-2px!important;position:relative;float:left;margin-right:18px}

span.authorized{display:block;margin-left:15px; padding-left:5px;margin-top:25px;color:@green; font-size: 24px;}

label ::-webkit-input-placeholder { color:@grey-light; font-style:italic; font-size:14px; font-weight:300}
input[type="text"]::-webkit-input-placeholder { color:@grey-light; font-style:italic; font-size:14px; }
label :-moz-placeholder { color:@grey-light; font-style:italic; font-size:14px; }/*FF18<*/
input[type="text"] :-moz-placeholder { color:@grey-light; font-style:italic; font-size:14px; }/*FF18<*/
::-moz-placeholder { color:@grey-light; font-style:italic; font-size:14px; }/*FF19>*/

:-ms-input-placeholder { color:@grey-light; font-style:italic; font-size:14px; }



:focus::-webkit-input-placeholder { color:@grey-warm; }
:focus:-moz-placeholder:focus { color:@grey-warm; }/*FF18<*/
:focus::-moz-placeholder { color:@grey-warm; }/*FF19>*/
:focus:-ms-input-placeholder:focus { color:@grey-warm; }

.holdings :focus::-webkit-input-placeholder { color:@purple-lighter; }
.holdings :focus:-moz-placeholder:focus { color:@purple-lighter; }/*FF18<*/
.holdings :focus::-moz-placeholder { color:@purple-lighter; }/*FF19>*/
.holdings :focus:-ms-input-placeholder:focus { color:@purple-lighter; }

label textarea,
label input[type="text"],
label select,
.fakeinput{font-size:15px;padding:0 5px 0 5px;height:25px;border-radius:2px}

.fakeinput{color:@grey-very-dark;cursor:text;padding-top:3px;height:24px}

label input[type="text"]{padding-top:0;height:25px;}

label textarea,
label input[type="text"],
.fakeinput{border:1px solid @grey-light;}

label textarea{line-height:22px;}
label select{height:26px;}

label:hover textarea,
label:hover input[type="text"]{color:@grey-very-dark;border-color:@grey}

label input[type="text"]:focus,
label textarea:focus{color:@grey-very-dark;border-color:@grey-dark; box-shadow:rgba(0,0,0,.3) 0 0 2px;outline:none}

//WARNINGS AND ERRORS IN FORM
label textarea.ng-invalid,
label input[type="text"].ng-invalid,
label select.ng-invalid {background-color:@red-lighter!important;border-color:@red-lighter!important;}

label textarea{overflow:hidden;resize:none;color:@grey-very-dark;}
label textarea.title{font-weight:bold;}

.lbl{ display:block; font-size:10px; color:@grey-darker; margin-bottom:0; line-height:16px; text-transform:uppercase; letter-spacing:.5px; }
.lbl-suggest{display:block;font-size:12px;color:@green;margin-top:2px;line-height:14px;float:left;clear:both;}


span.error-label { color: @red; }
span.error-message { font-size: 10px; color: @red; float:left; }

//warning styleguide only implemented:
label.warning input {border-color: @yellow;
		i {color:@yellow;}
}
label.warning-action input {background-color:@yellow-lighter;}
label.warning .lbl i {color:@yellow;}

label.error input {border-color: @red;
		i {color:@red;}
}
label.error-action input {background-color:@red-lighter;}
label.error .lbl i {color:@red;}
label.error  i {color:@red;font-size: 16px;margin-left: -20px;position: relative;top: 3px;}

/* EDIT FORM END ------------------------- */

