.footer footer {margin-bottom:24px;overflow:hidden}
.footer footer ul{margin:8px 0 0 0;padding:0;float:left}
.footer footer img{float:right;margin-top:8px;width:44px}
.footer footer li {font:11px/14px @paragraph-font, sans-serif;display:inline-block;text-transform:uppercase;margin-left:5px;}
.footer footer li:before{content:"\2022";margin-right:8px}
.footer footer li:first-child{margin-left:0;padding-left:0;border:none}
.footer footer li:first-child:before{content:'';margin:0}

body.edit .footer footer {margin-top:0px;}

.footer-sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    height: 50px;

    font-size: 13px;
    background: rgba(255, 255, 255, .7);
    
    text-align: center;
    section { 
        padding-top: 7px !important;
        background-color: transparent !important;
    }
    .left {
        padding-top: 5px;
        padding-left: 25px;
        >div { float: left; } 
        .levelselect { margin-left: 15px;}
    }
    .record-status { 
        float: left;
        margin-left: 160px;
        margin-top: 5px;
    }
    .right {
        text-align: right; 
    }
    .btn { 
        font-size: inherit;
        padding: 6px 12px;
        
    }
}