/* HOLDINGS START ------------------------- */

.holdings .label input[type="text"]:focus,
.holdings .label textarea:focus{}

.holdings .lbl {color:@purple;}

.holdings-list ul{list-style:none;margin:0;padding:0;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
          box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

#holdings{background:transparent;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;padding:12px 0;}
.holdings-editor .editor{background:@white;width:732px;padding:12px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
      box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.content.holdings section h2{background-color: @purple-light;}
.content.holdings section h2 i{border-right-color: @purple;}

.content.holdings section h3{font:bold italic 16px/20px @header-font, georgia,serif; color: @purple-light; 
  border-bottom:1px solid @purple-light; padding-bottom: 2px; }

.content.holdings section h3.inline_heading {
  border: none;
  float: left;
  margin-left: 10px;
  margin-bottom: 0px;
  line-height: 32px;
}

section.holdings ul li { list-style: none; }

section.offer{
  margin-bottom:24px;
}

/* HOLDINGS END ------------------------- */