/* HOLDINGS START ------------------------- */

.holdings .label input[type="text"]:focus,
.holdings .label textarea:focus{}

.holdings .lbl {color:@purple;}

.holdings section h2{background-color: @purple-light;}
.holdings section h2 i{border-right-color: @purple;}

.holdings section h3{font:bold italic 16px/20px @header-font, georgia,serif; color: @purple-light; border-bottom:1px solid @purple-light; padding-bottom: 2px; }
.holdings section h3.inline_heading {
  border: none;
  float: left;
  margin-left: 10px;
  margin-bottom: 0px;
  line-height: 32px;
}

.holdings section.form-container {
  background-color: @grey-lightest;
  padding: 0px 10px;
  border: solid 1px @grey-light;
  margin-bottom: 15px;
  // .shadow(@grey-lighter);
  .group {
    border-width: 0px;
    margin-bottom: 0px;
  }
}

.holdings.modal-footer {
  background-color: rgba(108, 108, 108, 0.1);
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.52);
  margin: 0px;
  hr {
    margin-top: 3px;
    margin-bottom: 3px;
    border-color: @grey-light;
  }
}

.holdings h4 {
  font-weight: bold;
  color: @purple;
}

.holdings h4.modal-title{
  color: @white;
}

.holdings h4.top {
  color: #000;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 12px;
}

.holdings ul li { list-style: none; }

.holdings .form-container .group .lbl {
  width:340px;
}

.modal-alerts{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.5);
  padding: 80px;
}

.holdings .button-bar {
  padding:0;
  .btn-link{padding-left:0;}
}
.holdings .button-bar.right {
  text-align: right;
  .btn-link{padding-left:12px;padding-right:0;}
}

.holdings {
  .otherHoldings {
    border-bottom: 1px solid #CCC;
    margin-bottom: 1em;
    h4 { cursor: pointer; }
    table {
      margin-bottom: 1em;
      width: 100%;
      th {
        cursor: pointer;
        .opaque {
          opacity: 0;
        }
      }
      td, th {
        padding: 0.1em 0.5em;
      }
    }
  }

}


accordion.other-holdings {
  margin-bottom:24px;

  .panel-group .panel,
  .panel-group .panel + .panel{
    margin-top:0;
    border-bottom-width:0;
    border-radius: 0;
  }
  .panel-group .panel:last-child,
  .panel-group .panel + .panel:last-child{
    border-bottom-width:1px;
  }

  .panel-group .panel-heading {
    background-color: #fff;
  }

  .panel-group .panel-title a {
      display: block;
      padding: 10px 15px;
      margin: -10px -15px;
  }

  & > .panel-group > .panel {
    border-left:0;border-top:0;border-right:0;
    & > .panel-heading {
      padding-left:0;
    }
    & > .panel-collapse > .panel-body {
      padding:15px 0 0 0;
    }
  }

  .offer-header {
    font-weight: bold;
  }
  .offer-value {
    width:50%;
    padding:0;
    display:inline-block;
    .prop,
    .val{
      display:inline-block;
      padding:4px 8px;
    }
    .prop{
      width:60%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: top;
    }
    .val{
      width:40%;
      span{border-bottom: 1px dotted #ddd;}
    }
  }
}

/* HOLDINGS END ------------------------- */