/* LOGIN START ------------------------- */

form.login{width:312px;margin: 0 auto;padding-top:60px;position:relative;}
form.login .label{border-left:none;padding-left:0;}
form.login .inp input,
form.login .inp input:hover,
form.login .label.inp:hover input,
form.login .inp input:focus{width:312px;border:1px solid @grey; padding: 6px 10px 6px;border-color: @grey @grey-light @grey-light @grey;
  background:@white;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height:36px;
  -webkit-transition:all ease-out 0.05s;
}
form.login .inp input:hover,
form.login .inp input:focus{background:@white;}
form.login .inp input:focus,
form.login .inp input:focus:hover{border-color: @grey-darker @grey @grey @grey-darker;}

form.login .label .lbl{color:@grey-very-dark;}

form.login .checks{position:absolute; left:336px;bottom:14px;width: 300px;}
form.login .checks .label{overflow:hidden;margin-bottom:14px;}
form.login .checks .label input{margin-top:0;margin-right:6px;}
form.login .checks .label input,
form.login .checks label .lbl{float:left;width:auto;}
form.login .label .lbl-login {text-transform: lowercase;}

#oauth-login-buttons {
  width: 100%;
  text-align: center;
  padding: 2em 0em;
}
.login-box { width: 100%; padding: 0px 300px; margin-bottom: 50px; }

ul.drafts {list-style: none;}

li.draft:hover,
li.draft a:hover {background-color: @grey-warm;}
li.draft form { margin: 0 0 6px;}

.break{clear:both;}

/* LOGIN END ------------------------- */