
@import "variables.less"; 
@import "fonts.less";
@import "footer.less";
@import "buttons.less";
@import "nav.less";
@import "header.less";
@import "content.less";
@import "jsonld.less";
@import "marc.less";
@import "login.less";
@import "modals.less";
@import "dialogs.less";
@import "popover.less";
@import "startpage.less";
@import "hitlist.less";
@import "editform.less";
@import "holdings.less";
@import "search.less";
@import "iespecific.less";

//override
@import "autocomplete.less";
@import "experimental.less"; // for testing purposes only 


// GENERAL START -------------------------

html {overflow-y: scroll; -webkit-font-smoothing:antialiased; }

body{font-family: @paragraph-font, arial, sans-serif; font-size:14px; line-height: 20px; color:@grey-very-dark;}

h1,
h2,
h3{font-family: @header-font, georgia, serif; }
h4{font-size:15px; }

.label {font-weight: 400;margin-bottom: 10px; }
a { cursor: pointer; }


//padding override bootstrap grid
.container{width:1080px;margin: 0 auto;padding:0;}
#grid{display:none; width:984px;min-height:800px;background:url(/static/img/grid.png);position:absolute;top:0;left:48px;}

//block unfinished elements, should not be in final release
a.beta-blocker {text-decoration: none; cursor:default;}
.todo{display:none!important}
.hidden {visibility:hidden}


#system-message-container {
	z-index: 9001; 
	position: absolute;
	margin: 90px auto;
	width: 100%;
	.alert {
		width: 420px;
	}
}

.alert  {
	  border: 1px solid @grey-light;
	  padding:12px 24px 12px 36px; 
	  margin: 6px auto 6px auto;
    border-radius: 0px;
	  background-color: @white;
	  box-shadow: none;
    span { 
    	display:block; 
    	white-space: pre-line; 
   	}
	i {
		float:left; 
		margin-left:-18px;
	}
}

.alert-info {
	background-color: @grey-warm;
	color: @grey-darker;
	i {color:@grey-dark;}
}

.alert-loading {
	position: absolute;  
	z-index: 10000; 
	top: 100px;
	left: 35%;
	height: 120px;
	width: 310px;
	border: 5px solid @grey-warm;
	color: @grey-very-dark;
	.loading-text {
		margin-top: 75px;
		text-align: center;
	}
}
	
.alert-warning {
	background-color: @yellow-lighter;
	border-color:@yellow;
	color: @yellow-dark;
	i {color:@yellow;}
}

.alert-error {
	background-color: @red-lighter; 
	border-color:@red-light;
	color: darken(@red, 20%);
	i {color:@red;}
}

.alert-dismissable .close {
  top:0;
  right:0;
}

.cg-busy-default-sign {
  background-color:@grey-warm;
  padding-left: 20px;
  padding-right: 20px;
}
.cg-busy-default-text {
  font-family: @paragraph-font, arial, sans-serif; font-size:14px; line-height: 20px; color:@grey-very-dark;
}
.cg-busy-default-spinner {
  left: 20px;
}
.modal-dialog .cg-busy-default-wrapper {
  margin-top: -20px; // Padding is 20 pixels inside modal
}
/* GENERAL END ------------------------- */






