//Styleguide
// 
//Webcat
// 
//Markup: <some markup with a specific {$modifier} like class or a pseudo class >
// 
//.class      - description of the class state
//:pseudo     - description of the pseudo state
// 
//Styleguide 0 (digit number to increment eg chapter)

@import "variables.less"; 
@import "fonts.less";
@import "footer.less";
@import "buttons.less";
@import "nav.less";
@import "header.less";
@import "jsonld.less";
@import "login.less";
@import "modals.less";
@import "popover.less";
@import "startpage.less";
@import "tags.less";
//override
@import "autocomplete.less";
@import "experimental.less"; // testing only 


// GENERAL START -------------------------

html {overflow-y: scroll; -webkit-font-smoothing:antialiased; }

body{font-family: @paragraph-font, arial, sans-serif; font-size:14px; line-height: 20px; color:@grey-very-dark;}
//
// 
//Headings
// 
//Markup: <h1>Some text, preferrably anything but Lorem ipsum in there</h1>
//Markup: <h2>Some text, preferrably anything but Lorem ipsum in there</h2>
//Markup: <h3>Some text, preferrably anything but Lorem ipsum in there</h3>
//Markup: <h4>Some text, preferrably anything but Lorem ipsum in there</h4>
// 
//h1  - h1
//h2        - h2
//h3     - h3
//h4      - h4
// 
//Styleguide 1
h1,
h2,
h3{font-family: @header-font, georgia, serif; }
h4{font-size:15px; }


//label
//
//Markup: <label><span class="lbl">This is the look of a label</span></label>
//
//label - label
//
//Styleguide 3
label {font-weight: 400;margin-bottom: 10px;}

//padding override bootstrap grid
.container{width:1080px;margin: 0 auto;padding:0;}
#grid{display:none; width:984px;min-height:800px;background:url(/static/img/grid.png);position:absolute;top:0;left:48px;}

//block unfinished elements, should not be in final release
a.beta-blocker {text-decoration: none; cursor:default;}
.todo{display:none!important}
.hidden {visibility:hidden}

div.notification  {
	width:318px;border:1px solid @grey-light; padding:12px 24px 12px 36px; margin:6px;
	  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
      box-shadow: 0 1px 2px rgba(0,0,0,.1);
	i {float:left; margin-left:-18px;}
	}

div.notification-info {
	background-color: @grey-warm;
	i {color:@grey-dark;}
}
	
div.notification-warning {
	background-color: @yellow-lighter; border-color:@yellow;
	i {color:@yellow;}
}

div.notification-error {
	background-color: @red-lighter; border-color:@red;
	i {color:@red;}
}

/* GENERAL END ------------------------- */

/* CONTENT START ------------------------- */

.content{position:relative;background:url(/static/img/bg.png);padding:0 24px 24px 24px;overflow:hidden;}
.content:not(.footer){min-height:500px}

.saved #draft, .published #publish { opacity: 0.4; pointer-events: none;
   cursor: default;}
#draft, #publish { opacity: 1; }

.content header{
  position: relative;
  padding: 12px 24px 0;
  width: 1080px;
  margin-left: -24px;
}
body.search .content header{padding: 0 24px 0;}
.content.footer { overflow: visible; }
.content footer {
  background:url(/static/img/bottom.png) no-repeat;
  position:relative;
  padding:43px 36px 0;
  width:1008px;
  margin-left:-24px;
}

.content header p{clear:both;float:left;font-size:13px}

.content footer h1{height:40px;background-repeat:no-repeat;background-position: 8px 50%;color:grey;text-transform:uppercase;padding-left:170px;margin:0 0 12px 9px;font:bold 14px/40px @paragraph-font, sans-serif;}
.content footer ul{position:absolute; top: 48px;text-transform:uppercase;padding-left:180px;padding-bottom:12px;margin:0 0 12px 9px;font:bold 14px/40px @paragraph-font, sans-serif;}

.content footer a {color:@grey; padding-left: 10px;padding-right: 5px;}
.content footer a:hover {color:@grey-dark;background-color: transparent;}

.content.index header{ background-image:url(/static/img/top-index.png);margin-bottom:130px;min-height:80px;background-repeat: no-repeat;}
.content.index > .cols{margin-left:12px;overflow:visible;}

body.login .content.index header{margin-bottom:60px;}

.content header .levels{float:left;display:none}
.content header .levels span{float:left;padding: 5px 12px 6px;color:@grey-very-dark;}

.content header .levelselect{position:absolute;right:554px;bottom:2px;z-index:10}
.content header .catform{position:absolute;right:354px;bottom:2px;z-index:10}
.content header .levelselect .dropdown-toggle{display:inline-block;padding:3px 8px;font-size:12px;font-weight:bold;text-shadow:@white 1px 1px 0}
.content header .levelselect .dropdown-toggle:hover{text-decoration:none;color:@green-dark}
.content header .levelselect .dropdown-toggle .fa-caret-down{border-left:1px solid @grey;padding:0 2px 0 8px;margin-left:8px;line-height:16px;color:@grey-very-dark}
.content header .levelselect .dropdown-toggle:hover .fa-caret-down{color:@grey-very-dark}

.content header .modes{float:right;margin-top:21px;}

.content header .modes a{float:left;font:600 12px/1 @paragraph-font, sans-serif;color:@grey-darker;padding:8px 12px 8px;
    background:@white;margin-left:2px;text-transform:uppercase;opacity:.6;
  }
.content header .modes a[href^="/"]:hover{opacity:1;color:@green;text-decoration:none}
.content footer .modes a.active,  
.content header .modes a.active{opacity:1;color:@grey-very-dark}

.content header .modes a.active:hover{cursor:default;text-decoration:none}

.content header h1{margin:0 0 12px;height:37px;background:url(/static/img/circ.png) no-repeat;
  padding:0 0 0 10px;color:@grey-darker;text-shadow:@white 1px 1px 0;font:bold 16px/39px @header-font, sans-serif;float:left;}

.content header h1:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:17px;
  position:relative;
  margin-right:16px;
  color:@grey;
}

.content.holdings header h1:before {
  content: "\f0ca";
}
.content.auth header h1:before {
  content: "\f00c";
}
.content.bib header h1:before {
  content: "\f02d";
}

.content.holdings a {color:@purple;}
.content.holdings label .lbl {color:@purple;}

.content section{
  background: @white; 
  margin: 0px 0px 10px 0px; 
  padding: 12px 24px;  
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
      box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

body.edit .content section {
  margin: 0px 0px 10px 0px; 
  padding: 12px 24px;
}

body.index .content section {
	margin-top:12px;	
	
}
.content section .foot{ text-align:right; }

.content section.submit{background:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding:12px 0;
  width:1008px;
  text-align: right;
}

.content section h3{font:italic normal 14px/20px @header-font, georgia,serif; color:@green; 
  margin-bottom:12px;margin-top:12px;padding:0 0}

.content section h3:before{content:'\25A0';font-style:normal;font-size:30px;position:relative;top:4px;margin-right:4px}

.content section h2,
section.nav dt{
  background:@green;
  font:bold 12px/16px @paragraph-font, sans-serif; 
  text-transform:uppercase;
  float:left;
  padding: 5px 24px; 
  color:@white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-font-smoothing: antialiased;
  margin: 0 0 10px -36px;
  min-height:16px;
  position:relative;
}

.content section h2 i,
section.nav dt i{
  position:absolute;left:2px;bottom:-10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent @green-dark transparent transparent;
}

.content section h4 {
  color:@grey-darker;
  font-style: italic;
  font-weight: 400;
}

.content.search .sort-option {margin-left:12px;margin-right:24px;margin-top:12px;float:right;font-size:10px;
	.hitlist-viewswitch {padding:6px;font-size: 15px;color:@grey-darker;
		i {padding:3px;}
	}
}
/* CONTENT END ------------------------- */


/* HITLIST START ------------------------- */

section.nav dt i{border-right-color:@grey-darker;}

section.nav{background-color:@grey-warm;padding-top:12px}
section.nav dt{background:@grey;margin-bottom:12px;}
section.nav dd{clear:both;margin: 3px 0px;line-height:1;font-size:13px;word-break:break-all;}
section.nav dd a{color:@grey-darker;padding:4px 0 6px 18px;background:url(/static/img/dot.png) no-repeat 4px 9px;display:inline-block;}
.remote-modal div a.active,
section.nav dd a.active{font-weight:bold;color:@grey-very-dark;background:url(/static/img/check.png) no-repeat 0 5px;cursor:default;}
section.nav dd a.active:hover{text-decoration: none}

section.result{
  position:relative;
  border:1px solid transparent;/* padding:23px 11px 41px; */
  -webkit-transition:border ease-out 0.05s; 
  box-sizing:border-box;
  border-color: @grey-warm; 
  padding:12px; 
  min-height: 160px;
  &:nth-child(10n+10) { margin-bottom: 25px; };
}

section.result .footer{position: absolute; bottom:-1px; left:-1px; right:-1px;padding: 6px 12px; -webkit-transition:border ease-out 0.05s; 
  background:@grey-warm;color:@grey-darker;font-size:12px;border:1px solid @grey-warm;border-top-color:@grey-warm}
section.result .footer span:first-child,
section.result .footer span.level{margin-left:0;padding-left:0;border-left:none;}
section.result .footer span.level{float:right;}

section.result .footer span {padding-right: 12px;}

section.result a {
    &:visited {  color: @green-light; }
    &:hover label.title .title-key { text-decoration: underline; }
    &:active {   color: @green-light; }
}

section.result:hover{ border-color:@grey;}
section.result:hover .footer{border-color:@grey;border-top-color:@grey-warm}

section.result label{cursor:pointer;padding-left: 1px;}
section.result label{text-overflow:ellipsis;}
section.result label:hover{border-color:@grey-lighter;}
section.result label .lbl{color:@grey-dark;}

section.result label.title{display:block;}
section.result label.title .title-key {font-size:18px;line-height:22px;display:block;font-weight: 600;display:block;padding-bottom: 4px;}
section.result label.title .title-subtitle {color:@green-dark; font-size: 14px; line-height: 18px;display: block;}
section.result label .title-creator {color:@grey-darker;font-size: 14px; line-height: 18px;}
section.result label.title .icon{font-size:16px;color:@green-light;}
section.result label.identifier-code {color: @grey-very-dark; font-weight: 600;text-align: right;}
section.result label.title .lbl{margin-top:4px;}
section.result label.contributors {padding-bottom: 0px; margin-bottom:18px;}
section.result .contributors ul {list-style: none;padding:0;margin:0;}
section.result .contributors ul li .primary-attribution {font-weight: 600;}
section.result .bottom {color:@grey-dark; font-size:14px;background: @white;position: absolute;left:12px;bottom: 6px;}
section.result .bottom i {font-size: 16px;padding-right: 6px; margin-left: -2px;padding-left: 0;}

section.result .excerpt{margin-bottom:-14px;}
section.result .excerpt label{background:@grey-warm url(/static/img/pat1.png);padding-top:4px;padding-bottom:4px;}

section.result .highlight{padding:0 2px;background:rgba(40,180,146,.4);}
section.result span.hit-count {position:absolute; top:-4px;left:-18px; font-size: 12px;color:@grey-dark;}
section.result span.page-indicator {
  color: @grey-darker;
  position: absolute;
  right: 21px;
  bottom: -24px;
  padding: 0px 0px 0px 4px;
  font-size: 12px;
  word-spacing: -1px;
}
section.result .widget {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right:0;
  padding: 6px 12px;
  width: 122px;
   -webkit-transition: border ease-out 0.05s; 
  background: @grey-warm;
  color: @grey-darker;
  font-size: 10px;
  border: 1px solid @grey-warm; 
  border-left-color: @grey-warm;
}
section.result .widget label {color: @grey-darker;}

section.result-pre {border-style: dashed;}

.nav .selected { font-weight: bold; }

.to-top-link {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  background: #FFF;
  z-index: 10000;
  height: 30px;
  width: 107px;
  padding: 5px 9px;
  margin-left: 130px;
  color: @green-dark;
  box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.5);
  >i {
    margin-left: 4px;
  }
}

/* HITLIST END ------------------------- */


/* EDIT FORM START ------------------------- */

/* PERSON SUGGEST START ------------------------- */

.record-data {
  margin-top: 4px;
  font-size: 12px;
  color: @grey-dark;
  >span {
    margin-left: 7px;
  }
}

label.find-entity i { position: absolute; color: @grey; margin:6px 0 0 6px; }
label.find-entity input[type="text"] { padding-left: 26px; }
.col6 .entity input[type="text"],
.col6 label.find-entity input[type="text"] { width: 466px; }
.col6 label.find-entity input[type="text"].embedded  { width: 452px; }

.persons{list-style:none;margin:4px 0;padding:0}
.persons>li{position:relative;border-top:1px dotted @grey-light;padding-top:6px}
.persons>li .check{color:@grey;margin-right:2px;cursor:pointer}
.persons>li .check:hover{color:@grey-very-dark}
.persons>li.main .check{color:@grey-very-dark;cursor:default}
.persons>li div.main {display:inline-block}
.entity .name,
.persons>li .name { font-weight: bold; }
.entity .delete,
.persons>li .delete{position:absolute;right:0;top:6px;display:none;}
.entity:hover .delete,
.persons>li:hover .delete{display:inline-block;color:@grey;position: absolute;top: 3px;right: 6px;}
.entity .delete:hover,
.persons>li .delete:hover{color:@red}
.entity .auth,
.persons>li .auth{padding-left:6px;margin-left:3px;border-left:1px solid @grey-lighter;font-size:11px}
.persons>li .tagsinput{margin-bottom:2px}

/* PERSON SUGGEST END ------------------------- */

.element-adder { 
    text-align: right;
		background-color: @grey-warm;
    padding: 6px;
    >div { text-align: left; }
    select {font-size:14px;height:25px;}
}
.entity {position:relative;}
.addon .on-hover {float:right!important; position:absolute;top:1px;right:3px;color: @grey-dark;}

.entity:focus {border: 1px solid @grey-darker;outline:0; }

.edit .col6 .entity {width:466px;}
.edit .col6  .entity .embedded input{width:456px;}
.edit .entity {
  border: 1px solid transparent;
  padding: 3px 6px;
  margin-bottom: 1em;
  overflow: auto;
  border-radius: 2px;


  &.addmore { margin-bottom: 4px; }
  &:focus {border: 1px solid @grey-darker;outline:0; }


  label { border: none; margin-bottom: 0; }
  .addon label,
  .addon input[type="text"] { float: left; width: 74px; }

  .what {
    color: @green-light;
  }

  &.linked {
    background-color: @grey-warm;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    &:hover {
      box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    }
  }
  &.embedded {
    box-shadow: 0 0px 0px 1px @grey-warm inset;

    &:hover {
      box-shadow: 0 1px 2px 1px @grey-warm inset;
    }
  }

}

.on-hover { visibility: hidden; }
.entity:hover .on-hover { visibility: visible; }


.datatable{margin-bottom:10px}
.datatable td{padding: 0 0 0 6px}
.datatable td:first-child{padding:0}
.datatable tbody label{margin-bottom: -1px}
.datatable tfoot { margin-top: 4px;}
.datatable label input[type="text"]{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  width:100%;
}
.datatable label input[type="text"]:focus{}
.datatable td.controls{width:20px;margin:0}
.datatable td.controls .btn-link{padding:0;position:relative;top:-3px;}
.datatable tfoot button{margin-top:-2px!important;position:relative;float:left;margin-right:18px}

span.authorized{display:block;margin-left:15px; padding-left:5px;margin-top:25px;color:@green; font-size: 24px;}

label ::-webkit-input-placeholder { color:@grey-light; font-style:italic; font-size:14px; }
input[type="text"]::-webkit-input-placeholder { color:@grey-light; font-style:italic; font-size:14px; }
label :-moz-placeholder { color:@grey-light; font-style:italic; font-size:14px; }/*FF18<*/
input[type="text"] :-moz-placeholder { color:@grey-light; font-style:italic; font-size:14px; }/*FF18<*/
::-moz-placeholder { color:@grey-light; font-style:italic; font-size:14px; }/*FF19>*/
:-ms-input-placeholder { color:@grey-light; font-style:italic; font-size:14px; }



:focus::-webkit-input-placeholder { color:@grey-warm; }
:focus:-moz-placeholder:focus { color:@grey-warm; }/*FF18<*/
:focus::-moz-placeholder { color:@grey-warm; }/*FF19>*/
:focus:-ms-input-placeholder:focus { color:@grey-warm; }

.holdings :focus::-webkit-input-placeholder { color:@purple-lighter; }
.holdings :focus:-moz-placeholder:focus { color:@purple-lighter; }/*FF18<*/
.holdings :focus::-moz-placeholder { color:@purple-lighter; }/*FF19>*/
.holdings :focus:-ms-input-placeholder:focus { color:@purple-lighter; }

label textarea,
label input[type="text"],
label select,
.fakeinput{font-size:15px;padding:2px 5px 0 5px;height:25px;border-radius:2px}

.fakeinput{color:@grey-very-dark;cursor:text;padding-top:3px;height:24px}

label input[type="text"]{padding-top:0;height:25px;padding-bottom:2px}

label textarea,
label input[type="text"],
.fakeinput{border:1px solid @grey-light;}

label textarea{line-height:22px;}
label select{height:26px;}

label:hover textarea,
label:hover input[type="text"]{color:@grey-very-dark;border-color:@grey}

label input[type="text"]:focus,
label textarea:focus{color:@grey-very-dark;border-color:@grey-dark; box-shadow:rgba(0,0,0,.3) 0 0 2px;outline:none}

//WARNINGS AND ERRORS IN FORM
label textarea.ng-invalid,
label input[type="text"].ng-invalid,
label select.ng-invalid {background-color:@red-lighter!important;border-color:@red-lighter!important;}

label textarea{overflow:hidden;resize:none;color:@grey-very-dark;}
label textarea.title{font-weight:bold;}

.lbl{ display:block; font-size:10px; color:@grey-dark; margin-bottom:0; line-height:16px; text-transform:uppercase; letter-spacing:.5px; }
.lbl-suggest{display:block;font-size:12px;color:@green;margin-top:2px;line-height:14px;float:left;clear:both;}


span.error-label { color: @red; }
span.error-message { font-size: 10px; color: @red; float:left; }

//warning styleguide only implemented:
label.warning .input-container {border-color: @yellow;
		i {color:@yellow;}
}
label.warning-action .input-container {background-color:@yellow-lighter;}
label.warning .lbl i {color:@yellow;}

label.error input {border-color: @red;
		i {color:@red;}
}
label.error-action .input-container {background-color:@red-lighter;}
label.error .lbl i {color:@red;}
label.error  i {font-size: 16px;margin-left: -20px;position: relative;top: 3px;}


/* HOLDINGS START ------------------------- */

.holdings label:hover,
.holdings label.focus{border-left-color:@purple;}

.holdings label input[type="text"]:focus,
.holdings label textarea:focus{}

.holdings .lbl {color:@purple;}

.holdings-list ul{list-style:none;margin:0;padding:0;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
      box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

#holdings{background:transparent;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;padding:12px 0;}
.holdings-editor .editor{background:@white;width:732px;padding:12px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
      box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

section.holdings-list{background:@grey-warm;}

.holdings-list ul{list-style:none;margin:0;padding:0;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
      box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.holdings-list a{display:block;background:@grey-warm;padding:12px;border-top:1px solid @grey-light;color:@grey-darker;}
.holdings-list li:first-child a{border-top:none;}
.holdings-list li.active a{background:@white;color:@grey-very-dark;}

.holdings-list a.sigel {font-weight: bold;font-size: 14px;color:@grey-darker;}

.holdings-list a.sigel i {opacity:.60;}

.content.holdings section h2{background-color: @purple-light;}
.content.holdings section h2 i{border-right-color: @purple;}

.content.holdings section h3{font:bold italic 16px/20px @header-font, georgia,serif; color: @purple-light; 
  border-bottom:1px solid @purple-light; padding-bottom: 2px; }

.content.holdings section h3.inline_heading {
  border: none;
  float: left;
  margin-left: 10px;
  margin-bottom: 0px;
  line-height: 32px;
}

section.holdings ul li { list-style: none; }

/* HOLDINGS END ------------------------- */
/* EDIT FORM END ------------------------- */








