/* MODAL START ------------------------- */

.modal { color:@grey-very-dark; text-transform: none; }
//.modal.fade { top:10%; transition:none }
.modal-large > .modal-dialog { width: 1008px; height:80%; }

.modal-body {
  max-height: 500px;
  overflow: auto;
}

h4.modal-title{font: bold italic 16px/20px @header-font, georgia,serif; color:@green; }

/* MODAL END ------------------------- */

/* REMOTE SOURCES MODAL START ------------------------- */

.remote-modal {
  a.database-name {
    color: @grey-darker;padding: 0px 0px 7px 18px;background: url(/static/img/dot.png) no-repeat 4px 9px;
  }
  dl { margin-bottom: 6px; }
  i.database-comment { color: @grey-dark;}
}

/* REMOTE SOURCES MODAL END ------------------------- */