/* MODAL START ------------------------- */

.modal { color:@grey-very-dark; text-transform: none; }
//.modal.fade { top:10%; transition:none }
.modal-large > .modal-dialog { width: 1080px; }
.modal-large .modal-content { border-radius:0; max-height: 80%; }

.modal-header .close{
  font-size: 28px;
  color: #fff;
  opacity: 1;
  text-shadow: 0 1px 0 #000;
  padding:4px;
  margin-top:-8px;
}
.modal-header .close:hover{
  opacity:.8;
}

.modal-header {background-color:@green;}
.modal-body {
  max-height: 500px;
  overflow: auto;
}
body.modal-open {
    overflow: hidden!important;
}
h4.modal-title{font: bold italic 16px/20px @header-font, georgia,serif; color:@white; }

html .modal {
  // Remove sliding and speed up
  &.fade {
    .modal-dialog {
     -webkit-transform: translate(0,0);
         -ms-transform: translate(0,0); // IE9 only
             transform: translate(0,0);
    }
  }
}

/* MODAL END ------------------------- */

/* HOLDINGS MODAL START ------------------------- */

.modal-header.holdings {background-color:@purple;}

/* HOLDINGS MODAL END ------------------------- */

/* REMOTE SOURCES MODAL START ------------------------- */

.remote-modal {
  a.database-name {
    color: @grey-darker;padding: 0px 0px 7px 18px;background: url(/static/img/dot.png) no-repeat 4px 9px;
  }
  dl { margin-bottom: 6px; }
  i.database-comment { color: @grey-dark;}
}

/* REMOTE SOURCES MODAL END ------------------------- */

