/* TAGS START ------------------------- */
.tagsinput{margin-bottom:12px}
ul.tags { list-style:none;margin:3px 0 0 0;padding:0; }
ul.tags li {
  display: inline-block; margin: 0 4px 4px 0; padding: 3px 8px;
  font-size:12px;
  background: @grey-warm; color: @grey-very-dark;
  border-radius:2px;

  &.open {
    background: @grey-darker;
    color: #fff;
  }

  .tag-linked {
    cursor: pointer;
  }

  i.no {margin-left:6px;font-weight:700;color:rgba(0,0,0,.4);cursor:pointer;font-size:14px;line-height:1}
  i.no:hover {color:@grey-very-dark;}
  a {color: @grey-very-dark;
	  i {color:@green;}
  }
  a:hover {
    text-decoration: none;
    > i.no { color: @red; }
  }
  a .fa-check {color:@green-light;font-size:11px;margin-right:0;font-weight:100}
	&.non-auth {border: 1px dashed @grey-light;background: none;padding: 2px 7px;}	
  /*
  &.search {
    background: none;
    border: 1px solid @grey-light;
    padding: 1px 6px 1px 0;
    position: relative;

    input[type="text"],
    input[type="text"]:focus,
    select,
    select:focus { border: none; box-shadow: none; }

    i {color:@grey;font-size:12px;margin:0 2px 0 6px}
    input[type="text"],
    select {
      width: 110px;
      font-size:12px;height:20px;margin:0;padding:0 8px 0 0;line-height:16px;

      &::-webkit-input-placeholder,
      &:-moz-input-placeholder {font-size:12px;color:@grey-lighter}
      &:focus::-webkit-input-placeholder,
      &:focus:-moz-input-placeholder {color:@white}
    }
  }
  */
}
  // Styles for adding tags
ul.tags .add-item,
ul.tags li.search,
.find-entity .add-item {
  border: none;
  background: none;
  cursor:pointer;
  display: inline-block; 
  margin: 0 4px 4px 0; 
  padding: 0;
  font-size:12px;
  border-radius:2px;
  position:relative;
  .toggler { display:none }
  .add-link {
    color: @green-dark;
    background: @green-lighter;
    padding: 3px 8px;
    display: inline-block;
    border-radius:2px;
    i { margin-left: 2px; }
    &:hover {
      color: @green-darker;
      i { color: @green-darker; }
      background: darken(@green-lighter, 8%)
    }
  }
  i { margin-right:2px }
  &.active {
    background: transparent;
    border:none;
    cursor: default;
    padding: 0;
    .toggler {
      display:inline-block;
    }
    .linkchoice {
      color: @grey;
      a { 
        color: @green;
        &:hover{color:@green-dark}
      }
    }
    .search-field {
      display:inline-block;
      border: 1px solid @grey-light;
      border-radius: 2px;
      padding: 2px 7px 0px 7px;
      i { color:@grey; font-size:12px; }
      &.fake {
        border:none;
        padding: 3px 0 2px 0;
      }
    }
    input[type="text"] {
      outline: none;
      border: none;
      font-size: 12px;
      padding: 0;
      width: 110px;
      margin: 0;
      height: 22px;
      box-shadow: none;
      &::-webkit-input-placeholder{font-size:12px;color:@grey-light;}
      &:-moz-input-placeholder{font-size:12px;color:@grey-light}
    }
    .add-link{ display:none }
  }
}

.find-entity .add-item {
  background: @green;
  i {
    color: @white;
  }
  .add-link {
    color: @white;
    background: @green;
    &:hover{
      background:@green-dark;
      i{ color: @white }
    }
  }
  border-color: @green;
  &:hover{ 
    background: @green-dark;
    border-color: @green-dark;
    color: #fff;
    i, .add-link {
      color:#fff
    }
  }
  &.active:hover{
    background: transparent;
  }
}


.tagsinput .suggestions{border-top:1px solid @grey-lighter;padding-top:6px;margin-top:4px}
ul.tags.suggestions li {
  padding:0px 10px 0 7px;border-right:1px solid @grey-lighter;background-color:@yellow-lighter;margin:0;
	&:hover {background-color:darken(@yellow-lighter, 5%);}
  &.title{padding:0;background:none;font-weight:bold;border:none}
  &:last-child{border:none}
  i {color:@yellow;}

  li i{font-size:12px;font-weight:normal;margin-left:0;color:@yellow;}
  li a{color:@green-light}
}

.tagsinput.free ul.tags{border:1px solid @grey-light;border-radius:3px;padding:7px 7px 0 7px}
.tagsinput.free ul.tags.suggestions{border:none;border-radius:0;border:none;padding:4px 0 0 0}

/* TAGS END ------------------------- */

/*SUGGEST*/

.subject-delimiter {color:@grey-light;}

.suggestion-subjects{background:@grey-warm url(/static/img/pat1.png);padding-top:8px;padding-bottom:8px;overflow:hidden;}
.suggestion-subjects ul{list-style:none;margin:0;padding:0;}
.suggestion-subjects li{margin: 0 4px 4px 0;float:left;padding:4px 8px;background:rgba(20,200,160,.35);}
.suggestion-subjects li .icon{color:@green;}



.suggestion-classification{background:@grey-warm url(/static/img/pat1.png);padding-top:8px;padding-bottom:8px;overflow:hidden;}
.suggestion-classification ul{list-style:none;margin:0;padding:0;}
.suggestion-classification li{margin: 0 4px 4px 0;float:left;padding:4px 8px;background:rgba(167, 86, 167, 0.35);}
.suggestion-classification li .icon{color:@purple;}

