<ng-form name="subform">
  <section data-ng-repeat="instance in [record.about]">
    <h2>
      {{ record.about['@type'] }}
      <i></i>
    </h2>
    <div class="form-container" data-ng-switch="record.about['@type']">
      <div class="person" data-ng-switch-when="Person">
        <div data-ng-include="'/partials/edit/auth/person'"></div>
      </div>
      
      <div class="concept" data-ng-switch-when="Concept">
        <div data-ng-include="'/partials/edit/auth/concept'"></div>
      </div>
      
      <div class="uniform-work" data-ng-switch-when="UniformWork">
        <div data-ng-include="'/partials/edit/auth/uniform_work'"></div>
      </div>
      
      <div class="organization" data-ng-switch-when="Organization">
        <div data-ng-include="'/partials/edit/auth/organization'"></div>
      </div>
      
      <div class="event" data-ng-switch-when="Event">
         <div data-ng-include="'/partials/edit/auth/event'"></div>
      </div>
      
      <div class="meeting" data-ng-switch-when="Meeting">
         <div data-ng-include="'/partials/edit/auth/meeting'"></div>
      </div>
      
      <div class="place" data-ng-switch-when="Place">
        <div data-ng-include="'/partials/edit/auth/place'"></div>
      </div>
    </div>
  </section>

  <pre class="invisible">{{record.about}}</pre>

</ng-form>
