<div data-ng-repeat="instance in [record.about]">
  <ng-form name="subform" data-ng-switch="instance['@type']">
    <section class="person" data-ng-switch-when="Person">
      <div data-ng-include="'/partials/edit/auth/person'"></div>
    </section>
    <section class="concept" data-ng-switch-when="Concept">
      <div data-ng-include="'/partials/edit/auth/concept'"></div>
    </section>
    <section class="work" data-ng-switch-when="Work">
      <div data-ng-include="'/partials/edit/auth/work'"></div>
    </section>
    <section class="organization" data-ng-switch-when="Organization">
      <div data-ng-include="'/partials/edit/auth/organization'"></div>
    </section>
    <section class="meeting" data-ng-switch-when="Meeting">
       <div data-ng-include="'/partials/edit/auth/meeting'"></div>
    </section>
    <section class="place" data-ng-switch-when="Place">
      <div data-ng-include="'/partials/edit/auth/place'"></div>
    </section>
  </ng-form>
  <pre>{{instance}}</pre>
</div>