{% include "partials/edit/bib/_snippet_templates.html" %} 
{% raw %}

  <ng-form name="subform">

    <section class="title-and-main-entry"       ng-include="'/partials/edit/bib/title_and_main_entry'"></section>
    <section class="publication-and-production" ng-include="'/partials/edit/bib/publication_and_production'"></section>
    <section class="physical-description"       ng-include="'/partials/edit/bib/physical_description'"></section>
    <section class="notes"                      ng-include="'/partials/edit/bib/notes'"></section>
    <section class="edit-subject"               ng-include="'/partials/edit/bib/subject'"></section>

<!-- uncompleted marc debug -->
    <section ng-if="debug && record._marcUncompleted" class="unknown" ng-include="'/partials/edit/bib/unknown'"></section>


<!-- debug printed fields -->
    <section ng-if="debug" class="debug">
      <h2> <span>Debug record</span><i></i></h2>
      <div class="cols">
      	<div class="col12">
        <pre data-ng-bind="debugRecord"></pre>
      	</div>
      </div>
    </section>
  
    <section class="submit modificationinfo" data-ng-class="modifiedClasses()" data-ng-init="disableButtons = (subform.$invalid)">
      <div ng-include="'save-buttons'"></div>
    </section>

    <div class="footer footer-sticky">
      <div class="container">
        <section>
          <div class="cols">
            <div class="col6 left">
              <div data-ng-include="'/snippets/holdings-button'"></div>
              <div style="clear:both"></div>
              <a href="">Förhandsgranska MARC</a>
            </div>
            <div>

            </div>
            <div class="col6 right">
              <div class="record-status">{{record.draft ? 'DRAFT' : 'PUBLISHED?'}} - Senast sparad: {{record.modified | date:'yyyy-MM-dd HH:mm:ss'}}</div>
              <div ng-include="'save-buttons'"></div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </ng-form>

{% endraw %}