<ng-form name="subform">

  <section class="title-and-main-entry"       ng-include="'/partials/edit/bib/title_and_main_entry'"></section>
  <section class="publication-and-production" ng-include="'/partials/edit/bib/publication_and_production'"></section>
  <section class="physical-description"       ng-include="'/partials/edit/bib/physical_description'"></section>
  <section class="notes"                      ng-include="'/partials/edit/bib/notes'"></section>
  <section class="edit-subject"               ng-include="'/partials/edit/bib/subject'"></section>

<!-- uncompleted marc debug -->
  <section ng-if="debug && record._marcUncompleted" class="unknown" ng-include="'/partials/edit/bib/unknown'"></section>

  <div class="footer footer-sticky">
    <div data-ng-show="httpAction.message">
      <div class="manual popover {{httpAction.classes}}">
        <div class="arrow"></div>
        <div class="popover-inner">
          <div class="popover-content">
            <h3>{{httpAction.title | translate}}</h3>
            <p>{{httpAction.message | translate}}</p>
          </div>
        </div>
      </div>
    </div>
    <section class="centered">
      <div class="row">
        <div class="col-md-4">
          <div class="holding">
            <button data-ng-disabled="!modifications.bib.published" class="btn btn-purple btn-hld" data-ng-controller="ModalCtrl" data-ng-click="openHoldingsModal($event, record.about['@id'])">
              <span data-ng-if="!hasHolding"><i class="fa fa-inverse fa-plus"></i> Lägg till bestånd</span>
              <span data-ng-if="hasHolding"><i class="fa fa-inverse fa-check"></i> Ändra i bestånd</span>
            </button>
          </div>
        </div>
        <div class="col-md-8 right">  
          <a data-ng-controller="ModalCtrl" data-ng-click="openMARCModal($event, record)">Förhandsgranska MARC</a> | 
          <span data-ng-show="record.modified" class="bib-edit-modified">{{record.draft ? 'Sparad' : 'Publicerad'}}: {{record.modified | timeAgo:60*60*24}} | </span>
          <a id="draft" data-ng-click="saveDraft()" title="{{lastSavedLabel('Senast sparad: %s')}}">Spara utkast</a> &nbsp;
          <button class="btn btn-dark" id="publish" data-ng-class="modifiedClasses()" data-ng-disabled="subform.$invalid || modifications.bib.published" data-ng-click="publish()" title="{{lastPublishedLabel('Senast publicerad: %s')}}">{{modifications.bib.published ? 'Publicerad' : 'Publicera'}} 
          <i class="fa fa-check" data-ng-show="modifications.bib.published"></i>
          </button>
        </div>
      </div>
    </section>
  </div>

</ng-form>
