{% include "partials/edit/bib/_snippet_templates.html" %} 
{% raw %}

  <ng-form name="subform">

    <section class="title-and-main-entry"       ng-include="'/partials/edit/bib/title_and_main_entry'"></section>
    <section class="publication-and-production" ng-include="'/partials/edit/bib/publication_and_production'"></section>
    <section class="physical-description"       ng-include="'/partials/edit/bib/physical_description'"></section>
    <section class="notes"                      ng-include="'/partials/edit/bib/notes'"></section>
    <section class="edit-subject"               ng-include="'/partials/edit/bib/subject'"></section>

<!-- uncompleted marc debug -->
    <section ng-if="debug && record._marcUncompleted" class="unknown" ng-include="'/partials/edit/bib/unknown'"></section>


<!-- debug printed fields -->
    <section ng-if="debug" class="debug">
      <h2> <span>Debug record</span><i></i></h2>
      <div class="cols">
      	<div class="col12">
        <pre data-ng-bind="debugRecord"></pre>
      	</div>
      </div>
    </section>
  
      <div class="footer footer-sticky">
        <section>
          <div class="row">
            <div class="col-md-4">
              <div data-ng-include="'/snippets/holdings-button'" data-ng-init="recordId = record.about['@id']"></div>
            </div>
            <div class="col-md-8">  
              <a data-ng-controller="ModalCtrl" data-ng-click="openMARCModal($event, record)">Förhandsgranska MARC</a> | 
              <span data-ng-show="record.modified" class="bib-edit-modified">{{record.draft ? 'Sparad' : 'Publicerad'}}: {{record.modified | timeAgo:60*60*24}} | </span>
              <a id="draft" data-ng-click="saveDraft()" title="{{lastSavedLabel('Senast sparad: %s')}}">Spara utkast</a> &nbsp;
              <a class="btn btn-dark" id="publish" data-ng-class="modifiedClasses()" data-ng-disabled="subform.$invalid" data-ng-click="publish()" title="{{lastPublishedLabel('Senast publicerad: %s')}}">Publicera</a>
              <p class="message" data-ng-show="modifications.message">{{ modifications.message }}</p>
            </div>
          </div>
        </section>
    </div>
  </ng-form>

{% endraw %}