{% raw %}

<!-- compact hitlists for results and entity preview inside form -->
<script type="text/ng-template" id="hitlist-compact-bib">
  <div class="hitlist-item bib compact">
    <div class="title">
      <strong>{{object.instanceTitle.titleValue + object.instanceTitle.subtitle | chop }}</strong>
    </div>
    <div class="creator">
      {{ object.responsibilityStatement | chop }}
    </div>
    <div class="date">
      <span title="Utgivningsår" data-ng-repeat="publication in object.publication | limitTo:1" data-ng-show="publication.providerDate">
        {{publication.providerDate}}
      </span>
    </div>
  </div>
</script>
<script type="text/ng-template" id="hitlist-compact-auth">
  <div class="hitlist-item auth compact">
    <div class="title">
      <strong>{{ object.controlledLabel + object.prefLabel + object.name + object.uniformTitle | chop }}</strong>
    </div>
    <div class="creator">
      {{ object.name | chop }}
    </div>
    <div class="about">
      <span title="about">{{ object.about['@type'] }}</span>
    </div>
  </div>
</script>

  <!-- 
  render-bib-search

  Generic bib-search input field, used for reference fields

  -->
<script type="text/ng-template" id="render-bib-search">

  <div class="label find-entity">
    <div class="add-item search">
      <div data-click-search>
        <span class="add-link" ng-click="onclick($event)"><i class="fa fa-plus"></i> Lägg till {{ label }}</span>
        <span class="toggler">  
          <span class="search-field">
            <i class="fa fa-search"></i>
            <input ng-blur="onblur($event)" data-inplace class="input-large authdependant embedded" type="text"
              placeholder="Sök {{ label }}"
              data-kitin-search-entity
              data-make-reference-on-item-select="true"
              data-service-url="{{API_PATH}}/bib/_search"
              data-filter=""
              data-completion-template="bib-completion-template">
          </span>
          <span class="linkchoice">
            eller <a href="#">Skapa ny</a>
          </span>
        </span>
      </div>
    </div>
  </div>
</script>
<script type="text/html" id="bib-completion-template">
  <div class="auth">
    <h4>
      <span class="name"><%= data.instanceTitle.titleValue %></span>
    </h4>
  </div>
</script>

<!-- 
  render-generic-linked-entity
  
  Linked entity used in lists

-->
<script type="text/ng-template" id="render-generic-linked-entity">
  <a href="#"><i class="fa fa-bookmark" data-ng-if="isAuth(object)"></i> {{ (object.prefLabel || object.prefLabel-en) }} </a> <i data-ng-if="!editable.on" data-ng-click="doRemove($index)" class="no">&times;</i>
</script>

<!-- 
  

-->
<script type="text/ng-template" id="render-generic-non-auth-add">
<input data-inplace class="input-large authdependant embedded" type="text"
                  placeholder="Lägg till"
                  data-kitin-search-entity
                  data-completion-template="non-auth-completion-template"
                  data-allow-non-auth="true">
</script>
<script type="text/ng-template" id="non-auth-completion-template">
    <div class="auth">
      <h4>
        <span class="name"><%= value %></span>
      </h4>
    </div>
</script>


<!-- 
  render-generic-select
  
  Generic select dropdown for linked entities

-->
<script type="text/ng-template" id="render-generic-select">
  <select 
    data-kitin-select-entity
    data-selected-item-variable="selectedItem.data.about"
    ng-options="(item.data.about.prefLabel || item.data.about.prefLabel-en) for item in objects | orderBy:'data.about.prefLabel'">
  </select>
</script>


  <!-- 
    render-generic-tag-entity
    
    Generic tag, used for subject-fields

  -->
<script type="text/ng-template" id="render-generic-tag-entity">
  <ul class="tags">
    <li><a href="#"><i class="fa fa-bookmark" data-ng-if="isAuth(object)"></i> {{ object.prefLabel }}</a> <i data-ng-if="!editable.on" data-ng-click="doRemove($index)" class="no">&times;</i></li>
  </ul>
</script>

  <!-- 
    render-non-auth-tag
    

  -->
<script type="text/ng-template" id="render-non-auth-tag">  
  <a href="#"><i class="fa fa-bookmark" data-ng-if="isAuth(object)"></i> {{ object }} </a> <i data-ng-if="!editable.on" data-ng-click="doRemove($index)" class="no">&times;</i>
</script>
  
  <!-- 
    render-referenced-entity
    
    Render generic linked bib reference tag.

  -->
<script type="text/ng-template" id="render-referenced-entity">
  <a href="?m={{object.describedBy['@id']}}"><i class="fa fa-bookmark" data-ng-if="isAuth(object.describedBy)"></i> <span class="name">{{ object.title || object.uniformTitle}}</span> {{ object.issn }}</a> <i data-ng-if="!editable.on" data-ng-click="doRemove($index)" class="no">&times;</i>
</script>

  <!-- 
    save-buttons
    
    Publish and save draft buttons

  -->
<script type="text/ng-template" id="save-buttons">
  <button class="btn-link" id="draft" data-ng-click="saveDraft()"
          title="{{lastSavedLabel('Senast sparad: %s')}}">Spara utkast</button>
  <button class="btn btn-dark btn-submit" id="publish" data-ng-disabled="disableButtons" data-ng-click="save()"
    title="{{lastPublishedLabel('Senast publicerad: %s')}}">Publicera</button>
  <p class="message" data-ng-show="modifications.message">{{ modifications.message }}</p>
  <div style="clear:both"></div>
</script>

{% endraw %}
