 {% raw %}
  <div class="cols">
    <div class="col9">
    
      <div data-ng-repeat="(identifierSchemeName, identifierScheme) in record.about.identifierByIdentifierScheme" ng-switch on="identifierSchemeName">
        <!-- ISBN START -->
        <div ng-switch-when="/def/identifiers/isbn" class="datatable" data-ng-target="isbnTable"
          data-subject="record.about" data-link-multiple="identifierByIdentifierScheme"
          addable>
          <table>
            <thead>
              <tr>
                <td><!--TODO fix labels and error messages for identifiers-->
                  <span class="lbl-inline lbl"
                        data-ng-hide="subform.isbn_name.$error.invalid_value || subform.isbn_name.$error.invalid_length"><span translate>LABEL.record.about.identifers.isbn.identifierValue</span>                      
                  </span>
                  <span class="lbl-inline lbl error-label"
                        data-ng-show="subform.isbn_name.$error.invalid_value || subform.isbn_name.$error.invalid_length" translate>LABEL.record.about.identifers.isbn.identifierValue 
                  <span class="error_message" data-ng-show="subform.isbn_name.$error.invalid_value">(Fel numeriskt värde)</span>
                  <span class="error_message" data-ng-show="subform.isbn_name.$error.invalid_length">(Fel längd)</span>
                  </span>
                </td>
                <td>
                  <span class="lbl" translate>LABEL.record.about.identifers.isbn.identifierNote</span>
                </td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="identifier in identifierScheme"> 
                <td>
                  <label>
                    <input type="text" data-inplace name="isbn_name" data-ng-model="identifier.identifierValue" data-isbn-pattern="^$|^[0-9\-xX]*$" isbnvalidator/>
                  </label>
                </td>
                <td>
                  <label>
                    <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="identifier.identifierNote"/>
                  </label>
                </td>
                <td class="controls">
                  <button class="btn-link deleter" data-ng-click="removeObject(record.about.identifierByIdentifierScheme, identifierSchemeName, $index)">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">
                  <button class="add-thing btn-link" data-ng-click="addObject(record.about.identifierByIdentifierScheme, identifierSchemeName, 'ISBN', 'isbnTable')">{{ 'Lägg till ISBN' }}</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- ISBN END -->


        <!-- ISSN START -->
        <div ng-switch-when="/def/identifiers/issn" class="datatable" data-ng-target="issnTable" 
          kitin-data-table 
          table-model="identifierScheme" 
          table-header-translate table-header-translate-prefix= "LABEL.record.about.identifers.issn"
          table-columns="identifierValue,identifierNote"
          data-subject="record.about" data-link-multiple="identifierByIdentifierScheme"
          addable>
        </div>
        <!-- ISSN END -->


        <!-- OTHER IDENTIFIER START -->
        <div ng-switch-default class="datatable" data-ng-target="identifierTable" 
          kitin-data-table 
          table-model="identifierScheme" 
          table-header-translate table-header-translate-prefix= "LABEL.record.about.identifers.generalIdentifier"
          table-columns="identifierValue,identifierNote,identifierScheme['@id']"
          data-subject="record.about" data-link-multiple="identifierByIdentifierScheme" data-default-type="identifier"
          addable>
        </div>
        <!-- OTHER IDENTIFIER END -->

      </div>
    
    </div>
  </div>
 {% endraw %}