{% raw %}

<div data-ng-repeat="(identifierSchemeName, identifierScheme) in record.about.identifierByIdentifierScheme" 
    ng-switch ="identifierSchemeName">
  <!-- ISBN START -->
  <div ng-switch-when="/def/identifiers/isbn" class="datatable" data-ng-target="isbnTable" 
    data-kitin-data-table 
    data-table-model="identifierScheme" 
    data-table-header-row-template="/snippets/isbn-header-row-template"
    data-table-row-template="/snippets/isbn-row-template"
    data-subject="record.about" data-link-multiple="identifierByIdentifierScheme"
    data-add-first
    data-addable="publication_and_production">
  </div>
  <!-- ISBN END -->


  <!-- ISSN START -->
  <div ng-switch-when="/def/identifiers/issn" class="datatable" data-ng-target="issnTable" 
    data-kitin-data-table 
    data-table-model="identifierScheme" 
    data-table-header-row-template="/snippets/issn-header-row-template"
    data-table-row-template="/snippets/issn-row-template"
    data-subject="record.about" data-link-multiple="identifierByIdentifierScheme"
    data-add-first
    data-addable="publication_and_production">
  </div>
  <!-- ISSN END -->


  <!-- OTHER IDENTIFIER START -->
  <div ng-switch-default class="datatable" data-ng-target="identifierTable" 
    data-kitin-data-table 
    data-table-model="identifierScheme" 
    data-table-header-row-template="/snippets/general-identifier-header-row-template"
    data-table-row-template="/snippets/general-identifier-row-template"
    data-subject="record.about" data-link-multiple="identifierByIdentifierScheme" data-default-type="identifier"
    data-add-first
    data-addable="publication_and_production">
  </div>
  <!-- OTHER IDENTIFIER END -->

</div>
{% endraw %}
 