 {% raw %}
<h2>{{ "Anmärkningar" }}<i></i></h2>
    <div class="cols">
      <div class="col6">
        <label>
          <span class="lbl" translate>LABEL.record.about.summary</span>
            <textarea data-inplace data-ui-jq="autosize" spellcheck="false"
                      data-ng-model="record.about.summary" ></textarea>
        </label>
      </div>
      <div class="col6">
        <label>
          <span class="lbl" translate>LABEL.record.about.languageNote</span>
            <textarea data-inplace data-ui-jq="autosize" spellcheck="false"
                      data-ng-model="record.about.languageNote" ></textarea>
        </label>
        <label>
          <span class="lbl" translate>LABEL.record.about.technicalNote</span>
            <textarea data-inplace data-ui-jq="autosize" spellcheck="false"
                      data-ng-model="record.about.technicalNote" ></textarea>
        </label>

      </div>
    </div>
    <div class="cols">
      <div class="col6">
        <label>
          <span class="lbl" translate>LABEL.record.about.listOfContents</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.listOfContents" ></textarea>
        </label>
      </div>
      <div class="col6"> <!-- data-ng-show="getTypeDef(instance).term == 'Audiobook'" ?-->
        <label>
          <span class="lbl" translate>LABEL.record.about.contributorNote</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.contributorNote" >
        </label>
        <label>
          <span class="lbl" translate>LABEL.record.about.performerNote</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.performerNote" >
        </label>
      </div>
    </div>
    <div class="cols">
      <div class="col6">
          <label>
            <span class="lbl" translate>LABEL.record.about.note</span>
          <textarea data-inplace class="ng-pristine ng-valid" data-ui-jq="autosize" type="text" data-ng-model="record.about.note" ></textarea>
        </label>
      </div>
      <div class="col6">
          <label>
            <span class="lbl" translate>LABEL.record.about.systemRequirements</span>
          <textarea data-inplace class="ng-pristine ng-valid" data-ui-jq="autosize" type="text" data-ng-model="record.about.systemRequirements" ></textarea>
        </label>
      </div>
    </div>
    <div style="clear:both"></div>
		<div class="cols">
			<div class="col6">
	        <label data-ng-repeat="comment in record.about.comment track by $index">
            <span class="lbl" translate>LABEL.record.about.comment</span>
            <textarea data-inplace class="ng-pristine ng-valid" data-ui-jq="autosize" type="text" data-ng-model="record.about.comment[$index]" ></textarea>
        </label>
			</div>
			<div class="col6">
	        <label data-ng-repeat="topic in record.about.isPrimaryTopicOf">
            <span class="lbl" translate>{{ "isPrimaryTopicOf type: " + topic['@type'] }}</span>
          <textarea data-inplace class="ng-pristine ng-valid" data-ui-jq="autosize" type="text" data-ng-model="topic['@id']" ></textarea>
        </label>
	        <label data-ng-repeat="topic in record.about.isPrimaryTopicOf">
            <span class="lbl" translate>LABEL.record.about.isPrimaryTopicOf</span>
          <textarea data-inplace class="ng-pristine ng-valid" data-ui-jq="autosize" type="text" data-ng-model="topic.comment" ></textarea>
        </label>
			</div>		
		</div>

    <div class="cols">
      <div class="col6">
          <label data-ng-repeat="audience in record.about.audience">
            <span class="lbl" translate>LABEL.record.about.audience.label</span>
          <textarea data-inplace class="ng-pristine ng-valid" data-ui-jq="autosize" type="text" data-ng-model="audience.label" ></textarea>        
<!-- audience from fixed fields?
        </label>
          <label data-ng-repeat="audience in record.about.audience">
            <span class="lbl" translate>LABEL.record.about.audience</span>
          <textarea data-inplace class="ng-pristine ng-valid" data-ui-jq="autosize" type="text" data-ng-model="audience" ></textarea>          
        </label>
-->
      </div>
      <div class="col6"></div>
    </div>
    <div style="clear:both"></div>    
    </ng-form>

 {% endraw %}