<h2>{{ "Anmärkningar" }}<i></i></h2>
<div class="form-container">

  <kitin-group title="">
    <kitin-table model="record.about.comment">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="model[$index]"/></kitin-td>
    </kitin-table>

    <kitin-table model="record.about.listOfContents">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="model[$index]"/></kitin-td>
    </kitin-table>

    <kitin-table model="record.about.performerNote">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="model[$index]"/></kitin-td>
    </kitin-table>

    <kitin-textrow model="record.about.note"></kitin-textrow>

    <kitin-table model="record.about.systemRequirements">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="model[$index]"/></kitin-td>
    </kitin-table>

    <kitin-table model="record.about.summary">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="model[$index]"/></kitin-td>
    </kitin-table>

    <kitin-entityrow model="record.about.isPrimaryTopicOf" multiple rich view="/snippets/render-relation-referenced-entity">
      <kitin-search service-url="/bib/_search" make-reference template-id="bib-completion-template"></kitin-search>
    </kitin-entityrow>
    
    <kitin-entityrow model="record.about.audience">
      <kitin-select filter="about.inCollection.@id:/def/enum/content/audience-collection"></kitin-select>
    </kitin-entityrow>

    <kitin-table model="record.about.hasAnnotation"
                 titles="['LABEL.note', 'LABEL.degree', 'LABEL.location', 'LABEL.date', 'LABEL.comment']">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.note"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.degree"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.location"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.date"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.comment"/></kitin-td>
    </kitin-table>
    
  </kitin-group>
</div>
<div class="element-adder" data-element-adder="notes"></div>
