 {% raw %}
<h2>{{ "Anmärkningar" }}<i></i></h2>

    <div class="cols">
      <div class="col6">
        <label>
          <div class="datatable" data-ng-target="summary" 
            data-kitin-data-table 
            data-collapsable="true"
            data-table-model="record.about.summary" 
            data-table-header-row-template="summary-header-row-template"
            data-table-row-template="summary-row-template"
            data-subject="record.about" data-link-multiple="summary"
            data-default-type="summary"
            data-add-first
            data-addable="publication_and_production">
          </div>
          <script type="text/ng-template" id="summary-header-row-template">
            <td><span class="lbl" translate>LABEL.record.about.summary</span></td>
          </script>
          <script type="text/ng-template" id="summary-row-template">
            <td><label><textarea data-ui-jq="autosize" ng-model="object" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
            <td class="controls">
              <button class="btn-link deleter" data-ng-click="removeTableRow($index)"><i class="fa fa-times"></i></button>
            </td>
          </script>
        </label>  
      </div>
      <div class="col6">
        <label>
          <div class="datatable" data-ng-target="listOfContents" 
            data-kitin-data-table 
            data-collapsable="true"
            data-table-model="record.about.listOfContents" 
            data-table-header-row-template="issueNumber-header-row-template"
            data-table-row-template="issueNumber-row-template"
            data-subject="record.about" data-link-multiple="listOfContents"
            data-default-type="IssueNumber"
            data-add-first
            data-addable="publication_and_production">
          </div>
          <script type="text/ng-template" id="listOfContents-header-row-template">
            <td><span class="lbl" translate>LABEL.record.about.listOfContents</span></td>
          </script>
          <script type="text/ng-template" id="listOfContents-row-template">
            <td><label><input ng-model="object" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
            <td class="controls">
              <button class="btn-link deleter" data-ng-click="removeTableRow($index)"><i class="fa fa-times"></i></button>
            </td>
          </script>
        </label>  
      </div>
    </div>

    <div class="cols">
      <div class="col6">
        <label>
          <div class="datatable" data-ng-target="performerNote" 
            data-kitin-data-table 
            data-collapsable="true"
            data-table-model="record.about.performerNote" 
            data-table-header-row-template="performerNote-header-row-template"
            data-table-row-template="performerNote-row-template"
            data-subject="record.about" data-link-multiple="performerNote"
            data-default-type="IssueNumber"
            data-add-first
            data-addable="publication_and_production">
          </div>
          <script type="text/ng-template" id="performerNote-header-row-template">
            <td><span class="lbl" translate>LABEL.record.about.performerNote</span></td>
          </script>
          <script type="text/ng-template" id="performerNote-row-template">
            <td><label><input ng-model="object" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
            <td class="controls">
              <button class="btn-link deleter" data-ng-click="removeTableRow($index)"><i class="fa fa-times"></i></button>
            </td>
          </script>
        </label>  
      </div>
      <div class="col6" data-ng-show="record.about.contributorNote"> <!-- data-ng-show="getTypeDef(instance).term == 'Audiobook'" ?-->
        <label>
          <span class="lbl" translate>LABEL.record.about.contributorNote</span>
          <textarea data-inplace data-ui-jq="autosize" class="ng-pristine ng-valid" type="text" data-ng-model="record.about.contributorNote" ></textarea>
        </label>
        <label>
          <span class="lbl" translate>LABEL.record.sourceNote</span>
          <textarea data-inplace data-ui-jq="autosize" class="ng-pristine ng-valid" type="text" data-ng-model="record.sourceNote" ></textarea>
        </label>
      </div>
    </div>
    <div class="cols">
      <div class="col6" data-ng-show="record.about.technicalNote">
        <label>
          <span class="lbl" translate>LABEL.record.about.technicalNote</span>
            <textarea data-inplace data-ui-jq="autosize" spellcheck="false"
                      data-ng-model="record.about.technicalNote" ></textarea>
        </label>
      </div>
      <div class="col6" data-ng-show="record.about.systemRequirements">
        <label class="datatable" data-ng-target="systemRequirementsTable" 
          data-kitin-data-table 
          data-table-model="record.about.systemRequirements" 
          data-table-header-row-template="systemRequirements-header-row-template"
          data-table-row-template="systemRequirements-row-template"
          data-subject="record.about" data-link-multiple="systemRequirements"
          data-default-type="Comment"
          data-add-first
          data-addable="notes">
        </label>

        <script type="text/ng-template" id="systemRequirements-header-row-template">
          <td>
              <span class="lbl" translate>LABEL.record.about.systemRequirements</span>
          </td>
        </script>
        <script type="text/ng-template" id="systemRequirements-row-template">
          <td>
            <label>
              <textarea ng-model="objects[$index]" data-inplace class="ng-pristine ng-valid" type="text"></textarea>
            </label>
          </td>
          <td class="controls">
            <button class="btn-link deleter" data-ng-click="removeTableRow($index)">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </script>
      </div>
    </div>
    <div style="clear:both"></div>
		<div class="cols">
			<div class="col6">
        <label class="datatable" data-ng-target="commentTable" 
          data-kitin-data-table 
          data-table-model="record.about.comment" 
          data-table-header-row-template="comment-header-row-template"
          data-table-row-template="comment-row-template"
          data-subject="record.about" data-link-multiple="comment"
          data-default-type="Comment"
          data-add-first
          data-addable="notes">
        </label>

        <script type="text/ng-template" id="comment-header-row-template">
          <td>
              <span class="lbl" translate>LABEL.record.about.comment</span>
          </td>
        </script>
        <script type="text/ng-template" id="comment-row-template">
          <td>
            <label>
              <textarea ng-model="objects[$index]" data-inplace class="ng-pristine ng-valid" type="text"></textarea>
            </label>
          </td>
          <td class="controls">
            <button class="btn-link deleter" data-ng-click="removeTableRow($index)">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </script>

			</div>
			<div class="col6">
	      <label data-ng-repeat="topic in record.about.isPrimaryTopicOf">
            <span class="lbl" translate>{{ "isPrimaryTopicOf type: " + topic['@type'] }}</span>
          <textarea data-inplace class="ng-pristine ng-valid" data-ui-jq="autosize" type="text" data-ng-model="topic['@id']" ></textarea>
        </label>
	      <label data-ng-repeat="topic in record.about.isPrimaryTopicOf">
            <span class="lbl" translate>LABEL.record.about.isPrimaryTopicOf</span>
          <textarea data-inplace class="ng-pristine ng-valid" data-ui-jq="autosize" type="text" data-ng-model="topic.comment" ></textarea>
        </label>
			</div>		
		</div>

    <div class="cols">
      <div class="col6">
          <label>
            <span class="lbl" translate>LABEL.record.about.audience</span>
            <ul class="tags" data-kitin-link-entity
                data-subject="record.about"
                data-link="'audience'" data-type="audience"
                data-view-template="render-generic-linked-entity"
                data-search-template="render-generic-select-category"
                data-filter="about.inCollection.@id:\/def\/enum\/content\/audience\-collection">
            </ul>
          </label>
      </div>
      <div class="col6" data-ng-show="record.about.note">
       <label>
            <span class="lbl" translate>LABEL.record.about.note</span>
          <textarea data-inplace class="ng-pristine ng-valid" data-ui-jq="autosize" type="text" data-ng-model="record.about.note" ></textarea>
        </label>	      
      </div>
      <div class="col12">
        <label class="datatable" data-ng-target="hasAnnotation" 
          data-kitin-data-table 
          data-table-model="record.about.hasAnnotation" 
          data-table-header-row-template="hasAnnotation-header-row-template"
          data-table-row-template="hasAnnotation-row-template"
          data-subject="record.about" data-link-multiple="hasAnnotation"
          data-default-type="hasAnnotation"
          data-add-first
          data-addable="notes">
        </label>

        <script type="text/ng-template" id="hasAnnotation-header-row-template">
          <td><span class="lbl" translate>LABEL.record.about.hasAnnotation.note</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasAnnotation.degree</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasAnnotation.location</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasAnnotation.date</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasAnnotation.comment</span></td>
        </script>
        <script type="text/ng-template" id="hasAnnotation-row-template">
          <td>
            <label>
              <textarea ng-model="object['note']" data-inplace class="ng-pristine ng-valid" type="text"></textarea>
            </label>
          </td>
          <td>
            <label>
              <textarea ng-model="object['degree']" data-inplace class="ng-pristine ng-valid" type="text"></textarea>
            </label>
          </td>
          <td>
            <label>
              <textarea ng-model="object['location']" data-inplace class="ng-pristine ng-valid" type="text"></textarea>
            </label>
          </td>
          <td>
            <label>
              <textarea ng-model="object['date']" data-inplace class="ng-pristine ng-valid" type="text"></textarea>
            </label>
          </td>
          <td>
            <label>
              <textarea ng-model="object['comment']" data-inplace class="ng-pristine ng-valid" type="text"></textarea>
            </label>
          </td>
          <td class="controls">
            <button class="btn-link deleter" data-ng-click="removeTableRow($index)">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </script>
      </div>
    </div>
    <div style="clear:both"></div>    
    <div class="element-adder" data-element-adder="notes"></div>
 {% endraw %}