
<h2>Fysisk beskrivning<i></i></h2>
<div class="form-container">
  <kitin-group>
  <!-- ADDITIONAL CARRIER TYPE START -->

    <div class="label">
      <span class="lbl" translate>LABEL.record.about.additionalCarrierType</span>
      <ul class="tags" data-kitin-link-entity
          data-track-change
          data-subject="record.about"
          data-link="'additionalCarrierType'" data-type="AdditionalCarrierType"
          data-view-template="/snippets/render-generic-linked-entity"
          data-search-template="/snippets/render-generic-select"
          data-filter="about.inCollection.@id:/def/enum/content/additionalCarrierType-collection">
      </ul>
    </div>
    <!-- ADDITIONAL CARRIER TYPE END -->

    <kitin-textrow model="record.about.exampleOfWork.title"></kitin-textrow>
    
    <div class="label">
      <span class="lbl" translate>LABEL.record.about.exampleOfWork.subtitle</span>
      <ul class="tags" data-kitin-link-entity
          data-track-change
          data-subject="record.about.exampleOfWork"
          data-link-multiple="'subtitle'" data-type="subtitle"
          data-search-template="/snippets/render-generic-non-auth-add"
          data-view-template="/snippets/render-non-auth-tag">
      </ul>
    </div>
    <div class="label">
      <span class="lbl" translate>LABEL.record.about.exampleOfWork.partNumber</span>
      <ul class="tags" data-kitin-link-entity
          data-track-change
          data-subject="record.about.exampleOfWork"
          data-link-multiple="'partNumber'" data-type="partNumber"
          data-search-template="/snippets/render-generic-non-auth-add"
          data-view-template="/snippets/render-non-auth-tag">
      </ul>
    </div>



    <!-- MATERIAL START -->
    <div class="label">
      <span class="lbl" translate>LABEL.record.about.material</span>
      <input data-track-change type="text" data-ng-model="record.about.material['@id']" placeholder="">
    </div>
    <!-- MATERIAL END -->
    <!-- RELIEF START -->
    <div class="label">
      <span class="lbl" translate>LABEL.record.about.relief</span>
      <input data-track-change type="text" data-ng-model="record.about.relief['@id']" placeholder="">
    </div>
    <!-- RELIEF END -->

    <!-- RELIEF START -->
    <div class="label">
      <span class="lbl" translate>LABEL.record.about.fileType</span>
      <input data-track-change type="text" data-ng-model="record.about.fileType" placeholder="">
    </div>
    <!-- RELIEF START -->

    <!-- INDEX START -->
    <div class="label">
      <span class="lbl" translate>LABEL.record.about.index</span>
      <input data-track-change type="text" data-ng-model="record.about.index['@id']" placeholder="">
     </div>
     <!-- INDEX END -->
  </kitin-group>

<!-- HAS FORMAT  START -->
<kitin-group data-ng-repeat="(formatType, subFormat) in record.about.hasFormatByType" ng-switch="formatType">

  <h3 ng-if="subFormat.length > 0" class="ng-binding" translate>{{ 'LABEL.record.about.hasFormat.' + formatType }}</h3>

  <span ng-switch-when="Product">
    <kitin-table model="record.about.hasFormatByType['Product']"
                 titles="['LABEL.extent', 'LABEL.dimensions', 'LABEL.otherPhysicalDetails', 'LABEL.accompanyingMaterial']">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.extent"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.dimensions"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.otherPhysicalDetails"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.accompanyingMaterial"/></kitin-td>
    </kitin-table>
  </span>

  <span ng-switch-when="Electronic">
    <kitin-table model="record.about.hasFormatByType['Electronic']"
                 titles="['LABEL.carrierType', 'LABEL.color', 'LABEL.dimensions']">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.carrierType"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.color"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.dimensions"/></kitin-td>
    </kitin-table>
  </span>

  <span ng-switch-when="Map">
    <kitin-table model="record.about.hasFormatByType['Map']"
                 titles="['LABEL.carrierType', 'LABEL.color', 'LABEL.medium']">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.carrierType"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.color"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.medium"/></kitin-td>
    </kitin-table>
  </span>  

  <span ng-switch-when="StillImage">
    <kitin-table model="record.about.hasFormatByType['StillImage']"
                 titles="['LABEL.carrierType', 'LABEL.nonProjColor', 'LABEL.nonProjPrimary']">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.carrierType"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.nonProjColor"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.nonProjPrimary"/></kitin-td>
    </kitin-table>
  </span>  

  <span ng-switch-when="MovingImage">
    <kitin-table model="record.about.hasFormatByType['MovingImage']"
                 titles="['LABEL.carrierType', 'LABEL.motionPicFormat', 'LABEL.motionPicSound', 'LABEL.motionPicMedium', 'LABEL.motionPicDimensions']">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.carrierType"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.motionPicFormat"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.motionPicSound"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.motionPicMedium"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.motionPicDimensions"/></kitin-td>
    </kitin-table>
  </span>  

  <span ng-switch-when="SoundRecording">
    <kitin-table model="record.about.hasFormatByType['SoundRecording']"
                 titles="['LABEL.carrierType', 'LABEL.soundSpeed', 'LABEL.soundDimensions', 'LABEL.soundKindOfDisc', 'LABEL.soundKindOfMaterial', 'LABEL.soundPlaybackCharacter']">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.carrierType"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.soundSpeed"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.soundDimensions"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.soundKindOfDisc"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.soundKindOfMaterial"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.soundPlaybackCharacter"/></kitin-td>
    </kitin-table>
  </span> 

  <span ng-switch-when="VideoRecording">
    <kitin-table model="record.about.hasFormatByType['VideoRecording']"
                 titles="['LABEL.carrierType', 'LABEL.videoColor', 'LABEL.videoFormat', 'LABEL.videoSound']">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.carrierType"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.videoColor"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.videoFormat"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.videoSound"/></kitin-td>
    </kitin-table>
  </span>   

    <!-- Rest START -->
    <div ng-switch-default class="datatable">
      <table>
        <tbody>
          <tr ng-repeat="format in subFormat">
            <td ng-repeat="(key, value) in format">
              <span class="lbl">{{key}}</span>
              <div class="label">
                <input data-track-change type="text" ng-model="value"/>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Rest END -->
  </kitin-group>
<!-- HAS FORMAT  END -->


  <kitin-group>
    <!-- ILLUSTRATIONS  START -->
    <div class="label">
      <span class="lbl" translate>LABEL.record.about.illustrations</span>
      <div data-kitin-link-entity
          data-track-change
          data-subject="record.about"
          data-link="'illustrations'"
          data-view-template="/snippets/render-generic-tag-entity"
          data-search-template="/snippets/render-generic-select"
          data-filter="about.inCollection.@id:/def/enum/content/illustrations-collection"
          ng-init=" placeholder='Lägg till'; ">
      </div>
    </div>
    <!-- ILLUSTRATIONS  END -->

    <!-- NATURE  START -->
    <div class="label">
      <span class="lbl" translate>LABEL.record.about.nature</span>
      <div data-kitin-link-entity
          data-track-change
          data-subject="record.about"
          data-link="'nature'"
          data-view-template="/snippets/render-generic-tag-entity"
          data-search-template="/snippets/render-generic-select"
          data-filter="about.inCollection.@id:/def/enum/content/nature-collection"
          ng-init=" placeholder='Lägg till'; ">
      </div>
    </div>
    <!-- NATURE  END -->

    <!-- ORIGNIAL ITEM  START -->
    <div class="label">
      <span class="lbl" translate>LABEL.record.about.originalItem</span>
      <div data-kitin-link-entity
          data-track-change
          data-subject="record.about"
          data-link="'originalItem'"
          data-view-template="/snippets/render-generic-tag-entity"
          data-search-template="/snippets/render-generic-select"
          data-filter="about.inCollection.@id:/def/enum/content/originalItem-collection"
          ng-init=" placeholder='Lägg till'; ">
      </div>
    </div>
    <!-- ORIGNIAL ITEM  END -->

    <kitin-textrow model="record.about.runningTime"></kitin-textrow>

  </kitin-group>

<!-- More Map Details -->
  <kitin-group title="Specifikt för kartor title">
    <kitin-textrow model="record.about.availability"></kitin-textrow>
    <kitin-textrow model="record.about.cartographicScale"></kitin-textrow>
    <kitin-textrow model="record.about.cartographicCoordinates"></kitin-textrow>

    <kitin-table model="record.about.cartographicAscensionAndDeclination"
                 titles="['LABEL.cartographicScale', 'LABEL.constantRatioLinearHorizontalScale', 'LABEL.westernmostLongitudeCoordinates', 'LABEL.easternmostLongitudeCoordinates', 'LABEL.northernmostLatitudeCoordinates', 'LABEL.southernmostLatitudeCoordinates']">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.cartographicScale"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.constantRatioLinearHorizontalScale"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.westernmostLongitudeCoordinates"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.easternmostLongitudeCoordinates"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.northernmostLatitudeCoordinates"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.southernmostLatitudeCoordinates"/></kitin-td>
    </kitin-table>
  </kitin-group>
</div>

<div class="element-adder" data-element-adder="physical_description"></div>
