 {% raw %}
  <div>
    <h2>Fysisk beskrivning<i></i></h2>
    <div class="cols">
      <div class="col6" data-ng-show="record.about.material['@id']">
        <label>
          <span class="lbl" translate>LABEL.record.about.material</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.material['@id']" placeholder="">
         </label>
      </div>
      <div class="col6" data-ng-show="record.about.relief['@id']">
        <label>
          <span class="lbl" translate>LABEL.record.about.relief</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.relief['@id']" placeholder="">
         </label>
      </div>
    </div>
    <div class="cols">
    	<div class="col6" data-ng-show="record.about.fileType">
        <label>
          <span class="lbl" translate>LABEL.record.about.fileType</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.fileType" placeholder="">
         </label>
      </div>
      <div class="col6" data-ng-show="record.about.index['@id']">
        <label>
          <span class="lbl" translate>LABEL.record.about.index</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.index['@id']" placeholder="">
         </label>
      </div>
    </div>
    <div class="cols" data-ng-repeat="(formatType, subFormat) in record.about.hasFormatByType">

      <h3 class="ng-binding" translate>{{ 'LABEL.record.about.hasFormat.' + formatType }}</h3>
      <div class="col12" ng-switch on="formatType">


        <!-- Electronic START -->
        <div ng-switch-when="Electronic" class="datatable" data-ng-target="electronicTable" 
          kitin-data-table 
          table-model="subFormat" 
          table-header-translate table-header-translate-prefix= "LABEL.record.about.hasFormat.Electronic"
          table-columns="carrierType[0]['@id'],color['@id'],dimensions['@id']"
          data-subject="record.about" data-link-multiple="hasFormatByType"
          addable>
        </div>
        <!-- Electronic END -->

        <!-- Map START -->
        <div ng-switch-when="Map" class="datatable" data-ng-target="movingImageTable" 
          kitin-data-table 
          table-model="subFormat" 
          table-header-translate table-header-translate-prefix= "LABEL.record.about.hasFormat.Map"
           table-columns="carrierType[0]['@id'],color['@id'],medium['@id']"
          data-subject="record.about" data-link-multiple="hasFormatByType"
          addable>
        </div>
        <!-- Map END -->

        <!-- MovingImage START -->
        <div ng-switch-when="MovingImage" class="datatable" data-ng-target="movingImageTable" 
          kitin-data-table 
          table-model="subFormat" 
          table-header-translate table-header-translate-prefix= "LABEL.record.about.hasFormat.MovingImage"
          table-columns="carrierType[0]['@id'],motionPicFormat['@id'],motionPicSound['@id'],motionPicMedium['@id'],motionPicDimensions['@id']"
          data-subject="record.about" data-link-multiple="hasFormatByType"
          addable>
        </div>
        <!-- MovingImage END -->

        <!-- Product START -->
        <div ng-switch-when="Product" class="datatable" data-ng-target="productTable" 
          kitin-data-table 
          table-model="subFormat" 
          table-header-translate table-header-translate-prefix= "LABEL.record.about.hasFormat.Product"
          table-columns="extent,dimensions,otherPhysicalDetails,accompanyingMaterial"
          data-subject="record.about" data-link-multiple="hasFormatByType"
          addable>
        </div>
        <!-- Product END -->

        <!-- SoundRecording START -->
        <div ng-switch-when="SoundRecording" class="datatable" data-ng-target="soundRecordingTable" 
          kitin-data-table 
          table-model="subFormat" 
          table-header-translate table-header-translate-prefix= "LABEL.record.about.hasFormat.SoundRecording"
          table-columns="carrierType[0]['@id'],soundSpeed['@id'],soundDimensions['@id'],soundKindOfDisc['@id'],soundKindOfMaterial['@id'],soundPlaybackCharacter['@id']"
          data-subject="record.about" data-link-multiple="hasFormatByType"
          addable>
        </div>
        <!-- SoundRecording END -->

        <!-- VideoRecording START -->
        <div ng-switch-when="VideoRecording" class="datatable" data-ng-target="videoRecordingTable" 
          kitin-data-table 
          table-model="subFormat" 
          table-header-translate table-header-translate-prefix= "LABEL.record.about.hasFormat.VideoRecording"
          table-columns="carrierType[0]['@id'],videoFormat['@id']"
          data-subject="record.about" data-link-multiple="hasFormatByType"
          addable>
        </div>
        <!-- VideoRecording END -->

        <!-- Rest START -->
        <div ng-switch-default class="datatable">
          <table>
            <tbody>
              <tr ng-repeat="format in subFormat">
                <td ng-repeat="(key, value) in format">
                  <span class="lbl">{{key}}</span>
                  <label>
                    <input data-inplace class="ng-pristine ng-valid" type="text" ng-model="value"/>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Rest END -->

    </div>

		<!-- More Map Details -->
	<div class="cols" ng-switch on="formatType"  >	
      <div class="col6" data-ng-switch-when="Map">
        <label>
          <span class="lbl" translate>LABEL.record.about.cartographicScale</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.cartographicScale" placeholder="">
         </label>
      </div>
      <div class="col6" data-ng-switch-when="Map">
        <label>
          <span class="lbl" translate>LABEL.record.about.cartographicCoordinates</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.cartographicCoordinates" placeholder="">
         </label>
      </div>
	</div>

  </div>
  <div class="element-adder"></div>
</div>
 {% endraw %}