 {% raw %}
  <div>
    <h2>Fysisk beskrivning<i></i></h2>
    <div class="cols">
      <label>
        <span class="lbl" translate>LABEL.record.about.additionalCarrierType</span>
        <ul class="tags" data-kitin-link-entity
            data-subject="record.about"
            data-link="'additionalCarrierType'" data-type="AdditionalCarrierType"
            data-view-template="render-generic-linked-entity"
            data-search-template="render-generic-select-category"
            data-filter="about.inCollection.@id:\/def\/enum\/content\/additionalCarrierType\-collection">
        </ul>
      </label>
      <div class="col6" data-ng-show="record.about.material['@id']">
        <label>
          <span class="lbl" translate>LABEL.record.about.material</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.material['@id']" placeholder="">
         </label>
      </div>
      <div class="col6" data-ng-show="record.about.relief['@id']">
        <label>
          <span class="lbl" translate>LABEL.record.about.relief</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.relief['@id']" placeholder="">
         </label>
      </div>
    </div>
    <div class="cols">
    	<div class="col6" data-ng-show="record.about.fileType">
        <label>
          <span class="lbl" translate>LABEL.record.about.fileType</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.fileType" placeholder="">
         </label>
      </div>
      <div class="col6" data-ng-show="record.about.index['@id']">
        <label>
          <span class="lbl" translate>LABEL.record.about.index</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.index['@id']" placeholder="">
         </label>
      </div>
    </div>
    <div class="cols" data-ng-repeat="(formatType, subFormat) in record.about.hasFormatByType">

      <h3 ng-if="subFormat.length > 0" class="ng-binding" translate>{{ 'LABEL.record.about.hasFormat.' + formatType }}</h3>
      <div class="col12" ng-switch on="formatType">

        <!-- Product START -->
        <div ng-switch-when="Product" class="datatable" data-ng-target="productTable" 
          data-kitin-data-table 
          data-table-model="subFormat" 
          data-table-header-row-template="product-header-row-template"
          data-table-row-template="product-row-template"
          data-subject="record.about" data-link-multiple="hasFormatByType"
          data-add-first
          data-addable="physical_description">
        </div>
        <script type="text/ng-template" id="product-header-row-template">
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.Product.extent</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.Product.dimensions</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.Product.otherPhysicalDetails</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.Product.accompanyingMaterial</span></td>
        </script>
        <script type="text/ng-template" id="product-row-template">
          <td><label><input ng-model="object['extent']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['dimensions']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['otherPhysicalDetails']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['accompanyingMaterial']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td class="controls">
            <button class="btn-link deleter" data-ng-click="removeTableRow($index)"><i class="fa fa-times"></i></button>
          </td>
        </script>
        <!-- Product END -->

        <!-- Electronic START -->
        <div ng-switch-when="Electronic" class="datatable" data-ng-target="electronicTable" 
          data-kitin-data-table 
          data-table-model="subFormat" 
          data-table-header-row-template="electronic-header-row-template"
          data-table-row-template="electronic-row-template"
          data-subject="record.about" data-link-multiple="hasFormatByType"
          data-add-first
          data-addable="physical_description">
        </div>
        <script type="text/ng-template" id="electronic-header-row-template">
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.Electronic.carrierType</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.Electronic.color</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.Electronic.dimensions</span></td>
        </script>
        <script type="text/ng-template" id="electronic-row-template">
          <td><label><input ng-model="object['carrierType'][0]['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['color']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['dimensions']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td class="controls">
            <button class="btn-link deleter" data-ng-click="removeTableRow($index)"><i class="fa fa-times"></i></button>
          </td>
        </script>
        <!-- Electronic END -->

        <!-- Map START -->

        <div ng-switch-when="Map" class="datatable" data-ng-target="movingImageTable" 
          data-kitin-data-table 
          data-table-model="subFormat" 
          data-table-header-row-template="map-header-row-template"
          data-table-row-template="map-row-template"
          data-subject="record.about" data-link-multiple="hasFormatByType"
          data-add-first
          data-addable="physical_description">
        </div>
        <script type="text/ng-template" id="map-header-row-template">
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.Map.carrierType</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.Map.color</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.Map.medium</span></td>
        </script>
        <script type="text/ng-template" id="map-row-template">
          <td><label><input ng-model="object['carrierType'][0]['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['color']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['medium']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td class="controls">
            <button class="btn-link deleter" data-ng-click="removeTableRow($index)"><i class="fa fa-times"></i></button>
          </td>
        </script>
        <!-- Map END -->

        <!-- StillImage START -->
        <div ng-switch-when="StillImage" class="datatable" data-ng-target="stillImageTable" 
          data-kitin-data-table 
          data-table-model="subFormat" 
          data-table-header-row-template="still-image-header-row-template"
          data-table-row-template="still-image-row-template"
          data-subject="record.about" data-link-multiple="hasFormatByType"
          data-add-first
          data-addable="physical_description">
        </div>
        <script type="text/ng-template" id="still-image-header-row-template">
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.StillImage.carrierType</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.StillImage.nonProjColor</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.StillImage.nonProjPrimary</span></td>
        </script>
        <script type="text/ng-template" id="still-image-row-template">
          <td><label><input ng-model="object['carrierType'][0]['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['nonProjColor']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['nonProjPrimary']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td class="controls">
            <button class="btn-link deleter" data-ng-click="removeTableRow($index)"><i class="fa fa-times"></i></button>
          </td>
        </script>
        <!-- StillImage END -->

        <!-- MovingImage START -->
        <div ng-switch-when="MovingImage" class="datatable" data-ng-target="movingImageTable" 
          data-kitin-data-table 
          data-table-model="subFormat" 
          data-table-header-row-template="moving-image-header-row-template"
          data-table-row-template="moving-image-row-template"
          data-subject="record.about" data-link-multiple="hasFormatByType"
          data-add-first
          data-addable="physical_description">
        </div>
        <script type="text/ng-template" id="moving-image-header-row-template">
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.MovingImage.carrierType</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.MovingImage.motionPicFormat</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.MovingImage.motionPicSound</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.MovingImage.motionPicMedium</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.MovingImage.motionPicDimensions</span></td>
        </script>
        <script type="text/ng-template" id="moving-image-row-template">
          <td><label><input ng-model="object['carrierType'][0]['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['motionPicFormat']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['motionPicSound']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['motionPicMedium']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['motionPicDimensions']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td class="controls">
            <button class="btn-link deleter" data-ng-click="removeTableRow($index)"><i class="fa fa-times"></i></button>
          </td>
        </script>
        <!-- MovingImage END -->

        <!-- SoundRecording START -->
        <div ng-switch-when="SoundRecording" class="datatable" data-ng-target="soundRecordingTable" 
          data-kitin-data-table 
          data-table-model="subFormat" 
          data-table-header-row-template="sound-recording-header-row-template"
          data-table-row-template="sound-recording-row-template"
          data-subject="record.about" data-link-multiple="hasFormatByType"
          data-add-first
          data-addable="physical_description">
        </div>
        <script type="text/ng-template" id="sound-recording-header-row-template">
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.SoundRecording.carrierType</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.SoundRecording.soundSpeed</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.SoundRecording.soundDimensions</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.SoundRecording.soundKindOfDisc</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.SoundRecording.soundKindOfMaterial</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.SoundRecording.soundPlaybackCharacter</span></td>
        </script>
        <script type="text/ng-template" id="sound-recording-row-template">
          <td><label><input ng-model="object['carrierType'][0]['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['soundSpeed']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['soundDimensions']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['soundKindOfDisc']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['soundKindOfMaterial']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['soundPlaybackCharacter']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td class="controls">
            <button class="btn-link deleter" data-ng-click="removeTableRow($index)"><i class="fa fa-times"></i></button>
          </td>
        </script>
        <!-- SoundRecording END -->

        <!-- VideoRecording START -->
        <div ng-switch-when="VideoRecording" class="datatable" data-ng-target="videoRecordingTable" 
          data-kitin-data-table 
          data-table-model="subFormat" 
          data-table-header-row-template="video-recording-header-row-template"
          data-table-row-template="video-recording-row-template"
          data-subject="record.about" data-link-multiple="hasFormatByType"
          data-add-first
          data-addable="physical_description">
        </div>
        <script type="text/ng-template" id="video-recording-header-row-template">
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.VideoRecording.carrierType</span></td>
          <td><span class="lbl" translate>LABEL.record.about.hasFormat.VideoRecording.videoFormat</span></td>
        </script>
        <script type="text/ng-template" id="video-recording-row-template">
          <td><label><input ng-model="object['carrierType'][0]['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td><label><input ng-model="object['videoFormat']['@id']" data-inplace class="ng-pristine ng-valid" type="text" /></label></td>
          <td class="controls">
            <button class="btn-link deleter" data-ng-click="removeTableRow($index)"><i class="fa fa-times"></i></button>
          </td>
        </script>
        <!-- VideoRecording END -->

        <!-- Rest START -->
        <div ng-switch-default class="datatable">
          <table>
            <tbody>
              <tr ng-repeat="format in subFormat">
                <td ng-repeat="(key, value) in format">
                  <span class="lbl">{{key}}</span>
                  <label>
                    <input data-inplace class="ng-pristine ng-valid" type="text" ng-model="value"/>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Rest END -->

    </div>
  </div>

  <div class="cols">
  	<div class="col6">
    <label>
      <span class="lbl" translate>LABEL.record.about.illustrations</span>
      <div data-kitin-link-entity
          data-subject="record.about"
          data-link="'illustrations'"
          data-view-template="render-tag-view"
          data-search-template="render-generic-select-category"
          data-filter="about.inCollection.@id:\/def\/enum\/content\/illustrations\-collection"
          ng-init=" placeholder='Lägg till'; ">
      </div>
    </label>


    <label>
      <span class="lbl" translate>LABEL.record.about.nature</span>
      <div data-kitin-link-entity
          data-subject="record.about"
          data-link="'nature'"
          data-view-template="render-tag-view"
          data-search-template="render-generic-select-category"
          data-filter="about.inCollection.@id:\/def\/enum\/content\/nature\-collection"
          ng-init=" placeholder='Lägg till'; ">
      </div>
    </label>


    <label>
      <span class="lbl" translate>LABEL.record.about.originalItem</span>
      <div data-kitin-link-entity
          data-subject="record.about"
          data-link="'originalItem'"
          data-view-template="render-tag-view"
          data-search-template="render-generic-select-category"
          data-filter="about.inCollection.@id:\/def\/enum\/content\/originalItem\-collection"
          ng-init=" placeholder='Lägg till'; ">
      </div>
    </label>



 	
  	</div>
  </div>
  
		<!-- More Map Details -->

	<div class="cols">
      <div class="col6">
        <label>
          <span class="lbl" translate>LABEL.record.about.cartographicScale</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.cartographicScale" placeholder="">
         </label>
        <label>
          <span class="lbl" translate>LABEL.record.about.cartographicCoordinates</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.cartographicCoordinates" placeholder="">
         </label>
      </div>
      <div class="col6">
      <div data-ng-repeat="cartographicAscensionAndDeclination in record.about.cartographicAscensionAndDeclination">
        <label>
          <span class="lbl" translate>LABEL.record.about.cartographicAscensionAndDeclination.cartographicScale</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="cartographicAscensionAndDeclination.cartographicScale"></textarea>
        </label>   
        <label>
          <span class="lbl" translate>LABEL.record.about.cartographicAscensionAndDeclination.westernmostLongitudeCoordinates</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="cartographicAscensionAndDeclination.westernmostLongitudeCoordinates"></textarea>
        </label>
        <label>
          <span class="lbl" translate>LABEL.record.about.cartographicAscensionAndDeclination.easternmostLongitudeCoordinates</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="cartographicAscensionAndDeclination.easternmostLongitudeCoordinates"></textarea>
        </label>
        <label>
          <span class="lbl" translate>LABEL.record.about.cartographicAscensionAndDeclination.northernmostLatitudeCoordinates</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="cartographicAscensionAndDeclination.northernmostLatitudeCoordinates"></textarea>
        </label> 
		</div>   
      </div>
	</div>

  </div>
  <div class="element-adder" data-element-adder="physical_description"></div>
</div>
 {% endraw %}