 {% raw %}
<h2>Utgivning och tillverkning<i></i></h2>
    <div class="cols"> <!-- data-ng-show="record.about['@type'] != 'Book'">-->
      <div class="col6">
        <label data-ng-show="record.about.mediaTerm">
          <span class="lbl" translate>LABEL.record.about.mediaTerm</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.mediaTerm">
        </label>
<!-- normalize with other dates in format
        <label ng-if="false">
          <span class="lbl" translate>LABEL.record.about.date</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.date">
        </label>
-->
        <label ng-if="false">
          <span class="lbl" translate>LABEL.record.about.publicationStatus</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.publicationStatus['@id']">
        </label>
<!-- normalize with other dates in format
        <label>
          <span class="lbl" translate>LABEL.record.about.publicationYear</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.publicationYear">
        </label>
-->

        <span class="lbl" translate>LABEL.record.about.publicationCountry</span>
        <ul class="tags" data-kitin-link-entity
            data-subject="record.about"
            data-link-multiple="'publicationCountry'" data-type="Country"
            data-view-template="render-country"
            data-search-template="render-search-country">
        </ul>
        <script type="text/ng-template" id="render-country">
            <a href="#"><i class="fa fa-bookmark" data-ng-if="isAuth(object)"></i> {{ object.prefLabel }} <span data-ng-show="object.notation">({{ object.notation }})</span></a> <i data-ng-if="!editable.on" data-ng-click="doRemove($index)" class="no">&times;</i>
        </script>

        <script type="text/ng-template" id="render-search-country">
          <i class="fa fa-search"></i> <input data-inplace class="input-large authdependant embedded" type="text"
                  placeholder="Lägg till land"
                  data-no-value="{{ object.prefLabel }} ({{ object.notation }})"
                  data-kitin-search-entity
                  data-service-url="{{API_PATH}}/def/_search"
                  data-filter="{'about.@type': 'Country'}"
                  data-completion-template="select-country-template" placeholder="+ Lägg till land">
        </script>
        <script type="text/html" id="select-country-template">
          <div class="auth">
            <h4>
            <span class="name"><%= data.prefLabel %></span><span class="date"> <%= data.notation %></span>
            </h4>
          </div>
        </script>

      </div>
      <div class="col6">
      </div>
    </div>

		<div class="cols">
	    <div class="col12">
	      <div class="datatable" data-ng-target="publisher" 
	        kitin-data-table 
	        table-model="record.about.publication" 
	        table-header-translate table-header-translate-prefix="LABEL.record.about.publication"
	        table-columns="place.label,providerName,providerDate"
	        data-subject="record.about" data-link-multiple="publication"
	        add-first
	        addable>
	      </div>   
	    </div>
		</div>
		
    <div class="cols">
      <div class="col3">
        <label>
          <span class="lbl" translate>LABEL.record.about.editionStatement.edition</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.editionStatement.edition" >
        </label>
      </div>
     <div class="col3" ><!-- data-ng-show="getTypeDef(record.about).term == 'Audiobook'" -->
        <label data-ng-show="record.about.publisherNumber">
          <span class="lbl" translate>LABEL.record.about.publisherNumber</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.publisherNumber" >
        </label>
      </div>
    </div>

		<div class="cols">
	    <div class="col12">
	      <div class="datatable" data-ng-target="manufacture" 
	        kitin-data-table 
	        table-model="record.about.manufacture" 
	        table-header-translate table-header-translate-prefix="LABEL.record.about.manufacture"
	        table-columns="place.label,providerName,providerDate"
	        data-subject="record.about" data-link-multiple="manufacture"
	        add-first
	        addable>
	      </div>   
	    </div>
		</div>

    <div class="cols">
 
    </div>
    </div>
    <div class="identifier"></div>
    <div class="element-adder"></div>
 {% endraw %}