 {% raw %}
<h2>Utgivning och tillverkning<i></i></h2>
    <div class="cols" data-ng-show="instance['@type'] != 'Book'">
      <div class="col6">
        <label>
          <span class="lbl">{{ "Allmän medieterm" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.mediaTerm">
        </label>
      </div>
      <div class="col6">
      </div>
    </div>
    <div class="cols">
      <div class="col6">
      <!--ISBN-->
      <div data-ng-repeat="identifier in record.about.identifier" ng-show="$first">
        <div data-ng-if="identifier.identifierScheme == 'ISBN'" class="datatable" data-ng-target="isbnTable">
          <table>
            <thead data-ng-if="record.about.identifier.length">
              <tr>
                <td><!--TODO fix labels and error messages for identifiers-->
                  <span class="lbl-inline lbl"
                        data-ng-hide="subform.isbn_name.$error.invalid_value || subform.isbn_name.$error.invalid_length"><span data-ng-repeat="identifier in record.about.identifier" data-ng-show="$first">{{ identifier.identifierScheme}}</span>                      
                  </span>
                        
                  <span class="lbl-inline lbl error-label"
                        data-ng-show="subform.isbn_name.$error.invalid_value || subform.isbn_name.$error.invalid_length">{{ "ISBN" }} 
                  <span class="error_message" data-ng-show="subform.isbn_name.$error.invalid_value">(Fel numeriskt värde)</span>
                  <span class="error_message" data-ng-show="subform.isbn_name.$error.invalid_length">(Fel längd)</span>
                  </span>
                </td>
                <td>
                  <span class="lbl">{{ "Notering" }}</span>
                </td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="identifier in record.about.identifier"> 
                <td>
                  <label>
                    <input type="text" data-inplace name="isbn_name" data-ng-model="identifier.identifierValue" data-isbn-pattern="^$|^[0-9\-xX]*$" isbnvalidator/>
                  </label>
                </td>
                <td>
                  <label>
                    <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="identifier.identifierNote"/>
                  </label>
                </td>
                <td class="controls">
                  <button ng-show="!$first" class="btn-link deleter" data-ng-click="removeObject(instance, 'identifier', $index)">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">
                  <button class="add-thing btn-link" data-ng-click="addObject(instance, 'identifier', 'ISBN', 'isbnTable')">{{ 'Lägg till ISBN' }}</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!-- ISSN -->
      <div data-ng-repeat="identifier in record.about.identifier" ng-show="$first">
        <div data-ng-if="identifier.identifierScheme == 'ISSN'" class="datatable" data-ng-target="identifierTable">
          <table>
            <thead data-ng-if="record.about.identifier.length">
              <tr>
                <td><!--TODO fix labels and error messages for identifiers-->
                  <span class="lbl-inline lbl" data-ng-repeat="identifier in record.about.identifier" data-ng-show="$first">{{ identifier.identifierScheme}}</span>
                </td>
                <td>
                  <span class="lbl">{{ "Notering" }}</span>
                </td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="identifier in record.about.identifier"> 
                <td>
                  <label>
                    <input data-inplace type="text" data-ng-model="identifier.identifierValue" />
                  </label>
                </td>
                <td>
                  <label>
                    <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="identifier.identifierNote" >
                  </label>
                </td>
                <td class="controls">
                  <button ng-show="!$first" class="btn-link deleter" data-ng-click="removeObject(instance, 'identifier', $index)">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">
                  <button class="add-thing btn-link" data-ng-click="addObject(instance, 'identifier', 'ISSN',  'identifierTable')">{{ 'Lägg till ISSN' }}</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
       <!-- other unidentified identifiers etc.)-->
      <div data-ng-repeat="identifier in record.about.identifier" ng-show="$first">
        <div data-ng-if="identifier.identifierScheme == undefined" class="datatable" data-ng-target="identifierTable">
          <table>
            <thead data-ng-if="record.about.identifier.length">
              <tr>
                <td><!--TODO fix labels and error messages for identifiers-->
                  <span class="lbl-inline lbl" data-ng-repeat="identifier in record.about.identifier" data-ng-show="$first">{{ 'Identifierare' }}</span>
                </td>
                <td>
                  <span class="lbl">{{ "Notering" }}</span>
                </td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="identifier in record.about.identifier"> 
                <td>
                  <label>
                    <input data-inplace type="text" data-ng-model="identifier.identifierValue" />
                  </label>
                </td>
                <td>
                  <label>
                    <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="identifier.identifierNote" >
                  </label>
                </td>
                <td class="controls">
                  <button ng-show="!$first" class="btn-link deleter" data-ng-click="removeObject(instance, 'identifier', $index)">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">
                  <button class="add-thing btn-link" data-ng-click="addObject(instance, 'identifier', 'identifierScheme',  'identifierTable')">{{ 'Lägg till Identifierare' }}</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        </div>
        
      </div>
    </div>

    <div class="col12">
      <div class="datatable" data-ng-target="publisher">
        <table>
          <thead>
            <tr>
              <td><span class="lbl">{{ "Utgivningsplats" }}</span></td>
              <td><span class="lbl">{{ "Utgivare/förlag" }}</span></td>
              <td><span class="lbl">{{ "Utgivningsår" }}</span></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="publication in record.about.publication" class="">
              <td>
                <label>
                  <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="publication.place.label">
                </label>
              </td>
              <td>
                <label>
                  <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="publication.providerName">
                </label>
              </td>
              <!-- TODO: specify type of place?
              <label>
                <... data-placeholder="Välj ett land" data-ng-model="record.about.instanceOf.country" ... >
                <span class="lbl">{{ "Utgivningsland" }}</span>
              </label>
              -->
              <td class="last">
                <label>
                  <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="publication.providerDate">
                </label>
              </td>
              <td class="controls">
                <button ng-show="!$first" class="btn-link deleter" data-ng-click="removeObject(instance, 'publication', $index)">
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
          <tfoot>
            <tr>
              <td colspan="4">
                <button class="add-thing btn-link" data-ng-click="addObject(instance, 'publication', 'ProviderEvent', 'publisher')">{{ 'Lägg till utgivning' }} </button>
              </td>
            </tr>
          </tfoot>
          </table>
       </div>          
    </div>

    <div class="cols">
      <div class="col3">
        <label>
          <span class="lbl">{{ "Upplaga" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.editionStatement.edition" >
        </label>
      </div>
        <div class="col3">
          <div data-ng-repeat="manufacture in record.about.manufacture">
            <label>
              <span class="lbl">{{ "Tryckplats" }}</span>
              <input data-inplace class="authdependant" type="text" data-ng-model="manufacture.place.label" />
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="cols">
      <div class="col3" data-ng-show="getTypeDef(instance).term == 'Audiobook'">
        <label>
          <span class="lbl">{{ "Utgivningsnummer" }}</span>
          <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="record.about.publisherNumber" >
        </label>
      </div>
    </div>

 {% endraw %}