<h2>Utgivning och tillverkning<i></i></h2>

<div class="form-container">
  <kitin-group title="Identifier titles">
    <span data-ng-repeat="(identifierSchemeName, identifierScheme) in record.about.identifierByIdentifierScheme"
          ng-switch ="identifierSchemeName">
      
      <span ng-switch-when="/def/identifiers/isbn">
        <kitin-table 
         model="record.about.identifierByIdentifierScheme['/def/identifiers/isbn']"
         titles="['identifierValue title','identifierNote title']">
          <kitin-td>
            <textarea data-ui-jq="autosize" spellcheck="false" name="isbn_name" data-ng-model="item.identifierValue" data-isbn-pattern="^$|^[0-9-xX]*$" isbnvalidator/>
            <!-- TODO! Implement a kitin-error-displayer-something -->
            <span class="error_message" data-ng-show="subform.isbn_name.$error.invalid_value">(Fel numeriskt värde)</span>
            <span class="error_message" data-ng-show="subform.isbn_name.$error.invalid_length">(Fel längd)</span>
          </kitin-td>
          <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.identifierNote"/></kitin-td>
        </kitin-table>
      </span>

      <span ng-switch-when="/def/identifiers/issn">
        <kitin-table 
         model="record.about.identifierByIdentifierScheme['/def/identifiers/issn']"
         titles="['identifierValue title','identifierNote title']">
          <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.identifierValue"/></kitin-td>
          <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.identifierNote"/></kitin-td>
        </kitin-table>
      </span>

      <span ng-switch-default>
        <kitin-table 
         model="record.about.identifierByIdentifierScheme[identifierSchemeName]"
         titles="['identifierValue title','identifierNote title']">
          <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.identifierValue"/></kitin-td>
          <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.identifierNote"/></kitin-td>
        </kitin-table>
      </span>

    </span>
  </kitin-group>
  
  <kitin-group title="Some group title">
    
    <kitin-textrow model="record.about.mediaTerm"></kitin-textrow>
    
    <kitin-textrow model="record.about.scopeNote"></kitin-textrow>

    <kitin-entityrow model="record.about.typeOfEntry">
      <kitin-select filter="about.inCollection.@id:/def/enum/content/contentType-collection"></kitin-select>
    </kitin-entityrow>

    <kitin-entityrow model="record.about.publicationCountry" multiple>
      <kitin-search service-url="/def/_search" 
                    template-id="select-country-template" 
                    filter="about.@type:Country">
      </kitin-search>
    </kitin-entityrow>

    <kitin-table model="record.about.publication"
                 titles="['Place label title', 'ProviderName title', 'provicerDate title']">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.place.label"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.providerName"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.providerDate"/></kitin-td>
    </kitin-table>

    <kitin-textrow model="record.about.editionStatement.edition"></kitin-textrow>

    <kitin-textrow model="record.about.publisherNumber"></kitin-textrow>

    <kitin-table model="record.about.manufacture"
                 titles="['Place label title', 'ProviderName title', 'provicerDate title']">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.place.label"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.providerName"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.providerDate"/></kitin-td>
    </kitin-table>


  </kitin-group>

  <kitin-group title="Dates and times title">
    <kitin-textrow model="record.about.date"></kitin-textrow>

    <kitin-entityrow model="record.about.publicationStatus">
      <kitin-select filter="about.inCollection.@id:/def/enum/content/publicationStatus-collection"></kitin-select>
    </kitin-entityrow>

    <kitin-textrow model="record.about.publicationYear"></kitin-textrow>

    <kitin-textrow model="record.about.publicationOtherYear"></kitin-textrow>
  </kitin-group>

  <kitin-group title="Frekvens regularitet title">
    
    <kitin-entityrow model="record.about.frequencyCategory">
      <kitin-select filter="about.inCollection.@id:/def/enum/content/frequency-collection"></kitin-select>
    </kitin-entityrow>

    <kitin-textrow model="record.about.frequency"></kitin-textrow>

    <kitin-entityrow model="record.about.regularity">
      <kitin-select filter="about.inCollection.@id:/def/enum/content/regularity-collection"></kitin-select>
    </kitin-entityrow>

  </kitin-group>

  <kitin-group title="Issue title">
    <kitin-table model="record.about.issueNumber">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="model[$index]"/></kitin-td>
    </kitin-table>

    <kitin-table model="record.about.replaces" 
                 titles="['LABEL.about.replaces.frequency', 'LABEL.about.replaces.date']">
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.frequency"/></kitin-td>
      <kitin-td><textarea data-ui-jq="autosize" spellcheck="false" data-ng-model="item.date"/></kitin-td>
    </kitin-table>
  </kitin-group>

  <kitin-group title="References title">
    <kitin-entityrow model="record.about.alternateEdition" multiple rich view="/snippets/render-relation-referenced-entity">
      <kitin-search service-url="/bib/_search" make-reference template-id="bib-completion-template"></kitin-search>
    </kitin-entityrow>

    <kitin-entityrow model="record.about.alternateFormat" multiple rich view="/snippets/render-relation-referenced-entity">
      <kitin-search service-url="/bib/_search" make-reference template-id="bib-completion-template"></kitin-search>
    </kitin-entityrow>

  </kitin-group>  
</div>
 
