<h2>{{ "Ämnesord och klassifikation" }}<i></i></h2>
<div class="form-container" onload="work = record.about">
  
  <kitin-group title="Ämnesord">

    <!-- SUBJECT START -->
    <!-- SUBJECT BY IN SCHEME  START -->
    <div class="label cols" data-ng-repeat="(key, container) in record.about.subjectByInScheme">
      <kitin-group ng-switch on="key" title="{{ key }}">
        <kitin-entity model="record.about.subjectByInScheme" link="key" multiple rich view="/snippets/view-subject">
          <kitin-search service-url="/auth/_search" template-id="subject-completion-template" filter="about.inScheme.notation:{{ (conceptSchemes.byNotation[key.replace('/topic/','')] || container[0].inScheme).notation }}">
          </kitin-search>
        </kitin-entity>
      </kitin-group>
    </div>

    <!-- SUBJECT BY IN SCHEME  END -->

    <!-- SUBJECT BY TYPE  START -->
    <div class="label cols" data-ng-repeat="(key, container) in record.about.subjectByType">
      <kitin-group ng-switch on="key" title="{{ key }}">
        <kitin-entity model="record.about.subjectByType" link="key" multiple>
          <kitin-search service-url="/auth/_search" 
                        template-id="{{ key === 'Person' ? 'auth-completion-template' : 'subject-completion-template'}}" 
                        filter="{{(key === '/topic/chronological') ? 'about.inCollection.@id:\/topic\/chronological\/' : 'about.@type:' + key}}">
          </kitin-search>
        </kitin-entity>
      </kitin-group>
    </div>

    <!-- SUBJECT BY TYPE  END -->

    <!-- GENERAL SUBJECT  START -->
    <span class="lbl">Andra ämnesordssystem {{chosenScheme}}</span>
    <div class="label">
      <input type="text" placeholder="Nytt ämnesord" data-kitin-autocomplete="subject"
          data-track-change
          data-kitin-add-to="schemeContainer"
            data-kitin-filter="{'about.subject.inScheme.notation': chosenScheme}" />
    </div>
    <div class="label">
      <select data-ng-model="chosenScheme"
          data-track-change
          data-ng-options="code as (scheme.alternative || scheme.title || scheme.title_en)
                         for (code, scheme) in conceptSchemes.byNotation">
      </select>
    </div>
    <!-- GENERAL SUBJECT  END -->
  </kitin-group>

  <!-- CLASSIFICATION  START -->
  <kitin-group title="Klassifikationer">
  
    <kitin-textrow model="record.about.classificationDdc"></kitin-textrow>
   
    <kitin-textrow model="record.about.classificationNlm"></kitin-textrow>
  </kitin-group>
  
  <div class="label cols" data-ng-repeat="(classificationScheme, subClassification) in record.about.classificationByInScheme">
    <kitin-group ng-switch on="classificationScheme" title="{{ classificationScheme }}">
      <kitin-entity model="record.about.classificationByInScheme" link="classificationScheme" multiple rich view="/snippets/render-classification">
        <kitin-search service-url="/def/_search" template-id="select-classification-template" filter="about.inCollection.@id:{{classificationScheme}}">
        </kitin-search>
      </kitin-entity>
    </kitin-group>
  </div>
  
  <!-- CLASSIFICATION  END -->

  <kitin-group title="Genre">

    <kitin-entity model="record.about.nature">
      <kitin-select filter="about.inCollection.@id:/def/enum/content/nature-collection"></kitin-select>
    </kitin-entity>

    <kitin-entity model="record.about.literaryForm">
      <kitin-select filter="about.inCollection.@id:/def/enum/content/literaryForm-collection"></kitin-select>
    </kitin-entity>

    <kitin-entity model="record.about.biography">
      <kitin-select filter="about.inCollection.@id:/def/enum/content/biography-collection"></kitin-select>
    </kitin-entity>

    <kitin-entity model="record.about.confPub">
      <kitin-select filter="about.inCollection.@id:/def/enum/content/confPub-collection"></kitin-select>
    </kitin-entity>

    <kitin-entity model="record.about.festschrift">
      <kitin-select filter="about.inCollection.@id:/def/enum/content/festschrift-collection"></kitin-select>
    </kitin-entity>

  </kitin-group>

</div>
