{% raw %}

<h2>{{ "Ämnesord och klassifikation" }}<i></i></h2>
<div class="cols" onload="work = record.about">
  <div class="col6">
    <h3>{{ "Ämnesord" }}</h3>
    <div data-ng-repeat="(key, container) in record.about.subjectByInSchemeOrType" class="scheme tagsinput"
       data-ng-init="scheme = conceptSchemes.byNotation[key.replace('/topic/','')] || {'title': key, 'notation': container[0].inScheme.notation}">
      <span class="lbl">{{ scheme.alternative || scheme.title || scheme.title_en }}</span>
      <ul class="tags" data-kitin-link-entity
          data-subject="record.about.subjectByInSchemeOrType" data-link-multiple="key" data-type="Concept"
          data-search-template="search-subject"
          data-view-template="view-subject">
      </ul>
    </div>

    <div class="cols">
      <span class="lbl">Andra ämnesordssystem {{chosenScheme}}</span>
      <div class="col3">  
        <label>
          <input type="text" placeholder="Nytt ämnesord" data-kitin-autocomplete="subject"
                data-kitin-add-to="schemeContainer"
                data-kitin-filter="{'about.subject.inScheme.notation': chosenScheme}" />
        </label>
      </div>
      <div class="col3">
        <label>
          <select data-ng-model="chosenScheme"
            data-ng-options="code as (scheme.alternative || scheme.title || scheme.title_en)
                             for (code, scheme) in conceptSchemes.byNotation">
          </select>
        </label>
      </div>
    </div>
  </div>
  <div class="col6">

    <h3>Klassifikationer</h3>
    <label class="dynamic-subjects">
        <span class="lbl">Dewey</span>
        <textarea data-inplace placeholder="Dewey Klassifikation" data-ng-model="record.about.classificationDdc"></textarea>

    </label>
    <label class="dynamic-subjects" data-ng-repeat="classification in record.about.classification">
        <span class="lbl">Klassifikation {{classification.inScheme.notation}}</span>
        <textarea data-inplace placeholder="Klassifikation" data-ng-model="classification.notation"></textarea>

    </label>
    <label class="dynamic-subjects" data-ng-show="record.about.classificationNlm">
        <span class="lbl">NLM-klassifikation (National Library of Medicine)</span>
        <textarea data-inplace placeholder="Klassifikation" data-ng-model="record.about.classificationNlm"></textarea>
    </label>


    <h3 translate>LABEL.record.about.genre</h3>
      <span class="lbl" translate>LABEL.record.about.genresao</span>
      <ul class="tags" data-kitin-link-entity
          data-ng-init="scheme = { notation: 'saogf'}"
          data-subject="record.about"
          data-link-multiple="'genre'"
          data-view-template="view-subject"
          data-search-template="search-subject">
      </ul>
        <label>
          <span class="lbl" translate>LABEL.record.about.literaryForm</span>
          <div data-kitin-link-entity
              data-subject="record.about"
              data-link="'literaryForm'"
              data-view-template="render-tag-view"
              data-search-template="render-tag-search"
              data-search-placeholder="Lägg till litterär genre"
              data-search-service-url="{{API_PATH}}def/_search"
              data-search-filter="{'about.inCollection.@id': '\\/def\\/enum\\/content\\/literaryForm-collection'}"
              ng-init=" placeholder='Lägg till litterär genre'; 
                        search_service_url=API_PATH+'/def/_search'; 
                        search_filter={'about.inCollection.@id': '\\/def\\/enum\\/content\\/literaryForm-collection'}; ">
          </div>
        </label>


  </div>
</div>
  

<!-- subject search -->
<script type="text/ng-template" id="search-subject">
  <i class="fa fa-search"></i> 
  <input data-kitin-search-entity
        data-filter="{'about.inScheme.notation': scheme.notation}"
        data-service-url="{{API_PATH}}/auth/_search"
        data-completion-template="subject-completion-template" type="text" placeholder="Lägg till ämnesord"
        data-allow-non-auth="{{scheme.title === 'Place'}}">
</script>

<!-- subject list -->
<script type="text/ng-template" id="view-subject" >
  <a ng-init="subjectLabel = (object.prefLabel || object.uniformTitle || object.controlledLabel  || object.notation)" ng-show="subjectLabel" href="#"><i class="fa fa-bookmark" data-ng-if="isAuth(object)"></i> {{ subjectLabel }}</a> 

  <a data-ng-repeat="broader in object.broader" href="#">
    {{broader.prefLabel}}
    <span data-ng-show="broader.notation">({{ broader.notation }}) </span>
    <span class="subject-delimiter" data-ng-hide="$last">--</span>
  </a> 
  <i data-ng-click="doRemove($index)" class="no">&times;</i>
</script>

<!-- subject suggest -->
<script type="text/html" id="subject-completion-template">
  <div class="auth">
    <h4>
      <span class="name" title="<%= data['@id']%>"><%= data['prefLabel']%></span>
        <% if (isLinked(data)) { %>
          <!-- TODO: fix auth
          <span class="what">Se aukt. post <i class="fa fa-sign-out"></i></span>
          -->
          <span class="what"><i class="fa fa-bookmark" data-ng-if="isAuth(object)"></i> Aukt.</span>
        <% } %>
    </h4>
    <% if (data['historyNote']) { %>
      <div><em><%= data['historyNote']%></em></div>
    <% } %>
    <% if (data['hiddenLabel']) { %>
      <div><span class="">Används ej: <%= data['hiddenLabel']%></span></div>
    <% } %>   
    <% if (data['scopeNote']) { %>
    <ul class="about">
      <li><%= data['scopeNote']%></li>
    </ul>
    <% } %>
  </div>
</script>



{% endraw %}
