<h2>
  {{ 'Titel och upphov' }}
  <i></i>
</h2>
<div class="form-container">
<!--instanceTitle START-->
  <kitin-group>
    <kitin-textarea model="record.about.instanceTitle.titleValue"></kitin-textarea>
    <kitin-textarea model="record.about.instanceTitle.subtitle"></kitin-textarea>
    <!-- responsibilityStatement used @ creators -->
    <kitin-textarea model="record.about.instanceTitle.titleDate"></kitin-textarea>
    <!-- mediaTerm mapped to instance and used @ publication and production -->
    <kitin-textarea model="record.about.instanceTitle.partNumber"></kitin-textarea>
    <kitin-textarea model="record.about.instanceTitle.partTitle"></kitin-textarea>
  </kitin-group>
<!--instanceTitle END-->
  <hr />
<!--TitleVariation START-->
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.titleVariation.titleValue</span>
    <textarea data-inplace class="title"  data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.titleVariation.titleValue"></textarea>
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.titleVariation.subtitle</span>
    <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.titleVariation.subtitle"></textarea>
  <!-- responsibilityStatement used @ creators -->
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.titleVariation.titleDate</span>
    <textarea data-inplace class="title"  data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.titleVariation.titleDate"></textarea>
  </div>
  <!-- mediaTerm mapped to instance and used @ publication and production -->
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.titleVariation.titleType</span>
    <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.titleVariation.titleType"></textarea>
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.titleVariation.partNumber</span>
    <textarea data-inplace class="title"  data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.titleVariation.partNumber"></textarea>
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.titleVariation.partTitle</span>
    <textarea data-inplace class="title" data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.titleVariation.partTitle"></textarea>
  </div>  
<!--TitleVariation END-->
  <hr />
<!--translatedTitle START-->
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.translatedTitle.titleValue</span>
    <textarea data-inplace class="title"  data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.translatedTitle.titleValue"></textarea>
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.translatedTitle.subtitle</span>
    <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.translatedTitle.subtitle"></textarea>
  <!-- responsibilityStatement used @ creators -->
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.translatedTitle.titleDate</span>
    <textarea data-inplace class="title"  data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.translatedTitle.titleDate"></textarea>
  </div>
  <!-- mediaTerm mapped to instance and used @ publication and production -->
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.translatedTitle.partNumber</span>
    <textarea data-inplace class="title"  data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.translatedTitle.partNumber"></textarea>
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.translatedTitle.partTitle</span>
    <textarea data-inplace class="title" data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.translatedTitle.partTitle"></textarea>
  </div>  
<!--translatedTitle END-->
  <hr />
<!--uniformTitle START--> 
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.uniformTitle</span>
    <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.uniformTitle"></textarea>
  </div> 
<!--uniformTitle END-->  
  <hr />
<!--keyTitle START-->
  <div class="label">
     <span class="lbl" translate>LABEL.record.about.keyTitle</span>
    <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.keyTitle.titleValue"></textarea>       
  </div>
  <div class="label">
     <span class="lbl" translate>LABEL.record.about.keyTitle.titleQualifier</span>
    <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.keyTitle.titleQualifier"></textarea>       
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.keyTitle.titleSource</span>
    <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.keyTitle.titleSource"></textarea>
  </div>
<!--keyTitle END-->
    <hr />
<!--abbreviatedTitle START-->
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.abbreviatedTitle.titleValue</span>
    <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.abbreviatedTitle.titleValue"></textarea>
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.abbreviatedTitle.titleQualifier</span>
    <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.abbreviatedTitle.titleQualifier"></textarea>
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.abbreviatedTitle.titleSource</span>
    <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="record.about.abbreviatedTitle.titleSource"></textarea>
  </div>
  <!-- abbreviatedTitle END-->

  <!-- INFLUENTIAL RELATION TITLE  START -->
  <div class="label datatable" data-ng-target="influentialRelationTable" 
    data-kitin-data-table 
    data-table-model="record.about.influentialRelation" 
    data-table-header-row-template="/snippets/influentialRelation-header-row-template"
    data-table-row-template="/snippets/influentialRelation-row-template"
    data-subject="record.about" data-link-multiple="influentialRelation"
    data-default-type="Comment"
    data-add-first
    data-addable="notes">
  </div>

  <!-- RELATION  START -->
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.relation</span>
    <div class="entity" data-kitin-link-entity
        data-subject="record.about"
        data-ng-init="label = 'Länkfält'"
        data-link-multiple="'relation'" data-type="relation"
        data-view-template="/snippets/render-relation-referenced-entity"
        data-search-template="/snippets/render-bib-search"
        data-rich-entity>
    </div>
  </div>

  <!-- RELATION  END -->
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.isPartOf</span>
    <div class="entity" data-kitin-link-entity
        data-subject="record.about"
        data-ng-init="label = 'Värdpublikation'"
        data-link-multiple="'isPartOf'" data-type="isPartOf"
        data-view-template="/snippets/render-referenced-entity"
        data-search-template="/snippets/render-bib-search"
        data-rich-entity>
    </div>
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.hasPart</span>
    <div class="entity" data-kitin-link-entity
        data-subject="record.about"
        data-ng-init="label = 'Del'"
        data-link-multiple="'hasPart'" data-type="hasPart"
        data-view-template="/snippets/render-referenced-entity"
        data-search-template="/snippets/render-bib-search"
        data-rich-entity>
    </div>
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.precededBy</span>
    <div class="entity" data-kitin-link-entity
        data-subject="record.about"
        data-ng-init="label = 'Titel'"
        data-link-multiple="'precededBy'" data-type="PrecededBy"
        data-view-template="/snippets/render-referenced-entity"
        data-search-template="/snippets/render-bib-search"
        data-rich-entity>
    </div>
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.succeededBy</span>
    <div class="entity" data-kitin-link-entity
        data-subject="record.about"
        data-ng-init="label = 'Titel'"
        data-link-multiple="'succeededBy'" data-type="SucceededBy"
        data-view-template="/snippets/render-referenced-entity"
        data-search-template="/snippets/render-bib-search"
        data-rich-entity>
    </div>
  </div>
  <!-- LANGUAGES  START -->
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.language</span>
    <ul class="tags" data-kitin-link-entity
        data-subject="record.about"
        data-link-multiple="'language'" data-type="Language"
        data-view-template="/snippets/render-language"
        data-search-template="/snippets/render-search-language">
    </ul>
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.originalLanguage</span>
    <ul class="tags" data-kitin-link-entity
        data-subject="record.about"
        data-link-multiple="'originalLanguage'" data-type="Language"
        data-view-template="/snippets/render-language"
        data-search-template="/snippets/render-search-language">
    </ul>
  </div>

  <!-- LANGUAGE NOTE  START -->
  <div class="label datatable" data-ng-target="languageNoteTable" 
    data-kitin-data-table 
    data-table-model="record.about.languageNote" 
    data-table-header-row-template="/snippets/languageNote-header-row-template"
    data-table-row-template="/snippets/languageNote-row-template"
    data-subject="record.about" data-link-multiple="languageNote"
    data-default-type="Comment"
    data-add-first
    data-addable="notes">
  </div>
  <!-- LANGUAGE NOTE  END -->
  <!-- LANGUAGES  END -->

  <div class="label">
    <span class="lbl" translate>LABEL.record.about.alphabet</span>
    <ul class="tags" data-kitin-link-entity
        data-subject="record.about"
        data-link="'alphabet'" data-type="Alphabet"
        data-view-template="/snippets/render-generic-linked-entity"
        data-search-template="/snippets/render-generic-select"
        data-filter="about.inCollection.@id:/def/enum/content/alphabet-collection">
    </ul>
  </div>

  <div class="label">
    <span class="lbl" translate>LABEL.record.about.contentType</span>
    <ul class="tags" data-kitin-link-entity
        data-subject="record.about"
        data-link-multiple="'contentType'" data-type="contentType"
        data-view-template="/snippets/render-generic-linked-entity"
        data-search-template="/snippets/render-generic-select"
        data-filter="about.inCollection.@id:/def/enum/content/contentType-collection">
    </ul>
  </div>

  <!-- PERSONS  START -->
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.responsibilityStatement</span>
    <textarea spellcheck="false"
        data-inplace data-ui-jq="autosize"
        data-ng-model="record.about.responsibilityStatement"></textarea>
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.attributedTo</span>
    <div data-kitin-link-entity
        data-ng-init="label = 'huvuduppslag'"
        data-subject="record.about" data-link="'attributedTo'" data-type="Person"
        data-view-template="/snippets/render-person"
        data-search-template="/snippets/render-search-box"
        data-rich-entity>
    </div>
  </div>
  <div class="label">
    <span class="lbl" translate>LABEL.record.about.influencedBy</span>
    <!--<a ng-click="showInfluencedBy = !showInfluencedBy">Dölj <i class="icon fa fa-caret-up"></i></a>-->
    <div data-kitin-link-entity
        data-ng-init="label = 'biuppslag'"
        data-subject="record.about" data-link-multiple="'influencedBy'" data-type="Person"
        data-view-template="/snippets/render-person"
        data-search-template="/snippets/render-search-box"
        data-rich-entity>
    </div>
  </div>
</div>

<div class="element-adder" data-element-adder="title_and_main_entry"></div>