
@import "variables.less"; 
@import "fonts.less";

/* GENERAL START ------------------------- */

html {overflow-y: scroll; -webkit-font-smoothing:antialiased; }

body{font-family: @paragraph-font, arial, sans-serif; font-size:14px; line-height: 20px; color:@grey-very-dark;}

h1,
h2,
h3{font-family: @header-font, georgia, serif; }
h4{font-size:15px; }

a{
    color: @green;
    :hover{ 
      color:@green-dark;
    }
}

label {font-weight: 400;margin-bottom: 10px;}

.container{width:1080px;margin: 0 auto;padding:0;/*padding override bootstrap grid*/}
#grid{display:none; width:984px;min-height:800px;background:url(/static/img/grid.png);position:absolute;top:0;left:48px;}


a.beta-blocker {text-decoration: none; cursor:default;} /*block unfinished elements, should not be in final release*/
.todo{display:none!important}
.hidden {visibility:hidden}

/* NAV START ------------------------- */

#nav { position: relative; z-index: 200; overflow: visible; }
#nav a:hover,
#nav a:focus {text-decoration: none; cursor: pointer; }


#nav .nav-menu{ font-size:13px; float:none; position:absolute; right:0; list-style: none outside none;}
#nav .nav-menu > li {border-left:1px solid #ddd; padding:0 8px 0 10px; margin: 6px 0; display:inline-block; }
#nav .nav-menu > li:first-child {border-left:none; padding-left:0px;}

/* bootstrap dropdown */

.nav > li > a:hover,
.nav > li > a:focus {background-color: transparent;}

.dropdown-menu {
    background-color: @white;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0px 3px rgba(0,0,0,.1);
    box-shadow: 0 0px 3px rgba(0,0,0,.1);
    display: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 252px;
    padding: 0;
    margin-right:-16px;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.dropdown-menu li a { font-size:13px; display:block; background:@white;padding:6px 8px;border-top:1px solid #eee;color:@green;}
.dropdown-menu li a.selected,
.dropdown-menu li a:hover {color:@white;background:@green;}
.dropdown-menu li:first-child a{border-top:none;}
.dropdown-menu li.active a{background:@white;color:@black;}
.dropdown-menu li.my_template a { background-color: @white; }
.dropdown-menu li.my_template a i { padding-right: 6px; }
.disabled {background-color:#f7f3ee;}
.dropdown .login span.meta { color: @black; }
.dropdown .login span.username { text-transform:uppercase; }

/* NAV END ------------------------- */


/* BUTTONS START ------------------------- */
/* !TODO Remove and use boostrap buttons instead */
/* bootstrap buttons */

.btn {
  -webkit-border-radius:3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: @green-light;
  filter: none;
  border:none;
  color: @white !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: inset -1px -1px 1px rgba(0,0,0,.2);
  -moz-box-shadow: inset -5px -5px 5px 0 #888;
  box-shadow: inset -1px -1px 2px rgba(0,0,0,.2), inset 1px 1px 1px rgba(255,255,255,.2);
  -webkit-transition:background ease-out 0.03s;
  padding: 7px 16px;
  font-family:@header-font, georgia, serif;
  font-weight:bold;
}

.btn:hover,
.btn:focus,
.btn:active{background:@green;}


.btn-dark{background:@green-dark;}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active{background-color:#0a5041;} 
.btn-submit{padding: 12px 28px;font-size:16px;}

.btn-link{color:@green; outline: none; border:0;}
.btn-link:hover{color:@green-dark;}

.btn-link.deleter{color:@grey}
.btn-link.deleter:hover{color:@pink}

.holdings .btn-link{color:@purple;}
.holdings .btn-link:hover{color:#573657;}

.btn-purple{background-color:@purple;}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active{background-color:#573657;}

.btn.disabled,
.btn.disabled:hover {background-color:#ccc;}

section.submit .btn-link {font-size: 14px; font-weight: bold;}

a btn {color: @green-light;}
section.result .btn-group button.btn {
    background: none repeat scroll 0 0 #27B492;
    margin-bottom: 5px;
    border: medium none;
    border-radius: 0px;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2) inset, 1px 1px 1px rgba(255, 255, 255, 0.2) inset;
    color: @white !important;
    filter: none;
    font-family: @paragraph-font,georgia,serif;
    font-size: 12px;
    font-weight:400;
    padding: 2px 6px;
    display: block;
    min-width: 68px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
}
section.result .btn-group button.btn-hold {background-color: #683568;}
section.result .btn-group button.hold-check {opacity: 0.3;}

/* Remove button padding in FF */
button::-moz--focus-inner {
    border:0 none !important;
    padding:0 !important;
}
/* BUTTONS END ------------------------- */


/* AUTOCOMPLETE START ------------------------- */

.acResults {width:476px;border:1px solid #aaa;border-top-width:0;background:@white;
  -webkit-box-shadow: 0 0px 3px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0px 3px rgba(0,0,0,.1);
  box-shadow: 0 0px 3px rgba(0,0,0,.1);
  margin:-1px 0 0 0;
  z-index: 1000;
}
.acResults ul li{margin:6px 0 0;padding:0;}
.acResults>ul>li {border-top:1px solid #aaa;padding: 6px 8px;margin:0;}
.acResults li{font-family:@paragraph-font, arial,sans-serif!important;}
.acResults h4{padding:0 28px 0 0;margin:0;position:relative;font-size:14px!important}
.acResults h4 .name {color:@grey-very-dark;}
.acResults h4 .date{color:#aaa;color:rgba(0,0,0,.4);margin-left:4px;}
.acResults h4 .what{position:absolute;right:0;top:-1px;color:@green-light;font-size:11px;font-weight:normal;}
.acResults h4 .what .fa{font-size:14px;position:relative;bottom:-1px;margin-left:2px}
.acResults h4 .what:hover{color:#111}

.acResults .title{color:#111}
.acResults .persona{margin-top:8px;color:#aaa;font-style:italic}
.acResults .persona b{font-weight:normal;color:#111}
.acResults>ul>li ul{margin-top:8px;font-size:12px}
.acResults>ul>li li{margin:0;color:#777;}
.acResults>ul>li li:before{content:"\2022";margin-right:4px}


.acResults .about{font-size:13px;line-height:20px;color:@grey-darker;}
.acSelect{background:#c8f4ea;}

/* AUTOCOMPLETE END ------------------------- */

/* POPOVER START ------------------------- */

.popover { 
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 3px;
  -moz-box-shadow: 3px;
  box-shadow: 0 0px 2px rgba(0,0,0,.15);
  z-index: 1000;
}

.popover h3 {font:bold 15px/18px @paragraph-font, sans-serif; border:none; background:none;padding-bottom:0;}
.popover .popover-content{padding-top:0;font-size:12px;color:@grey-darker;}

/* POPOVER END ------------------------- */

/* MODAL START ------------------------- */

.modal { color:@grey-very-dark; text-transform: none; }
.modal.fade { top:10%; transition:none }
.modal-large > .modal-dialog { width: 1008px }

h4.modal-title{font: bold italic 16px/20px @header-font, georgia,serif; color:@green; }

/* MODAL END ------------------------- */

/* GENERAL END ------------------------- */



/* HEADER START ------------------------- */

body.login #header .searchfield{display:none;}

body.index #header .searchfield{
  left:248px;top:220px;

  input[type="text"]{padding:11px 16px;}
  .btn-group { float: right; }
  a.btn{height:47px;}
  button{height:47px;}
  a span {margin-top: 8px;}
  em {
    color: @grey-darker;
    font-size:13px;
  }

  .remote-search ul.remotesource {
    max-width: 520px;
    width: 100%;
  }
}

body.search #header{position:fixed;top:0;width:1080px;background-color: @white;z-index:1000;border-bottom: 1px solid @grey-light;}
body.search .content{margin-top:90px;}

body.edit #header,
body.search #header {

  height: 90px;

  .logo {
    height: 30px;
    bottom: auto;
    top: 10px;

    a {
      width: 152px;  
    }
  }

  .beta,
  .system-updated {
    display: none;/*show only on start page*/
  }

  .searchfield {
    top: 4px;
    left: 276px;

    input[type="text"] {
      box-shadow:none;
      box-shadow: inset 1px 1px 1px rgba(0,0,0,.05);
      -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.05);
      padding:3px 8px;
      font-size:14px;
      height:28px;
      width:400px;
      border-color:#ccc;
      font-weight: 400;
      margin-left:0;

      :focus {
        border-color: #aaa;
      }

      ::-webkit-input-placeholder,
      ::-moz-input-placeholder,
      :-moz-input-placeholder,
      :-ms-input-placeholder {
        color:@white; font-style:italic; font-size:14px;
      }
    }

    .btn-group {
      float: right;      
    }
   
    button {
      height:28px;background-size:14px;width:36px
    }

    a.btn {
      height:28px;width:28px;line-height:14px;
    }

    em {
      color: @grey-darker;
      font-size: 12px;
    }
  }

  .kb {
    display: none;
  }

}


#header{ height: 130px; position: relative; -webkit-transition:height 100ms ease-out }
#header .user{
  float:right;
  font-size:12px;
  margin-top:6px;

  span {
    padding-left:10px;
    margin-left:8px;
    border-left:1px solid #ccc;

    :first-child {
      margin-left:0;padding-left:0;border:none;

      a {
        text-transform: uppercase
      }
    }
  }
}

#header .kb{width:74px;height:80px;position:absolute;right:0;bottom:10px;background:url(/static/img/kb.svg) no-repeat;z-index:2;background-size:100%}
#header .beta { font-size: 16px; color: @pink; position: absolute;right:10px;top:16px}
#header .system-updated { font-size: 11px; color: @grey-dark; padding: 0px; margin: 0px; }

#header .logo { position: absolute; left: 0; bottom: 6px; color: #929395; text-transform: uppercase; height:72px;
  >a { 
    display: block; width: 260px; height:52px; background:url(/static/img/logo.svg) no-repeat;background-size:100%; text-indent:-10000px; padding-bottom:1px;
    * { position:absolute;left:-10000px;margin:0}
  }
}


/* HEADER SEARCHFIELD START ------------------------- */

#header .searchfield {
  position: absolute;
  left: 384px;
  top: 82px;
  z-index: 2;
  :focus:-moz-placeholder:focus { color:#ddd; }/*FF18<*/
  :focus::-moz-placeholder { color:#ddd; }/*FF19>*/
}

#header .searchfield input[type="text"]{
  width: 533px;
  border: 1px solid #bbb; 
  padding: 6px 10px 6px;
  border-color: #aaa @white #ccc #aaa;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.2);
  -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.2);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.2);
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height:47px;
  border-right-width:0;
  -webkit-transition:all ease-out 0.05s;

  :focus{
    border-color: #777 @white #aaa #777;

    ::-webkit-input-placeholder,
    :-moz-placeholder:focus,
    :-moz-placeholder:focus,
    :-ms-input-placeholder:focus { 
      color:#ddd; 
    }
  } 
}

#header .searchfield .remote-search ul.remotesource {
  max-width: 369px;
  width: 100%;
  font-size: 13px;
  margin: 0px;
  float: left;
  list-style: none; 
  display: inline;
}
#header .searchfield .remotesource .hitcount {color:@grey;}
#header .searchfield .remote-search ul.remotesource li {display: inline;}
#header .searchfield .remote-search a { 
  float: right;
  width: 80px;
  font-size: 13px;
}

#header .searchfield a.btn{height:47px;border:none;
    background:@green;width:31px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-transition:background ease-out 0.03s;
}

#header .searchfield button{text-indent:-10000px;height:38px;border:none;
    background:@green url(/static/img/search.png) no-repeat 50% 50%;width:50px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-transition:background ease-out 0.03s;
}

#header .searchfield a.btn:hover,
#header .searchfield button:hover{background-color:#197961;}

#header .searchfield button:hover{}  
#header .searchfield input[type="text"],
#header .searchfield button{float:left;}

#header .searchfield .btn-group > .btn:first-child {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: 0;
}

/* HEADER SEARCHFIELD END ------------------------- */

/* HEADER END ------------------------- */


/* CONTENT START ------------------------- */

.content{position:relative;background:url(/static/img/bg.png);padding:0 24px 24px 24px;overflow:hidden;}
.content:not(.footer){min-height:500px}

body.index .content header {
  background: url(/static/img/top-small.png) no-repeat;
  width:1080px;
}

.content header{
  position: relative;
  padding: 12px 24px 0;
  width: 1032px;
  margin-left: -24px;
}
body.search .content header{padding: 0 24px 0;}
.content.footer { overflow: visible; }
.content footer {
  background:url(/static/img/bottom.png) no-repeat;
  position:relative;
  padding:43px 36px 0;
  width:1008px;
  margin-left:-24px;
}

.content header p{clear:both;float:left;font-size:13px}

.content footer h1{height:40px;background-repeat:no-repeat;background-position: 8px 50%;color:grey;text-transform:uppercase;padding-left:170px;margin:0 0 12px 9px;font:bold 14px/40px @paragraph-font, sans-serif;}
.content footer ul{position:absolute; top: 48px;text-transform:uppercase;padding-left:180px;padding-bottom:12px;margin:0 0 12px 9px;font:bold 14px/40px @paragraph-font, sans-serif;}

.content footer a {color:@grey; padding-left: 10px;padding-right: 5px;}
.content footer a:hover {color:@grey-dark;background-color: transparent;}

.footer footer {margin-bottom:24px;overflow:hidden}
body.edit .footer footer {margin-top:0px;}
.footer footer ul{margin:8px 0 0 0;padding:0;float:left}
.footer footer img{float:right;margin-top:8px;width:44px}
.footer footer li {font:11px/14px @paragraph-font, sans-serif;display:inline-block;text-transform:uppercase;margin-left:5px;}
.footer footer li:before{content:"\2022";margin-right:8px}
.footer footer li:first-child{margin-left:0;padding-left:0;border:none}
.footer footer li:first-child:before{content:'';margin:0}

.content.index header{ background-image:url(/static/img/top-index.png);margin-bottom:130px;min-height:80px;background-repeat: no-repeat;}
.content.index > .cols{margin-left:12px;overflow:visible;}

body.login .content.index header{margin-bottom:60px;}

.content header .levels{float:left;display:none}
.content header .levels span{float:left;padding: 5px 12px 6px;color:#444;}

.content header .levelselect{position:absolute;right:554px;bottom:2px;z-index:10}
.content header .catform{position:absolute;right:354px;bottom:2px;z-index:10}
.content header .levelselect .dropdown-toggle{display:inline-block;padding:3px 8px;font-size:12px;font-weight:bold;cursor:pointer;text-shadow:@white 1px 1px 0}
.content header .levelselect .dropdown-toggle:hover{text-decoration:none;color:@green-dark}
.content header .levelselect .dropdown-toggle .fa-caret-down{border-left:1px solid #bbb;padding:0 2px 0 8px;margin-left:8px;line-height:16px;color:#222}
.content header .levelselect .dropdown-toggle:hover .fa-caret-down{color:#111}

.content header .modes{float:right;margin-top:21px;}

.content header .modes a{float:left;font:600 12px/1 @paragraph-font, sans-serif;color:#777;padding:8px 12px 8px;
    background:@white;margin-left:2px;text-transform:uppercase;opacity:.6;
  }
.content header .modes a[href^="/"]:hover{opacity:1;color:@green;text-decoration:none}
.content footer .modes a.active,  
.content header .modes a.active{opacity:1;color:#111}

.content header .modes a.active:hover{cursor:default;text-decoration:none}

.content header h1{margin:0 0 12px;height:37px;background:url(/static/img/circ.png) no-repeat;
  padding:0 0 0 10px;color:@grey-darker;text-shadow:@white 1px 1px 0;font:bold 16px/39px @header-font, sans-serif;float:left;}

.content header h1:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:17px;
  position:relative;
  margin-right:16px;
  color:#bbb;
}

.content.holdings header h1:before {
  content: "\f0ca";
}
.content.auth header h1:before {
  content: "\f00c";
}
.content.bib header h1:before {
  content: "\f02d";
}

.content.holdings a {color:@purple;}
.content.holdings label .lbl {color:@purple;}
.content section{background:@white; margin: 0 0 12px; padding: 12px 24px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
      box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.content section .foot{ text-align:right; }

.content section.submit{background:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding:12px 0;
  width:1008px;
  text-align: right;
}
div.submit {text-align: right;}

.content section h3{font:italic normal 14px/20px @header-font, georgia,serif; color:@green; 
  margin-bottom:12px;margin-top:12px;padding:0 0}

.content section h3:before{content:'\25A0';font-style:normal;font-size:30px;position:relative;top:4px;margin-right:4px}

.content section h2,
section.nav dt{background:@green;font:bold 12px/16px @paragraph-font, sans-serif; text-transform:uppercase;float:left;
  padding: 5px 24px;  color:@white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-font-smoothing: antialiased;
  margin-left:-36px;
  min-height:16px;
  position:relative;
}

.content section h2 i,
section.nav dt i{
  position:absolute;left:2px;bottom:-10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent @green-dark transparent transparent;
}

.content section h4 {
  color:@grey-darker;
  font-style: italic;
  font-weight: 400;
}

/* CONTENT END ------------------------- */


/* HITLIST START ------------------------- */

section.nav dt i{border-right-color:@grey-darker;}

section.nav{background-color:@white;padding-top:12px}
section.nav dt{background:@grey;margin-bottom:12px;}
section.nav dd{clear:both;margin: 3px 0px;line-height:1;font-size:13px;}
section.nav dd a{color:@grey-darker;padding:4px 0 6px 18px;background:url(/static/img/dot.png) no-repeat 4px 9px;display:inline-block;}
.remote-modal div a.active,
section.nav dd a.active{font-weight:bold;color:@black;background:url(/static/img/check.png) no-repeat 0 5px;cursor:default;}
section.nav dd a.active:hover{text-decoration: none}

section.result{position:relative;border:1px solid transparent;/* padding:23px 11px 41px; */
  -webkit-transition:border ease-out 0.05s; cursor:pointer; box-sizing:border-box;border-color: #e6e6e6; padding:12px; min-height: 160px;}

section.result .footer{position: absolute; bottom:-1px; left:-1px; right:-1px;padding: 6px 12px; -webkit-transition:border ease-out 0.05s; 
  background:@grey-lighter;color:@grey-darker;font-size:12px;border:1px solid @grey-lighter;border-top-color:#e6e6e6}
section.result .footer span:first-child,
section.result .footer span.level{margin-left:0;padding-left:0;border-left:none;}
section.result .footer span.level{float:right;}

section.result .footer span {padding-right: 12px;}

section.result a,
section.result a:hover{color:#444;text-decoration:none;}

section.result:hover{border-color:#aaa;}
section.result:hover .footer{border-color:#aaa;border-top-color:#e6e6e6}

section.result label{cursor:pointer;padding-left: 1px;}
section.result label{/* overflow:hidden; */text-overflow:ellipsis;}
section.result label:hover{border-color:#ddd;}
section.result label .lbl{color:@grey-dark;}

section.result label.title{display:block;}
section.result label.title .title-key {color:@green-dark;font-size:18px;line-height:22px;display:block;font-weight: 600;display:block;padding-bottom: 4px;}
section.result label.title .title-subtitle {color:@green-dark; font-size: 14px; line-height: 18px;display: block;}
section.result label .title-creator {color:#777;font-size: 14px; line-height: 18px;}
section.result label.title .icon{font-size:16px;color:@green-light;}
section.result label.identifier-code {font-weight: 600;text-align: right;}
section.result label.title .lbl{margin-top:4px;}
section.result label.contributors {padding-bottom: 0px; margin-bottom:18px;}
section.result .contributors ul {list-style: none;padding:0;margin:0;}
section.result .contributors ul li .primary-attribution {font-weight: 600;}
section.result .bottom {color:#999; font-size:14px;background: @white;position: absolute;left:12px;bottom: 6px;}
section.result .bottom i {font-size: 16px;padding-right: 6px; margin-left: -2px;padding-left: 0;}

section.result .excerpt{margin-bottom:-14px;}
section.result .excerpt label{background:#f6f3ee url(/static/img/pat1.png);padding-top:4px;padding-bottom:4px;}

section.result .highlight{padding:0 2px;background:rgba(40,180,146,.4);}
section.result span.hit-count {position:absolute; top:-4px;left:-18px; font-size: 12px;color:@grey-dark;}
section.result span.page-indicator {
  color: @grey-dark;
  position: absolute;
  right: -50px;
  bottom: -7px;
  padding: 0px 0px 0px 4px;
  width: 45px;
  font-size: 10px;
  word-spacing: -1.0px;;
}
section.result .widget {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right:0;
  padding: 6px 12px;
  width: 122px;
   -webkit-transition: border ease-out 0.05s; 
  background: #f6f6f6;
  color: #777;
  font-size: 10px;
  border: 1px solid #f6f6f6; 
  border-left-color: #e6e6e6;
}
section.result .widget label {color: #777;}

section.result-pre {border-style: dashed;}
section.result-pre .widget label{color:#996262;}

.nav .selected { font-weight: bold; }

/* HITLIST END ------------------------- */



/* STARTPAGE START ------------------------- */

section.dash{border-top: 5px solid @grey-dark;position:relative;}
section.dash .circle{width:38px;height:38px;display:block;position:absolute;left:50%;margin-left:-19px;top:-21px;
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
}
section.dash .circle .icon{display:block;text-align:center;line-height:38px;color:@white;font-size:20px;padding-left:1px;}

section.dash.pink{border-top-color: @pink;}
section.dash.pink .circle{background-color: @pink;}
section.dash.purple{border-top-color: @purple;}
section.dash.purple .circle{background-color: @purple;}
section.dash.green{border-top-color: @green;}
section.dash.green .circle{background-color: @green;}
section.dash.grey{border-top-color: @grey-light;}
section.dash.grey .circle{background-color: @grey-light;}

section.dash {margin-bottom: 30px;}


.content.search > .cols{width:1036px;overflow:visible;}
.content.search .nest-cols{overflow:hidden;width: 732px;clear:both;}
.content.search .col9{width:756px;overflow:visible;}
.content.search .col4:last-child {margin-right:0px;}
.content.search .col3{overflow:visible;}

.content.search .summary { margin-left:252px; color:@grey-dark; font-size:12px; margin-top:12px; }
.content.search .sort-option {margin-left:12px;margin-right:-24px;margin-top:12px;float:right;font-size:10px;}
.content.search select {margin-left:4px!important;font-size:10px!important; width:124px!important;background: transparent!important;}

/* STARTPAGE END ------------------------- */


/* LOGIN START ------------------------- */

form.login{width:312px;margin: 0 auto;padding-top:60px;position:relative;}
form.login label{border-left:none;padding-left:0;}
form.login .inp input,
form.login .inp input:hover,
form.login label.inp:hover input,
form.login .inp input:focus{width:312px;border:1px solid #bbb; padding: 6px 10px 6px;border-color: #aaa #ccc #ccc #aaa;
  background:@white;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height:36px;
  -webkit-transition:all ease-out 0.05s;
}
form.login .inp input:hover,
form.login .inp input:focus{background:@white;}
form.login .inp input:focus,
form.login .inp input:focus:hover{border-color: #777 #aaa #aaa #777;}

form.login label .lbl{color:#444;}

form.login .checks{position:absolute; left:336px;bottom:14px;width: 300px;}
form.login .checks label{overflow:hidden;margin-bottom:14px;}
form.login .checks label input{margin-top:0;margin-right:6px;}
form.login .checks label input,
form.login .checks label .lbl{float:left;width:auto;}
form.login label .lbl-login {text-transform: lowercase;}

ul.drafts {list-style: none;}

li.draft:hover,
li.draft a:hover {background-color: #efefef;}
li.draft form { margin: 0 0 6px;}

.break{clear:both;}

/* LOGIN END ------------------------- */

/* TAGS START ------------------------- */
.tagsinput{margin-bottom:12px}
ul.tags { list-style:none;margin:3px 0 0 0;padding:0; }
ul.tags li {
  display: inline-block; margin: 0 1px 5px 5px; padding: 2px 8px 3px 8px;
  font-size:12px;
  background: #eee; color: #111;
  border-radius:2px;

  i.no {margin-left:6px;font-weight:700;color:rgba(0,0,0,.4);cursor:pointer;font-size:14px}
  i.no:hover {color:@black}
  a {color:#111}
  a:hover {
    text-decoration: none;
    > i.no { color: @red; }
  }
  a .fa-check {color:@green-light;font-size:11px;margin-right:0;font-weight:100}

  &:last-child {
    background: none;
    border: 1px solid #ccc;
    padding: 1px 6px 1px 0;
    position: relative; top: 1px;

    label > input[type="text"],
    label > input[type="text"]:focus { border: none; box-shadow: none; }

    i {color:#aaa;font-size:12px;margin:0 2px 0 6px}
    input[type="text"] {
      width: 110px;
      font-size:12px;height:20px;margin:0;padding:0 8px 0 0;line-height:16px;

      &::-webkit-input-placeholder,
      &:-moz-input-placeholder {font-size:12px;color:#ddd}
      &:focus::-webkit-input-placeholder,
      &:focus:-moz-input-placeholder {color:@white}
    }
  }
}

.tagsinput .suggestions{border-top:1px solid #ddd;padding-top:6px;margin-top:4px}
ul.tags.suggestions li {
  padding:0px 10px 0 7px;border-right:1px solid #ddd;background:none;margin:0;

  &.title{padding:0;background:none;font-weight:bold;border:none}
  &:last-child{border:none}
  li i{font-size:12px;font-weight:normal;margin-left:0;color:@green-light}
  li a{color:@green-light}
}

.tagsinput.free ul.tags{border:1px solid #bbb;border-radius:3px;padding:7px 7px 0 7px}
.tagsinput.free ul.tags.suggestions{border:none;border-radius:0;border:none;padding:4px 0 0 0}
.tagsinput.free ul.tags li.add{border:none;padding: 2px 6px 2px 0;}
.tagsinput.free ul.tags li.add input{padding-left:0}

/* TAGS END ------------------------- */


/* EDIT FORM START ------------------------- */

/* PERSON SUGGEST START ------------------------- */

label.find-entity i { position: absolute; color: #aaa; margin:6px 0 0 6px }
label.find-entity input[type="text"] { padding-left: 26px; }
.col6 .entity input[type="text"],
.col6 label.find-entity input[type="text"] { width: 445px; }

.persons{list-style:none;margin:4px 0;padding:0}
.persons>li{position:relative;border-top:1px dotted #ccc;padding-top:6px}
.persons>li .check{color:#aaa;margin-right:2px;cursor:pointer}
.persons>li .check:hover{color:#222}
.persons>li.main .check{color:#222;cursor:default}
.persons>li div.main {display:inline-block}
.entity .name,
.persons>li .name { font-weight: bold; }
.entity .delete,
.persons>li .delete{position:absolute;right:0;top:6px;display:none;}
.entity:hover .delete,
.persons>li:hover .delete{display:inline-block;color:#bbb}
.entity .delete:hover,
.persons>li .delete:hover{color:@red}
.entity .auth,
.persons>li .auth{padding-left:6px;margin-left:3px;border-left:1px solid #ddd;font-size:11px}
.persons>li .tagsinput{margin-bottom:2px}

/* PERSON SUGGEST END ------------------------- */

.element-adder { 
    text-align: right;
    >div { text-align: left; }
}
.entity {position:relative;}
.addon .on-hover {float:right!important; position:absolute;top:1px;right:3px;color: #999;}

.entity:focus {border: 1px solid #777;outline:0; }

.edit .entity {
  border: 1px solid transparent;
  padding: 3px 6px;
  margin-bottom: 1em;
  overflow: auto;
  border-radius: 2px;

  &.addmore { margin-bottom: 4px; }
  &:focus {border: 1px solid #777;outline:0; }


  label { border: none; margin-bottom: 0; }
  .addon label,
  .addon input[type="text"] { float: left; width: 74px; }

  .what {
    color: @green-light;
  }

  &.linked {
    background-color: #fafafa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    &:hover {
      box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    }
  }
  &.embedded {
    box-shadow: 0 0px 0px 1px #eee inset;
    &:hover {
      box-shadow: 0 1px 2px 1px #eee inset;
    }

  }

}

.on-hover { visibility: hidden; }
.entity:hover .on-hover { visibility: visible; }

.datatable{margin-bottom:10px}
.datatable td{padding: 0 0 0 6px}
.datatable td:first-child{padding:0}
.datatable tbody label{margin-bottom: -1px}
.datatable tfoot { margin-top: 4px;}
.datatable label input[type="text"]{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  width:100%;
}
.datatable label input[type="text"]:focus{}
.datatable td.controls{width:20px;margin:0}
.datatable td.controls .btn-link{padding:0;position:relative;top:-3px;}
.datatable tfoot button{margin-top:-2px!important;position:relative;float:left;margin-right:18px}

span.authorized{display:block;margin-left:15px; padding-left:5px;margin-top:25px;color:@green; font-size: 24px;}

label ::-webkit-input-placeholder { color:#ccc; font-style:italic; font-size:14px; }
input[type="text"]::-webkit-input-placeholder { color:#ccc; font-style:italic; font-size:14px; }
label :-moz-placeholder { color:#ccc; font-style:italic; font-size:14px; }/*FF18<*/
input[type="text"] :-moz-placeholder { color:#ccc; font-style:italic; font-size:14px; }/*FF18<*/
::-moz-placeholder { color:#ccc; font-style:italic; font-size:14px; }/*FF19>*/
:-ms-input-placeholder { color:#ccc; font-style:italic; font-size:14px; }

:focus::-webkit-input-placeholder { color:#eee; }
:focus:-moz-placeholder:focus { color:#eee; }/*FF18<*/
:focus::-moz-placeholder { color:#eee; }/*FF19>*/
:focus:-ms-input-placeholder:focus { color:#eee; }

.holdings :focus::-webkit-input-placeholder { color:@purple-light; }
.holdings :focus:-moz-placeholder:focus { color:@purple-light; }/*FF18<*/
.holdings :focus::-moz-placeholder { color:@purple-light; }/*FF19>*/
.holdings :focus:-ms-input-placeholder:focus { color:@purple-light; }

label textarea,
label input[type="text"],
label select,
.fakeinput{font-size:15px;padding:2px 5px 0 5px;height:25px;border-radius:2px}

.fakeinput{color:#444;cursor:text;padding-top:3px;height:24px}

label input[type="text"]{padding-top:0;height:25px;padding-bottom:2px}

label textarea,
label input[type="text"],
.fakeinput{border:1px solid #bbb;}

label textarea{line-height:22px;}
label select{height:26px;}

label:hover textarea,
label:hover input[type="text"]{color:@black;border-color:#aaa}

label input[type="text"]:focus,
label textarea:focus{color:@black;border-color: #888; box-shadow:rgba(0,0,0,.3) 0 0 2px;outline:none}

.holdings label:hover,
.holdings label.focus{border-left-color:@purple;}

.holdings label input[type="text"]:focus,
.holdings label textarea:focus{}

label textarea.ng-invalid,
label input[type="text"].ng-invalid,
label select.ng-invalid {background-color:#ffd4db!important;border-color:#ffd4db!important;}

label textarea{overflow:hidden;resize:none;color:#444;}
label textarea.title{font-weight:bold;}

label .required:after {content:"*"}
.lbl{display:block;font-size:10px;color:#888;margin-bottom:0;line-height:16px;text-transform:uppercase;letter-spacing:.5px}
.lbl-suggest{display:block;font-size:12px;color:@green;margin-top:2px;line-height:14px;float:left;clear:both;}

.holdings .lbl {color:@purple;}

span.error-label { color: @red; }
span.error-message { font-size: 10px; color: @red; float:left; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
    body label select{
        -webkit-appearance: none;
    }
    body label select:hover{background:#f8f8f8 url(/static/img/select-arrow.png) no-repeat 98% -2px;}
    body label select:focus{background-color:red;background:#c8f4ea url(/static/img/select-arrow.png) no-repeat 98% -92px;}
}

.subject-delimiter {color:@grey-light;}

.suggestion-subjects{background:#f6f3ee url(/static/img/pat1.png);padding-top:8px;padding-bottom:8px;overflow:hidden;}
.suggestion-subjects ul{list-style:none;margin:0;padding:0;}
.suggestion-subjects li{margin: 0 4px 4px 0;float:left;padding:4px 8px;background:rgba(20,200,160,.35);}
.suggestion-subjects li .icon{color:@green;}

div.loading { position: relative; left: 80%; float: left; z-index: 10000; margin-top: -40px; background-image: url(/static/img/loading.gif); width: 24px; height: 24px; }
div.loading > b { display: none; }

.suggestion-classification{background:#f6f3ee url(/static/img/pat1.png);padding-top:8px;padding-bottom:8px;overflow:hidden;}
.suggestion-classification ul{list-style:none;margin:0;padding:0;}
.suggestion-classification li{margin: 0 4px 4px 0;float:left;padding:4px 8px;background:rgba(167, 86, 167, 0.35);}
.suggestion-classification li .icon{color:@purple;}

/*TODO:experimental and not optimized*/
.add-thing.btn-link, 
.remove-thing.btn-link {color:@green;height:23px;padding-top:0;line-height:23px;font-size:11px;font-family:@paragraph-font, arial, sans-serif;
    &:hover {text-decoration: none;}
    &:focus {color:@black}
  }
.remove-thing.btn-link {margin-top:16px;}
.add-thing.btn-link {margin-top:0px;padding-left:12px;background:url(/static/img/plus.png) no-repeat 0 7px}

.add-thing.btn-link i, 
.remove-thing.btn-link i{font-size:15px;line-height:23px;position:relative;bottom:-1px;margin-right:1px;color:@green}

.btn-link.deleter{color:#ddd}
.btn-link.deleter:focus,
.btn-link.deleter:hover{color:#c44}

.input-controls {;margin: 0 26px 10px 0; }

.removedraft{float:left; vertical-align: none;}

.saved #draft, .published #publish { opacity: 0.4; }
#draft, #publish { opacity: 1; }

/* tmp auth view */

.subject ul {list-style:none;margin:0;padding:0;}
.subject-data {display:block; padding-bottom:7px;}
.subject-head {display:block; font-size: 18px; padding-bottom:7px;}

/* HOLDINGS START ------------------------- */

.holdings-list ul{list-style:none;margin:0;padding:0;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
      box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

#holdings{background:transparent;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;padding:12px 0;}
.holdings-editor .editor{background:@white;width:732px;padding:12px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
      box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

section.holdings-list{background:#f7f3ee;}

.holdings-list ul{list-style:none;margin:0;padding:0;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
      box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.holdings-list a{display:block;background:#f7f3ee;padding:12px;border-top:1px solid #ccc;color:@grey-darker;}
.holdings-list li:first-child a{border-top:none;}
.holdings-list li.active a{background:@white;color:@black;}

.holdings-list a.sigel {font-weight: bold;font-size: 14px;color:@grey-darker;}

.holdings-list a.sigel i {opacity:.60;}

.content.holdings section h2{background-color:#a756a7;}
.content.holdings section h2 i{border-right-color:@purple;}

.content.holdings section h3{font:bold italic 16px/20px @header-font, georgia,serif; color:#a756a7; 
  border-bottom:1px solid #a756a7; padding-bottom: 2px; }

.content.holdings section h3.inline_heading {
  border: none;
  float: left;
  margin-left: 10px;
  margin-bottom: 0px;
  line-height: 32px;
}

section.holdings ul li { list-style: none; }

/* HOLDINGS END ------------------------- */
/* EDIT FORM END ------------------------- */


/* REMOTE SOURCES MODAL START ------------------------- */

.remote-modal {
  a.database-name {
    color: @grey-darker;padding: 0px 0px 7px 18px;background: url(/static/img/dot.png) no-repeat 4px 9px;
  }
  dl { margin-bottom: 6px; }
  i.database-comment { color: @grey-dark;}
}

/* REMOTE SOURCES MODAL END ------------------------- */



/* JSON-LD VIEW START ------------------------- */

.json-ld code {font-family: @paragraph-font;font-size:10px;color:#888;margin-bottom:0;line-height:16px;letter-spacing:.5px}
.json-ld code { background-color:none; border: none;}/*code override*/

.json-ld input {
  font-size: 12px; border-bottom: 1px dashed #dadada;
  width: 72%;
}
.json-ld input:focus {
  border-bottom-color: #555;
}

.json-ld .type {font-size: 12px; font-weight:600;color:@grey-very-dark;padding-left: 3px;}
.json-ld .header {font-size: 12px;}
.json-ld label {font-size: 12px;display: block;background-color:@white;color:@grey;}

.collapsed > code {
  background-color: @grey-light;
}

.entitylink {
  margin-top: 6px;
  cursor: pointer;
}
.entitylink:hover {
  color: @grey-dark; 
}

.entitylink:after {
  content: " \f0d7"; font-size: 12px;
  font-family: FontAwesome;
}

.collapsed > .entitylink:after {
  content: " \f0da"; font-size: 12px;
  font-family: FontAwesome;
}

.json-ld code {background-color: transparent;}

.json-ld .entity {
  background-color: @white;
  padding: 3px 15px 6px;
  margin: 3px 9px;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
  max-height: 2000em;
  transition: max-height 0.25s ease-in-out;
  overflow: auto;
}

.collapsed > .entity {
  max-height: 2em;
  overflow: auto;
  box-shadow: inset 0px 5px 8px @white;
  border: 1px dotted @grey-light;
  opacity: 0.4;

}

.entity .btn-link {padding-left: 15px;}

section.json-ld {background-color:@white;}

div.array > section.entity {
    background-color: #fdfdfd;
    box-shadow: 0 2px 10px 4px #eee inset;
    border-radius: 3px;
    padding: 9px 15px;
}

div.array {
  overflow: hidden;
}

div.array > section.entity > div {
  width: 50%;
  float: left;
  margin: 3px 0;
  position: relative;
}
div.array > section.entity > div:nth-of-type(even) {
  float: right;
  margin-bottom: none;
}

.array {position: relative;}
.array > section > div > * > div > label {
  position: absolute;
  left: 0;
  display:none;
}

/* JSON-LD VIEW END ------------------------- */


/*hitlist crude overrides needs to integrate with previous styles*/
section.result p.holding {font-size:11px; color:#aaa;padding-top:0px; display: block; word-wrap: break-word;}

.faded {opacity: 0.5}
.faded:hover {opacity: 1}

.pages {position:absolute; bottom:23px; padding-left:3px;}

.copy {position:absolute; bottom:-100px; right:20px;}

