html {
  font-size: 62.5%;
  height: 100%;
  margin: 0 0 1px;
  padding: 0px;

}

body {
  padding-top: 60px; /* to make the container go all the way to the bottom of the topbar */
  height: 100%;
  margin: 0 0 1px;
  font-family: Helvetica;
  font-size: 1.2em;
}


/* Webcat form */
.record .leader,
.record .control_field,
.record .regular_field {
  list-style: none;
  margin: 0;
}
.record label { display: inline; }
.record input.variable-field { width: 30px; }
.record .field_label { width: 30px; }
.record .control_field .field_label { width: 300px; }
.record .indicator { width: 20px; }
.record .controlfield { width: 517px; }
.record .regular_field input.subfield.label {
  width: 10px;

}
.record .regular_field input.subfield {
  width: auto;
}
.record input.subfield-master { width: 99%; }

.regular_field label {
  position: relative;
}

.regular_field label .action-group {
  position: absolute;
  top: 0; left: 0;
}

.regular_field label .btn {
  opacity: 0;
  -moz-transition: 0.5s opacity ease-out;
}
.regular_field label .btn:focus,
.regular_field label:hover .btn {
  opacity: 1;
}

.acResults {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.remoteoption {
  padding: 5px;
}

label.control-label {
  background-color: #efefef;
  font-weight: 600;
  padding: 3px;
  width: 97%;
  display: block;
}

/* forked from class close */
.close-record {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  border: 0;
}

auth-ok {
  float: right;
}

/*form input fork */

form#fields .regular_field {
 	border-bottom: 1px solid #efefef; 
	padding-top: 0;
	padding-bottom: 0;
}
form#fields {
	font-size: 14px;
}

form#fields input {
	border: 1px solid transparent;
	box-shadow: none;
	font-size: 14px;
}

form#fields input:hover,
form#fields input:focus {
	border: 1px solid #CCCCCC;
}

form#fields input:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

form#fields .add-on {
	border: 0;
	font-style: italic;
	color: #888;
	background: #fff;
}

/*webcat mockup */


.mockup {
	background-color: #efefef;
	border-radius: 0;
	border-color: white;
	font-size: 14px;
}
.indicator {
	width: 20px;
	background: #efefef;
	border-radius: 0;
	color: #888;
}
.variable-field {
	width: 30px;
	font-weight: 600;
}

input.subfield-master { width: 600px; border-radius: 0; box-shadow: 0 0 0 0;}
.sub-active { border-color: white; font-size: 14px;}
