@white: #ffffff; /*background*/
@pink: #fa1963; /*holdings*/
@purple: #683568; /*holdings link etc */
@purple-light: #dda0dd; /*holdings placeholder*/
@red: #FA1963;
@green1: #93e5d2; /*unused?*/
@green2: #27b492; /*buttons, headers*/
@green3: #1a8f72; /*links, backgrounds*/
@green4: #106351; /*link and button hovers*/
@grey1: #f6f6f6; /*unused?*/
@grey2: #c7c7c7; /*delimiters*/
@grey3: #adadad; /*backgrounds, footer*/
@grey-dark: #999999; /*lighter text color*/
@grey-darker: #666666;
@grey-very-dark: #191919; /*font-color*/

/* columns */
.cols { overflow: hidden; width: 1008px; clear:both; }
.col12 { width: 984px; float: left; margin-right: 24px; }
.col9 { width: 732px; float: left; margin-right:24px; }
.col8 { width: 648px; float: left; margin-right:24px; }
.col7 { width: 552px; float: left; margin-right:24px; }
.col6 { width: 480px; float: left; margin-right:24px; }
.col5 { width: 396px; float: left; margin-right:24px; }
.col4 { width: 312px; float: left; margin-right:24px; }
.col3 { width: 228px; float: left; margin-right:24px; }
.col2 { width: 144px; float: left; margin-right:24px; }
.col1 { width: 72px; float: left; margin-right:24px; }
.lastcol { margin-right: 0; }