<td>
  <div class="label">
    <input ng-model="object['identifierValue']" data-track-change type="text" />
  </div>
</td>
<td>
  <div class="label">
    <input ng-model="object['identifierNote']" data-track-change type="text" />
  </div>
</td>
<td>
  <div class="label">
    <input ng-model="object['identifierScheme']['@id']" data-track-change type="text" />
  </div>
</td>
<td>
  <div class="label">
    <input ng-model="object['identifierStatus']" data-track-change type="text" />
  </div>
</td>
<td class="controls">
  <button class="btn-link deleter" data-ng-click="removeTableRow($index)">
    <i class="fa fa-times"></i>
  </button>
</td>