<div class="hitlist-row bib compact">
  <div class="title">
    <a class="bib-url" href="#" data-ng-controller="ModalCtrl" data-ng-click="openBibViewModal(record, recType)">{{ utils.composeTitle(record.data) | chop:80}}</a>
  </div>
  <div class="creator">
    {{ utils.composeCreator(record.data) | chop:40 }}
  </div>
  <div class="publication">
    <span data-ng-repeat="publication in record.data.about.publication | limitTo:1">
      {{ utils.composeDate(publication.providerDate) }}
    </span>
  </div>
  <div class="identifier-code">
    <span data-ng-repeat="identifier in record.data.about.identifier | limitTo:1">
      {{ identifier.identifierValue | chop:20 }}
    </span>
  </div>
</div>