<div class="hitlist-item bib compact">
  <div class="title">
    <a href="/edit/libris{{record.identifier || record.data['@id']}}">{{ utils.composeTitle(record) | chop:80 }}</a>
  </div>
  <div class="creator">
    {{ utils.composeCreator(record) | chop:40 }}
  </div>
  <div class="publication">
    <span title="Utgivningsår" data-ng-repeat="publication in record.data.about.publication | limitTo:1">
      {{ publication.providerDate }}
    </span>
  </div>
  <div class="identifier-code" data-ng-repeat="identifier in record.data.about.identifier | limitTo:1">{{ identifier.identifierValue }}
  </div>

</div>