<td><!--TODO fix labels and error messages for identifiers-->
  <span class="lbl-inline lbl"
        data-ng-hide="subform.isbn_name.$error.invalid_value || subform.isbn_name.$error.invalid_length"><span translate>LABEL.record.about.identifers.isbn.identifierValue</span>                      
  </span>
  <span class="lbl-inline lbl error-label"
        data-ng-show="subform.isbn_name.$error.invalid_value || subform.isbn_name.$error.invalid_length" translate>LABEL.record.about.identifers.isbn.identifierValue 
  <span class="error_message" data-ng-show="subform.isbn_name.$error.invalid_value">(Fel numeriskt värde)</span>
  <span class="error_message" data-ng-show="subform.isbn_name.$error.invalid_length">(Fel längd)</span>
  </span>
</td>
<td><span class="lbl" translate>LABEL.record.about.identifers.isbn.identifierNote</span></td>