<td>
  <div class="label">
    <input data-inplace type="text" data-inplace name="isbn_name" data-ng-model="object['identifierValue']" data-isbn-pattern="^$|^[0-9-xX]*$" isbnvalidator/>
  </div>
</td>
<td>
  <div class="label">
    <input data-inplace ng-model="object['identifierNote']" data-inplace class="ng-pristine ng-valid" type="text" />
  </div>
</td>
<td class="controls">
  <button class="btn-link deleter" data-ng-click="removeTableRow($index)">
    <i class="fa fa-times"></i>
  </button>
</td>