<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title cookies">Information om cookies</h2>
</div>
<div class="modal-body cookies">
  <p>
    LIBRIS katalogisering använder sig av cookies.<br/>
    <br/>
    Cookies är små filer som lagras på besökarens dator för att webbservern ska kunna upprätthålla information om användaren inom en viss tidsperiod.
    LIBRIS katalogisering använder sig av s.k. sessionscookies som sparar information om den inloggade användaren temporärt, så länge som webbläsarsessionen varar.<br/>
    <br/>
    Informationen som lagras ser till att tjänsten vet vilken användare som är inloggad och vilka bibliotek som han/hon katalogiserar för.
    Funktionen "håll mig inloggad" sparar en permanent cookie som är aktiv i 31 dagar.<br/>
    <br/>
    Post- och telestyrelsen, som är tillsynsmyndighet på området, lämnar ytterligare information om Cookies på sin webbplats, <a href="http://www.pts.se" target="_blank">www.pts.se <i class="fa fa-external-link"></i></a>.
  </p>
</div>