<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h2 id="rlModalLabel">Skapa ny katalogpost</h2>
</div>
<div class="modal-body cols">
<tabset>
  <tab>
    <tab-heading>Bibliografisk post</tab-heading>
    <div class="col4"
        data-ng-repeat="typeGroup in typeGroups"
        data-ng-include="'render-new-type-group'">
    </div>
  </tab>
</tabset>
</div>
<div class="modal-footer">
  <a class="btn btn-green"
     href="/edit/draft/bib/new?type={{ createNew.mainType }}&amp;aggregateLevel={{ createNew.aggregateLevel }}"
     data-ng-click="close()"
     >Skapa <i class="fa fa-arrow-circle-right"></i></a>
</div>