<div class="modal-header bibview">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h1 class="modal-title bibview">Bibliotekspost
    <span data-ng-show="!isRemote">({{ record['@id'] }})</span>
    <span data-ng-show="isRemote">({{ "Remote" }})</span>
  </h1>
</div>

<div class="modal-body bibview">
    <section class="top">
      <div class="header-container">
        <kitin-bib-header record="record" rectype="recType" static stickto="'.modal-body.bibview'"></kitin-bib-header>
      </div>
    </section>

    <section class="header">
      <h2>
        Detaljerad information
        <i></i>
      </h2>
    </section>
    <section class="info-container">
      <span data-ng-if="isRemote && remoteDatabase != null" class="database">
        <i class="fa fa-institution"></i> Källa: <a href="{{remoteDatabase.address}}" target="_blank" title="Länk till {{ remoteDatabase.name }}">{{remoteDatabase.name }}</a>
      </span>
      <kitin-valuedisplay record="record" ng-if="record.about.summary" label="'summary'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.publication" label="'publication'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.manufacture" label="'manufacture'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.frequency" label="'frequency'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.hasFormat" label="'hasFormat'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.language" label="'language'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.originalLanguage" label="'originalLanguage'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.identifier || record.controlNumber" label="'identifierValue'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.attributedTo" label="'attributedTo'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.influencedBy" label="'influencedBy'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.classification" label="'classification'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.comment" label="'comment'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.hasAnnotation" label="'hasAnnotation'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.isPartOf" label="'isPartOf'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.bibliography" label="'bibliography'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.subject" label="'subject'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.alternateFormat" label="'relatedTitles'"></kitin-valuedisplay>

    </section>
</div>
<div class="modal-footer submit bibview">
  <div class="status pull-left" style="text-align: left">
    <table class="modificationdates" data-ng-if="!isRemote">
      <tr data-ng-if="record.modified">
        <td>Uppdaterad: </td><td>{{ record.modified | timeAgo:60*60*24 }}</td>
      </tr>
    </table>
  </div>
  <div class="button-container">
    <button class="button-import btn btn-green btn-copy-remote" data-ng-click="importRecord(record)" data-ng-if="isRemote && allowEdit">
      <span><i class="fa fa-inverse fa-plus"></i> {{ "Kopiera" }}</span>
    </button>
    <button class="button-edit btn btn-green btn-copy-remote" data-ng-click="editPost(record)" data-ng-if="!isRemote && allowEdit">
      <span><i class="fa fa-inverse fa-edit"></i> {{ "Redigera" }}</span>
    </button>
  </div>
  <div class="button-container" data-ng-if="!isRemote">
    <button class="btn-link green" id="view-jsonld" data-ng-controller="ModalCtrl" data-ng-click="openJSONLDModal($event, record)">
      <i class="fa fa-share-alt"></i> JSON-LD</a> 
    </button>
    <button class="button-holdings btn btn-purple btn-hld" data-ng-if="!record.holdings.holding" data-ng-controller="ModalCtrl" data-ng-click="openHoldingsModal($event, record)">
      <span><i class="fa fa-inverse fa-plus"></i> Bestånd</span>
    </button>
    <button class="button-holdings btn btn-white-purple btn-hld" data-ng-if="record.holdings.holding" data-ng-controller="ModalCtrl" data-ng-click="openHoldingsModal($event, record)">
      <span><i class="fa fa-check"></i> Bestånd</span>
    </button>
  </div>
</div>
