<div class="modal-header">
  <h2>{{ getLeaf(term[ID]) }}
    (<span>{{ ensureArray(term[TYPE]).join(", ") }}</span>)</h2>
</div>
<div class="modal-body">
  <p>
    {{ term.label }}
    <em data-ng-if="term.comment">&mdash; {{ term.comment }}</em>
  </p>
  <ng:switch on="term[TYPE]">
    <div data-ng-switch-when="Class">
      <dl>
        <dt>Baserad på:</dt>
        <dd>
          <ul>
            <li data-ng-repeat="bc in term.get('subClassOf')"
                data-ng-init="lkey = getLeaf(bc[ID])">
              <a data-ng-click="viewTerm(lkey)">{{ lkey }}</a>
            </li>
          </ul>
        </dd>
        <dt>Egenskaper:</dt>
        <dd>
          <ul>
            <li data-ng-repeat="domain in term.subjects('domainIncludes')"
                data-ng-init="lkey = getLeaf(domain[ID])">
              <a data-ng-click="viewTerm(lkey)">{{ lkey }}</a>
            </li>
          </ul>
        </dd>
        <dt>Pekas till via:</dt>
        <dd>
          <ul>
            <li data-ng-repeat="range in term.subjects('rangeIncludes')"
                data-ng-init="lkey = getLeaf(range[ID])">
              <a data-ng-click="viewTerm(lkey)">{{ lkey }}</a>
            </li>
          </ul>
        </dd>
        <dt>Mer specifika typer:</dt>
        <dd>
          <ul>
            <li data-ng-repeat="sc in term.subjects('subClassOf')"
                data-ng-init="lkey = getLeaf(sc[ID])">
              <a data-ng-click="viewTerm(lkey)">{{ lkey }}</a>
            </li>
          </ul>
        </dd>
      </dl>
    </div>
    <div data-ng-switch-default>
      <dl>
        <dt>Baserad på:</dt>
        <dd>
          <ul>
            <li data-ng-repeat="bp in term.get('subPropertyOf')"
                data-ng-init="lkey = getLeaf(bp[ID])">
              <a data-ng-click="viewTerm(lkey)">{{ lkey }}</a>
            </li>
          </ul>
        </dd>
        <dt>Är egenskap på:</dt>
        <dd>
          <ul>
            <li data-ng-repeat="domain in term.get('domainIncludes')"
                data-ng-init="lkey = getLeaf(domain[ID])">
              <a data-ng-click="viewTerm(lkey)">{{ lkey }}</a>
            </li>
          </ul>
        </dd>
        <dt>Pekar på:</dt>
        <dd>
          <ul>
            <li data-ng-repeat="range in term.get('rangeIncludes')"
                data-ng-init="lkey = getLeaf(range[ID])">
              <a data-ng-click="viewTerm(lkey)">{{ lkey }}</a>
            </li>
          </ul>
        </dd>
      </dl>
    </div>
  </ng:switch>
</div>
