<div class="modal-header holdings">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title"><span  translate>LABEL.gui.terms.HOLDINGS</span> ({{userData.userSigel}})</h4>
</div>

<div class="modal-body holdings">
  <div cg-busy="{promise:holdingPromise,message:'Laddar bestånd...', minDuration: 2000}"></div>
  <form data-ng-show="holding.data['@id'] || !holding['etag']">
    <section class="offer" data-ng-repeat="offer in holding.data.about.offers track by $index">
      <div class="cols">
        <div class="col6">
          <div class="label">
            <span class="lbl" translate>LABEL.holding.about.offers.shelfLocation</span>
            <input data-inplace type="text" data-ng-model="offer.shelfLocation"/>
          </div>
          <div class="label">
            <span class="lbl" translate>LABEL.holding.about.offers.classificationPart</span>
            <input data-inplace type="text" data-ng-model="offer.classificationPart"/>
          </div>
          <div class="label">
            <span class="lbl" translate>LABEL.holding.about.offers.shelfControlNumber</span>
            <input data-inplace type="text" data-ng-model="offer.shelfControlNumber"/>
          </div>
          <div class="label">
            <span class="lbl" translate>LABEL.holding.about.offers.shelfLabel</span>
            <input data-inplace type="text" data-ng-model="offer.shelfLabel"/>
          </div>
        </div>
        <div class="col6">
          <div class="label">
            <span class="lbl" translate>LABEL.holding.about.offers.availability</span>
            <input data-inplace type="text" data-ng-model="offer.availability"/>
          </div>
          <div class="label">
            <span class="lbl" translate>LABEL.holding.about.offers.copyNumber</span>
            <input data-inplace type="text" data-ng-model="offer.copyNumber"/>
          </div>
          <div class="label">
            <span class="lbl" translate>LABEL.holding.about.offers.copyNote</span>
            <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="offer.copyNote"></textarea>
          </div>
          <div class="label">
            <span class="lbl" translate>LABEL.holding.about.offers.editorialNote</span>
            <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="offer.editorialNote"></textarea>
          </div>
        </div>
        <div class="col12">
          <button class="btn btn-link pull-right" data-ng-if="holding.data.about.offers.length > 1" data-ng-click="deleteOffer(holding, $index)"><i class="fa fa-trash-o"></i> {{ "Radera lokalsignum" }}</button>
        </div>
      </div>
    </section>
  </form>

  <hr data-ng-show="holding">

  <div class="alert alert-success" role="alert" data-ng-show="holdingRemoved">
    {{ "Beståndet raderat" }}
  </div>
  
  <div class="alert alert-error" role="alert" data-ng-show="holding.data.about.offers.length < 1">
    {{ "Beståndet saknar lokalsignum" }}
  </div>

  <div class="modal-alerts" data-ng-show="alerts.length > 0">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>

  <div>
    <button class="btn btn-flat btn-purple-light" data-ng-click="addOffer(holding)" data-ng-show="holding"><i class="fa fa-plus"></i> {{ "Lägg till lokalsignum" }}</button>
  </div>

</div>

<div class="modal-footer holdings submit">
  <div class="status pull-left">
    <div data-ng-if="modifications.saved">{{ "Inga osparade ändringar." }}</div>
    <div data-ng-if="!modifications.saved">{{ "Du har inte sparat dina ändringar." }}</div>
  </div>
  <button class="btn-link" id="delete-hld" data-ng-click="deleteHolding(holding)" data-ng-show="holding.data['@id']"><i class="fa fa-trash-o"></i> {{ "Radera bestånd" }}</button>
  <button class="btn btn-purple btn-submit" id="save-hld" data-ng-click="saveHolding(holding)" data-ng-show="holding">{{ "Spara bestånd" }}</button>
  <button class="btn btn-purple btn-submit" id="save-hld" data-ng-click="close()" data-ng-show="!holding">{{ "Stäng" }}</button>
</div>