<div class="modal-header bibview">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h1 class="modal-title bibview">Bibliotekspost
    <span data-ng-show="!isRemote">({{ record['@id'] }})</span>
    <span data-ng-show="isRemote">({{ "Remote" }})</span>
  </h1>
</div>

<div class="modal-body bibview">
    <section class="top">
      <div class="header-container">
        <kitin-bib-header record="record" rectype="recType" static stickto="'.modal-body.bibview'"></kitin-bib-header>
      </div>
    </section>


    <section class="header">
      <h2>
        Detaljerad information
        <i></i>
      </h2>
    </section>
    <section class="info-container">
      <span data-ng-if="isRemote && remoteDatabase != null" class="database">
        <i class="fa fa-institution"></i> Källa: <a href="{{remoteDatabase.address}}" target="_blank" title="Länk till {{ remoteDatabase.name }}">{{remoteDatabase.name }}</a>
      </span>
      <kitin-valuedisplay record="record" ng-if="record.about.summary" label="'LABEL.record.about.summary'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.publication" label="'LABEL.record.about.publication'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.manufacture" label="'LABEL.record.about.manufacture'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.frequency" label="'LABEL.record.about.frequency'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.hasFormat" label="'LABEL.record.about.hasFormat'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.language && record.about.language[0].langCode !== 'zxx'" label="'LABEL.record.about.language'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.originalLanguage" label="'LABEL.record.about.originalLanguage'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.identifier || record.controlNumber" label="'LABEL.record.about.identifierValue'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.attributedTo" label="'LABEL.record.about.attributedTo'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.influencedBy" label="'LABEL.record.about.influencedBy'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.classification" label="'LABEL.record.about.classification'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.comment" label="'LABEL.record.about.comment'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.isPartOf" label="'LABEL.record.about.isPartOf'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.bibliography" label="'LABEL.record.bibliography.bibliography'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.subject" label="'LABEL.record.about.subject'"></kitin-valuedisplay>
      <kitin-valuedisplay record="record" ng-if="record.about.alternateFormat" label="'LABEL.record.about.relatedTitles'"></kitin-valuedisplay>
      
    </section>
</div>
<div class="modal-footer submit bibview">
  <div class="status pull-left" style="text-align: left">
    <table class="modificationdates" data-ng-if="!isRemote">
      <tr data-ng-if="record.created">
        <td>Skapad: </td><td>{{ record.created | timeAgo:60*60*24 }}</td>
      </tr>
      <tr data-ng-if="record.modified">
        <td>Uppdaterad: </td><td>{{ record.modified | timeAgo:60*60*24 }}</td>
      </tr>
    </table>
  </div>
  <div class="button-container">
    <button class="button-import btn btn-green btn-copy-remote" data-ng-click="importRecord(record)" data-ng-if="isRemote && allowEdit">
      <span><i class="fa fa-inverse fa-plus"></i> {{ "Kopiera" }}</span>
    </button>
    <button class="button-edit btn btn-green btn-copy-remote" data-ng-click="editPost(record)" data-ng-if="!isRemote && allowEdit">
      <span><i class="fa fa-inverse fa-edit"></i> {{ "Redigera" }}</span>
    </button>
  </div>
  <div class="button-container" data-ng-if="!isRemote">
    <button class="button-holdings btn btn-purple btn-hld" data-ng-if="!record.holdings.holding" data-ng-controller="ModalCtrl" data-ng-click="openHoldingsModal($event, record)">
      <span><i class="fa fa-inverse fa-plus"></i> Bestånd</span>
    </button>
    <button class="button-holdings btn btn-white-purple btn-hld" data-ng-if="record.holdings.holding" data-ng-controller="ModalCtrl" data-ng-click="openHoldingsModal($event, record)">
      <span><i class="fa fa-check"></i> Bestånd</span>
    </button>
  </div>
</div>
