<div class="modal-header marc">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h1 class="modal-title">MARC förhandsgranskning</h1>
</div>

<div class="modal-body marc">
    <div data-cg-busy="{promise:promises.marc.loading, message:'LABEL.gui.busy.LOADING_MARC', minDuration: 800}"></div>
    <div class="alert alert-info" role="alert">Observera att denna vy inte visar posten som den kommer att se ut i det mottagande systemet utan endast visar de inmatade fälten,<br>tillfälligt konverterade till MARC.</div>
    <hr>
    <section class="marc-code">
      <table>
        <tr>
          <td data-ng-if="record.leader">
            <code>000</code>
          </td>
          <td></td>
          <td></td>
          <td colspan="3">
            <span>{{record.leader}}</span>
          </td>
        </tr>
        <tr data-ng-repeat="field in record.fields" ng-init="pair = lodash.pairs(field)[0]; key = pair[0]; value = pair[1]">
          <td>
            <code>{{key}}</code>
          </td>
          <td class="ind">
            {{value.ind1}}
          </td>
          <td class="ind">
            {{value.ind2}}
          </td>
          <td>
            <span ng-if="typeOf(value) === 'string'">{{value}}</span>
            <span data-ng-init="object = value.subfields" data-ng-include="'/snippets/marc-object'"></span>
          </td>
        </tr>
      </table>
    </section>
</div>

<div class="modal-footer marc submit"></div>