<div class="modal-header holdings">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h1 class="modal-title"><span translate>LABEL.gui.terms.HOLDINGS</span> för {{userData.userSigel}} ({{ record['@id'] }})</h1>
</div>

<div class="modal-body holdings">
  <div data-cg-busy="{promise:promises.holding.loading, message:'Laddar bestånd...', minDuration: 800}"></div>
  <div data-cg-busy="{promise:promises.holding.saving, message:'Sparar bestånd...', minDuration: 800}"></div>
  
  <section class="top">
    <div class="header-container">
      <kitin-bib-header record="record" rectype="recType" static stickto="'.modal-body.holdings'"></kitin-bib-header>
    </div>
  </section>

  <!-- TODO: Make table dynamic -->
  <div class="otherHoldings" ng-show="otherHoldings.length > 0">
    <section class="header">
      <h2>
        {{ 'LABEL.gui.holding.otherLibraries' | translate }}
        <i></i>
      </h2>
    </section>
    <section class="info-container">
      <div>
        <p class="inline">
          {{ 'LABEL.gui.holding.holdingExistsFor' | translate }} {{ otherHoldings.length }} {{ otherHoldings.length > 1 ? 'LABEL.gui.holding.otherLibraries' : 'LABEL.gui.holding.otherLibrary' | translate }}.
          <p class="btn btn-xs btn-link" ng-click="showOtherHoldings = !showOtherHoldings">
            {{ showOtherHoldings ? 'LABEL.gui.general.hide' : 'LABEL.gui.general.show' | translate }} <i class="fa" ng-class="{'fa-caret-down': showOtherHoldings, 'fa-caret-right fa-fw': !showOtherHoldings}"></i>
          </p>
        </p>
        <table class="table-striped table-bordered tbl-otherHoldings" ng-show="showOtherHoldings">
          <thead>
            <tr>
              <th title="Klicka för att sortera kolumn" ng-click="otherHoldingsPredicate = 'about.heldBy.notation'">
                <kitin-label label="'heldBy'"><kitin-label> <i ng-class="{'opaque' : otherHoldingsPredicate != 'about.heldBy.notation'}" class="fa fa-caret-down"></i>
              </th>
              <th title="Klicka för att sortera kolumn" ng-click="otherHoldingsPredicate = 'about.offers[0].shelfLocation'">
                <kitin-label label="'shelfLocation'"><kitin-label> <i ng-class="{'opaque' : otherHoldingsPredicate != 'about.offers[0].shelfLocation'}" class="fa fa-caret-down"></i>
              </th>
              <th title="Klicka för att sortera kolumn" ng-click="otherHoldingsPredicate = 'about.offers[0].classificationPart'">
                <kitin-label label="'classificationPart'"><kitin-label> <i ng-class="{'opaque' : otherHoldingsPredicate != 'about.offers[0].classificationPart'}" class="fa fa-caret-down"></i>
              </th>
              <th title="Klicka för att sortera kolumn" ng-click="otherHoldingsPredicate = 'about.offers[0].shelfControlNumber'">
                <kitin-label label="'shelfControlNumber'"><kitin-label> <i ng-class="{'opaque' : otherHoldingsPredicate != 'about.offers[0].shelfControlNumber'}" class="fa fa-caret-down"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="otherHolding in otherHoldings | orderBy:otherHoldingsPredicate track by $index">
              <td><a href="http://bibdb.libris.kb.se/library/{{ otherHolding.about.heldBy.notation }}" title="Visa {{ otherHolding.about.heldBy.notation }} i Biblioteksdatabasen (nytt fönster)" target="_blank">{{ otherHolding.about.heldBy.notation }}</a></td>
              <td>{{ otherHolding.about.offers[0].classificationPart ? otherHolding.about.offers[0].classificationPart : '-'}}</td>
              <td>{{ otherHolding.about.offers[0].shelfLocation ? otherHolding.about.offers[0].shelfLocation.join(', ') : '-'}}</td>
              <td>{{ otherHolding.about.offers[0].shelfControlNumber ? otherHolding.about.offers[0].shelfControlNumber : '-'}}</td>
            </tr>
          </tbody>
        </table>
      <div>
    </section>
  </div>
  
  <form data-ng-show="holding['@id'] || !holding['etag']" name="holdingForm">
    <section class="header">
      <h2>
        {{ modifications.holding.isNew ? 'LABEL.gui.holding.newHolding' : 'LABEL.gui.holding.yourHolding' | translate }}
        <i></i>
      </h2>
    </section>
    
    <!-- OFFERS (852) -->
    <section class="offer form-container">
      <div data-ng-repeat="offer in holding.about.offers track by $index">
        <kitin-group label="'LABEL.term.offers'">
          <!-- Locked sigel until we decide how to handle multiple sigels for single users -->
          <div class="label">
            <kitin-label label="'sigel'"></kitin-label>
            <span class="inp">
              <div class="entity tags">
                {{userData.userSigel}}
              </div>
            </span>
          </div>

          <kitin-table  model="offer.shelfLocation" change-model="holding">
            <kitin-td><kitin-textarea model="model[$index]" change-model="holding"></kitin-textarea></kitin-td>
          </kitin-table>
          <kitin-textrow model="offer.classificationPart" change-model="holding" suggestion="[{ 'list' : bibClassifications, 'property' : 'notation' }]" always-visible></kitin-textrow>
          <kitin-textrow model="offer.shelfControlNumber" change-model="holding" always-visible></kitin-textrow>
          <kitin-textrow model="offer.shelfLabel" change-model="holding"></kitin-textrow>
          <kitin-table  model="offer.availability" change-model="holding">
            <kitin-td><kitin-textarea model="model[$index]" change-model="holding"></kitin-textarea></kitin-td>
          </kitin-table>
          <kitin-textrow model="offer.copyNumber" change-model="holding"></kitin-textrow>
          <kitin-table model="offer.copyNote" change-model="holding">
            <kitin-td><kitin-textarea model="model[$index]" change-model="holding"></kitin-textarea></kitin-td>
          </kitin-table>
          <kitin-table model="offer.cataloguersNote" change-model="holding">
            <kitin-td><kitin-textarea model="model[$index]" change-model="holding"></kitin-textarea></kitin-td>
          </kitin-table>

          <div class="button-bar remove-bar right">
            <button class="btn btn-link" data-ng-if="holding.about.offers.length > 1" data-ng-click="deleteOffer(holding, $index)"><i class="fa fa-trash-o"></i> {{ 'LABEL.gui.general.remove' | translate }} {{ 'LABEL.gui.holding.offers' | translate }}</button>
          </div>        
        </kitin-group>
      </div>
      <div class="button-bar add-bar right">
        <button class="btn btn-link" data-ng-click="addOffer(holding)" data-ng-show="holding"><i class="fa fa-plus"></i> {{ 'LABEL.gui.general.add' | translate }} {{ 'LABEL.gui.holding.offers' | translate }}</button>
      </div>
    </section>
    
     <!-- WORK EXAMPLE BY TYPE (866 - SomeProducts) START -->
    <section class="form-container">
      <div data-ng-repeat="SomeProduct in holding.about.workExampleByType.SomeProducts track by $index">
          <kitin-group label="'LABEL.term.SomeProduct'">
            
            <kitin-textrow label="LABEL.term.SomeProductDescription" help="HELP.term.SomeProductDescription" model="SomeProduct.description" change-model="holding" always-visible></kitin-textrow>

            <kitin-table model="SomeProduct.copyNote" change-model="holding">
              <kitin-td><kitin-textarea model="model[$index]" change-model="holding"></kitin-textarea></kitin-td>
            </kitin-table>

            <kitin-table model="SomeProduct.cataloguersNote" change-model="holding">
              <kitin-td><kitin-textarea model="model[$index]" change-model="holding"></kitin-textarea></kitin-td>
            </kitin-table>

            <div class="button-bar remove-bar right">
              <button class="btn btn-link" data-ng-click="deleteWorkExample(holding, 'SomeProducts', $index)"><i class="fa fa-trash-o"></i> {{ 'LABEL.gui.general.remove' | translate }} {{ 'LABEL.gui.holding.someProduct' | translate }}</button>
            </div>
          </kitin-group>
      </div>
      <div class="button-bar add-bar right">
        <button class="btn btn-link" data-ng-click="addWorkExample(holding, 'SomeProducts')" data-ng-show="holding"><i class="fa fa-plus"></i> {{ 'LABEL.gui.general.add' | translate }} {{ 'LABEL.gui.holding.someProduct' | translate }}</button>
      </div>
    </section>
    <!-- WORK EXAMPLE BY TYPE END -->

    <!-- IS PRIMARY TOPIC OF (856) START -->
    <section class="form-container">
      <div data-ng-repeat="isPrimaryTopicOf in holding.about.isPrimaryTopicOf track by $index">
        <kitin-group label="'isPrimaryTopicOf'">

          <kitin-textrow  label-prefix="LABEL.term." model="isPrimaryTopicOf.description" change-model="holding"></kitin-textrow>

          <kitin-textrow label="LABEL.term.@id" help="HELP.term.@id" model="isPrimaryTopicOf['@id']" change-model="holding" always-visible></kitin-textrow>

          <kitin-textrow label-prefix="LABEL.term." model="isPrimaryTopicOf.altLabel" change-model="holding"></kitin-textrow>

          <kitin-table model="isPrimaryTopicOf.copyNote" change-model="holding">
            <kitin-td><kitin-textarea model="model[$index]" change-model="holding"></kitin-textarea></kitin-td>
          </kitin-table>

          <kitin-table model="isPrimaryTopicOf.cataloguersNote" change-model="holding">
            <kitin-td><kitin-textarea model="model[$index]" change-model="holding"></kitin-textarea></kitin-td>
          </kitin-table>
          
          <div class="button-bar remove-bar right">
            <button class="btn btn-link" data-ng-click="deletePrimaryTopicOf(holding, $index)"><i class="fa fa-trash-o"></i> {{ 'LABEL.gui.general.remove' | translate }} {{ 'LABEL.gui.holding.isPrimaryTopicOf' | translate }}</button>
          </div>
        </kitin-group>
      </div>
      <div class="button-bar add-bar right">
        <button class="btn btn-link" data-ng-click="addPrimaryTopicOf(holding)" data-ng-show="holding"><i class="fa fa-plus"></i> {{ 'LABEL.gui.general.add' | translate }} {{ 'LABEL.gui.holding.isPrimaryTopicOf' | translate }}</button>
      </div>
    </section>
    <!-- / IS PRIMARY TOPIC OF END -->

        
   


    <!-- ENCODING START 
    <section class="form-container">
      <kitin-group label="Encoding">
        <div data-ng-repeat="enc in holding.about.encoding track by $index">
          <kitin-table model="enc" type="MediaObject" change-model="holding">
            <kitin-td>
              <div class="label">
                <kitin-label label="'encoding.id'"></kitin-label>
                <kitin-textarea model="enc['@id']"></kitin-textarea>
              </div>

              <div class="label">
                <kitin-label label="'encoding.comment'"></kitin-label>
                <kitin-textarea model="enc.comment"></kitin-textarea>
              </div>
            </kitin-td>
          </kitin-table>
        </div>
      </kitin-group>
    </section>
    ENCODING END -->

    <br><br>
  </form>

  <div class="alert alert-success" role="alert" data-ng-if="modifications.holding.deleted">
    {{ 'LABEL.gui.holding.removed' | translate }}
  </div>
  
  <div class="alert alert-error" role="alert" data-ng-if="holding.about.offers.length < 1">
    {{ 'LABEL.gui.holding.missingOffers' | translate }}
  </div>

  <div class="modal-alerts" data-ng-if="alerts.length > 0">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
</div>

<!-- <pre>{{holding}}</pre> -->
<!-- <pre>{{modifications.holding}}</pre> -->

<div class="modal-footer holdings submit">
  <div class="status pull-left" style="text-align: left">
    <div data-ng-if="modifications.holding.saved">{{ "Inga osparade ändringar." }}</div>
    <div data-ng-if="!modifications.holding.saved && !modifications.holding.isNew">{{ "Du har inte sparat dina ändringar." }}</div>
    <div data-ng-if="!modifications.holding.saved && modifications.holding.isNew">{{ "Nyskapat bestånd, inte sparat." }}</div>
    <hr ng-if="holding.modified">
    <span data-ng-if="holding.modified">Sparad: {{ holding.modified | timeAgo:60*60*24 }}</span>
  </div>
  <div class="button-container">
    <button class="btn-link green" id="preview-marc" ng-hide="!holding" data-ng-controller="ModalCtrl" data-ng-click="openMARCModal($event, holding)">
      <i class="fa fa-search"></i> Granska MARC</a> 
    </button>
    <button class="btn-link purple" id="delete-hld" data-ng-click="deleteHolding(holding)" data-ng-if="holding['@id']">
      <i class="fa fa-trash-o"></i> {{ 'LABEL.gui.holding.remove' | translate }}
    </button>
    <button class="btn btn-purple btn-submit" id="save-hld" data-ng-click="saveHolding(holding)" data-ng-if="holding" data-ng-disabled="modifications.holding.saved">
      <span data-ng-if="!modifications.holding.saved">{{ 'LABEL.gui.holding.save' | translate }}</span>
      <span data-ng-if="modifications.holding.saved">{{ 'LABEL.gui.holding.save' | translate }} <i class="fa fa-check"></i></span>
    </button>
    <button class="btn btn-purple btn-submit" data-ng-click="close()" data-ng-if="!holding">{{ "Stäng" }}</button>
  </div>

  <div id="holdings-message-container">
    <span class="delete-messages" data-ng-class="classes.deleteStatus">
      <span class="kitin-popover-trigger" kitin-popover="Det gick inte att radera beståndet." kitin-popover-title="Något gick fel" kitin-popover-placement="top"></span>
    </span>
    <span class="save-messages" data-ng-class="classes.saveStatus">
      <span data-ng-if="!modifications.holding.saved" class="kitin-popover-trigger" kitin-popover="Det gick inte att spara beståndet." kitin-popover-title="Något gick fel" kitin-popover-placement="top"></span>
      <span data-ng-if="modifications.holding.saved" class="kitin-popover-trigger" kitin-popover="Beståndet finns nu registrerat i katalogen." kitin-popover-title="Beståndet sparades" kitin-popover-placement="top"></span>
    </span>
  </div>
</div>