<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h1 class="modal-title rlModalLabel">Release Notes</h1>
</div>
<div class="modal-body">
  <h3 class="inline">v0.7</h3>&nbsp;&nbsp;<h5 class="inline">(2015-??-??)</h5>
  <ul>
    <li></li>
  </ul>
  <h3 class="inline">v0.6</h3>&nbsp;&nbsp;<h5 class="inline">(2015-02-26)</h5>
  <ul>
    <li>Tillgänglighetsanpassningar.</li>
    <li>Flytande header i beståndsregisteringen och vid förhandsgranskning av post.</li>
    <li><a href="https://kundo.se/org/libris-katalogisering/" target="_blank">Ny feedback-hantering</a> som ersätter det tidigare forumet.</li>
    <li>Diverse buggfixar.</li>
  </ul>
  <h3 class="inline">v0.5</h3>&nbsp;&nbsp;<h5 class="inline">(2015-02-17)</h5>
  <ul>
    <li>Stöd för förslag i redigeringsfält</li>
    <li>Samma detaljerad beskrivning som finns i träfflistan följer med in i preview av bibliografiskpost samt beståndsregistrering.</li>
    <li>Listan med andra organisationers bestånd förbättrad</li>
    <li>Diverse förbättringar i beståndsregistreringen efter användar och systemtester</li>
  </ul>
  <h3 class="inline">v0.4</h3>&nbsp;&nbsp;<h5 class="inline">(2015-01-29)</h5>
  <ul>
    <li>Förbättrad releasehantering med versionering</li>
    <li>Beståndsregistrering i modalt fönster tillgänglig både direkt från träfflistan och inifrån redigeringen av bibliografiskpost</li>
    <li>Ny design implementerad för redigeringsformuläret</li>
    <li>Ny design implemneterad för listan över utkast</li>
    <li>Hjälpfunktionalitet inne i formuläret</li>
    <li>Login via Biblioteksdatabasen</li>
    <li>Import av remoteposter</li>
    <li>Preview-fönster för bibliografiska poster</li>
    <li>Växling mellan JSON-LD och formulär utan att ladda om data från servern</li>
    <li>Bättre återkoppling av postens status(ändrad, inte sparad m.m.) till användaren</li>
    <li>Uppgradering av Angular till version 1.3</li>
  </ul>
  <h3>2014-10-06</h3>
  <ul>
    <li>Formuläret för editering av bib-poster har tillfälligt blivit lite stökigt.<br>
        Arbete pågår för fullt med att bygga om formuläret, från dem tidigare två spalterna, till tre nya kolumner.<br>
        Rubrik-, inmatnings- och actionkolumn, vilket kommer göra att formuläret blir lättare att följa.<br>
        Ny uppdatering av formuläret kommer inom kort.</li>
    <li>Antalet sökbara poster har begränsats för att förenkla release och tester av klienten.</li>
  </ul>
  <h3>2014-07-02</h3>
  <ul>
    <li>Förenklad träfflista.</li>
    <li>Förbättrad funktionalitet för att lägga till fält i post.</li>
    <li>Tillägg av oauktoriserade uppslag.</li>
    <li>Hantering av laddnings- och systemfelsmeddelanden.</li>
  </ul>
  <h3>2014-06-02</h3>
  <p>Gränssnitt</p>
  <ul>
    <li>Förbättrad autosuggest för språk, länder, personer och ämnesord.</li>
    <li>Påbörjat arbete med implementering av värden från fasta fält.</li>
    <li>Förbättrat flöde och mallhantering för katalogisering av monografi.</li>
  </ul>
  <h3>2014-05-19</h3>
  <p>Gränssnitt</p>
  <ul>
    <li>Ny sökruta med tydligare information i vilken delmängd man söker i.</li>
    <li>Träfflistan har nu tydligare information om antal träffar, samt en direktknapp "till toppen".</li>
    <li>"Sticky" footer i redigeringsläget där postinformation kan rymmas.</li>
    <li>Påbörjat ombyggnad av "taggning" för språk, länder och ämnesord, samt andra definitionslistor</li>
    <li>En "åter träfflistan" länk har ersatt sökrutan i redigeringsläget för att spara utrymme.</li>
  </ul>
  <h3>2014-04-15</h3>
  <p>Gränssnitt</p>
  <ul>
    <li>Sökning och hämtning av poster i externa databaser (remotesök).</li>
    <li>Sortering och fler avgränsningsmöjligheter i träfflistan.</li>
    <li>Fler detaljer i fullposten, bla fler titeltyper, bärarspecifika detaljer och anmärkningar.</li>
    <li>Första iteration för att lägga till fält i vissa sektioner.</li>
  </ul>
  <h3>2013-12-18</h3>
  <p>Gränssnitt</p>
  <ul>
    <li>Semifunktionell prototyp av personhantering med tillägg av roller (förändringar av roller påverkar ännu inte den data som sparas).</li>
    <li>Ny hantering av definitionslistor (för t.ex. språk-, lands- och roll-/funktionskoder), med uppdaterad data.</li>
    <li>Enhetlig teknik för sökning av auktoriteter och definitioner.</li>
    <li>Förbättringar av sökning på personer och ämnen (ännu inget stöd för att skapa lokal definition av ett ämne).</li>
    <li>Minskade marginaler i sidhuvud och marginaler för att ge en mer kompakt arbetsyta.</li>
    <li>Förbättrat utseende i JSON-LD-vyn.</li>
  </ul>
  <p>Libris XL</p>
  <ul>
    <li>Fortsatt arbete med att hitta och skapa länkar till extraherade entiteter, nu inklusive  Organization och Work</li>
    <li>ElasticSearch, tokenisering i index och möjlighet att ställa in konfigurering specifikt per indextyp</li>
    <li>Förberedelse inför möjlighet att göra sökning mot externa kataloger via Z39.50. API som gör sökning mot metaproxy (där en testinstans i ett första steg söker mot LC Library of Congress, ESTER Estland och NLE Spanien) och returnerar metadata i JSON-LD.</li>
  </ul>
  <h3>2013-11-18</h3>
  <p>Gränssnitt</p>
  <ul>
    <li>Omstrukturerad layout efter användartester för att förbättra arbetsflöde och översikt</li>
    <li>Auktoritetssök, med grundläggande vy för att se aukt. post, fler detaljer finns under JSON-LD fliken.</li>
  </ul>
  <p>Libris XL</p>
  <ul>
    <li>Vi har förbättrat katalogsystemets infrastruktur för inläsning, lagring, bearbetning och indexering av metadata samt arbetat med optimering av APIer och uppslag för relaterat metadata baserat på länkar.</li>
  </ul>
  <h3>2013-10-25</h3>
  <p>Auktoritetsdata</p>
  <ul>
    <li>Länkar från bib-data till auth-data</li>
    <li>Uttryck namn+titel som verksentitet med huvuduppslag</li>
  </ul>
  <p>Libris XL</p>
  <ul>
    <li>Interpunktion rensas i vanligt förekommande fält</li>
    <li>Förbättrad infrastruktur (sök-API, dokumenthantering, OAI-PMH-import)</li>
  </ul>
  <p>Gränssnitt: JSON-LD-fliken</p>
  <ul>
    <li>Ihopvikbara block (klicka på etiketten)</li>
    <li>Navigerbara <code>@id</code>-länkar</li>
  </ul>
  <hr />
  <h3>2013-10-11</h3>
  <p>Ämnesord</p>
  <ul>
    <li>Se kontrollerade ämnesord uppdelat på system</li>
    <li>Lägga till och ta bort ämnesord (dock ej redigera redan tillagda)</li>
    <li>Rudimentär förslagsfunktion för att navigera och välja bland ämnesord</li>
  </ul>
  <p>Personauktoriteter är under rekonstruktion för att möjliggöra länkar (till skillnad från bara strängar) mellan auktoritetsposter och bibliografiska poster.
  </p>
</div>