<div class="label find-entity">
  <div class="add-item search">
    <div data-click-search>
      <span class="add-link" ng-click="onclick($event)"><i class="fa fa-plus"></i> Lägg till {{ label }}</span>
      <span class="toggler">  
        <span class="search-field">
          <i class="fa fa-search"></i>
          <input ng-blur="onblur($event)" class="input-large" type="text" placeholder="Sök {{ label }}"
                data-kitin-search-entity
                data-service-url="{{API_PATH}}/auth/_search"
                data-filter="{ 
                    'filters' : ['about.@type:Person', 'about.@type:Meeting', 'about.@type:Organization' ] } "
                data-completion-template-id="auth-completion-template" 
                data-allow-non-auth="true"/>
        </span>
        <span class="linkchoice">
          eller <a href="#">Skapa ny</a>
        </span>
      </span>
    </div>
  </div>
</div>