<div class="orgnization main">
  <div data-ng-if="isLinked(object) && !isEmpty(object)" >
    <span>{{object.name}}</span>
    <a data-ng-if="isLinked(object)" class="btn-link auth" data-ng-controller="ModalCtrl" data-ng-click="openAuthModal(object['@id'])">
      <i class="fa fa-bookmark"></i> Aukt.
    </a>
  </div>
  <div data-ng-if="!isLinked(object)"
        data-ng-init="editable = {on: !(object.controlledLabel || object.givenName || object.name)}">
    <div class="toggler">
        <button data-ng-hide="editable.on" class="btn btn-link" data-ng-click="editable.on = true"><i class="fa fa-edit"></i> Editera</button>
        <button data-ng-show="editable.on" class="btn btn-link" data-ng-click="editable.on = false"><i class="fa fa-check"></i> Klar</button>
    </div>
    <div class="non-editable">
      <span><strong>{{object.name}}</strong></span>
    </div>
    <div data-ng-show="editable.on" class="editable">
      <span class="arr"></span>
      <div class="label">
        <span class="lbl">{{ "Namn" }}</span>
        <input data-track-change class="" type="text" placeholder="Namn"
               data-ng-model="object.name" />
      </div>
      <div style="clear:both"></div>
    </div>
  </div>
</div>