<a ng-init="subjectLabel = (object.prefLabel || object.uniformTitle || object.controlledLabel  || object.notation || object.name)" ng-show="subjectLabel" href="#"><i class="fa fa-bookmark" data-ng-if="isAuth(object)"></i> {{ subjectLabel }}</a> 

  
<!-- Broader terms should not be shown for general subjects... used for?
<a data-ng-repeat="broader in object.broader" href="#">
  {{broader.prefLabel}}
  <span data-ng-show="broader.notation">({{ broader.notation }}) </span>
  <span class="subject-delimiter" data-ng-hide="$last">--</span>
 </a> 
-->

<i data-ng-click="doRemove($index)" class="no">&times;</i>