<div class="person main">
  <div data-ng-if="isLinked(object) && !isEmpty(object)" >
    <span onload="person = object" data-ng-include="'/snippets/person-name'"></span>
    <a data-ng-if="isLinked(object)" class="btn-link auth" data-ng-controller="ModalCtrl" data-ng-click="openAuthModal(person['@id'])">
      <i class="fa fa-bookmark"></i> Aukt.
    </a>
  </div>
  <div data-ng-if="!isLinked(object)"
        data-ng-init="editable = {on: !(object.controlledLabel || object.givenName || object.name)}">
    <div data-ng-hide="editable.on">
        <span onload="person = object" data-ng-include="'/snippets/person-name'"></span><a class="auth" href="" data-ng-click="editable.on = !editable.on">Ändra</a>
    </div>
    <div data-ng-show="editable.on" class="editable">
      <div class="label">
        <span class="lbl">{{ "Förnamn" }}</span>
        <input data-track-change class="" type="text" placeholder="Förnamn"
               data-ng-model="object.givenName" />
      </div>
      <div class="label">
        <span class="lbl">{{ "Släktnamn" }}</span>
        <input data-track-change class="" type="text" placeholder="Släktnamn"
               data-ng-model="object.familyName" />
      </div>
    </div>
    <div data-ng-show="editable.on">
      <div class="label">
        <span class="lbl">{{ "Född" }}</span>
        <input data-track-change class="authdependant" type="text" placeholder="ÅÅÅÅ"
               data-ng-model="object.birthYear" />

      </div>
      <div class="label">
        <span class="lbl">{{ "Död" }}</span>
        <input data-track-change class="authdependant" type="text" placeholder="ÅÅÅÅ" 
               data-ng-model="object.deathYear" />
      </div>
    </div>
  </div>
  <kitin-entity multiple hide-title model="record.about._reifiedRoles" type="ObjectProperty" view="/snippets/view-role">
    <kitin-search service-url="/relator/_search" filter="about.@type:ObjectProperty" template-id="select-role-template" placeholder="Lägg till roll">
    </kitin-search>
  </kitin-entity>
</div>