<kitin-group>
  <kitin-textrow model="instance.familyName"></kitin-textrow>
  
  <kitin-textrow model="instance.name"></kitin-textrow>
  
  <kitin-textrow model="instance.givenName"></kitin-textrow>
  
  <kitin-textrow model="instance.label"></kitin-textrow>
  
  <kitin-textrow model="instance.numeration"></kitin-textrow>

  <kitin-textrow model="instance.birthYear"></kitin-textrow>

  <kitin-textrow model="instance.deathYear"></kitin-textrow>
</kitin-group>

<kitin-group>
  <kitin-table 
    model="instance.sameAs"
    labels="['Efternamn','Förnamn']">
      <kitin-td><kitin-textarea model="item.familyName" change-model="auth"></kitin-textarea></kitin-td>
      <kitin-td><kitin-textarea model="item.givenName" change-model="auth"></kitin-textarea></kitin-td>
  </kitin-table>

  <kitin-textrow model="instance.personTitle" change-model="auth"></kitin-textrow>
  
  <kitin-textrow model="instance.scopeNote" change-model="auth"></kitin-textrow>

  <!-- <kitin-entityrow model="instance.nationality" multiple>
    <kitin-search service-url="/def/_search" 
                  template-id="select-nationality-template" 
                  filter="about.@type:Nationality">
    </kitin-search>
  <pre>{{instance.nationality}}</pre>
  </kitin-entityrow> -->

  <kitin-table 
    model="instance.subject"
    labels="['Dewey']">
      <kitin-td><kitin-textarea model="item.notation" change-model="auth"></kitin-textarea></kitin-td>
  </kitin-table>
</kitin-group>

<kitin-group>
  <kitin-textrow model="record.comment" label="{{ 'Allmän anmärkning' }}" change-model="auth"></kitin-textrow>
  
  <kitin-textrow model="instance.note" label="{{ 'Biografisk uppgift' }}" change-model="auth"></kitin-textrow>
  
  <kitin-textrow model="record.note" label="{{ 'Notering' }}" change-model="auth"></kitin-textrow>
</kitin-group>

<div data-ng-include="'/snippets/source-comment-template'"></div>
