<kitin-group>
  <kitin-textrow model="record.about.familyName"></kitin-textrow>
  
  <kitin-textrow model="record.about.name"></kitin-textrow>
  
  <kitin-textrow model="record.about.givenName"></kitin-textrow>
  
  <kitin-textrow model="record.about.label"></kitin-textrow>
  
  <kitin-textrow model="record.about.numeration"></kitin-textrow>

  <kitin-textrow model="record.about.birthYear"></kitin-textrow>

  <kitin-textrow model="record.about.deathYear"></kitin-textrow>
</kitin-group>

<kitin-group>
  <kitin-table 
    model="record.about.sameAs"
    labels="['Efternamn','Förnamn']">
      <kitin-td><kitin-textarea model="item.familyName"></kitin-textarea></kitin-td>
      <kitin-td><kitin-textarea model="item.givenName"></kitin-textarea></kitin-td>
  </kitin-table>

  <kitin-textrow model="record.about.personTitle"></kitin-textrow>
  
  <kitin-textrow model="record.about.scopeNote"></kitin-textrow>

  <!-- <kitin-entityrow model="record.about.nationality" multiple>
    <kitin-search service-url="/def/_search" 
                  template-id="select-nationality-template" 
                  filter="about.@type:Nationality">
    </kitin-search>
  <pre>{{record.about.nationality}}</pre>
  </kitin-entityrow> -->

  <kitin-table 
    model="record.about.subject"
    labels="['Dewey']">
      <kitin-td><kitin-textarea model="item.notation"></kitin-textarea></kitin-td>
  </kitin-table>
</kitin-group>

<kitin-group>
  <kitin-textrow model="record.comment" label="{{ 'Allmän anmärkning' }}"></kitin-textrow>
  
  <kitin-textrow model="record.about.note" label="{{ 'Biografisk uppgift' }}"></kitin-textrow>
  
  <kitin-textrow model="record.note" label="{{ 'Notering' }}"></kitin-textrow>
</kitin-group>

<div data-ng-include="'/snippets/source-comment-template'"></div>
