{% extends "prototypes/base.html" %}

{% block header %}
<div class="searchfield">
	<input type="text" placeholder="ISBN, titel, författare etc" tabindex="1">
	<button>Sök</button>
</div>
{% endblock header %}

{% block primary %}
<div class="content search">
  <div id="grid"></div>
  <header>
    <h1></h1>
    <p class="summary">1 234 träffar för <strong>Zlatan</strong> inom <strong>Text – tryck</strong> och <strong>Elektronisk resurs</strong></p>
  </header>
  <div class="cols">
  	<div class="col3">
  		<section class="nav">
	  		<dl>
	  			<dt><i></i>Bestånd</dt>
	  			<dd><a href="#">Eget bestånd</a></dd>
	  		</dl>
	  		<dl>
	  			<dt><i></i>Medietyp</dt>
	  			<dd><a href="#">Text</a></dd>
	  			<dd><a href="#" class="active">Text (publicerad) (2)</a></dd>
	  			<dd><a href="#">Handskrift (opublicerad) (16)</a></dd>
	  			<dd><a href="#">Musiktryck (10)</a></dd>
	  			<dd><a href="#">Musikhandskrift (10)</a></dd>
	  			<dd><a href="#">KartaProjicerbar grafisk  resurs (10)</a></dd>
	  			<dd><a href="#">Ljudupptagning (12)</a></dd>
	  			<dd><a href="#">Musikupptagning (10)</a></dd>
	  			<dd><a href="#">Paket (12)</a></dd>
	  		</dl>
  		</section>
  	</div>
  	<div class="col9">
	  <section class="result">
      <div class="cols">
        <div class="col5">
    	  	<label class="title">
    	  		Extreme killing <i class="ficon ficon-circle-arrow-down"></i>
    	  		<span class="lbl">Understanding serial and mass murder</span>
    	  	</label>
        </div>
        <div class="col4">
          <label>
            Extreme killing
            <span class="lbl">Understanding serial and mass murder</span>
          </label>
          <label>
            Extreme killing
            <span class="lbl">Understanding serial and mass murder</span>
          </label>
          <label>
            Extreme killing
            <span class="lbl">Understanding serial and mass murder</span>
          </label>
        </div>
      </div>
      <div class="excerpt">
        <label>
          a <strong class="highlight">lorem</strong> Extreme (ipsum dore...
          <span class="lbl">Utdrag ur: Innehållsförteckning</span>
        </label>
      </div>
	  	<div class="footer">
	  		<span>Text – tryck</span>
	  		<span>Monografisk resurs</span>
	  		<span class="level">Biblioteksnivå</span>
	  	</div>
	  </section>
	  <section class="result">
	  	<h4><a href="#">Extreme killing</a></h4>
	  	<p>Lorem ipsum</p>
	  </section>
	  <section class="result">
	  	<h4><a href="#">Extreme killing</a></h4>
	  	<p>Lorem ipsum</p>
	  </section>
	  <section class="result">
	  	<h4><a href="#">Extreme killing</a></h4>
	  	<p>Lorem ipsum</p>
	  </section>
	</div>
</div>

{% endblock primary %}