{% raw %}
<script type="text/html" id="auth-completion-template">
  <div class="auth">
  <% if (nameRepr(data) !== ", ") { %>
      <h4>
        <span class="name"><%= nameRepr(data) %></span>
        <span class="date"><%= [data.birthYear, data.deathYear].join('–') %></span>
        <% if (isLinked(data)) { %>
          <span class="what" data-ng-if="isAuth(object)"><i class="fa fa-bookmark"></i> Aukt.</span>
        <% } %>
      </h4>
      <span class="title"><%= data.personTitle %></span>
      <% if (data.hasPersona && data.hasPersona.length) { %>
        <span class="persona">Se även:
          <b><%= data.hasPersona.map(nameRepr).join('</b>, <b>') %></b>
        </span>
      <% } %>
      <% if (data.note && data.note.length) { %>
        <ul class="about">
          <li><%= data.note.map(truncate).join('</li><li>') %></li>
        </ul>
      <% } %>
    <% } else { %>
      <h4>
        Ny icke auktoriserad person
      </h4>
    <% } %>
  </div>
</script>

<script type="text/html" id="subject-completion-template">
  <div class="auth">
    <% if (data['prefLabel']) { %>
      <h4>
        <span class="name" title="<%= data['@id']%>"><%= data['prefLabel']%></span>
          <% if (isLinked(data)) { %>
            <!-- TODO: fix auth
            <span class="what">Se aukt. post <i class="fa fa-sign-out"></i></span>
            -->
            <span class="what"><i class="fa fa-bookmark" data-ng-if="isAuth(object)"></i> Aukt.</span>
          <% } %>
      </h4>
      <% if (data['historyNote']) { %>
        <div><em><%= data['historyNote']%></em></div>
      <% } %>
      <% if (data['hiddenLabel']) { %>
        <div><span class="">Används ej: <%= data['hiddenLabel']%></span></div>
      <% } %>   
      <% if (data['scopeNote']) { %>
      <ul class="about">
        <li><%= data['scopeNote']%></li>
      </ul>
      <% } %>
    <% } else {%>
      <h4>
        <%= value%>
      </h4>
    <% } %>
  </div>
</script>

<script type="text/html" id="non-auth-completion-template">
    <div class="auth">
      <h4>
        <span class="name"><%= value %></span>
      </h4>
    </div>
</script>

<script type="text/html" id="bib-completion-template">
  <div class="auth">
    <h4>
      <span class="name"><%= data.instanceTitle.titleValue %></span>
    </h4>
  </div>
</script>

<script type="text/html" id="select-language-template">
  <div class="auth">
    <h4>
    <span class="name"><%= data.prefLabel %></span><span class="date"> <%= data.langCode %></span>
    </h4>
  </div>
</script>

<script type="text/html" id="select-role-template">
  <div class="auth">
    <h4>
    <span class="name"><%= data.label %></span><span class="date"> <%= data.notation %></span>
    </h4>
  </div>
</script>

{% endraw %}
