<div class="span6 offset3">
  <section class="well">
    <h4>Logga in</h4>
      <form class="form-horizontal" method="POST" action="/login">
	    <div class="control-group">
            <input name="username" type="text" class="input-xlarge" placeholder="">
          <label  for="inputEmail">Användarnamn</label>
        </div>
        <div class="control-group">
            <input name="password" autocomplete="off" type="password" class="input-xlarge" placeholder="">
          <label for="inputPassword">Lösenord</label>
         </div>
          {% if msg %}
          <div class="control-group">
            {{ msg }}
          </div>
          {% endif %}
         <div class="control-group">
           <button type="submit" class="btn btn-success btn-xlarge">Logga in</button><!--<label class="checkbox pull-right"><input type="checkbox"> Kom ihåg mig <a href="#">?</a></label>-->
	    </div>
      </form>
  </section>
</div>