{% if records %}
<section>
  {% for record in records %}
      
      <article class="record {{ record.id }}">
      <div class="row-fluid nopad-record-head">
        <div class="span4 nopad-record-head muted"><!--Bibliografisk nivå-->{{ record.bibLevel }} </div>
        <div class="span3 nopad-record-head muted"><!--Medietyp--> {{ record.typeOfRecord }}</div>
        <div class="span5 nopad-record-head muted"><!--Fullständighetsnivå--> {{ record.encLevel }}</div>
      </div>
      <a class="bib-url" href="/edit/frbr/bib/{{ record.id }}">
      <header>
      <h3><span class="title-clickable">
      <span title="245A">{{ record.tit_a }}</span>
      		<span class="title-remainder">
      		  <span title="245B">{{ record.tit_b }}</span>
      		  {% if record.tit_c %}/ <span title="245C"> {{ record.tit_c }}</span>{% endif %}
      		  <span title="245N">{{ record.tit_n }}</span>
      		  <span title="245P">{{ record.tit_p }}</span>
      		  </span></h3>
     </span>
      </header>
      <span class="unstyled-url">
      {% if record.author %}
      <h4><span class="author"><i class="icon-user icon-author"></i>
      		<span title="100A">{{ record.author }}</span>
      		<span title="100B"> {{ record.author_numeration }}</span>
      		{% if record.author_date %} 
      		<span title="100D">{{ record.author_date }}</span>, 
      		{% endif %}
      		<span title="1004">{{ record.author_4 }}</span>
      		<span title="100E">{{ record.author_e }}</span>
      		<span title="100Q">{{ record.author_q }}</span>
      		<span title="100C">{{ record.author_association }}</span>
      </span></h4>
      {% endif %}
       <!--TODO: cleanup code, add indicator for printing of identifier type and labels-->
      {% if record.isbn or record.issn or record.other_standard_id or record.publisher_number or record.pubyear %}
      <div class="row-fluid">
       <div class="span4 identifier">
          {% if record.isbn %}
          	<span title="ISBN 020A">{{ record.isbn }}</span>
          	<label class="label-record-list muted">ISBN</label>
          {% elif record.issn %}
            <span title="ISSN 022A">{{ record.issn }}</span>
            <label class="label-record-list muted">ISSN</label>
          {% endif %}
          {% if record.other_standard_id %}
           <span title="024A">{{ record.other_standard_id }}</span>
           <label class="label-record-list muted">{{ record.tag_024_ind1 }}</label><!--tmp hardcoded label-->
          {% endif %}
          {% if record.publisher_number %}
            <span title="{{ record.ind1 }} 028A">{{ record.publisher_number }} - <span title="028B">{{ record.publisher }}</span></span>
            <label class="label-record-list muted">{{ record.tag_028_ind1 }}</label> <!--tmp hardcoded label-->
          {% endif %}
        </div>
        {% if record.pubyear %}
        <div class="span8">
            <span class="publication" title"250A">{{ record.edition }} 
        	<span title="008">{{ record.pubyear_008 }}</span>
        	<label class="label-record-list muted">Publikationsår</label>
        	</span>
        </div>
        {% endif %}
       </div>
       {% endif %}
         {% if record.link_tit %}
         <div><span class="muted">Ingår i:<!-- TODO: Ska styras av ind2 i 773--></span> 
          {% if record.link_author %}{{ record.link_author }}: 
          {% endif %}{{ record.link_tit }} ; {{ record.link_related }}
        </div>
        {% endif %}
  		</span>
      </a> </article>
  {% endfor %}
</section>
{% endif %}
