{% if records %}
<section>
  {% for record in records %}
      
      <article class="record {{ record.id }}"><a class="bib-url" href="/edit/frbr/bib/{{ record.id }}">
<!-- 	  <div class="pull-right muted">{% if record.catinst_a %}<span title="040A">{{ record.catinst_a }}{% else %}Importerad post{% endif %}</span></div> -->
      <header>
      <h3><span title="245A">{{ record.tit_a }}</span>
      		<span class="title-remainder">
      		  <span title="245B">{{ record.tit_b }}</span>
      		  <span title="245C"> {{ record.tit_c }}</span>
      		  <span title="245N">{{ record.tit_n }}</span>
      		  <span title="245P">{{ record.tit_p }}</span>
      		  </span></h3>
      </header>
      <span class="unstyled-url">
      <h4><span class="author"><i class="icon-user"></i>
      {% if record.author %}
      		<span title="100A">{{ record.author }}</span>
      		<span title="100B"> {{ record.author_numeration }}</span>
      		{% if record.author_date %} 
      		<span title="100D">{{ record.author_date }}</span>, 
      		{% endif %}
      		<span title="1004">{{ record.author_4 }}</span>
      		<span title="100E">{{ record.author_e }}</span>
      		<span title="100Q">{{ record.author_q }}</span>
      		<span title="100C">{{ record.author_association }}</span>
      {% else %}N/A
      {% endif %}</span></h4>
      <div><span class="publication" title"250A">{{ record.edition }} 
      		<span title="260C">{{ record.pubyear }}</span>
      		</span>
      </div>
      <div class="identifier"><!-- {{ record.isb }} -->
        {% if record.isbn %}
        	<span title="ISBN 020A">{{ record.isbn }}</span>
        {% elif record.issn %}
          <span title="ISSN 022A">{{ record.issn }}</span>
        {% endif %}
        {% if record.other_standard_id %}
          <span title="{{ record.other_standard_id.ind1 }} 024A">{{ record.other_standard_id }}</span>
        {% endif %}
        {% if record.publisher_number %}
          <span title="{{ record.ind1 }} 028A">{{ record.publisher_number }} - <span title="028B">{{ record.publisher }}</span></span> 
        {% endif %}
      </div>
      <div class="row-fluid">
        <div class="span4"><!--Bibliografisk nivå--> {{ record.bibLevel }}</div>
        <div class="span3"><!--Medietyp--> {{ record.typeOfRecord }}</div>
        <div class="span5"><!--Fullständighetsnivå--> {{ record.encLevel }}</div>
      </div>
      {% if record.link_tit %}
      <div><em>Ingår i:</em> 
        {% if record.link_author %}{{ record.link_author }}: 
        {% endif %}{{ record.link_tit }} ; {{ record.link_related }}
      </div>
      {% endif %}
		</span>
      </a> </article>
     
  {% endfor %}
</section>
{% endif %}
