<meta charset="utf-8">
<div class="row-fluid">
<div class="span9 offset3">
<section class="search" role="search">
  <div class="search-bar">
  <ul class="border-search unstyled">
    <li class="ui-search-item search-input-item">
      <form class="form-inline search-form" action="/search">
        <input id="search"  name="q" type="text"
                class="xlarge ui-autocomplete-input"
                value="{% if q %}{{ q }}{% endif %}" placeholder="ISBN, Titel, Namn"
                autocomplete="off" role="textbox"
        aria-autocomplete="list" aria-haspopup="true">
        <!--<input id="boost"  name="b" type="text"
                class="xlarge ui-autocomplete-input"
                value="{% if b %}{{ b }}{% endif %}" placeholder="Ex: fields.100.subfields.a:2,labels.title:2"
                autocomplete="off" role="textbox">-->
        <button id="submit" class="btn btn-large btn-inverse" type="submit">
          <i class="icon-search icon-white"></i>
        </button>
      </form>
    </li>
  </ul>
  </div>
</section>
</div>
</div>

<div class="row-fluid">
	<div class="span3">
	  {% if search_results %}
  	  <hr>
  	  <section>
      {%  for f in facets %}
      <div class="facetholder">L: {{ f.link }}<br>F: {{ f }}<br>Ls: {{ f.label_sv }}<br>        {% if f.values %}
          {%  for v in f.get('values', []) %}
          <a href="{{ f.link }}={{ v }}">
              <br>{{ f['values'][v][1] }}({{ f['values'][v][0] }})<br>
          </a>
          {% endfor %}
        {% endif %}</div>

      {% endfor %}
      <div class="facetholder">More merry facets placeholder<br>{{ facets }}</div>
    </div>
    <div class="span9">
      <div >{{ data.hits }} träffar på <strong>{{ q }}</strong></div>

    {% with records = search_results %}
      {% include "_record_list.html" %}
    {% endwith %}
    </section>
	{% else %}
    <hr>
    {% if q %}
    <h2>Inga träffar, vill du skapa ny post?</h2>
    {% endif %}
  {% endif %}
  </div>
</div>
