<!DOCTYPE html>
<html lang="sv">
  <head>
  <!--[if lt IE 9]>
    Vi rekommenderar uppdaterade versioner av Google Chrome eller Mozilla Firefox för att testa betaversionen av Libris katalogisering.
  <![endif]-->

    <meta charset="utf-8" />
    <title>LIBRIS katalogisering</title>

    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <script type="text/javascript">
      // Get debug from backend
      var debug = ('{{debug}}' === 'True');
      var WHELK_HOST = '{{WHELK_HOST}}';
    </script>
    
    {% include "_media.html" %}
		
    {% if not debug %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49207050-1', 'kb.se');
      ga('send', 'pageview');
    </script>
    {% endif %}

	<!-- for troubleshooting run 'HTMLInspector.inspect()' TODO: if useful setup grunt task -->
  <!-- Removing this for now, slows down loading
	<script src="http://cdnjs.cloudflare.com/ajax/libs/html-inspector/0.8.0/html-inspector.js"></script>
   -->
  </head>

  <body data-ng-app="kitin" class="{% block bodyclass %}{% endblock %}" data-ng-controller="AppCtrl">
    {{alerts}}
    {% if current_user and current_user.is_authenticated() %}
    <div data-ng-include="'/snippets/messages'"></div>
    {% endif %}

    <div id="header-wrapper">
      <div class="container">
        <div id="header">
          {% if current_user and current_user.is_authenticated() %}
          <div data-ng-include="'/partials/header_loading_indicators'"></div>
          <div id="nav">
            <ul class="nav-menu pull-right">
              <li class="active"><a href="http://feedback.kat.libris.kb.se/" target="_blank" title="Feedback forum">Tyck till <i class="icon fa fa-external-link"></i></a></li>
              <li data-ng-controller="ModalCtrl">
                <a title="Skapa ny post" href="" data-ng-click="openCreateNewModal()"><i class="icon fa fa-plus"></i> Skapa ny post</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle login" data-toggle="dropdown" title="Logga ut - inställningar">
                  <span class="username">{{current_user.username}} ({{current_user.sigel}})</span><i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li class="disabled"><a href=""> Mitt konto</a></li>
                  <li><a href="/signout" target="_self">Logga ut</a></li>
                </ul>
              </li>
            </ul>
          </div>
          {% endif %}
          
          <div class="logo">
            <a href="/"><h1>Libris <strong>Katalogisering</strong></h1></a>
            <span class="beta">BETA</span>
            <span class="system-updated" title="{{ modified.strftime('%Y-%m-%d %H:%m') }}">
              Uppdaterad {{ modified.strftime('%d %b') }} - 
              <a href="#" data-ng-controller="ModalCtrl" data-ng-click="openReleaseModal()">Release notes</a> | 
              <a href="https://docs.google.com/presentation/d/1Q4Abhn1t5ThQoAhm_wNYrNrs6nvGEUTDSCC7gf8O4U0/pub?start=false&loop=false&delayms=3000#slide=id.p" target="_blank">Testanvisningar</a>
            </span>
          </div>
          <div class="kb"></div>

          {% if current_user and current_user.is_authenticated() %}
          <div data-ng-include="'/snippets/searchfield'"></div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="container">     
      {% block content %}{% endblock content %}
      <div class="footer">
        <footer>
          <img alt="Kb logo" src="/static/img/kb.svg">
          <ul>
            <li>
              <a href="" id="contact" title="Information om cookies: Libris katalogisering använder sig av cookies. Cookies är små filer som lagras på besökarens dator för att webbservern ska kunna upprätthålla information om användaren inom en viss tidsperiod. Libris katalogisering använder sig av s.k. sessionscookies som sparar information om den inloggade användaren temporärt, så länge som webbläsarsessionen varar. Informationen som lagras ser till att tjänsten vet vilken användare som är inloggad och vilka bibliotek som han/hon katalogiserar för. Funktionen &quote;håll mig inloggad&quote; sparar en permanent cookie som är aktiv i 31 dagar.Post- och telestyrelsen, som är tillsynsmyndighet på området, lämnar ytterligare information om Cookies på sin webbplats, www.pts.se">Om kakor</a>
            </li>
          </ul>
        </footer>
      </div>
    </div>
    {% if current_user %}
    <script type="text/javascript">
      kitin.run(['userData', function (userData) {
        userData.userSigel = '{{ current_user.sigel }}';
      }]);
    </script>
    {% endif %}
    {% include "_jqtemplates.html" %}
    <!--[if IE]>
    <script>window.onload = new function() { document.documentElement.className += ' ie'; };</script>
    <![endif]-->
  </body>
</html>
