<!doctype html>
<html lang="sv">
  <head>
    {% block head %}
    <title>{% block title %}LIBRIS{% endblock title %} - Kitin</title>
     <meta charset="utf-8">   
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/js/google-code-prettify/prettify.css') }}">
    <style>
    </style>
    <link href="{{ url_for('static', filename='assets/css/bootstrap-responsive.css') }}" rel="stylesheet">
    
    {% endblock head %}
  </head>
  <body>
	 {% block navbar %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">LIBRIS katalogisering (kitin)</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active">
              <a href="#">Login</a>
              </li>
              <li>
              <a href="/profile">Profile</a>
              </li>
              
                          <li>
            <a href="/">Sök</a>
            </li>
            <li>
            <a href="/mockups/new_bibliographic">Ny</a>
            </li>
            <li>
            <a href="/upload">Öppna/Ladda upp</a>
            </li>

              
          
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div> 
 {% endblock navbar %}
 
 <div class="container {% block content_class %}{% endblock content_class %}">
   {% block container %}

    <div class="container-fluid">
      <div class="row-fluid">
        <!--
        <div class="span2">

          <ul class="nav nav-list">
            <li>
            <a href="/">Sök</a>
            </li>
            <li>
            <a href="/new_bibliographic.html">Ny</a>
            </li>
            <li>
            <a href="/upload">Öppna/Ladda upp</a>
            </li>
            <li>
            <a href="#">Öppna senaste</a>
            </li>
          </ul>

          <ul class="nav nav-list">
            <li class="nav-header">
            Mallar
            </li>
            <li class="active">
            <a href="monografi.html">- Monografier</a>
            </li>
            <li>
            <a href="#">- Serie</a>
            </li>
            <li>
            <a href="#">- Karta</a>
            </li>
            <li>
            <a href="#">- Ljud</a>
            </li>
          </ul>
        </div>
        
        -->
        <div class="span9">
          {% block content %}
          {% endblock content %}
        </div>
        <div class="span3">
<!--
          <h3>Meny</h3>

          <ul class="nav nav-list">
            <li>
            <a href="#">LIBRIS formathandbok</a>
            </li>
            <li>
            <a href="#">Google</a>
            </li>
            <li>
            <a href="#">Wikipedia</a>
            </li>  
            <li>
            <a href="#">Dewey - SAB</a>
            </li>
            <li>
            <a href="#">ISBN-centralen</a>
            </li>
          </ul>

          <h3>Information från listor</h3> 
          <ul class="nav nav-list">
            <li class="nav-header">
            CXZ
            </li>
            <li>
            <a href="#">Dublettpost</a>
            </li>
            <li>
            <a href="#">Problem med post</a>
            </li>
            <li>
            <a href="#">Ändring i post 123456</a>
            </li>
            <li>
            <a href="#">Redigerad aukt.post</a>
            </li>
          </ul>  

          <ul class="nav nav-list">
            <li class="nav-header">
            MARC21
            </li>
            <li>
            <a href="#">Nya namnformer</a>
            </li>
            <li>
            <a href="#">NAMNÄNDRING: Geller/Heller</a>
            </li>
            <li>
            <a href="#">Ungerskt namn</a>
            </li>
            <li>
            <a href="#">Periodikamöte på KB</a>
            </li>
          </ul>  
-->

<!-- <input type="text" class="input-medium search-query" name="search"> -->

          <h3>020 - ISBN </h3>



<table class="table" width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr valign="top">
<th width="5%">D</th>
<th width="85%">Innehåll</th>
<th width="10%">Anm</th>
</tr>
<tr valign="top">
<td width="5%">
<td width="85%">
<td width="10%"></td>
</tr>
<tr valign="top">
<td>c</td>
<td>
<td></td>
</tr>
<tr valign="top">
<td>z</td>
<td>
Makulerat/ogiltigt ISBN (R)
<br>
Delfältet förekommer även med innebörden print-ISBN i (maskinellt eller manuellt skapade) e-boksposter. Se

<a target="_blank" href="/Dokument/Formathandbok/allmanna_ebocker_etidskrifter.pdf">Allmänna riktlinjer för katalogisering av e-tidskrifter och e-böcker</a>
.
</td>
<td></td>
</tr>
<tr valign="top">
<td width="5%">6</td>
<td width="85%">
<a href="/katalogisering/Formathandboken/Lankning/">Länkning</a>
&nbsp;(NR)
</td>
<td width="10%"></td>
</tr>
<tr valign="top">
<td width="5%">8</td>
<td width="85%">
<a href="/katalogisering/Formathandboken/Lankning/">Länk- och sekvensnummer</a>
&nbsp;(R)
</td>
<td width="10%"></td>
</tr>
</tbody>
</table>	


        </div>
      </div> 
    </div> 
  </div> 

  {% endblock container %}</div>

<div id="footer">
  {% block footer %}
  {% endblock %}
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='assets/js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-transition.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-alert.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-modal.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-scrollspy.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-tab.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-tooltip.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-popover.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-button.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-collapse.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-carousel.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-typeahead.js') }}"></script>  

<script src="{{ url_for('static', filename='assets/js/google-code-prettify/prettify.js') }}"></script> 


<script src="{{ url_for('static', filename='js/underscore.js') }}"></script>  
<script src="{{ url_for('static', filename='js/backbone.js') }}"></script>  


{% block extrajs %}{% endblock extrajs %}

<script src="{{ url_for('static', filename='js/main.js') }}"></script>  
</body>
</html>
