<!doctype html>
<html lang="sv">
  <head>
    {% block head %}
    <title>{% block title %}LIBRIS{% endblock title %} - Kitin</title>
     <meta charset="utf-8">   
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
    </style>
    <link href="{{ url_for('static', filename='assets/css/bootstrap-responsive.css') }}" rel="stylesheet">
	{% block extrajs %}{% endblock extrajs %}
    {% endblock head %}
  </head>
  <body>
	 {% block navbar %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">LIBRIS katalogisering (kitin)</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active">
              <a href="#">Login</a>
              </li>
              <li>
              <a href="/profile.html">Profile</a>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div> 
 {% endblock navbar %}
 
 <div class="container {% block content_class %}{% endblock content_class %}">
   {% block container %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">

          <ul class="nav nav-list">
            <li>
            <a href="/">Sök</a>
            </li>
            <li>
            <a href="/new_bibliographic.html">Ny</a>
            </li>
            <li>
            <a href="/upload">Öppna/Ladda upp</a>
            </li>
            <li>
            <a href="#">Öppna senaste</a>
            </li>
          </ul>

          <ul class="nav nav-list">
            <li class="nav-header">
            Mallar
            </li>
            <li class="active">
            <a href="monografi.html">- Monografier</a>
            </li>
            <li>
            <a href="#">- Serie</a>
            </li>
            <li>
            <a href="#">- Karta</a>
            </li>
            <li>
            <a href="#">- Ljud</a>
            </li>
          </ul>
        </div>
        <div class="span7">
          {% block content %}
          {% endblock content %}
        </div>
        <div class="span3">

          <h3>Mina Länkar</h3>
          <ul class="nav nav-list">
            <li>
            <a href="#">LIBRIS formathandbok</a>
            </li>
            <li>
            <a href="#">Google</a>
            </li>
            <li>
            <a href="#">Wikipedia</a>
            </li>  
            <li>
            <a href="#">Dewey - SAB</a>
            </li>
            <li>
            <a href="#">ISBN-centralen</a>
            </li>
          </ul>

          <h3>Information från listor</h3> 
          <ul class="nav nav-list">
            <li class="nav-header">
            CXZ
            </li>
            <li>
            <a href="#">Dublettpost</a>
            </li>
            <li>
            <a href="#">Problem med post</a>
            </li>
            <li>
            <a href="#">Ändring i post 123456</a>
            </li>
            <li>
            <a href="#">Redigerad aukt.post</a>
            </li>
          </ul>  

          <ul class="nav nav-list">
            <li class="nav-header">
            FRANK21
            </li>
            <li>
            <a href="#">Nya namnformer</a>
            </li>
            <li>
            <a href="#">NAMNÄNDRING: Geller/Heller</a>
            </li>
            <li>
            <a href="#">Ungerskt namn</a>
            </li>
            <li>
            <a href="#">Periodikamöte på KB</a>
            </li>
          </ul>  

          <h3>Forum / Fråga expert</h3>

        </div>
      </div> 
    </div> 
  </div> 

  {% endblock container %}</div>

<div id="footer">
  {% block footer %}
  {% endblock %}
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='assets/js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-transition.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-alert.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-modal.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-scrollspy.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-tab.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-tooltip.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-popover.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-button.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-collapse.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-carousel.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-typeahead.js') }}"></script>  

<script src="{{ url_for('static', filename='js/underscore.js') }}"></script>  
<script src="{{ url_for('static', filename='js/backbone.js') }}"></script>  
<script src="{{ url_for('static', filename='js/main.js') }}"></script>  
</body>
</html>
