{% extends "base.html" %}

{% block content_class %}post{% endblock content_class %}

{% block content %}
  <!--Body content-->
  <h2>[BIB RECORD #]</h2>
  <hr>
  <hr>
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Marc21</a></li>
      <li><a href="#tab2" data-toggle="tab">Light mode</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <form id="our_form">
          <ul id="fields"></ul>
        </form>
        <hr>
        <input type="submit" value="save draft" name="draft">
        <input type="submit" value="publish" name="publish">
      </div><!-- end tab1-->
      <div class="tab-pane" id="tab2">
        <p>Lightmode</p>
      </div><!-- end tab2-->
    </div><!-- end tab-content-->
  </div><!-- end tabbable-->


{% endblock content %}

{% block extrajs %}

  <script type="text/html" id="leader-template">
    <li class="leader">
      <label>Leader: </label>
      <input name="leader" value="<%= leader %>"/>
    </li>
  </script>

  <script type="text/html" id="control-row-template">
    <li class='control_field'>
      <label><%= label %></label>
      <input name="<%= label %>" class='field_label' value='<%= value %>'/>
    </li>
  </script>

  <script type="text/html" id="field-row-template">
    <li class='regular_field marc<%= label %> control-group'>
        <div class="input-append">
          <input name="<%= label %>" class='field_label' value='<%= label %>'/>
          <input class='indicator' name="ind1" value='<%= ind1 %>'/>
          <input class='indicator' name="ind2" value='<%= ind2 %>'/>
          <input class='subfields' name="subfields" value='<% for (index in subfields) { for (item in subfields[index]) { print(item, '&Dagger; ', subfields[index][item]); } } %>'
          /><button class="btn" title="Add above">
              <i class="icon-plus"></i><i class="icon-arrow-up"></i></button><button
            class="btn" title="Add below">
              <i class="icon-plus"></i><i class="icon-arrow-down"></i></button>
          <button class="btn" title="Delete"><i class="icon-trash"></i></button>
        </div>
    </li>
  </script>

  <script type="text/html" id="bib-autocomplete-template">
    <div>
      <h4><%= data.marc['100'].a %>
      	<% if (data.authorized) { %>
      	  <span class="badge badge-success pull-right"><i class="icon-ok icon-white"></i></span>
        <% } %>
      </h4>
      <h5><%= data.marc['100'].d || "N/A" %>
      	<% if (data.marc['100'].c) { %>(<%= data.marc['100'].c %>)<% } %></h5>
      <% if (data.marc['678']) { %>
        <p><% data.marc['678'].forEach(function (it) { %>
          <%= it.a %><br>
        <% }) %>
        <% if (data.records) { %>
        	<a href="#"><%=  (data.records) %> titlar</a>
       <% }  %> 
        </p>
      <% } %> 
    </div>
  </script>

{% endblock extrajs %}
