{% extends "base.html" %}
{% block title %}Hem{% endblock %}
{% block content %}

  {% if user %}

    {% include "_search.html" %}

    <section>
      <h2>Mallar</h2>
      <form action="/record/create" method="POST">
        <select name="template">
          {% for tname in record_templates %}
            <option value="{{ tname }}">{{ tname }}</option>
          {% endfor %}
        </select>
        <button class="btn btn-inverse btn-small" type="submit"><i class="icon-file icon-white"></i> Skapa ny från mall</button>
      </form>
    </section>
    <hr>

    <section>
      <h2>Sparade utkast</h2>
      {% with records = open_records %}
        {% include "_record_list.html" %}
      {% endwith %}
    </section>

  {% else %}
    <h1>Logga in...</h1>
    <form class="well form-inline" method="POST">
      <input name="username" type="text" class="input-small" placeholder="User name">
      <input name="password" type="password" class="input-small" placeholder="Password">
      <label class="checkbox">
        <input type="checkbox" remember="yes"> Remember me
      </label>
      <button type="submit" class="btn">Sign in</button>
    </form>
  {% endif %}

  {% if user %}
  <h2>Hej {{ user.username }}</h2>
    <form class="well form-inline" method="POST">
        <button type="submit" class="btn" name="signout">Signera ut</button>
    </form>
  {% endif %}
{% endblock %}
