{% extends "base.html" %}
{% block title %}Hem{% endblock %}
{% block content %}

  {% if user %}

    {% include "_search.html" %}

    <section>
      <h2>Mallar</h2>
      <form action="/record/create" method="POST">
        <select name="template">
          {% for tname in record_templates %}
            <option value="{{ tname }}">{{ tname }}</option>
          {% endfor %}
        </select>
        <button class="btn btn-inverse btn-small" type="submit"><i class="icon-file icon-white"></i> Skapa ny från mall</button>
      </form>
    </section>
    <hr>

    <section>
      <h2>Sparade utkast</h2>
      {% with records = open_records %}
        {% include "_record_list.html" %}
      {% endwith %}
    </section>

  {% else %}
  <section>
    <legend>Login</legend>
      <form class="form-horizontal" method="POST" action="/login">
	    <div class="control-group">
	      <label class="control-label" for="inputEmail">Username</label>
          <div class="controls">
            <input name="username" type="text" class="input-medium" placeholder="User name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">Password</label>
          <div class="controls">
            <input name="password" type="password" class="input-medium" placeholder="Password">
          </div>
         </div>
         <div class="control-group">
           <div class="controls">
           <label class="checkbox">
           <input type="checkbox"> Remember me
           </label>
           <button type="submit" class="btn">Sign in</button>
         </div>
	    </div>
      </form>
  </section>
  {% endif %}

  {% if user %}
  <h2>Hej {{ user.username }}</h2>
    <form class="well form-inline" method="POST" action="/signout">
        <button type="submit" class="btn" name="signout">Signera ut</button>
    </form>
  {% endif %}
{% endblock %}
