{% extends "base.html" %}

{% block content %}

<h2>Ny Post (miniminivå)</h2>

    <table class="table table-bordered">
<thead>
<tr>
<th>#</th>
<th>Kod</th>
<th>Kod</th>
<th>Delfält</th>
</tr>
</thead>
<tbody>
	<tr>
		<td>000</td>
		<td></td>
		<td></td>
		<td>postetikett: fullständighetsnivå 3 (miniminivå)</td>
	</tr>
	<tr>
		<td>008</td>
		<td></td>
		<td></td>
		<td>katalogiserande instans: c = LIBRIS-bibliotek/Kooperativt katalogiseringsprogram</td>
	</tr>
	<tr>
		<td>020</td>
		<td></td>
		<td></td>
		<td>#a ISBN</td>
	</tr>  
	<tr>
		<td>040</td>
		<td></td>
		<td></td>
		<td>#a Inläggande bibliotek (#d om posten övertages från annat bibliotek och fullständighetsnivån i fält 000 ändras från lägre nivå (=prel.))</td>
	</tr> 
	<tr>
		<td>1XX</td>
		<td></td>
		<td></td>
		<td>#a Huvuduppslag (olika delfält beroende på typ av huvuduppslag)</td>
	</tr>
	<tr>
		<td>245</td>
		<td></td>
		<td></td>
		<td>#a Huvudtitel / #c första upphovsuppgift (om denna avviker från huvuduppslaget)</td>
	</tr>
	<tr>
		<td>250</td>
		<td></td>
		<td></td>
		<td>#a Upplaga</td>
	</tr>
	<tr>
		<td>260</td>
		<td></td>
		<td></td>
		<td>#a Första utgivningsort etc., #c utgivningstid etc.</td>
	</tr>
	<tr>
		<td>300</td>
		<td></td>
		<td></td>
		<td>#a Omfångsuppgift (enbart delfält #a anges, objektets huvudpaginering följs)</td>
	</tr>
	<tr>
		<td>5XX</td>
		<td></td>
		<td></td>
		<td>#a Anmärkning(ar)</td>
	</tr>
	<tr>
		<td>6XX</td>
		<td></td>
		<td></td>
		<td>#a kan användas, när så är tillämpligt</td>
	</tr>
	<tr>
		<td>7XX</td>
		<td></td>
		<td></td>
		<td>#a Biuppslag (olika delfält beroende på typ av biuppslag)</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>	
			
</tbody>
</table>

{% endblock content %}